{% extends "std/base.html" %}

{% load wt_media %}

{% block content %}
<h1>รายชื่อสถานประกอบการที่คัดเลือกนิสิตเอง</h1>

<p>
	รายการด้านล่าง เป็นรายการสถานประกอบการที่คัดเลือกนิสิตเข้าฝึกงานเอง
    นิสิตที่สนใจสามารถเข้าไปอ่านรายละเอียดและดาวน์โหลดใบสมัครได้
    จากนั้นให้นำไปยื่นที่หน่วยกิจการนิสิตคณะวิศวกรรมศาสตร์
</p>
<p class="info_message">
    นิสิตสามารถสมัครสถานประกอบการที่คัดเลือกนิสิตเองได้ 2 ที่
    และถ้าหากมีที่ใดตอบรับมาเป็นที่แรก นิสิตจะต้องไปฝึกงานที่สถานประกอบการนั้น<br/>
    <b>ระหว่างที่รอผลการตอบรับ นิสิตจะไม่สามารถเลือกสถานที่ฝึกงานอื่น ๆ ของคณะได้</b>
</p>
<div class="form-section">
<table>
  <tr>
    <th>ลำดับที่</th>
    <th>ชื่อสถานประกอบการ</th>
    <th>สมัครภายใน</th>
    <th colspan="2">รายละเอียดและใบสมัคร</th>
  </tr>
  {% for direct_position in direct_positions %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td style="padding-right:20px">{{ direct_position.company.name }}</td>
    <td>
      {% if direct_position.application_deadline %}
        {{ direct_position.application_deadline|date:"j N" }}
      {% else %}
        ไม่มีกำหนด
      {% endif %}
    </td>
    <td>
      <a href="{% url 'direct_appl_std_show' direct_position.id %}" class="small button blue">
	อ่านรายละเอียด
      </a>
    </td>
    <td>
      {% if direct_position.application_form_file %}
      <a href="{% media_url %}/{{ direct_position.application_form_file }}" class="small button green">
	ดาวน์โหลดใบสมัคร
      </a>
      {% else %}
        {% comment %}
          <small>
	    สามารถขอใบสมัครได้ที่หน่วยกิจการนิสิต
          </small>
        {% endcomment %}
      {% endif %}
    </td>
  </tr>
  {% empty %}
  <tr>
    <td></td>
    <td style="padding-right:20px">ยังไม่มีสถานประกอบการที่ขอคัดเลือกนิสิตเอง</td>
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}
