{% extends "std/base.html" %}

{% load wt_media %}

{% block content %}
<h1>รายชื่อสถานประกอบการที่คัดเลือกนิสิตเองที่ {{ student.student_id }} {{ student.full_name }} เลือก</h1>

<p class="info_message">
  วันที่สมัครที่แสดงด้านล่างเพิ่งเริ่มเก็บ ดังนั้นวันที่แสดงอาจช้ากว่าวันที่สมัครจริง
</p>

<div class="form-section">
  <table>
    <tr>
      <th>ลำดับที่</th>
      <th>ชื่อสถานประกอบการ</th>
      <th>วันที่สมัคร</th>
      <th>ผลการสมัคร</th>
    </tr>
    {% for application in applications %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td style="padding-right:20px">{{ application.position.company.name }}</td>
      <td>{{ application.apply_at|date:"j N" }}</td>
      <td>{{ application.get_is_accepted_display }}</td>
    </tr>
    {% empty %}
    <tr>
      <td></td>
      <td style="padding-right:20px">นิสิตยังไม่ได้เลือกสถานประกอบการ</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
