{% extends "std/base.html" %}

{% load wt_media %}

{% block content %}
<div class="right">
  <a href="{% url 'direct_appl_std_list' %}" class="small button green">กลับไปหน้าสถานประกอบการที่คัดนิสิตเอง</a>
</div>

{% include "direct_appl/include/position.html" %}
<br/>

<div class="form-section">
  <b>ใบสมัครเข้าฝึกงาน:</b>
  {% if direct_position.application_form_file %}
  <a href="{% media_url %}/{{ direct_position.application_form_file }}" class="small button green">
    ดาวน์โหลดใบสมัคร
  </a>
  {% else %}
    {% comment %}
      <small>
        สามารถขอใบสมัครได้ที่หน่วยกิจการนิสิต
      </small>
    {% endcomment %}
  {% endif %}
</div>  
{% endblock %}
