<b>คุณเลือกจัดหาหน่วยงานแบบที่นิสิตติดต่อเอง:</b> 
<span class="hint">ด้านล่างเป็นข้อมูลเกี่ยวกับการขอหนังสือขอความอนุเคราะห์ของคุณ
โดยอาจจะเป็นการขอที่คุณขอเอง หรือมีนิสิตคนอื่นใส่ชื่อของคุณในการขออนุมัติด้วย
ถ้าในการขอใดคุณยังไม่ได้ยืนยัน ระบบจะแสดงปุ่มให้คุณกดยืนยันหรือขอถอนจากการขอนั้น
<b>คุณจะสามารถเลือกยืนยันได้ที่เดียว</b></span>

{% for item in company_request_items %}
  {% with item.company_request as company_request %}
    <div style="margin: 5px; border: 1px solid #707070; background: white; padding: 10px;" class="">
      <span style="font-size: 120%">
        <b>หน่วยงาน:</b> {{ company_request.company_name }}
      </span>
      (เสนอโดย {{ company_request.student }})
      {% if not company_request.has_all_confirmed %}
        <span class="info-tag red">รอการยืนยันจากนิสิต</span><br/>
      {% else %}
        {% if company_request.is_approved_by_committee == None %}
          <span class="info-tag orange">รอการอนุมัติจากกรรมการ</span><br/>
        {% else %}
          {% if company_request.is_approved_by_committee %}
            <span class="info-tag green">กรรมการอนุมัติแล้วเมื่อ {{ company_request.approved_at|date:"j M" }}</span><br/>
            {% if company_request.accepted_at == None %}
              <div class="info_message">
                ในขั้นต่อไปให้คุณดาวน์โหลดและพิมพ์ <!-- (1) -->
                หนังสือขอความอนุเคราะห์พร้อมด้วยหนังสือตอบรับและแบบฟอร์มรายละเอียดในการฝึกงาน
                <!-- และ (2) หนังสือแจ้งการเปลี่ยนแปลงขั้นตอนการฝึกงาน จากนั้นนำไปยื่นให้กับหน่วยงาน -->
                (ถ้าในการสมัครมีนิสิตร่วมยื่นขอหนังสือพร้อมกันหลายคนให้พิมพ์เพียงชุดเดียว)&nbsp;&nbsp;
                เมื่อทางหน่วยงานได้กรอกข้อมูลแล้วให้นำหนังสือตอบรับและแบบฟอร์มรายละเอียดในการฝึกงานมายื่นให้กับกรรมการฝึกงานเพื่อยืนยันการฝึกงานต่อไป<br/>
                <a class="button  blue" href="{% url 'std_self_appl_request_print' company_request.id %}">ดาวน์โหลดหนังสือขอความอนุเคราะห์</a>
                <!-- <a class="button  blue" href="{% url 'std_self_appl_request_print_announcement' %}">ดาวน์โหลดหนังสือแจ้งการเปลี่ยนแปลงขั้นตอนการฝึกงาน</a> -->
              </div>
            {% else %}
              <b>บันทึกผลการตอบรับจากหน่วยงานเมื่อ:</b> {{ company_request.accepted_at|date:"j M" }}
            {% endif %}
          {% else %}
          {% endif %}
        {% endif %}
      {% endif %}
      {% if company_request.students.all|length > 1 %}
        <ul>
          {% for s in company_request.students.all %}
            <li>
              {% if s.is_approved %}
                {{ s.student.student_id }} {{ s.student }} 
                {% if company_request.accepted_at != None %}
                  {% if s.is_accepted %}
                    <span class="info-tag green">หน่วยงานรับ</span>
                  {% else %}
                    <span class="info-tag red">หน่วยงานปฏิเสธ</span>
                  {% endif %}
                {% else %}
                  <span class="info-tag green">ยืนยัน</span>
                {% endif %}
              {% else %}
                {% if s.is_approved == None %}
                  {{ s.student.student_id }} {{ s.student }}
                  <span class="info-tag orange">รอการยืนยัน</span>
                {% else %}
                  <span style="color: #909090">{{ s.student.student_id }} {{ s.student }}</span>
                  <span class="info-tag red">ถอน</span>
                {% endif %}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if item.is_approved == None %}
        <hr/>
        <form action="{% url 'std_self_appl_request_confirm' item.id %}" method="post">
          {% if not has_approved_company_request %}
            <input type="submit" name="ok" class="button green accept_buttons" value="ยืนยันการขอหนังสือเพื่อส่งให้หน่วยงานนี้"/>
          {% endif %}
          <input type="submit" name="cancel" class="button red cancel_buttons" value="ขอถอนตัวจากหน่วยงานนี้"/>
        </form>
      {% endif %}
      {% if company_request.accepted_at != None %}
        <b>ในกรณีที่คุณได้รับการตอบรับเข้าฝึกงานจากหน่วยงาน</b> คุณจะไม่สามารถเลือกหน่วยงานอื่น ๆ ได้อีก ระบบจะปรับข้อมูลยืนยันหน่วยงานที่คุณจะไปฝึกงานต่อไป เร็ว ๆ นี้<br/>
	<p>
	  {% if letter_downloadable %}
	    <span style="font-size: 120%"><b>หนังสือส่งตัวและสำเนา:</b></span> สำหรับหนังสือส่งตัวนั้น ทางภาควิชาจะดำเนินการจัดพิมพ์และส่งให้กับหน่วยงาน แต่นิสิตจะดาวน์โหลดและต้องพิมพ์สำเนาของหนังสือดังกล่าวเพื่อนำไปยื่นให้กับหน่วยงานเมื่อเริ่มต้นฝึกงาน<br />
            {% if can_print_std_letter %}
              <a class="button" href="{% url 'std_self_appl_print_request_sending_letter' company_request.id %}">ดาวน์โหลดสำเนาหนังสือส่งตัว</a>
            {% else %}
              {% include "std/include/quiz_links_and_status.html" %}
            {% endif %}

	  {% else %}
	    ขณะนี้ยังไม่สามารถดาวน์โหลดสำเนาหนังสือส่งตัวได้
	    คุณจะสามารถดาวน์โหลดหนังสือส่งตัวหรือสำเนาได้เร็ว ๆ นี้ โปรดติดตามประกาศ
	  {% endif %}
	</p>
      {% endif %}
    </div>
  {% endwith %}
{% endfor %}

<script type="text/javascript">
$(function(){
  $(".accept_buttons").click(function(){
    return confirm("คุณแน่ใจที่จะยืนยันหรือไม่?\nถ้าคุณยืนยันหน่วยงานใด ระบบจะถอนชื่อคุณออกจากหน่วยงานอื่น ๆ ที่เหลือ\nกรุณาพิจารณาให้ดี เมื่อเลือกแล้วไม่สามารถกลับมาแก้ไขได้");
  });
  $(".cancel_buttons").click(function(){
    return confirm("คุณแน่ใจที่จะขอถอนตัวจากการขอหนังสืออนุเคราะห์ไปยังหน่วยงานนี้หรือไม่?\nกรุณาพิจารณาให้ดี เมื่อเลือกแล้วไม่สามารถกลับมาแก้ไขได้");
  });
});
</script>
