<b>คุณเลือกจัดหาหน่วยงานที่มีการคัดเลือกนิสิตเอง:</b> 
<span class="hint">ด้านล่างเป็นรายการหน่วยงานที่คุณแจ้งว่าได้สมัคร
คุณสามารถแจ้งเพื่อสมัครได้ครั้งละหนึ่งหน่วยงานเท่านั้น
ในกรณีที่หน่วยงานดังกล่าวอยู่ในรายการหน่วยงานที่มีการคัดเลือกนิสิตเองของคณะ
นิสิตจะสามารถพิมพ์หนังสือขอความอนุเคราะห์จากทางคณะฯ ได้ทันที (<a target="_blank"
href="{% url 'std_self_appl_list_verified_companies' %}">ดูรายชื่อหน่วยงาน</a>) แต่ถ้าหน่วยงานไม่อยู่ในรายการของทางคณะ
และนิสิตต้องการหนังสือขอความอนุเคราะห์ นิสิตสามารถติดต่อขอได้ที่หน่วยกิจการนิสิต
&nbsp;&nbsp;เมื่อหน่วยงานตอบรับคุณจะต้องแจ้งและให้ข้อมูลผ่านทางระบบ
เพื่อยื่นขอหนังสือส่งตัวต่อไป
ในกรณีที่คุณกรอกข้อมูลผิดพลาดและยังไม่ได้ดาวน์โหลดหนังสือขอความอนุเคราะห์
คุณสามารถยกเลิกการแจ้งได้ภายใน 1 วันหลังจากที่แจ้งแล้ว<br/>
</span>

{% if has_chosen_company %}
  <div class="{% if chosen_company_application.is_confirmed_by_committee == None %}good_info_message{% else %}{% if chosen_company_application.is_confirmed_by_committee %}good_info_message{% else %}info_message{% endif %}{% endif %}">
    <b>คุณแจ้งความประสงค์การเข้าฝึกงานที่หน่วยงานที่รับคุณแล้ว</b><br/>
    <b>หน่วยงาน: </b> {{ chosen_company_application.company_name }}<br/>
    <b>สถานะ: </b>
    {% if chosen_company_application.is_confirmed_by_committee %}
      กรรมการได้พิจารณาหลักฐานการรับเข้าฝึกงาน และได้รับรองผลการคัดเลือกแล้ว คุณจะต้องไปฝึกงานที่หน่วยงานดังกล่าวและไม่สามารถเลือกหน่วยงานอื่นได้อีก<br/>

      {% if letter_downloadable %}
	<b>หนังสือส่งตัวและสำเนา:</b> สำหรับหนังสือส่งตัวนั้น ทางภาควิชาจะดำเนินการจัดพิมพ์และส่งให้กับหน่วยงาน แต่นิสิตจะต้องดาวน์โหลดและพิมพ์สำเนาหนังสือดังกล่าวเพื่อนำไปยื่นให้กับหน่วยงานเมื่อเริ่มต้นฝึกงาน<br />
	{% if can_print_std_letter %}
          <a class="button" href="{% url 'std_self_appl_print_application_sending_letter' chosen_company_application.id %}">ดาวน์โหลดสำเนาหนังสือส่งตัว</a>
	{% else %}
          {% include "std/include/quiz_links_and_status.html" %}
	{% endif %}
      {% else %}
	ขณะนี้ยังไม่สามารถดาวน์โหลดสำเนาหนังสือส่งตัวได้
	คุณจะสามารถดาวน์โหลดหนังสือส่งตัวหรือสำเนาได้เร็ว ๆ นี้ โปรดติดตามประกาศ
      {% endif %}
      
    {% else %}
      {% if chosen_company_application.is_confirmed_by_committee == None %}
        ขณะนี้กำลังรอกรรมการฝึกงานพิจารณาหลักฐานการรับเข้าฝึกงานและอนุมัติ คุณจะไม่สามารถแจ้งผลพร้อมกับแจ้งความประสงค์เข้าฝึกงานที่หน่วยงานอื่นได้
      {% else %}
        กรรมการได้พิจารณาหลักฐานการรับเข้าฝึกงานและ<b>ได้ปฏิเสธการยืนยันการรับเข้าฝึกงานของคุณ</b> กรุณาติดต่อกรรมการฝึกงานเพื่อนำหลักฐานเพิ่มเติมไปให้กรรมอนุมัติ &nbsp; ถ้าคุณไม่ประสงค์ไปฝึกงานที่หน่วยงานดังกล่าวแล้ว ให้ติดต่อกรรมการเพื่อยกเลิกการเลือกหน่วยงานดังกล่าว
      {% endif %}
    {% endif %}
  </div>
{% endif %}

<table class="info_list">
  <tr class="header">
    <th>อันดับ</th>
    <th>ชื่อหน่วยงาน</th>
    <th>วันที่แจ้ง</th>
    <th>ผลการสมัคร</th>
    <th></th>
    <th></th>
  </tr>
  {% for a in company_direct_applications %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ forloop.counter }}</td>
      <td>
        {{ a.company_name }}
      </td>
      <td>{{ a.created_at|date:'j M' }}</td>
      <td>
        {% if a.is_waiting %}
          <a class="button small blue" href="{% url 'std_self_appl_update_application' a.id %}">แจ้งผล</a>
        {% else %}
          {% if a.is_accepted %}
            {% if a.is_chosen %}
              รับแล้ว, เลือกหน่วยงานนี้,
              {% if a.is_confirmed_by_committee %}
                กรรมการยืนยันแล้ว
              {% else %}
                {% if a.is_confirmed_by_committee == None %}
                  รอการยืนยันจากกรรมการ
                {% else %}
                  กรรมการปฏิเสธการยืนยัน กรุณาติดต่อกรรมการ
                {% endif %}
              {% endif %}
            {% else %}
              {% if a.is_confirmed_by_committee %}
                รับแล้ว, ปฏิเสธเข้าฝึกงาน,กรรมการยืนยันผลแล้ว
              {% else %}
                รับแล้ว, ปฏิเสธเข้าฝึกงาน,รอการยืนยันผลจากกรรมการ
              {% endif %}
            {% endif %}
          {% else %}
            {% if a.is_confirmed_by_committee %}
              ไม่รับ, ยืนยันแล้ว
            {% else %}
              ไม่รับ, รอการยืนยันผลจากกรรมการ
            {% endif %}
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if a.is_waiting %}
          {% if a.is_verified %}
            <a class="button small blue" href="{% url 'std_self_appl_print_application_letter' a.id %}">ดาวน์โหลดหนังสือขอความอนุเคราะห์</a>
          {% else %}
            กรุณาติดต่อกรรมการฝึกงาน<br/>เพื่อขอหนังสือขอความอนุเคราะห์
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if a.can_be_cancelled %}<a class="button small red" href="{% url 'std_self_appl_cancel_application' a.id %}">ยกเลิก</a>{% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

<span class="hint">
<b>หมายเหตุ:</b> ในปีนี้คณะฯ ได้มีการเปลี่ยนแปลงกระบวนการจัดหาหน่วยงานสำหรับการฝึกงาน 
นิสิตสามารถ<a href="{% url 'std_self_appl_request_print_announcement' %}">ดาวน์โหลดหนังสือแจ้งการเปลี่ยนแปลงขั้นตอนการฝึกงาน</a>เพื่อนำไปยื่นให้กับหน่วยงานเพื่อใช้ประกอบการสมัครได้
</span>

{% if false and not has_chosen_company %}
<hr/>
<h3>แจ้งรายชื่อเพิ่ม</h3>
{% if can_create_new_applications %}
  <span class="hint">
    ในการสมัครบางหน่วยงานจะต้องใช้หนังสือขอความอนุเคราะห์จากคณะฯ ถ้าหน่วยงานอยู่ในรายชื่อหน่วยงานที่มีการคัดเลือกนิสิตเข้าฝึกงานเองของคณะ (<a target="_blank" href="{% url 'std_self_appl_list_verified_companies' %}">ดูรายชื่อหน่วยงาน</a>) นิสิตจะสามารถพิมพ์หนังสือขอความอนุเคราะห์ได้ทันที ถ้าหน่วยงานไม่อยู่ในรายการดังกล่าว นิสิตสามารถติดต่อขอหนังสือขอความอนุเคราะห์ได้ที่หน่วยกิจการนิสิตหลังจากแจ้งข้อมูลแล้ว
  </span>

  {% with new_direct_app_form as form %}
    {% include "std/self_appl/include/direct_app_form.html" %}
  {% endwith %}
{% else %}
  ขณะนี้หมดเขตการจัดหาหน่วยงานด้วยตนเองแล้ว คุณจะยังไม่สามารถเพิ่มรายชื่อได้จนกว่าจะได้รับผลการคัดเลือกทั้งหมด และได้ยืนยันว่าจะรับผิดชอบจัดหาหน่วยงานด้วยตนเองต่อ
{% endif %}
{% endif %}
