<form class="form-section" id="request_form_id" action="{% url 'std_self_appl_create_application' %}" method="post" style="-display: none">
  <p>
    <label for="id_company_name">ชื่อหน่วยงาน:</label> 
    {{ form.company_name }} 
    <span class="errorlist">{{ form.company_name.errors.as_text }}</span>
    <span class="hint">พิมพ์บางส่วนเพื่อเลือกจากรายการที่มี ถ้าไม่มีให้พิมพ์ชื่อเต็ม<span>
  </p>
  <hr/>
  <input class="button green" type="submit" name="ok" value="แจ้งรายชื่อ"/>
  <input class="button red" type="submit" name="cancel" value="ยกเลิก"/>
</form>

<script type="text/javascript">
$(function(){
  $("#id_company_name").autocomplete({source: "{% url 'std_self_appl_company_search_by_name_ajax' %}"});
});
</script>
