<div class="info_message">
คุณมีรายการการขออนุมัติหนังสือขอความอนุเคราะห์ที่
{% if inactive_stats.rejected_count %}
คุณตอบปฏิเสธ {{ inactive_stats.rejected_count }} ฉบับ
{% endif %}
{% if inactive_stats.committee_rejected_count %}
กรรมการไม่อนุมัติ {{ inactive_stats.committee_rejected_count }} ฉบับ
{% endif %}
{% if inactive_stats.company_rejected_count %}
หน่วยงานตอบปฏิเสธ {{ inactive_stats.company_rejected_count }} ฉบับ
{% endif %}
{% if hide_list_link %}
{% else %}
<a target="_blank" class="button orange small" href="{% url 'std_self_appl_inactive_company_requests' %}">ดูรายละเอียด</a>
{% endif %}
</div>
