<div style="display: none;">
  ในการจัดหาหน่วยงานเองนั้น นิสิตมีทางเลือกในการจัดหาหน่วยงานสองทางเลือก คือ:<br/> 

  <div style="border-radius: 5px; border: 1px solid #e0e0e0; padding: 5px; margin-top: 5px; margin-bottom: 5px; background: #ffffff">
    <b>แบบที่ 1: กรณีที่นิสิตต้องการสมัครหน่วยงานที่นิสิตเข้าไปติดต่อด้วยตนเอง</b>
    <a class="button green small read_more_links" href="#">อ่านรายละเอียด</a>
    <div  class="more_info_boxes" style="display:none">
      <small>
	สำหรับหน่วยงานกลุ่มนี้
	นิสิตจะต้องแจ้งข้อมูลหน่วยงานกับกรรมการฝึกงานประจำภาควิชาเพื่อออกหนังสือขอความอนุเคราะห์และนำไปยื่นกับหน่วยงานด้วยตนเอง &nbsp;
	ในช่วงเวลาหนึ่ง ๆ นิสิตจะสามารถขอหนังสือขอความอนุเคราะห์ได้เพียงหนึ่งฉบับ
	และจะไม่สามารถขอฉบับใหม่ได้ จนกว่าหน่วยงานที่ขอไปยื่นในครั้งก่อนนั้น
	ได้ตอบปฏิเสธกลับมายังคณะแล้ว <br/>
	
	ในกรณีที่นิสิตหลายคนต้องการไปฝึกที่เดียวกัน
	สามารถขอหนังสือขอความอนุเคราะห์ฉบับเดียวกันได้
	โดยให้นิสิตคนหนึ่งกรอกข้อมูลและใส่ชื่อนิสิตคนอื่น ๆ ที่ต้องการไปฝึกงานที่เดียวกันไว้ &nbsp;
	นิสิตคนอื่น ๆ จะต้องเข้าระบบฝึกงานเพื่อยืนยันข้อมูล จากนั้นเมื่อนิสิตยืนยันครบทุกคนแล้ว
	ระบบจะส่งข้อมูลไปขอให้กรรมการกิจการนิสิตอนุมัติ
      </small>
      <div class="info_message">
	<b>สรุปแบบที่ 1:</b> ▹ 
	แจ้งข้อมูลและรออนุมัติหนังสือขอความอนุเคราะห์ ▹
	นำหนังสือขอความอนุเคราะห์ไปยื่นเพื่อรับแบบตอบรับจากหน่วยงาน ▹
	สมัครได้ที่เดียวจนกว่าจะถูกปฏิเสธ ▹ แจ้งผลเพื่อออกหนังสือส่งตัว
      </div>
    </div>
  </div>

  <div style="border-radius: 5px; border: 1px solid #e0e0e0; padding: 5px; margin-top: 5px; margin-bottom: 5px; background: #ffffff">
  <b>แบบที่ 2: กรณีที่นิสิตต้องการสมัครหน่วยงานที่มีการคัดเลือกนิสิตเอง</b>
  <a class="button green small read_more_links" href="#">อ่านรายละเอียด</a>
  <div class="more_info_boxes" style="display: none">
    <small>
      หน่วยงานกลุ่มนี้ โดยมากเป็นหน่วยงานที่มีการรับสมัครนิสิตฝึกงานแบบเป็นทางการ เช่น
      บริษัทเชฟรอน, ปตท, โตโยต้า, และเครือซิเมนต์ไทย เป็นต้น สำหรับหน่วยงานในกลุ่มนี้
      นิสิตสามารถสมัครฝึกงานได้โดยตรง
      สำหรับบางบริษัทในการสมัครจะต้องใช้หนังสือรับรองจากทางคณะ ซึ่งระบบจะเปิดให้ดาวน์โหลดได้เร็ว ๆ นี้<br/>

      เมื่อนิสิตสมัครแล้วจะต้องแจ้งข้อมูลให้กับทางคณะฯ
      และเมื่อได้รับคัดเลือกเข้าฝึกงาน
      นิสิตจะต้องเข้ามากรอกข้อมูลเพื่อให้คณะออกขอหนังสือส่งตัวไปยังหน่วยงานดังกล่าว
      เพื่อเข้าฝึกงาน<br/>
      
      สำหรับหน่วยงานในกลุ่มนี้ นิสิตสามารถสมัครได้ครั้งละหนึ่งที่เท่านั้น ถ้าจะสมัครที่ใหม่ต้องได้ผลตอบปฏิเสธจากหน่วยงานที่เคยสมัครมาก่อนแล้ว ห้ามนิสิตสมัครหรือตอบรับเข้าฝึกงานมากกว่าหนึ่งที่
      ถ้าคณะตรวจสอบพบการกระทำดังกล่าว จะพิจารณาให้การฝึกงานครั้งนี้เป็นโมฆะ
    </small>
    <div class="info_message">
      <b>สรุปแบบที่ 2:</b> ▹ สมัครผ่านระบบรับนิสิตฝึกงานของหน่วยงาน ▹
      สมัครได้ครั้งละหนึ่งที่ ▹ ห้ามตอบรับมากกว่าหนึ่งที่ ▹ แจ้งผลเพื่อออกหนังสือส่งตัว
    </div>
  </div>
  </div>

  <p><small>
    สำหรับทางเลือกทั้งสองแบบนี้ ในปัจจุบันทางคณะฯ
    จะอนุญาตให้นิสิตสมัครได้เพียงรูปแบบเดียวเท่านั้น และจะไม่อนุญาตให้เปลี่ยน
    นอกเสียจากนิสิตถูกปฏิเสธจากหน่วยงานที่สมัคร หรือไม่ได้รับการอนุมัติให้ออกขอความอนุเคราะห์จากกรรมการการฝึกงานประจำสาขาวิชา
  </small>
  </p>

  <hr/>
</div>

▶ ในการจัดหาหน่วยงานเองนั้น
นิสิตจะต้องแจ้งข้อมูลหน่วยงานกับกรรมการฝึกงานประจำภาควิชาเพื่อออกหนังสือขอความอนุเคราะห์และนำไปยื่นกับหน่วยงานด้วยตนเอง
&nbsp; ในช่วงเวลาหนึ่ง ๆ นิสิตจะสามารถขอหนังสือขอความอนุเคราะห์ได้เพียงหนึ่งฉบับ
และจะไม่สามารถขอฉบับใหม่ได้ จนกว่าหน่วยงานที่ขอไปยื่นในครั้งก่อนนั้น
ได้ตอบปฏิเสธกลับมายังคณะแล้ว <br/>
      
▶ ในกรณีที่นิสิตหลายคนต้องการไปฝึกที่เดียวกัน
สามารถขอหนังสือขอความอนุเคราะห์ฉบับเดียวกันได้
โดยให้นิสิตคนหนึ่งกรอกข้อมูลและใส่ชื่อนิสิตคนอื่น ๆ ที่ต้องการไปฝึกงานที่เดียวกันไว้ &nbsp;
นิสิตคนอื่น ๆ จะต้องเข้าระบบฝึกงานเพื่อยืนยันข้อมูล จากนั้นเมื่อนิสิตยืนยันครบทุกคนแล้ว
ระบบจะส่งข้อมูลไปขอให้กรรมการกิจการนิสิตอนุมัติ
<hr>

<div style="width:100%">
  <div style="width: 50%; float: left; text-align: center;">
    <a style="width: 300px"  class="button blue" href="{% url 'std_self_appl_new_company_request' %}">แจ้งข้อมูลหน่วยงาน<br/>เพื่อขออนุมัติหนังสือขอความอนุเคราะห์</a>
  </div>
  <div style="width: 50%; float: left; text-align: center; display: none;">
    <a style="width: 300px;" id="direct_application_button_id" class="button blue" href="{% url 'std_self_appl_create_application' %}">2 แจ้งข้อมูลการสมัคร<br/>หน่วยงานที่มีการคัดเลือกนิสิตเอง</a>
  </div>
</div>
<br style="clear:both"/>

<hr/>

{% if not application_deadline_passed %}
  <form action="{% url 'std_confirm_reg_type' 0 %}" method="post" style=""padding: 5px; border: 1px solid gray; border-radius: 5px; background: #e0e0e0;" class="type1-confirmation-info-form" id="self_appl_confirm_real_id">
    <b>การเปลี่ยนไปสมัครแบบสหกิจศึกษา:</b>
    เนื่องจากยังไม่หมดเวลาสมัครเข้าขอฝึกงานปีการศึกษา {{ next_academic_year }} คุณสามารถเปลี่ยนไปสมัครฝึกงานแบบสหกิจศึกษาได้ โดยยกเลิกการยืนยันการขอฝึกงานแบบหาหน่วยงานเอง (เพื่อที่จะกลับไปเลือกฝึกสหกิจศึกษาได้)
    กรุณากด
    <a id="self_appl_confirm2_id" href="#" class="button small orange">ยกเลิกการยืนยันการเลือกฝึกงานโดยจัดหาหน่วยงานเอง</a> เพื่อกลับไปหน้าเลือกประเภทการฝึกงานอีกครั้ง
  </form>
{% else %}
  <b>การเปลี่ยนไปสมัครแบบสหกิจศึกษา:</b>
  เนื่องจากขณะนี้หมดเวลาเปลี่ยนรูปแบบแล้ว นิสิตสามารถติดต่อเปลี่ยนรูปแบบการฝึกงานได้ที่หน่วยกิจการนิสิต คณะวิศวกรรมศาสตร์
{% endif %}

<script type="text/javascript">
$(function(){
   $("#direct_application_button_id").click(function(){
     return confirm("คุณแน่ใจหรือไม่ว่าการสมัครหน่วยงานของคุณเป็นแบบหน่วยงานที่คัดเลือกนิสิตเอง\nถ้าคุณไม่แน่ใจ สามารถสอบถามกรรมการฝึกงานก่อนเลือกได้\nถ้าแน่ใจให้กด OK หรือกดยืนยัน");
   });
   $(".read_more_links").click(function(){
     var box = $(this).parent().find(".more_info_boxes").slideToggle();
     return false;
   });
   
   $("#self_appl_confirm2_id").click(function(){
     $(this).parents('form').first().submit();
     return false;
   })
});
</script>
