<p>
  <label for="id_company_name">ชื่อหน่วยงาน:</label> 
  {{ form.company_name }} 
  <span class="errorlist">{{ form.company_name.errors.as_text }}</span>
  <span class="hint">พิมพ์บางส่วนเพื่อเลือกจากรายการที่มี ถ้าไม่มีให้พิมพ์ชื่อเต็ม</span>
</p>
<p>
  <label for="id_division_name">หน่วยงานย่อย/แผนก/ฝ่าย:</label> 
  {{ form.division_name }} 
  <span class="hint">ถ้าไม่มีหน่วยงานย่อย ไม่จำเป็นต้องระบุ</span>
</p>

<p>
  ที่อยู่สำหรับส่งหนังสือ:   
  <span class="errorlist">{{ form.letter_address.errors.as_text }}</span><br/> 
  {{ form.letter_address }}
</p>
<p>
  <label for="id_signer_name">ชื่อหรือตำแหน่งที่จะทำหนังสือถึง:</label> 
  {{ form.signer_name }}
  <span class="errorlist">{{ form.signer_name.errors.as_text }}</span>
  <span class="hint">โปรดระบุชื่อหรือตำแหน่งที่จะทำหนังสือถึง เช่น ผู้จัดการ, ผู้จัดการส่วนฝึกอบรม, หรือ ผู้จัดการแผนกทรัพยากรมนุษย์ เป็นต้น ไม่ต้องระบุชื่อบริษัท</span>
</p>

<hr/>

<p>
  <label for="id_contact_person">ผู้ประสานงานการฝึกงาน:</label> 
  {{ form.contact_person }}
  <span class="errorlist">{{ form.contact_person.errors.as_text }}</span>
  <span class="hint">โปรดระบุชื่อผู้ประสานงานการฝึกงานของหน่วยงาน</span>
</p>

<p>
  <label for="id_contact_number">เบอร์โทรศัพท์ผู้ประสานงาน:</label> 
  {{ form.contact_number }}
  <span class="errorlist">{{ form.contact_number.errors.as_text }}</span>&nbsp;&nbsp;
  <label for="id_contact_email">อีเมล์ของผู้ประสานงาน:</label> 
  {{ form.contact_email }}
  <span class="errorlist">{{ form.contact_email.errors.as_text }}</span>
</p>

<hr/>

<p>
  <label for="id_working_address">สถานที่ตั้ง (ที่นิสิตต้องไปฝึกงาน):</label>
  <span class="errorlist">{{ form.working_address.errors.as_text }}</span>
  <br/>
  {{ form.working_address }}
</p>

<p>
  <label for="id_working_number">เบอร์โทรศัพท์:</label> 
  {{ form.working_number }} 
  <span class="errorlist">{{ form.working_number.errors.as_text }}</span>&nbsp;

  <label for="id_working_fax_number">เบอร์โทรสาร:</label> 
  {{ form.working_fax_number }}
  <span class="errorlist">{{ form.working_fax_number.errors.as_text }}</span>
</p>
<p>
  <label for="id_description">ลักษณะงานที่มอบหมายให้นิสิตทำ:</label>
  <span class="errorlist">{{ form.description.errors.as_text }}</span><br/>
  {{ form.description }}
</p>

<hr/>

<p>
  ช่วงระยะเวลาการฝึกงาน 
  {{ form.period_choice }}
  <span class="errorlist">{{ form.period_choice.errors.as_text }}</span><br/>
  <div id="period_inputs_id">
    โปรดระบุระยะเวลา <span class="hint">ช่วงเวลาเริ่มที่ระบุต้องอยู่ในช่วง 10 เม.ย. ถึง 1 มิ.ย. <del>ช่วงเวลาที่ระบุต้องอยู่ในช่วง 25 พฤษภาคม ถึงสิ้นเดือนกรกฎาคม</del> และต้องครบ 2 เดือนเต็มเท่านั้น ให้ระบุในรูปแบบ ปี-เดือน-วัน หรือเลือกจากรายการ เมื่อเลือกวันเริ่มต้นแล้ว ขอบเขตของวันสิ้นสุดจะคำนวณให้โดยอัตโนมัติ</span><br/>
    <label for="id_start_date">วันที่เริ่มฝึกงาน:</label> {{ form.beginning_date }}
    <span class="errorlist">{{ form.beginning_date.errors.as_text }}</span>&nbsp;
    <label for="id_end_date">วันที่สิ้นสุดการฝึกงาน:</label> <span id="calculated_end_date_id" style="display: none;"></span>{{ form.end_date }}
    <span class="errorlist">{{ form.end_date.errors.as_text }}</span>&nbsp;
  </div>
<hr/>

<h3>รายชื่อนิสิตที่ขอเข้าฝึกงาน</h3>
<span class="hint">
  เมื่อนิสิตกดขออนุมัติแล้ว ข้อมูลนี้จะยังไม่ส่งถึงกรรมการฝึกงาน จนกว่านิสิตที่มีรายชื่อด้านล่างทั้งหมดจะเข้ามากดยืนยัน
</span>
<table class="info_list" id="request_std_table_id">
  <tr class="header">
    <th>ลำดับที่</th><th>รหัสประจำตัว</th><th>ชื่อ</th><th></th>
  </tr>
  <tr class="request_std_rows" id="student_row_id">
    <td>1</td>
    <td>{{ student.student_id }}</td>
    <td>{{ student }}</td>
    <td></td>
  </tr>
  {% for std in request_students %}
    <tr class="request_std_rows" >
      <td><span class="stdnum">{{ forloop.counter|add:'1' }}</span></td>
      <td>
        {% if std.can_request %}
          <input type="hidden" name="request_students" value="{{ std.student_id }}"/>
        {% endif %}
        {{ std.student_id }}
      </td>
      <td>{{ std }}</td>
      <td>
        {% if std.can_request %}
          <a class="button red small std_remove_buttons" href="#">ลบ</a>
        {% else %}
          <span class="errorlist">ไม่สามารถสมัครได้ จะถูกลบจากรายการโดยอัตโนมัติ</span>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

เพิ่มนิสิตจากสาขาวิชาที่ขอเข้าฝึกงานหน่วยงานนี้:
<input id="std_search_input_id" size="15"/> <a class="button small blue" id="std_search_button_id" href="#">ค้นข้อมูล</a>
<span class="hint">ระบุรหัสประจำตัว ชื่อ นามสกุล หรือบางส่วน</span>
<div style="margin: 5px; border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; font-size: 95%" id="std_search_results_id">
</div>

<script type="text/javascript">
  function buildTableRow(rownum,stddata) {
    return '<tr class="request_std_rows" ><td><span class="stdnum">'+rownum+'</span></td>' + 
           '<td><input type="hidden" name="request_students" value="' + stddata.student_id + '"/>'+
           stddata.student_id+"</td>"+
           "<td>"+stddata.name+"</td>"+
           '<td><a class="button red small std_remove_buttons" href="#">ลบ</a></td>'
           "</tr>";
  }
  
  function check_student(stddata) {
    var result = true;
    $("#request_std_table_id tr").each(function(i) {
      var sid = $(this).find('td').slice(1).first().text();
      if(sid==stddata.student_id)
        result = false;
    });
    return result;
  }
  
  function update_period_inputs() {
    if($("#id_period_choice").val()=='custom')
      $("#period_inputs_id").show();
    else
      $("#period_inputs_id").hide();
  }
  
  function updateEndDate() {
    var start_date = $.datepicker.parseDate("yy-mm-dd", $("#id_beginning_date").val());
    var y = start_date.getFullYear(); var m = start_date.getMonth(); var d = start_date.getDate();
    m += 1;
    d -= 1;
    var end_date = new Date(y,m,d);
    var min_end_date = new Date(y,5,12);
    if(end_date < min_end_date) {
      end_date = min_end_date;
    }
    while(end_date.getDay()==0 || end_date.getDay()==6) {
      d--;
      end_date = new Date(y,m,d);
    }
    var max_end_date = new Date(end_date.getFullYear(), end_date.getMonth() + 1, end_date.getDate() + 20);
    var date_str = $.datepicker.formatDate("yy-mm-dd", end_date);

    //var end_date = new Date(y,6,28)

    $("#id_end_date").val(date_str);
    $("#id_end_date").datepicker("destroy");
    $("#id_end_date").datepicker({dateFormat: "yy-mm-dd", minDate: end_date, maxDate: max_end_date, beforeShowDay: $.datepicker.noWeekends});
    $("#calculated_end_date_id").text(date_str);
  }

  $(function(){
    $("#std_search_button_id").click(function(){
      var querystr = $("#std_search_input_id").val();
      jQuery.post("{% url 'std_self_appl_student_search' %}",
                  { q: querystr },
                  function(data) { $("#std_search_results_id").html(data); });
      return false;
    });
    $("#std_search_results_id").
    delegate(".std_add_buttons","click",
             function(){
               var stddata = $(this).data('std');
               if(check_student(stddata)) {
                 var rcount = $("#request_std_table_id tr.request_std_rows").length + 1;
                 var row = buildTableRow(rcount, stddata);
                 $("#request_std_table_id").append(row);
               }
               return false;
             });

    $("#request_std_table_id").
    delegate(".std_remove_buttons","click",
             function(){
               $(this).parents('tr').first().detach();
               $("#request_std_table_id tr.request_std_rows").each(function(i) {
                 $(this).find('.stdnum').text(i+1);
               });
               return false;
             });

    $('#id_period_choice option').first().text('ตามที่คณะกำหนด ({{ default_beginning_date|date:"j M" }} - {{ default_end_date|date:"j M" }})');

    update_period_inputs();
    $("#id_period_choice").change(update_period_inputs);
    $("#id_company_name").autocomplete({source: "{% url 'std_self_appl_company_search_by_name_ajax' %}"});

    $("#id_beginning_date").addClass('date_inputs');

    $("#id_beginning_date").datepicker({dateFormat: "yy-mm-dd", minDate: new Date({{ next_year|add:"-543" }},3,10), maxDate: new Date({{ next_year|add:"-543" }},5,1), beforeShowDay: $.datepicker.noWeekends});

    $("#id_beginning_date").change(updateEndDate);
    updateEndDate();
  });
</script>

