<span class="hint">กรุณาเลือกเพิ่มนิสิตจากรายการด้านล่าง</span>
<table class="info_list">
  <tr>
    <td style="border-bottom: 1px solid #a0a0a0">รหัสประจำตัว</td>
    <td style="border-bottom: 1px solid #a0a0a0">ชื่อ</td>
    <td style="border-bottom: 1px solid #a0a0a0">สาขาวิชา</td>
    <td style="border-bottom: 1px solid #a0a0a0"></td>
  </tr>
  {% for s in students %}
    <tr>
      <td>{{ s.student_id }}</td>
      <td>{{ s }}</td>
      <td>{{ s.department }}</td>
      <td>
        {% if s.can_request %}
          <a id="std_add_{{ s.id }}" class="button small green std_add_buttons" href="#">เพิ่มในรายการ
        {% else %}
          <span class="errorlist">ไม่สามารถเพิ่มในรายการได้</span>
        {% endif %}
      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="4">ไม่พบข้อมูล</td>
    </tr>
  {% endfor %}
</table>
<span class="hint">หมายเหตุ: แสดงผลเฉพาะ 5 รายชื่อแรกที่ค้นเจอเท่านั้น, การที่ไม่สามารถเพิ่มชื่อนิสิตในรายการได้ อาจมีสาเหตุจาก นิสิตยังไม่ได้สมัคร, สมัครแต่ไม่ได้ระบุว่าต้องการหาสถานประกอบการเอง, สมัครหน่วยงานอื่นแล้ว, หรือได้เลือกขอใบอนุเคราะห์สำหรับหน่วยงานอื่นไปแล้ว</span>
<script type="text/javascript">
$(function(){
  {% for s in students %}
    $("#std_add_{{ s.id }}").data('std',{student_id: '{{s.student_id}}', name: '{{ s }}'});
  {% endfor %}
});
</script>
