﻿{% extends "std/base.html" %}

{% load wt_media %}

{% block menu %}
<ul id="nav">
  <li><a href="{% url 'front_page' %}">หน้าหลัก</a></li>
  <li><a href="{% url 'std_index' %}">ระบบสำหรับนิสิต</a></li>
</ul>
<div id="clear"></div>
{% endblock %}

{% block content %}
<h1>ค้นหาสถานประกอบการที่มีในระบบ</h1>

<form action="{% url 'std_company_search' %}" method="post">
ชื่อสถานประกอบการ:
<input id="company_name_id" type="text" name="company_name" />
<input type="submit" value="ค้นข้อมูล" /><br/>
<small>สามารถใส่แค่บางส่วนของชื่อได้ รายละเอียดของสถานประกอบการแต่ละที่จะสามารถดูได้เร็ว ๆ นี้</small>
</form>

<div id="company_result" class="form-section">
  <div id="loading_id" style="float: right; display: none">Loading...</div>
  {% if empty_result %}
    <h3>รายชื่อสถานประกอบการ</h3>
    กรุณาใส่ชื่อหรือบางส่วนของชื่อในช่องด้านบนเพื่อค้นหา
  {% else %}
    {% include "std/company/include/company_list.html" %}
  {% endif %}
</div>

<script type="text/javascript">
  old_name = "";

  query_companies = function() {
    var name = $("#company_name_id").val();
    if(name != old_name) {
      old_name = name;
      if(name != '') {
        $("#loading_id").show();
        $.get('{% url 'std_company_search' %}',
              { company_name: name },
              function(data) {
                $("#company_result").html(data);
              });
      }
    }
  };

  $(function() {
    old_name = $("#company_name_id").val();
    setInterval("query_companies()", 500);
  });
</script>

{% endblock content %}
