﻿{% extends "std/base.html" %}

{% load wt_media %}

{% block menu %}
<ul id="nav">
  <li><a href="{% url 'front_page' %}">หน้าหลัก</a></li>
  <li><a href="{% url 'std_index' %}">ระบบสำหรับนิสิต</a></li>
</ul>
<div id="clear"></div>
{% endblock %}

{% block content %}
<h1>รายการสถานประกอบการที่มีในระบบที่ขึ้นต้นด้วย: {{ starting_char }}</h1>

<small>
  <a href="{% url 'std_company_search' %}" class="blue small button">ค้นรายการสถานประกอบการ</a> หรือดูรายการสถานประกอบการที่ชื่อขึ้นต้นด้วย:
  {% for c in characters %}
    <a href="{% url 'std_company_list_by_char' c %}">{{ c }}</a>
  {% endfor %}
</small>

<div id="company_result" class="form-section">
  {% if companies|length == 0 %}
    ไม่มีสถานประกอบการที่คุณค้นหา
  {% else %}
    <p><small>รายการเรียงตามชื่อ อย่างไรก็ตาม บริษัทที่ตัวอักษรแรกเป็นสระ (เช่น เ- หรือ ไ-) อาจแสดงอยู่ด้านท้ายรายการ</small></p>
    <ul>
      {% for c in companies %}
        <li>{{ c }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock content %}
