{% extends "committee/base.html" %}

{% load wt_media %}
{% load wt_format %}

{% block content %}
  <div style="float:right">
    <a href="{% url 'committee_coop_index' department.code %}" class="button red small">กลับไปหน้าข้อมูลสหกิจ</a>
  </div>
  <h1>การขอฝึกสหกิจของ {{ student.student_id }} {{ student }} ประจำปีการศึกษา {{ year }}</h1>

  {% if co_op_request.is_approved_by_committee %}
    <b>โปรดระวังในการแก้ไข</b> การขอฝึกสหกิจนี้ได้รับการอนุมัติแล้วเมื่อ {{ co_op_request.approved_at }} 
  {% endif %}

  <div class="form-section">
    <form method="post" action="{% url 'committee_coop_edit_request' department.code co_op_request.id %}">

      {% with co_op_company as company  %}
	{% include 'std/coop/include/coop_form_table.html' %}
      {% endwith %}

      <hr/>
      <input class="button green" type="submit" name="ok" value="แก้ไขข้อมูล"/>
      <input class="button red" type="submit" name="cancel" value="ยกเลิกการแก้ไข"/>

    </form>
  </div>
  
  <script>
   function update_reason_input() {
     if($("#result_select_id").val()=="no")
       $("#reason_id").slideDown();
     else
       $("#reason_id").hide();
   }
   
   $(function(){
     update_reason_input();
     $("#result_select_id").change(update_reason_input);
     $("#save_button_id").click(function(){
       if(($("#result_select_id").val()=="no") &&
	  ($.trim($("#reason_input_id").val())=='')) {
	 alert("กรุณาระบุเหตุผลที่ไม่อนุมัติเพื่อแจ้งกับนิสิต");
	 return false;
       }
       return true;
     });
   });
  </script>
{% endblock content %}
