{% extends "committee/base.html" %}

{% load wt_media %}
{% load wt_format %}

{% block extra-head %}
  {{ block.super }}
  <script type="text/javascript" src="{% media_url %}js/table-sorter.js"></script>
{% endblock %}
  
{% block content %}
  <div style="float:right">
    <a href="{% url 'committee_index' %}" class="button red small">กลับไปหน้าหลัก</a>
  </div>
  <h1>ข้อมูลนิสิตฝึกงานสหกิจศึกษา {{ department.name }} ประจำปีการศึกษา {{ year }}</h1>

  {% if notice %}
    <div class="notice">
      <span class="notice-text">{{ notice }}</span>
    </div>
  {% endif %}

  <div class="form-section" style="display: none;">
    <b>ข้อมูลสรุป:</b> นิสิตที่สมัครสหกิจจำนวน xxx คน
  </div>
  
  <h3>ข้อมูลหน่วยงาน</h3>
  <div class="form-section">
    มีข้อมูลหน่วยงานป้อนแล้วทั้งสิ้น {{ co_op_companies|length }} หน่วยงาน <a href="#" class="button orange small" id="companyTableToggleLinkId">⌄ แสดงรายการ</a> (สามารถดูรายละเอียดและแก้ไขได้)
    {% include "committee/coop/include/company_list.html" %}
  </div>

  <h3>ข้อมูลการขอความอนุเคราะห์และผลการสมัคร</h3>
  <div class="form-section">
    {% include "committee/coop/include/request_list.html" %}
  </div>

  <script type="text/javascript">
   $(function(){
     $(".table-sort-links").click(function() {
       tableSorter.sortTable.call(this);
       return false;
     });
     $('#companyTableToggleLinkId').click(function(){
       $('#companyListTableId').slideDown();
       return false;
     });
   });
  </script>
{% endblock content %}
