{% extends "committee/base.html" %}

{% load wt_media %}
{% load wt_format %}

{% block content %}
  <div style="float:right">
    <a href="{% url 'committee_coop_index' department.code %}" class="button red small">กลับไปหน้าข้อมูลสหกิจ</a>
  </div>
  <h1>การขอฝึกสหกิจของ {{ student.student_id }} {{ student }} ประจำปีการศึกษา {{ year }}</h1>

  <div class="form-section">
    <form method="post" action="{% url 'committee_coop_update_request' department.code co_op_request.id %}">
      <table class="frame_table lrp2" width="90%">
	<tr>
	  <td>นิสิต:</td>
	  <td>{{ student.student_id }} {{ student }}</td>
	</tr>
	<tr>
	  <td>ภาคการศึกษาที่ฝึก:</td>
	  <td>{{ co_op_request.internship_semester_year_display }}
	</tr>
	<tr>
	  <td width="30%"><label for="id_company_name">ชื่อหน่วยงาน:</label></td>
	  <td>{{ co_op_company.name }}</td>
	</tr>
	<tr>
	  <td>
	    <label for="id_working_address">ที่อยู่หน่วยงาน</label>
	  </td>
	  <td>
	    {{ co_op_company.address|linebreaks }}
	  </td>
	</tr>
	<tr>
	  <td>
	    <label for="id_working_number">เบอร์โทรศัพท์</label>
	  </td>
	  <td>
	    {{ co_op_company.tel_number }} 
	  </td>
	</tr>
	<tr>
	  <td>
	    <label for="id_working_fax_number">เบอร์โทรสาร</label>
	  </td>
	  <td>
	    {{ co_op_company.fax_number }}
	  </td>
	</tr>
	<tr>
	  <td>
	    <label for="id_description">ลักษณะงาน:</label>
	  </td>
	  <td>
	    {{ co_op_request.description }}
	  </td>
	</tr>
	<tr>
	  <td>
	    <label for="id_signer_name">ชื่อหรือตำแหน่งที่จะทำหนังสือถึง:</label>
	  </td>
	  <td>
	    {{ co_op_request.signer_name }}
	  </td>
	</tr>
	<tr>
	  <td>
	    <label for="id_contact_person">ผู้ประสานงานการฝึกงาน:</label>
	  </td>
	  <td>
	    {{ co_op_request.contact_person }}
	  </td>
	</tr>
	<tr>
	  <td>
	    <label for="id_contact_number">เบอร์โทรศัพท์ผู้ประสานงาน:</label> 
	  </td>
	  <td>
	    {{ co_op_request.contact_tel_number }}
	  </td>
	</tr>
	<tr>
	  <td>
	    <label for="id_contact_email">อีเมล์ของผู้ประสานงาน:</label>
	  </td>
	  <td>
	    {{ co_op_request.contact_email }}
	  </td>
	</tr>
	<tr>
	  <td>
	    ช่วงระยะเวลาการฝึกงานสหกิจศึกษา
	  </td>
	  <td>
	    {% thai_short_date co_op_request.beginning_date %}
	    -
	    {% thai_short_date co_op_request.end_date %}
	  </td>
	</tr>
	<tr>
	  <td colspan="2" style="background: #ffffff;">
            <b>สำหรับกรรมการ:</b>
            ผลการพิจารณา
            <select name="result" id="result_select_id">
              <option value="yes">อนุมัติ</option>
              <option value="no">ไม่อนุมัติ</option>
            </select><br/>
            <div id="reason_id" style="display: none">
              กรุณาบันทึกเหตุผลเพื่อแจ้งกับนิสิต:
              <input id="reason_input_id" name="reject_explanation" size="40"/>
            </div>
	  </td>
	</tr>
	<tr>
	  <td colspan="2" style="background: #ffffff;">
            <input type="submit" id="save_button_id" name="ok" class="button green" value="จัดเก็บ">
            <input type="submit" name="cancel" class="button red" value="กลับไปหน้ารายการโดยไม่บันทึกผล">
	  </td>
	</tr>
      </table>
    </form>
  </div>
  
  <script>
   function update_reason_input() {
     if($("#result_select_id").val()=="no")
       $("#reason_id").slideDown();
     else
       $("#reason_id").hide();
   }
   
   $(function(){
     update_reason_input();
     $("#result_select_id").change(update_reason_input);
     $("#save_button_id").click(function(){
       if(($("#result_select_id").val()=="no") &&
	  ($.trim($("#reason_input_id").val())=='')) {
	 alert("กรุณาระบุเหตุผลที่ไม่อนุมัติเพื่อแจ้งกับนิสิต");
	 return false;
       }
       return true;
     });
   });
  </script>
{% endblock content %}
