{% if new_company_count != 0 %}
  <p class="info_message">
    มีสถานประกอบการเพิ่มใหม่ในรายการจำนวน {{ new_company_count }} ที่
    สถานประกอบการดังกล่าวจะปรากฏที่<a href="{% url 'committee_company_list_selection' 0 %}">ด้านท้ายรายการ</a>พร้อมด้วยคำว่า
     <span style="font-size:60%; padding: 1px; background: orange; color: white">new</span>
  </p>
{% endif %}

