<b>สถิติพื้นฐาน ({{ current_info_year }}):</b>
<a href="{% url 'committee_student_list' 'all' %}">นิสิตทั้งหมด</a>: {{ sel_stat.num_students }} 
&nbsp;&nbsp;
<a href="{% url 'committee_student_list' 'assigned' %}">ได้สถานประกอบการแล้ว</a>: {{ sel_stat.num_assigned }} 
(<a href="{% url 'committee_student_list' 'assigned_direct' %}">คัดเอง</a>: {{ sel_stat.num_assigned_direct }}, 
<a href="{% url 'committee_student_list' 'assigned_selection' %}">ผ่านคณะ</a>: {{ sel_stat.num_assigned_selection }})
&nbsp;&nbsp;
<a href="{% url 'committee_student_list' 'wait' %}">รอผลบริษัทคัดเอง</a>: {{ sel_stat.num_direct_app_waitlist }}
&nbsp;&nbsp;
<a href="{% url 'committee_student_list' 'unassigned' %}">รวมยังไม่ได้บริษัท</a>: {{ sel_stat.num_unassigned }}
&nbsp;&nbsp;
<a href="{% url 'committee_student_list' 'no_activity' %}">ยังไม่เลือก</a>: {{ sel_stat.num_no_activity }}
<br/>
จำนวนตำแหน่งงานทั้งหมด (ไม่รวมคัดเอง): {{ sel_stat.num_positions }}
&nbsp;&nbsp;
จำนวนที่ยังว่าง: {{ sel_stat.num_available_positions }}<br/>
