{% extends "regis/base.html" %}

{% block content %}
<h1>เพิ่มข้อมูลนิสิต</h1>
{% if notice %}
  <div class="notice">
    <span class="notice-text">{{ notice }}</span>
  </div>
{% endif %}
{% if action_successful %}
  {% if student %}
    <center>
      <a href="{% url 'student_detail' student.student_id %}">คลิกเพื่อดูข้อมูลของ {{ student.student_id }} {{ student.prefix }}{{ student.first_name }} {{ student.last_name }}</a>
    </center>
  {% endif %}
{% else %}
  {% if student %}
    <p class="error_message">เกิดข้อผิดพลาด: มีข้อมูลของนิสิตรหัสประจำตัวดังกล่าวอยู่แล้ว 
      <a href="{% url 'student_detail' student.student_id %}">คลิกเพื่อดูข้อมูลของ {{ student.student_id }} {{ student.prefix }}{{ student.first_name }} {{ student.last_name }}</a>
    </p>
  {% endif %}
{% endif %}
<form action="{% url 'regis_add_student' %}" method="POST">
  <table>
    {{ form.as_table }}
    <tr>
      <td></td>
      <td>
	<input id="std-submit-id" type="submit" value="เพิ่มนิสิตเข้าในฐานข้อมูล"/>
      </td>
    </tr>
  </table>
</form>
<script type="text/javascript">
$(function(){
  $("#std-submit-id").click(function(){
    return confirm("กรุณาตรวจสอบข้อมูลของนิสิตที่จะเพิ่มเข้าไปในฐานข้อมูล\n" + 
                   "รหัสประจำตัว " + $("#id_student_id").val() + "\n" +
                   $("#id_prefix").val() +
                   $("#id_first_name").val() + " " +
                   $("#id_last_name").val() + "\n" +
                   "ถ้าแน่ใจที่จะเพิ่มเข้าในระบบกรุณากด OK");
  });
});
</script>
{% endblock content %}
