{% extends "regis/base.html" %}

{% block content %}
<h1>ค้นหาสถานประกอบการ สำหรับการย้ายให้กับนิสิต {{ student.prefix }}{{ student.first_name }} {{ student.last_name }}</h1>
<form action="{% url 'search_change_student_company' student_id=student.student_id year=year %}" method="POST">
      {{ form.as_table }}
	  <input type="submit" value="ค้นหา"/>
</form>

{% if notice %}
    <p>{{ notice }}</p>
{% endif %}

{% if companies %}
<table id="regis_status" cellspacing=0>
  <tr>
    <th></th>
    <th>สถานประกอบการ</th>
    <th></th>
  </tr>
{% for company in companies %}
  <tr>
    <td>{{ company.short_name }}</td>
    <td><a href="{% url 'regis_company_detail' company.id %}">{{ company.name  }}</a></td>
    <td><a href="{% url 'change_student_company' student_id=student.student_id year=year company_id=company.id %}">เลือกสถานประกอบการนี้</td>
  </tr>
{% endfor %}
</table>
{% endif %}

<script type="text/javascript">
  $(document).ready(function() {
    $("#id_company_name").autocomplete({source: "{% url 'company_search_by_name_ajax' %}"});
  });
</script>

{% endblock content %}