﻿{% extends "regis/base.html" %}

{% block content %}
<h1>แก้ไขข้อมูลส่วนตัวของนิสิต</h1>
<table>
	<tr>
	    <td>ชื่อ-สกุล</td><td>: {{ student.prefix }}{{ student.first_name }} {{ student.last_name }}</td>
    </tr>
    <tr>
	    <td>รหัสนิสิต</td><td>: {{ student.student_id }}</td>
    </tr>       
	<form action="{% url 'student_edit_detail' student.student_id %}" method="POST">
    <tr>    
  		<td>E-mail</td><td>: {{ form.email }} {{ form.email.errors }} </td>
    </tr>
    <tr>
        <td>เบอร์โทรศัพท์</td><td>: {{ form.tel_no }} {{ form.tel_no.errors }}</td>
    </tr>
    <tr>
    	<td><div class="error_message">{{ noticed.credit }}</div></td>
    </tr>
	<tr>
	    <td>หน่วยกิตสะสม</td><td>: {{ form.total_credit }} {{form.total_credit.errors }}</td>
    </tr>
    <tr>
    	<td><div class="error_message">{{ noticed.gpax }}</div></td>
    </tr>
	<tr>
	    <td>เกรดเฉลี่ยสะสม</td><td>: {{ form.gpax }} {{form.gpax.errors }}</td>
    </tr>
	<tr>
	    <td>ปีการศึกษาสุดท้ายที่คำนวณ</td><td>: {{ form.upto_year }} {{form.upto_year.errors }}</td>
    </tr>
    <tr>
	    <td>ภาคการศึกษาสุดท้ายที่คำนวณ</td><td>: {{ form.upto_semester }} {{form.upto_semester.errors }}</td>
    </tr>
	<tr>
	    <td>ภาควิชา</td><td>: {{ form.department }} {{form.department.errors }}</td>
    </tr>
    <tr>
        <td>
               <input type="submit" value="Edit"/>
        </td>
    </tr>
  	</form>
</table>
{% endblock content %}

