{% extends "regis/base.html" %}

{% block content %}
<div style="float: right">
  <a href="{% url 'student_detail' student.student_id %}"
     class="red button small">กลับไปหน้าข้อมูลนิสิต</a>
</div>

<h1>
  ข้อมูลเกรดของ {{ student.student_id }} {{ student.full_name }}
</h1>

แสดงรายวิชาที่เรียนพร้อมด้วยเกรด เรียงตามรหัสวิชา (สำหรับวิชาที่รหัสวิชายังมีความยาว 6
หลัก จะปรากฏที่ท้ายรายการ)

<table class="info_list">
  <tr class="header">
    <th>รายวิชา</th>
    <th></th>
    <th>หน่วยกิต</th>
    <th>เกรด</th>
  </tr>
  {% for g in grades %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ g.course_number }}</td>
      <td>{{ g.regis_type }}</td>
      <td>{{ g.credit }}</td>
      <td>{{ g.grade }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock content %}
