{% extends "regis/base.html" %}
{% block extra-head %}
  {% include "include/jquery_scripts.html" %}
{% endblock %}
{% block content %}
{% load wt_format %}
<h1>รายชื่อนิสิตที่เคยกรอกแบบประเมินแล้ว</h1>
<form action="{% url 'regis_student_has_all_evaluation' %}" method="POST">
      {{ form.as_table }}
	  <input type="submit" value="แสดง"/>
	  <div class="right" style="text-align:right;">
	  <a href="{% url 'regis_student_has_all_evaluation' %}" class="medium button">แสดงรายชื่อล่าสุด</a>
	  <a href="{% url 'regis_student_csv_has_eval' filter_type %}" class="medium button">ดาวน์โหลดไฟล์ CSV ได้ที่นี่</a>
	  {% if students|length != 0 %}
		  	<script type="text/javascript">
				var newwindow;
				function poptastic(url)
				{
					newwindow=window.open(url,'name','width=800,scrollbars=yes');
					if (window.focus) {newwindow.focus()}
				}
			</script>
			<p>
			{% if evaluations|length != 0 %}
				{% if not department %}
					<a href="javascript:poptastic('{% url 'regis_student_print_eval' received_at %}');" class="green medium button">พิมพ์{% if received_at and received_at == 'all' %}ทั้งหมด{% endif %}</a>
		  		{% else %}
		  			<a href="javascript:poptastic('{% url 'regis_student_print_eval_by_dept' department.code %}');" class="green medium button">พิมพ์ (ภาควิชา{{ department.name }})</a>
		  		{% endif %}
	  		{% endif %}
	  		</p>
	  {% endif %}
	  </div>
</form>
<form action="{% url 'regis_student_has_all_evaluation' %}" method="POST">
	{{ dept_form.as_table }}
	 <input type="submit" value="แสดง"/>
</form>
<br/>
{% if evaluations|length == 0 %}
	<p class="error_message">ไม่พบข้อมูลใบประเมินตามการเลือกที่ต้องการ</p>
{% else %}
	{% if received_at == 'all' and not department %}
		<h4>รายชื่อนิสิต 100 รายชื่อล่าสุด</h4>
	{% else %}
		{% if department %}
		<h4>รายชื่อนิสิตที่กรอกแบบประเมิน ภาควิชา{{ department.name }}</h4>
		{% else %}
		<h4>รายชื่อนิสิตที่กรอกแบบประเมินในวันที่ {% thai_full_date received_at %}</h4>
		{% endif %}
	{% endif %}

	<table id="eval_status" cellspacing=0>
	  <tr>
	    <th>ลำดับที่</th>
	    <th>รหัส</th>
	    <th>ชื่อ-นามสกุล</th>
	    <th>ได้รับ</th>
	    <th>ใบลงเวลา</th>
	    <th>แบบประเมิน</th>
	    <th>ทำงาน</th>
	    <th>สาย</th>
	    <th>ลากิจ</th>
	    <th>ลาป่วย</th>
	    <th>ขาด</th>
	    <th>เริ่ม</th>
	    <th>สิ้นสุด</th>
	    <th></th>
	  </tr>
	  {% for evaluation in evaluations %}
	    {% with evaluation.student as student %}
	      <tr>
		<td style="text-align: center">{{ forloop.counter }}</td>
		<td><a href="{% url 'student_detail' student.student_id %}">{{ student.student_id }}</a></td>
		<td class="align-left">{{ student.first_name }} {{ student.last_name }}</td>
		<td>{% thai_short_date evaluation.received_at %} </td>
		<td>
	          {% if evaluation.timesheet_received %}
		    <div class="yes-icon">Yes</div>
	          {% else %}
	       	    <div class="no-icon">No</div>
	      	  {% endif %}
	        </td>
	        <td>
	          {% if evaluation.evaluation_form_received %}
	            <div class="yes-icon">Yes</div>
	          {% else %}
	       	    <div class="no-icon">No</div>
	      	  {% endif %}
	        </td>

	        <td>{{ evaluation.num_working_days }}</td>
	        <td>{{ evaluation.num_late_days }}</td>
	        <td>{{ evaluation.num_personal_leave_days }}</td>
	        <td>{{ evaluation.num_heath_leave_days }}</td>
	        <td>{{ evaluation.num_absent_leave_days }}</td>
	        <td>{% if evaluation.beginning_date %} {% thai_short_date evaluation.beginning_date %} {% else %}<div class="no-icon">No</div>{% endif %}</td>
	        <td>{% if evaluation.end_date %}{% thai_short_date evaluation.end_date %} {% else %}<div class="no-icon">No</div>{% endif %}</td>
	    	<td><a href="{% url 'evaluations_edit_by_assignment' evaluation.assignment_id %}" class="green small button">แก้ไข</a></td>
	      </tr>
	    {% endwith %}
	  {% endfor %}
	</table>
{% endif %}<br/>
<script type="text/javascript">
$(function() {
    $("#id_received_at").
      datepicker({dateFormat: "yy-mm-dd"});
});
</script>
{% endblock content %}
