{% extends "regis/base.html" %}

{% block content %}
<h1>เพิ่มข้อมูลนิสิตโดยการนำเข้าข้อมูลจากเว็บลงทะเบียน</h1>
{% if notice %}
  <div class="notice">
    <span class="notice-text">{{ notice }}</span>
  </div>
{% endif %}
<form action="{% url 'regis_import_students' %}" method="POST" enctype="multipart/form-data">
  <table>
    {{ form.as_table }}
    <tr>
      <td></td>
      <td>
	<input id="std-submit-id" type="submit" value="นำเข้าข้อมูล"/>
      </td>
    </tr>
  </table>
</form>
{% endblock content %}
