﻿{% extends "regis/base.html" %}
{% block content %}
<h1>ค้นหานิสิต</h1>
{% if notice %}
  <div class="notice">
    <span class="notice-text">{{ notice }}</span>
  </div>
{% endif %}
{% if not students %}
  <p class="info_message">
    <small>
      กรุณากรอกข้อมูลเพื่อค้นหา เมื่อกดค้นหาแล้ว ระบบจะแสดงรายการของนิสิตที่ตรงตามข้อมูลดังกล่าว
      คุณจะสามารถสมัครฝึกงาน และแก้ไขข้อมูลต่าง ๆ ให้กับนิสิตได้ ตามสิทธิ์ผู้ใช้ของคุณ
    </small>
  </p>
{% endif %}
<form class="form-section"
      action="{% url 'regis_student_index' %}" method="POST">
  {{ form.as_table }}
  <input type="submit" value="ค้นหา"/>
</form>

{% if search_result_notice %}
  <p>{{ search_result_notice }}</p>
{% endif %}

{% if students %}
  <p class="info_message">
    สถานะการสมัครฝึกงานและการส่งใบคำร้องจะเป็นสถานะการฝึกงานในปีการศีกษา {{ year }}
  </p>

  <table>
    <tr>
      <th>รหัส</th>
      <th>ชื่อ</th>
      <th>นามสกุล</th>
      <th>ภาควิชา</th>
      <th>สมัครฝึกงาน</th>
      {% comment %}
        <th>ส่งใบคำร้อง</th>
      {% endcomment %}
      <th></th>
    </tr>
    {% for student in students %}
      <tr>
	<td>{{ student.student_id }}</td>
	<td>{{ student.first_name }}</td>
	<td>{{ student.last_name  }}</td>
	<td>{{ student.department }}</td>
	<td>
	  {% if not student.has_registered_for_next_year %}
	    <a id="id_apply_{{ student.student_id }}" href="{% url 'add_internship_status' student.student_id %}" class="button small apply_links">สมัครฝึกงาน</a>
	  {% else %}
	    <div class="yes-icon">Yes</div>
	  {% endif %}
	</td>
        {% comment %}
  	  <td>
	    {% if not student.has_sent_request_form_for_next_year %}
	      <a href="#" class="button small">ส่งใบคำร้อง</a>
	    {% else %}
	      <div class="yes-icon">Yes</div>
	    {% endif %}
	  </td>
        {% endcomment %}
	<td>
	  <a href="{% url 'student_detail' student_id=student.student_id %}" class="green button small">ดูข้อมูลเพิ่มเติม</a>
	</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}

<script type="text/javascript">
  $(function() {
    {% for student in students %}
      {% if not student.has_registered_for_next_year %}
        $("#id_apply_{{ student.student_id }}").data("name","{{student.full_name}}").data("sid","{{ student.student_id }}");
      {% endif %}
    {% endfor %}
    $(".apply_links").click(function() {
      var t = $(this);
      return confirm("ต้องการสมัครฝึกงานให้กับ\n" +
        t.data("sid") + " " + t.data("name") + "\n" +
        "แน่ใจหรือไม่?"
      );
    });
  });
</script>
{% endblock content %}
