{% extends "regis/base.html" %}

{% block content %}

<h1>รายชื่อนิสิตทั้งหมดที่ยังไม่ได้ใบประเมินตอบกลับ เรียงตามภาควิชา ({{total_std}} คน)</h1>	
<ol id="pagination">
<li id="pagination-title">page</li> 
{% for i in pages %}
	<li {% if page_number ==  i %}class="selected">{{i}}{% else %}>
		<a href="{% url 'regis_student_list_all_student_no_eval' i %}">{{i}}</a>
		{% endif %}
	</li>
{% endfor %}
</ol>
<div id="clear"></div>
<br/>	
	<table cellpadding="2">
		<tr>
	    	<th>รหัสนิสิต</th>
	        <th>ชื่อ-นามสกุล</th>
	        <th>ภาควิชา</th>
	        <th>บริษัท</th>
	    </tr>
	    {% for student in students %}
	    <tr>
	    	<td>{{student.student_id}}</td>
	        <td>{{student.full_name}}</td>
	        {% if student.department %}<td>{{student.department}}</td>{% else %}<td class="errorlist">ไม่มีข้อมูล</td>{% endif %}
	        <td>{{student.intern_company_for_current_year }}</td>
	    </tr>
	    {% endfor %}
	</table>
</div>
<div id="clear">
{% endblock content %}
