<html>
<head>
<title>ใบรายงานรายชื่อนิสิตที่ได้รับแบบประเมินผลตอบกลับแล้ว | ระบบฝึกงาน คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์</title>
<style type="text/css">
table#eval_status,#wrap{
	width:100%;
}
th,#center{text-align:center;}
th#comments{
	width:40%;
}
</style>
</head>
<body>
<script language="javascript">
	function myprint()
	{
	window.print();
	}
</script>
<input name="btnPrint" type="button" id="btnPrint" value="สั่งพิมพ์" onClick="JavaScript:this.style.display='none';myprint();">
<div id="wrap">
<br/><br/>
<p id=center>
	ใบรายงานรายชื่อนิสิตที่ได้รับแบบประเมินผลตอบกลับแล้ว 
	{% if received_at and received_at == 'all' %}
		ทั้งหมด
	{% else %}
		{{received_at }}
	{% endif %}
	{% if department %}
		{{ department.name }}
	{% endif %}
	
</p>
<table id="eval_status" cellspacing=0 border=1>
  <tr>
    <th>รหัสนิสิต</th>
    <th>ชื่อ-นามสกุล</th>
    <th>สถานประกอบการ</th>
    <th id="comments">หมายเหตุ</th>
  </tr>
  {% for evaluation in evaluations %}
    {% with evaluation.student as student %}
      <tr>
	<td>{{ student.student_id }}</td>
	<td>{{ student.first_name }} {{ student.last_name }}</td>
	<td>{{ student.intern_company_for_current_year }}</td>
	<td>{% if evaluation.public_comments %}{{ evaluation.public_comments }}{% else %}&nbsp;{% endif %}</td>
      </tr>
    {% endwith %}
  {% endfor %}
</table>
</div>
</body>
</html>
