{% extends "regis/base.html" %}

{% block content %}
<div style="float: right">
  <a href="{% url 'student_detail' student.student_id %}"
     class="red button small">กลับไปหน้าข้อมูลนิสิต</a>
</div>

<h1>
  ข้อมูลการเข้าใช้งานของนิสิต {{ student.student_id }} {{ student.full_name }}
</h1>

<table class="info_list">
  <tr class="header">
    <th>เวลา</th>
    <th>ข้อความในบันทึก</th>
  </tr>
  {% for l in logs %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ l.created_at|date:"j b Y H:i" }}</td>
      <td>{{ l.message }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock content %}
