﻿{% extends "regis/base.html" %}

{% block content %}
<div style="float: right">
  {% if permission.can_view_grades %}
    <a href="{% url 'student_grades' student.student_id %}"
       class="blue button small">เกรด</a>
  {% endif %}
  <a href="{% url 'student_logs' student.student_id %}"
     class="blue button small">ข้อมูลการเข้าใช้งาน</a>
  {% if profile.is_sa_admin %}
    <a href="{% url 'student_edit_detail' student.student_id %}"
       class="orange button small">แก้ไขข้อมูล</a>
  {% endif %}
</div>
<h1>
  ข้อมูลนิสิต {{ student.student_id }} {{ student.full_name }}
</h1>

{% if notice %}
  <div class="notice">
    <span class="notice-text">{{ notice }}</span>
  </div>
{% endif %}

{% include "regis/student/include/personal_info.html" %}

<div class="form-section">
  {% include "regis/student/include/worktraining_info.html" %}

  <b>การสมัครฝึกงานปีการศึกษาหน้า (ปี {{ next_worktraining_year }}):</b> 
  {% if student.has_registered_for_next_year %}
    สมัครแล้ว ({{ next_status.registration_type_display }}) &nbsp; 
    {% if permission.can_cancel_registration %}
      <a class="button tiny red cancel_links" href="{% url 'cancel_internship' student.student_id %}">ยกเลิกการสมัคร</a>
      {% if next_status.is_registered_for_cooperative_education %}
        | <a class="button tiny blue change_type_links" href="{% url 'change_internship_type' student.student_id 1 %}">เปลี่ยนเป็นรูปแบบที่ 1</a>
        | <a class="button tiny blue change_type_links" href="{% url 'change_internship_type' student.student_id 2 %}">เปลี่ยนเป็นรูปแบบที่ 2</a>
      {% else %}
	{% if not next_status.is_registered_for_self_application %}
          | <a class="button tiny blue change_type_links" href="{% url 'change_internship_type' student.student_id 1 %}">เปลี่ยนเป็นรูปแบบที่ 1</a>
          | <a class="button tiny orange change_type_links" href="{% url 'change_internship_type' student.student_id 3 %}">เปลี่ยนเป็นสหกิจ</a>
	{% else %}
          {% if not self_appl_info.has_active %}
            | <a class="button tiny blue change_type_links" href="{% url 'change_internship_type' student.student_id 2 %}">เปลี่ยนเป็นรูปแบบที่ 2</a>
            | <a class="button tiny orange change_type_links" href="{% url 'change_internship_type' student.student_id 3 %}">เปลี่ยนเป็นสหกิจ</a>
          {% endif %}
	{% endif %}
      {% endif %}
    {% endif %}
    <div style="border: 1px solid #a0a0a0; border-radius: 3px; padding: 5px; margin-top: 5px;">
      {% include "regis/student/include/applying_info.html" %}
    </div>
  {% else %}
    ยังไม่สมัคร
  {% endif %}
</div>

<script type="text/javascript">
$(function(){
   $(".cancel_links").click(function(){
     return confirm("คุณแน่ใจที่จะยกเลิกการสมัครฝึกงานของ {{ student }} หรือไม่\nถ้าแน่ใจกรุณากดตกลง (OK)");
   });
   $(".change_type_links").click(function(){
     return confirm("คุณแน่ใจที่จะเปลี่ยนประเภทการสมัครเข้าฝึกงานของ {{ student }} หรือไม่\nถ้าแน่ใจกรุณากดตกลง (OK)");
   });
});
</script>
{% endblock content %}
