{% extends "regis/base.html" %}
{% block content %}
<h1>สถิติการสมัครเข้าฝึกงาน ภาคฤดูร้อน {{ year }}</h1>

<table class="info_list">
  <tr class="header">
    <th rowspan="2">ลำดับที่</th>
    <th rowspan="2">สาขาวิชา</th>
    <th colspan="3">จัดหาเอง</th>
    <th rowspan="2">ให้คณะจัดหา</th>
    <th rowspan="2">ยังไม่เลือก</th>
    <th rowspan="2">รวม</th>
  </tr>
  <tr class="header">
    <th>ได้ที่ฝึกแล้ว</th>
    <th>ยังไม่ได้ที่ฝึก</th>
    <th>รวม</th>
  </tr>
  {% for d in departments %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ d }}</td>
      {% comment %}
      <td><a target="_blank" href="{% url 'committee_student_appl_list_company_requests' d.code %}">{{ d.stats.1 }}</a></td>
      <td><a target="_blank" href="{% url 'committee_student_appl_list_company_direct_applications' d.code %}">{{ d.stats.2 }}</a></td>
      {% endcomment %}
      <td class="center">{{ d.stats.own_selection_accepted }}</td>
      <td class="center">{{ d.stats.own_selection_not_accepted }}</td>
      <td class="center">{{ d.stats.own_selection }}</td>
      <td class="center">{{ d.stats.faculty_selection }}</td>
      <td class="center">{{ d.stats.no_pref }}</td>
      <td class="center">{{ d.stats.no_pref|add:d.stats.faculty_selection|add:d.stats.own_selection }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
