{% extends "regis/base.html" %}

{% block content %}
{% if regtype_label == '' %}
  <h1>รายชื่อนิสิตทั้งหมดที่สมัครขอเข้าฝึกงาน ({{total_std}} คน)</h1>
{% else %}
  <h1>รายชื่อนิสิตสมัครขอเข้าฝึกงาน: {{ regtype_label }} จำนวน ({{total_std}} คน)</h1>
{% endif %}

แสดงรายชื่อตามประเภทการสมัคร: 
{% for rc in regtype_counts %}
  <a class="button small blue" href="{% url 'listall_student_registered' 1 %}?regtype={{ rc.id }}">{{ rc.label }} ({{ rc.count }})</a>
{% endfor %}
<a class="button small green" href="{% url 'listall_student_registered' 1 %}">แสดงรวมทั้งหมด ({{ total_all_regtype }})</a>
<a class="button small green" href="{% url 'listall_registered_stats' %}">สถิติแยกตามสาขา</a>

<ol id="pagination">
<li id="pagination-title">page</li> 
{% for i in pages %}
	<li {% if page_number ==  i %}class="selected">{{i}}{% else %}>
		<a href="{% url 'listall_student_registered' i %}">{{i}}</a>
		{% endif %}
	</li>
{% endfor %}
</ol>
<div id="clear"></div>
<br/>	
	<table cellpadding="2" class="info_list">
		<tr class="header">
	    <th>รหัสนิสิต</th>
	    <th>ชื่อ-นามสกุล</th>
	    <th>หน่วยงาน</th>
      <th>ประเภทการสมัคร</th>
	  </tr>
	  {% for student in students %}
	    <tr class="{% cycle 'odd' 'even' %}">
	    	<td>{{student.student_id}}</td>
	      <td><a href="{% url 'student_detail' student_id=student.student_id %}">{{student.full_name}}</a></td>
	      <td style="text-align: center">
          {% if student.intern_company_for_current_year %}
            {{student.intern_company_for_current_year }}
          {% else %}
            -
          {% endif %}
        </td>
        <td>
          {{ student.current_status.registration_type_display }}
        </td>
	    </tr>
	  {% endfor %}
	</table>
</div>
<div id="clear">
{% endblock content %}

