{% extends "regis/base.html" %}
{% block content %}
<h2>การตั้งค่า</h2>
<table>
  <tr>
    <th>ชื่อค่า</th>
    <th>ค่า</th>
  </tr>
  {% for config in configs %}
    <tr>
      <td>
	{{ config.title }}
      </td>
      <td>
	<form action="{% url 'regis_config_update' config.id %}" method="post">
	  <input name="value" type="text" size="50" value="{{ config.value }}"/>
	  <input type="submit" value="จัดเก็บ"/>
	</form>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
	<small>
	  {{ config.help_text }}
	</small>
      </td>
    </tr>
  {% endfor %}
  <tr>
	<a href="{% url 'regis_config_terms' %}" class="green button">แก้ไขรายละเอียดและข้อตกลงในการฝึกงาน</a>
  </tr>
</table>
{% endblock %}
