{% extends "regis/base.html" %}

{% block content %}
	<h1>แก้ไขรายละเอียดและข้อตกลงในการฝึกงาน</h1>
	<p>
	<form action="{% url 'regis_config_terms' %}" method="POST">
		{{ form.as_table }}
		<input type="submit" value="Edit"/> 
	</form>
	</p>
{% endblock %}
