{% extends "regis/base.html" %}

{% block extra-head %}
  {% include "include/jquery_scripts.html" %}
{% endblock %}

{% block content %}

<div style="float: right;">
  <strong>สถานะการบันทึกข้อมูล:</strong>
  {% if evaluation %}
    บันทึกครั้งแรกเมื่อ: {{ evaluation.created_at }}
  {% else %}
    ยังไม่เคยบันทึกมาก่อน
  {% endif %}
</div>
<h2>แบบบันทึกแบบประเมินของ {{ student.student_id }} {{ student.full_name }}</h2>
<p>
  <strong>ฝึกงานที่:</strong>
  {{ assignment.get_company_name }}
  {% if company %}({{ company.short_name }}){% endif %}
</p>
<form action="" method="post">
  <p>
    วันที่ได้รับจดหมาย {{ form.received_at }} {{ form.received_at.errors }}
    <small>
      [<a id="id_set_today_received_date" href="#">วันนี้</a>]
      [<a id="id_set_yesterday_received_date" href="#">เมื่อวาน</a>]
    </small>
    &nbsp;&nbsp;&nbsp;&nbsp;
    เลขรับจดหมาย {{ form.number }} {{ form.number.errors }}
  </p>
  <div class="form-section">
    <p>
      <b>แบบประเมิน:</b>
      {{ form.evaluation_form_received }} {{ form.evaluation_form_received.errors }}
      ได้รับแบบประเมินแล้ว
    </p>
    <div id="#evaluation-form-details">
      <table>
	<tr>
	  <td>
	    วันที่เริ่มฝึกงาน: 
	    {{ form.beginning_date }} {{ form.beginning_date.errors }}
	    <small>
	      [<a id="id_set_default_beginning_date" href="#">ใช้ตามกำหนดคณะ</a>]
	    </small>
	  </td>
	  <td>
	    วันสิ้นสุดการฝึกงาน: 
	    {{ form.end_date }} {{ form.end_date.errors }}
	    <small>
	      [<a id="id_set_default_end_date" href="#">ใช้ตามกำหนดคณะ</a>]
	    </small>
	  </td>
	</tr>
	<tr>
	  <td colspan="2">
	    เวลาทำงานรวม
	    {{ form.num_working_days }} วัน {{ form.num_working_days.errors }}
	  </td>
	</tr>
	<tr>
	  <td>
	    จำนวนวันที่มาสาย
	    {{ form.num_late_days }} {{ form.num_late_days.errors }}
	  </td>
	  <td>
	    จำนวนวันที่ลากิจ
	    {{ form.num_personal_leave_days }} {{ form.num_personal_leave_days.errors }}
	  </td>
	</tr>
	<tr>
	  <td>
	    จำนวนวันที่ลาป่วย
	    {{ form.num_heath_leave_days }} {{ form.num_heath_leave_days.errors }}
	  </td>
	  <td>
	    จำนวนวันที่ขาดงาน
	    {{ form.num_absent_leave_days }} {{ form.num_absent_leave_days.errors }}
	  </td>
	</tr>
      </table>
    </div>
  </div>
  <div class="form-section">
    {% include "evaluations/include/eval_form.html" %}
  </div>
  <div class="form-section">
    <p>
      <b>ใบลงเวลา:</b>
      {{ form.timesheet_received }} {{ form.timesheet_received.errors }}
      ได้รับใบลงเวลาแล้ว 
    </p>
  </div>
  <div class="form-section">
    <div id="#evaluation-form-details">
      <table>
	<tr>
	  <td>
	    หมายเหตุสำหรับนิสิต: 
	    {{ form.public_comments }} {{ form.public_comments.errors }}
	  </td>
	</tr>
	<tr>
	  <td>
	    หมายเหตุภายใน (ไม่แสดงกับนิสิต): 
	    {{ form.internal_comments }} {{ form.internal_comments.errors }} <br/>
	  </td>
	</tr>
      </table>
    </div>
  </div>
  <input id="id_evaluation_form_save" name="okay" type="submit" value="จัดเก็บแบบประเมิน"/>
</form>

<script type="text/javascript">
  function assign_set_default_date(link_sel, input_sel, date_str) {
    $(link_sel).click(function() {
      $(input_sel).val(date_str);
      return false;
    });
  }
  function validate_score_form() {
    $(".eval-score-input-errors").hide();
    var error = false;
    $(".eval-score-inputs").each(function(i,elt){
      var v = jQuery.trim($(elt).val());
      $(elt).val(v);
      if(['','1','2','3','4','5'].indexOf(v) == -1) {
        error = true;
        $(elt).parents('td').first().find('.eval-score-input-errors').show();
      }
    });
    return ! error;
  }
  $(function() {
    $("#id_beginning_date").
     add("#id_end_date").
                      datepicker({dateFormat: "yy-mm-dd"});
    assign_set_default_date("#id_set_today_received_date",
                            "#id_received_at",
                            "{{ today_date }}");
    assign_set_default_date("#id_set_yesterday_received_date",
                            "#id_received_at",
                            "{{ yesterday_date }}");
    assign_set_default_date("#id_set_default_beginning_date",
                            "#id_beginning_date",
                            "{{ default_beginning_date }}");
    assign_set_default_date("#id_set_default_end_date",
                            "#id_end_date",
                            "{{ default_end_date }}");
    
    if($("#id_evaluation_form_received").attr("checked")) {
      $("#score_form_id").show();
    }
    
    $("#id_evaluation_form_received").click(function() {
      if($(this).attr("checked")) {
        $("#score_form_id").slideDown();
      } else {
        $("#score_form_id").slideUp();
      }
    });
    
    $("#id_evaluation_form_save").click(function() {
      // validate if at least one form is received
      if(!$("#id_evaluation_form_received").attr("checked") &&
         !$("#id_timesheet_received").attr("checked")) {
        if(!confirm("คุณยังไม่ได้ระบุว่าได้รับฟอร์มใดบ้างเลย กรุณาตรวจสอบ\nถ้าแน่ใจและต้องการบันทึกว่ายังไม่ได้รับฟอร์มใดเลย ให้กดปุ่มยืนยัน (หรือ OK)")) {
          return false;
        }
      }
      if(!validate_score_form()) {
        alert("ไม่สามารถจัดเก็บได้ มีข้อมูลในตารางคะแนนประเมินที่ผิดพลาด");
        return false;
      }
      return true;
    });
  });
</script>
{% endblock %}
