{% extends "base.html" %}
{% load wt_format  %}

{% block extra-head %}
  {% include "include/jquery_scripts.html" %}
{% endblock %}

{% block content %}

  <h1>การประเมินผลนิสิตฝึกงาน ปีการศึกษา {{ year }}</h1>

  
  <div class="form-section" style="padding: 10px; background-color: #aaffaa;">
    <b>ระบบยังอยู่ระหว่างการพัฒนา</b> จะสามารถบันทึกได้ภายในวันที่ 4 ก.ค. 2562.
    ทีมงานขออภัยมา ณ ที่นี้
    <br>
    <br>
    <b>Under construction.</b>
    Sorry! The evaluation system will be available by July 4, 2019.
  </div>
{% endblock %}
