{% extends "base.html" %}
{% load wt_format  %}
{% load wt_media %}

{% block extra-head %}
  {% include "include/jquery_scripts.html" %}
{% endblock %}

{% block content %}
  <div style="float: right;">
    <a href="#" class="button small" id="language_toggle_id">
      <span class="thai-labels">EN - View form in English</span>
      <span class="eng-labels">TH - แสดงฟอร์มเป็นภาษาไทย</span>
    </a>
  </div>
  <h1>
    <span class="thai-labels">การประเมินผลนิสิตฝึกงาน ปีการศึกษา {{ year }}</span>
    <span class="eng-labels">Internship Evaluation - Academic year {{ eng_year }}</span>
  </h1>

  <div class="form-section" style="padding: 10px; border: 0;">
    <span class="thai-labels">ดาวน์โหลดฟอร์มเพื่อส่งแบบประเมินแบบกระดาษ <a class="button small" target="_blank" href="{% media_url %}/files/wt-evaluation-form-th.pdf">ดาวน์โหลดเอกสาร</a></span>
    <span class="eng-labels">You can submit the student's evaluation in paperwork. <a class="button small" target="_blank" href="{% media_url %}/files/wt-evaluation-form-eng.pdf">Download the evaluation form</a></span>
  </div>
  
  {% if is_success %}
    <div class="form-section" style="padding: 10px; background-color: #aaffaa;">
      <span class="thai-labels"><b>จัดเก็บผลการประเมินเรียบร้อยแล้ว</b> คุณสามารถปิดบราวเซอร์หน้านี้ได้ คณะวิศวกรรมศาสตร์ขอแสดงความขอบคุณหน่วยงานที่อนุเคราะห์รับนิสิตเข้าฝึกงาน  ด้านล่างเป็นข้อมูลที่คุณได้จัดเก็บไป ถ้าต้องการแก้ไข กรุณาติดต่อคณะวิศวกรรมศาสตร์</span>
      <span class="eng-labels"><b>Successfully submitted the evaluation form.</b> You can close this browser. Below are the information that you have just submitted. <br>Faculty of Engineering, Kasetsart University would like to thank your company or institute for providing internship opportunities to our students.</span>
    </div>
  {% endif %}
  
  <form method="post" action="">
    <div class="form-section" style="padding:10px">
      <span class="thai-labels">ชื่อนิสิต:</span>
      <span class="eng-labels">Name of student:</span>
      {{ student }}
      &nbsp;&nbsp;&nbsp;
      <span class="thai-labels">รหัสประจำตัว:</span>
      <span class="eng-labels">Student ID:</span>
      {{ student.student_id }}
      &nbsp;&nbsp;&nbsp;
      <span class="thai-labels">หน่วยงาน:</span>
      <span class="eng-labels">Name of company/institute:</span>
      {{ company_name }}
    </div>

    <div class="form-section">
      <span class="thai-labels">ลักษณะงานที่ฝึก:</span>
      <span class="eng-labels">Job descriptions:</span>
      {{ form.comment_job_description }}{{ form.comment_job_description.errors }}
    </div>
    
    <div class="form-section" id="#evaluation-form-details" style="display:none;">
      <b>รายละเอียดการทำงาน</b>
      <table>
	<tr>
	  <td>
	    วันที่เริ่มฝึกงาน: 
	    {{ form.beginning_date }} {{ form.beginning_date.errors }}
	    <small>
	      [<a id="id_set_default_beginning_date" href="#">ใช้ตามกำหนดคณะ</a>]
	    </small>
	  </td>
	  <td>
	    วันสิ้นสุดการฝึกงาน: 
	    {{ form.end_date }} {{ form.end_date.errors }}
	    <small>
	      [<a id="id_set_default_end_date" href="#">ใช้ตามกำหนดคณะ</a>]
	    </small>
	  </td>
	</tr>
	<tr>
	  <td colspan="2">
	    เวลาทำงานรวม
	    {{ form.num_working_days }} วัน {{ form.num_working_days.errors }}
	  </td>
	</tr>
	<tr>
	  <td>
	    จำนวนวันที่มาสาย
	    {{ form.num_late_days }} {{ form.num_late_days.errors }}
	  </td>
	  <td>
	    จำนวนวันที่ลากิจ
	    {{ form.num_personal_leave_days }} {{ form.num_personal_leave_days.errors }}
	  </td>
	</tr>
	<tr>
	  <td>
	    จำนวนวันที่ลาป่วย
	    {{ form.num_heath_leave_days }} {{ form.num_heath_leave_days.errors }}
	  </td>
	  <td>
	    จำนวนวันที่ขาดงาน
	    {{ form.num_absent_leave_days }} {{ form.num_absent_leave_days.errors }}<br>
            <small>(ลาโดยไม่แจ้งให้หน่วยงานทราบ)</small>
	  </td>
	</tr>
      </table>
    </div>
    <div class="form-section">
      <span class="thai-labels">
        <b>ประเมินนิสิต</b> กรุณาระบุคะแนนในแต่ละประเด็น คะแนนอยู่ระหว่าง
        <b>5 (ดีมาก)</b> - <b>1 (ใช้ไม่ได้)</b>
      </span>
      <span class="eng-labels">
        <b>Evaluations</b> Please rate the student on the items below.  The score for each item is from <b>5 (Execellent)</b> to <b>1 (Poor)</b>.
      </span>
      {% include "evaluations/include/eval_form.html" %}
    </div>

    <div class="form-section thai-labels">
      <b>ความคิดเห็นและข้อเสนอแนะของผู้ควบคุมการฝึกงาน</b><br>
      {% include "evaluations/include/eval_comment_form.html" %}
    </div>

    <div class="form-section eng-labels">
      {% include "evaluations/include/eval_comment_form_eng.html" %}
    </div>

    <div class="form-section">
      <table>
        <tr>
          <td>
            <span class="thai-labels">ชื่อผู้ประเมิน</span>
            <span class="eng-labels">Evaluator's name</span>
          </td>
          <td>
            {{ form.evaluator_name }} {{ form.evaluator_name.errors }}
          </td>
        </tr>
        <tr>
          <td>
            <span class="thai-labels">ตำแหน่งผู้ประเมิน</span>
            <span class="eng-labels">Position</span>
          </td>
          <td>
            {{ form.evaluator_position }} {{ form.evaluator_position.errors }}
          </td>
        </tr>
        <tr>
          <td>
            <span class="thai-labels">อีเมลผู้ประเมิน</span>
            <span class="eng-labels">E-mail</span>
          </td>
          <td>
            {{ form.evaluator_email }} {{ form.evaluator_email.errors }}
          </td>
        </tr>
      </table>
    </div>

    <input id="form_lang_id" type="hidden" name="lang" value="thai"/>
    <div class="form-section form-submission-section">
      <span class="thai-labels"><input id="id_evaluation_form_save" name="okay" type="submit" value="จัดเก็บแบบประเมิน"/></span>
      <span class="eng-labels"><input id="id_evaluation_form_save_eng" name="eng_okay" type="submit" value="Submit the evaluation"/></span>
    </div>
  </form>

  <script>
    var formLanguage = '';
    
    function assign_set_default_date(link_sel, input_sel, date_str) {
      $(link_sel).click(function() {
        $(input_sel).val(date_str);
        return false;
      });
    }
    function validate_score_form() {
      $(".eval-score-input-errors").hide();
      var error = false;
      $(".eval-score-inputs").each(function(i,elt){
        var v = jQuery.trim($(elt).val());
        $(elt).val(v);
        if(['1','2','3','4','5'].indexOf(v) == -1) {
          error = true;
          $(elt).parents('td').first().find('.eval-score-input-errors').show();
        }
      });
      return ! error;
    }
    
    $(function(){
      $(".score_form_toggle_messages").hide();
      $("#score_form_id").show();

      $("#id_evaluation_form_save").click(function() {
        if(!validate_score_form()) {
          alert("ไม่สามารถจัดเก็บได้ มีข้อมูลในตารางคะแนนประเมินที่ผิดพลาด");
          return false;
        }
        if(($("#id_evaluator_name").val().trim() == '') ||
           ($("#id_evaluator_position").val().trim() == '') ||
           ($("#id_evaluator_email").val().trim() == '')) {
          alert("กรุณาป้อนชื่อผู้ประเมิน ตำแหน่ง และอีเมล");
          return false;
        }
        if(($("#id_comment_knowledge").val().trim() == '') ||
           ($("#id_comment_additional_training").val().trim() == '') ||
           ($("#id_comment_probation").val().trim() == '') ||
           ($("#id_comment_requirements").val().trim() == '')) {
          alert("กรุณาระบุความเห็นให้ครบทุกประเด็น ถ้าไม่ต้องการแสดงความเห็นให้ระบุ -");
          return false;
        }
        
        $('#form_lang_id').val(formLanguage);

        return comfirm('คุณสามารถส่งแบบประเมินได้ครั้งเดียว กรุณายืนยันว่าต้องการส่งแบบประเมินนี้');
      });

      $("#id_evaluation_form_save_eng").click(function() {
        if(!validate_score_form()) {
          alert("Error.  There are errors in some of the scores.");
          return false;
        }
        if(($("#id_evaluator_name").val().trim() == '') ||
           ($("#id_evaluator_position").val().trim() == '') ||
           ($("#id_evaluator_email").val().trim() == '')) {
          alert("Please enter the evaluator's name, position, and email ");
          return false;
        }

        $('#form_lang_id').val(formLanguage);
        
        return confirm('You can only submit the evaluation once.  Please confirm that you want to submit the evaluation.');
      });

      $("#id_beginning_date").datepicker({dateFormat: "yy-mm-dd"});
      $("#id_end_date").datepicker({dateFormat: "yy-mm-dd"});

      assign_set_default_date("#id_set_default_beginning_date",
                              "#id_beginning_date",
                              "{{ default_beginning_date }}");
      assign_set_default_date("#id_set_default_end_date",
                              "#id_end_date",
                              "{{ default_end_date }}");

      {% if language == 'english' %}
      $(".thai-labels").hide();
      formLanguage = 'en';
      {% else %} 
      $(".eng-labels").hide();
      formLanguage = 'th';
      {% endif %}


      {% if is_success %}
      $('input').attr('readonly','readonly');
      $('textarea').attr('readonly','readonly');
      $('select').attr('readonly','readonly');
      $('.form-submission-section').hide();
      $('#language_toggle_id').hide();
      {% endif %}
    });

    $('#language_toggle_id').click(function(){
      if(formLanguage == 'th') {
        formLanguage = 'en';
        $('.eng-labels').show();
        $('.thai-labels').hide();
      } else {
        formLanguage = 'th';
        $('.eng-labels').hide();
        $('.thai-labels').show();
      }
      return false;
    });
  </script>
{% endblock %}
