{% extends "base.html" %}
{% load wt_format  %}

{% block extra-head %}
  {% include "include/jquery_scripts.html" %}
{% endblock %}

{% block content %}
  <div style="float: right;">
    <a href="#" class="button small" id="language_toggle_id">
      <span class="thai-labels">EN - View in English</span>
      <span class="eng-labels">TH - แสดงเป็นภาษาไทย</span>
    </a>
  </div>
  <h1>
    <span class="thai-labels">การประเมินผลนิสิตฝึกงาน ปีการศึกษา {{ year }}</span>
    <span class="eng-labels">Internship Evaluation - Academic year {{ eng_year }}</span>
  </h1>

  <div class="form-section" style="padding:10px">
    <span class="thai-labels">ชื่อนิสิต:</span>
    <span class="eng-labels">Name of student:</span>
    {{ student }}
    &nbsp;&nbsp;&nbsp;
    <span class="thai-labels">รหัสประจำตัว:</span>
    <span class="eng-labels">Student ID:</span>
    {{ student.student_id }}
    &nbsp;&nbsp;&nbsp;
    <span class="thai-labels">หน่วยงาน:</span>
    <span class="eng-labels">Name of company/institute:</span>
    {{ company_name }}
  </div>

  <div class="form-section" style="padding: 10px;">
    <span class="thai-labels"><b>ผลการประเมินได้รับการส่งเรียบร้อยแล้วเมื่อ {{ evaluation.created_at }} (โดย {{ evaluation.evaluator_name }})</b><br>
      คณะวิศวกรรมศาสตร์ขอแสดงความขอบคุณหน่วยงานที่อนุเคราะห์รับนิสิตเข้าฝึกงาน  ด้านล่างเป็นข้อมูลที่คุณได้จัดเก็บไป ถ้าต้องการแก้ไข กรุณาติดต่อคณะวิศวกรรมศาสตร์<br>
      <br>
      ถ้าไม่ได้มีการส่งแบบประเมิน อาจเกิดข้อผิดพลาดในกระบวนการส่งแบบประเมิน หรือเกิดการทุจริตขึ้น  กรุณาติดต่อแจ้งคณะวิศวกรรมศาสตร์เพื่อดำเนินการตรวจสอบต่อไป ขอขอบคุณมา ณ ที่นี้
    </span>
    <span class="eng-labels">
      <b>The evaluation form has been succesfully submitted on {{ evaluation.created_at }} (by {{ evaluation.evaluator_name }})</b><br>
      Faculty of Engineering, Kasetsart University would like to thank your company or institute for providing internship opportunities to our students.<br>
      <br>
      If you have not submitted the evaluation form, there might be issues with the evaluation process.  Please contact the Faculty of Engineering to report this incident.
    </span>
  </div>

  <script>
   var formLanguage = '';
   
   $(function(){
     {% if language == 'english' %}
     $(".thai-labels").hide();
     formLanguage = 'en';
     {% else %} 
     $(".eng-labels").hide();
     formLanguage = 'th';
     {% endif %}
   });
   
   $('#language_toggle_id').click(function(){
     if(formLanguage == 'th') {
       formLanguage = 'en';
       $('.eng-labels').show();
       $('.thai-labels').hide();
     } else {
       formLanguage = 'th';
       $('.eng-labels').hide();
       $('.thai-labels').show();
     }
     return false;
   });
  </script>
{% endblock %}
