{% extends "regis/base.html" %}
{% load wt_format  %}

{% block extra-head %}
  {% include "include/jquery_scripts.html" %}
{% endblock %}

{% block content %}
<h1>แบบประเมินผล: รายการของวันนี้</h2>
{% if evaluations %}
  {% include "evaluations/include/eval_list.html" %}
{% else %}
  <p>- ยังไม่มีรายการ</p>
{% endif %}

<h2>รายการของเมื่อวาน</h2>
{% if recent_evaluations %}
  {% with recent_evaluations as evaluations %}
    {% include "evaluations/include/eval_list.html" %}
  {% endwith %}
{% else %}
  <p>- ไม่มีรายการ</p>
{% endif %}

<script type="text/javascript">
 $(function(){
   {% if student %}
     $("#eval_form_submit_id").focus();
   {% endif %}
 });
</script>
{% endblock %}
