{% extends "regis/base.html" %}
{% load wt_format  %}

{% block extra-head %}
  {% include "include/jquery_scripts.html" %}
{% endblock %}

{% block content %}

  {% if notice %}
    <div class="notice">
      <span class="notice-text">{{ notice }}</span>
    </div>
  {% endif %}
  
  {% if error %}
    <div class="notice">
      <span class="notice-text">{{ error }}</span>
    </div>
  {% endif %}
  
<h1>ค้นหาและบันทึกแบบประเมินผล</h1>
<form class="form-section" action="{% url 'evaluations_search' %}" method="post">
  <p style="text-align: center; font-size: 130%;">
    รหัสประจำตัวนิสิต:
    <input style="font-size: 130%" name="student_id" value="{{ student_id }}">
    <input class="button" type="submit" name="ok" value="ค้นข้อมูล">
  </p>
</form>

{% if student %}
  <form class="form-section" style="font-size: 130%" action="{% url 'evaluations_submission' assignment.id|default:'0' %}" method="post">
    {% if evaluation %}
      <div style="float: right;">
        เคยบันทึกผลแล้ว ({{ evaluation.number }}/{% thai_short_date evaluation.received_at %})
      </div>
    {% endif %}
    <h1>{{ student.student_id }} {{ student }}</h1>
    {% if assignment %}
      หน่วยงาน: {{ assignment.get_company_name }}
      <ul>
        <li>
          แบบประเมิน:
          <input style="transform: scale(1.5)" type="checkbox" name="evaluation_form_received" {% if evaluation %}{% if evaluation.evaluation_form_received %}checked{% endif %}{% else %}checked{% endif %}>
        </li>
        <li>
          ใบลงเวลา:
          <input style="transform: scale(1.5)" type="checkbox" name="timesheet_received" {% if evaluation %}{% if evaluation.timesheet_received %}checked{% endif %}{% else %}checked{% endif %}>
        </li>
      </ul>
      <input id="eval_form_submit_id" class="button large" type="submit" name="ok" value="บันทึกผล">
    {% else %}
      <span style="color: white; background: #e03030; padding: 2px 20px 2px 20px; border-radius:5px;">ไม่พบข้อมูลการฝึกงาน</span>
    {% endif %}
  </form>
{% endif %}

{% if recent_evaluations %}
  <h2>รายการล่าสุดของวันนี้ (ไม่เกิน 10 รายการ)</h2>
  {% with recent_evaluations as evaluations %}
    {% include "evaluations/include/eval_list.html" %}
  {% endwith %}
{% endif %}

<script type="text/javascript">
 $(function(){
   {% if student %}
     $("#eval_form_submit_id").focus();
   {% endif %}
 });
</script>
{% endblock %}
