{% extends "base.html" %}
{% load wt_format  %}

{% block extra-head %}
  {% include "include/jquery_scripts.html" %}
{% endblock %}

{% block content %}
  <div style="float: right; display: none;">
    <a href="#" class="button small" id="language_toggle_id">
      <span class="thai-labels">EN - View form in English</span>
      <span class="eng-labels">TH - แสดงฟอร์มเป็นภาษาไทย</span>
    </a>
  </div>
  <h1>
    <span class="thai-labels">การประเมินผลนิสิตฝึกงาน ปีการศึกษา {{ year }}</span><br>
    <span class="eng-labels">Internship Evaluation - Academic year {{ eng_year }}</span>
  </h1>

  {% if error %}
    <div class="form-section" style="background: #ffa0a0;">
      <b>Sorry.</b>  Evaluation form not found.  Please check the student code and the password.
    </div>
  {% endif %}
  
  <form method="post">
    กรุณาป้อนข้อมูลเพื่อเปิดแบบประเมิน Please enter the information to see the evaluation form.
    <div class="form-section form-submission-section">
      <table>
        <tr>
          <td style="text-align: right;">รหัสแทนนิสิต (Student Code):</td>
          <td>
            <input name="student_code" value="{{ student_code }}">
          </td>
        </tr>
        <tr>
          <td style="text-align: right;">รหัสผ่าน (Password):</td>
          <td>
            <input name="pass_code" value="{{ pass_code }}">
          </td>
        </tr>
      </table>
    </div>
    <div class="form-section form-submission-section">
      <span class="thai-labels"><input id="id_evaluation_form_save" name="okay" type="submit" value="เปิดแบบประเมิน (Go to the form)"/></span>
    </div>
  </form>

  <script>
  </script>
{% endblock %}
