{% extends "base.html" %}
{% load wt_format  %}

{% block extra-head %}
  {% include "include/jquery_scripts.html" %}
{% endblock %}

{% block content %}

<h1>การประเมินผลนิสิตฝึกงาน ปีการศึกษา {{ year }}</h1>

<div class="form-section" style="padding:10px">
  <p>
    {% if student %}
      <b>ขออภัย</b> ไม่พบข้อมูลสำหรับการกรอกแบบประเมินของ {{ student }} ({{ student.student_id }})
      <br>
      <b>Sorry!</b> No evaluation information for {{ student }} ({{ student.student_id }}).
    {% else %}
      <b>ขออภัย</b> ไม่พบข้อมูลสำหรับการกรอกแบบประเมิน
      <br>
      <b>Sorry!</b> Evaluation information not found.
    {% endif %}
  </p>
  <p>
    กรุณาตรวจสอบ URL ที่ได้รับอีกครั้ง อาจมีความผิดพลาดในการคัดลอก URL สำหรับการประเมิน<br>
    Please recheck the URL.
  </p>
</div>

{% endblock %}
