{% extends "std/base.html" %}

{% block title %}ข้อตกลงการฝึกงาน{% endblock %}
{% load wt_media %}

{% block content %}
<h1>สมัครเข้าฝึกงานหรือสหกิจศึกษา: {{ student.full_name }}</h1>
{% if not credit_validation %}
  <div class="form-section">
    ตามระเบียบแล้วนิสิตจะต้องมีหน่วยกิตสะสมอย่างน้อย 60 หน่วยจึงจะสามารถสมัครฝึกงานได้ &nbsp; เนื่องจากระบบยังไม่มีข้อมูลดังกล่าว ระบบจึงอนุญาตให้นิสิตสมัครฝึกงานก่อน แต่ถ้าภายหลังพบว่านิสิตมีหน่วยกิตไม่ครบ การสมัครในครั้งนี้จะถูกยกเลิกไปโดยอัตโนมัติ
  </div>
{% endif %}
<p>
  กรุณาอ่านระเบียบและขั้นตอนเกี่ยวกับการฝึกงานและสหกิจศึกษาด้านล่างนี้ และกดตกลงตามเงื่อนไขในตอนท้ายหน้านี้เพื่อสมัครเข้าฝึกงานหรือสหกิจศึกษา<br>
  <span style="color:red; font-size:120%"><b>ถ้านิสิตยังไม่กดตกลงเงื่อนไข จะถือว่าการสมัครยังไม่สมบูรณ์</b></span><br>
  <b>เมื่อตกลงเงื่อนไขแล้วจะถือว่าการสมัครสมบูรณ์</b> นิสิตจะสามารถเลือกว่าจะฝึกงานหรือฝึกสหกิจศึกษาได้ในหน้าถัดไป
</p>
<div class="form-section">
  {% include "std/include/agreement_text.html" %}
</div>
<p>
  <form action="{% url 'std_checkstatus' %}" method="POST">
    <input class="button red" type="submit" name="cancel" value="ไม่ตกลงตามเงื่อนไข"/>
    <input id="accept_type0_button_id" class="button blue" type="submit" name="accept_type0" value="ข้าพเจ้าอ่านและตกลงตามเงื่อนไขข้างต้นและสมัครฝึกงานหรือสหกิจศึกษา"/>
    <input style="display: none;" id="accept_type1_button_id" class="button blue" type="submit" name="accept_type1" value="ข้าพเจ้าอ่านและตกลงตามเงื่อนไขข้างต้นและขอสมัครฝึกงาน"/>
    <input style="display: none;" id="accept_type2_button_id" class="button blue" type="submit" name="accept_type2" value="ข้าพเจ้าอ่านและตกลงตามเงื่อนไขข้างต้นและขอสมัครแบบที่ 2"/>
    <input style="display: none;" id="accept_type3_button_id" class="button blue" type="submit" name="accept_type3" value="ข้าพเจ้าอ่านและตกลงตามเงื่อนไขข้างต้นและขอสมัครฝึกสหกิจศึกษา"/>
  </form>
</p>
<p style="color: #303030;">
  <small>
    <b>หมายเหตุ:</b> นิสิตสามารถสอบถามรายละเอียด และติดตามข่าวสารการฝึกงานได้ที่
    <a href="https://www.facebook.com/internship.eng.ku" target="_blank">facebook page</a>
  </small>
</p>
<script>
 $(function(){
   $("#accept_type1_button_id").click(function(){
     return confirm("คุณได้อ่านข้อตกลงและแน่ใจที่จะสมัครฝึกงาน โดยจัดหาหน่วยงานเอง หรือไม่\nถ้าแน่ใจกด OK หรือ ตกลง");
   });
   $("#accept_type2_button_id").click(function(){
     return confirm("คุณได้อ่านข้อตกลงและแน่ใจที่จะสมัครในแบบที่ 2 (ให้คณะจัดหาหน่วยงานให้) หรือไม่\nถ้าแน่ใจกด OK หรือ ตกลง");
   });
   $("#accept_type3_button_id").click(function(){
     return confirm("คุณได้อ่านข้อตกลงและแน่ใจที่จะสมัครโครงการสหกิจศึกษาหรือไม่\nถ้าแน่ใจกด OK หรือ ตกลง");
   });
 });
</script>
{% endblock content %}
