{% extends "std/base.html" %}

{% load wt_media %}

{% block content %}
<h1>ขออภัย {{ student.full_name }}</h1>
<p class="error_message">
  หมดเขตการขอเข้าฝึกงานในภาคการศึกษาหน้าแล้ว
</p>
<p>
  อย่างไรก็ตาม
ถ้าคุณคิดว่าคุณได้สมัครในเวลาหรือมีเหตุผลจำเป็นหรือมีปัญหาเกี่ยวกับด้านเทคนิค
คุณสามารถติดต่อหน่วยกิจการนิสิตเพื่อสอบถามได้
</p>
{% endblock content %}
