{% extends "std/base.html" %}

{% load wt_media %}

{% block content %}
<h1>ขออภัย {{ student.full_name }}</h1>
<p class="error_message">
  จากข้อมูลในระบบที่เรามี จำนวนหน่วยกิตของคุณไม่เพียงพอต่อการฝึกงาน
</p>
<p>
  จำนวนหน่วยกิตที่ต้องการคือ {{required_credits}} 
  {% if current_credits %}
    แต่หน่วยกิตสะสมปัจจุบันคือ <font color=red>{{ current_credits }}</font>
  {% else %}
    แต่ขณะนี้ในระบบไม่มีข้อมูลหน่วยกิตของคุณ
  {% endif %}
</p>
{% comment %}
<p>
  ทั้งนี้อาจมีสาเหตุมาจากข้อมูลหน่วยกิตของเรายังไม่ตรงกับข้อมูลจริงในวันนี้ ทางทีมงานจะทยอยปรับปรุงข้อมูลให้ตรงกับความเป็นจริงให้เรียบร้อยเร็ว ๆ นี้
</p>
{% endcomment %}
<p>
  อย่างไรก็ตาม ถ้าตามข้อมูลจริงแล้ว หน่วยกิตของคุณถึงเกณฑ์ที่กำหนด คือ {{ required_credits }} หน่วย คุณสามารถสมัครเข้าฝึกงานได้ ผ่านทางกรรมการกิจการนิสิตประจำภาควิชา โดยนำใบทรานสคริปต์ไปยื่นเป็นหลักฐานกับกรรมการกิจการนิสิตประจำภาควิชา เพื่อให้กรรมการดำเนินการสมัครฝึกงานให้กับคุณ
<br/>
</p>
{% endblock content %}
