{% extends "base.html" %}

{% block title %}ระบบนิสิต{% endblock %}

{% block extra-head %}
  {% include "include/jquery_scripts.html" %}
{% endblock %}

{% block menu %}
{% include "include/navigation_scripts.html" %}
<ul id="nav">
  <li><a href="{% url 'front_page' %}">หน้าหลัก</a></li>
  <li {% if currentpage == 'std' %}class="current"{% endif %}><a href="{% url 'std_index' %}" >ข้อมูลการฝึกงาน</a></li>
  <li {% if currentpage == 'profile' %}class="current"{% endif %}><a href="{% url 'std_profile' %}">ข้อมูลส่วนตัว</a></li>

  {% comment %}
  <li class="subnav-list{% if currentpage == 'company' %} current{% endif %}">
      <a href="#" class="subnav-link" >เลือกสถานประกอบการ</a>
      <ul id="company_subnav">
	<li><a href="{% url 'direct_appl_std_list' %}">สถานประกอบการที่คัดนิสิตเอง</a></li>
      </ul>
    </li>
  {% endcomment %}

  <li><a href="{% url 'std_logout' %}">ออกจากระบบ</a></li>
</ul>
<div id="clear"></div>
{% endblock menu %}

{% block content %}
{% endblock content %}
