﻿{% extends "std/base.html" %}

{% load wt_media %}

{% block content %}
<div style="float:right">
<a class="button red" href="{% url 'std_index' %}">กลับไปหน้าหลักของนิสิต</a>
</div>
<h1>รายการสถานประกอบการที่ตอบจดหมายขอความอนุเคราะห์สำหรับสาขาวิชา{{ department }}</h1>

{% if available_receipts %}
  {% include "std/include/std_selection/available_receipts.html" %}
{% else %}
  ยังไม่มีข้อมูล
{% endif %}
{% endblock content %}
