﻿{% extends "std/base.html" %}

{% block content %}
<h1>แก้ไขข้อมูลส่วนตัว</h1>
<table>
	<tr>
	    <td>ชื่อ-สกุล</td><td>: {{ student.prefix }}{{ student.first_name }} {{ student.last_name }} </td>
		<td class="darkblue">ในกรณีที่ ชื่อ-สกุล ผิดให้ติดต่อหน่วยกิจการนิสิตโดยตรง</td>
    </tr>
    <tr>
	    <td>รหัสนิสิต</td><td>: {{ student.student_id }}</td>
    </tr>       
	<form action="{% url 'std_edit' %}" method="POST">
    <tr>    
  		<td><label for="id_email">E-mail</label></td><td>: {{ form.email }} {{ form.email.errors }} </td>
    </tr>
    <tr>
        <td><label for="id_tel_no">เบอร์โทรศัพท์</label></td><td>: {{ form.tel_no }} {{ form.tel_no.errors }}</td>
    </tr>
	<tr>
	    <td><label for="id_department">ภาควิชา</label>ภาควิชา</td><td>: {{ form.department }} {{form.department.errors }}</td>
    </tr>
    <tr>
    	<td></td>
        <td>
               <br/><input type="submit" value="แก้ไขข้อมูลส่วนตัว" class="medium green button"/>
        </td>
    </tr>
  	</form>
</table>
{% endblock content %}

