{% extends "std/base.html" %}

{% block content %}
<h1>ยืนยันอีเมล์เรียบร้อย</h1>
<p>
  คุณได้ยืนยันอีเมล์ของ {{ student }} เรียบร้อยแล้ว<br/>
  <a href="{% url 'front_page' %}" class="button green">กลับไปหน้าหลัก</a>
</p>
{% endblock content %}
