{% extends "std/base.html" %}

{% block content %}
<h1>ยืนยันอีเมล์เรียบร้อย</h1>
<p>
  คุณได้ยืนยันอีเมล์ของ {{ student }} เรียบร้อยแล้ว<br/>
</p>
<p>
  <b>
    อย่างไรก็ตามระบบยังไม่ได้สมัครฝึกงานให้คุณโดยอัตโนมัติ 
    เนื่องจากคุณเคยขอเข้ารับการฝึกงานเมื่อปีการศึกษาก่อนแล้ว
  </b><br/>
  ถ้าคุณต้องการสมัครฝึกงานในปีการศึกษาหน้า กรุณากดลิงก์ด้านล่าง<br/>
  <b>ในการกดเข้าสมัครฝึกงานนั้น คณะวิศวกรรมศาสตร์จะพิจารณาว่าเป็นการยืนยันว่าคุณได้รับทราบและยินยอมปฏิบัติตามระเบียบการฝึกงานของทางคณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ ทุกประการ</b><br/><br/>
  <a href="{% url 'std_checkstatus' %}" class="button">กดที่นี่เพื่อสมัครขอเข้าฝึกงานในภาคฤดูร้อน ปีการศึกษา {{ next_academic_year }}</a>
</p>
{% endblock content %}
