﻿{% extends "std/base.html" %}

{% load wt_media %}

{% block content %}
<h1>ระบบฝึกงานยินดีต้อนรับ! {{ student.student_id }} {{ student.full_name }} </h1>

{% if notice %}
<div class="notice"><span class="notice-text">{{ notice }}</span></div>
{% endif %}
{% if student.has_to_apply %}
  {% with next_data.assignment as current_assignment %}
    {% include "std/include/applying_index.html" %}
  {% endwith %}
{% else %}
  <div class="form-section">
    <h2>สถานะการฝึกงานปีการศึกษา {{ current_academic_year }}</h2>
    {% if student.has_been_assigned_for_current_year %}
      สถานประกอบการสำหรับปีการศึกษา {{ current_academic_year }} : {{ current_data.assignment.get_company_name }}
    {% endif %}
    {% with current_data as status_data %}
      {% include "std/include/status_summary.html" %}
    {% endwith %}
  </div>
  {% if student.has_registered_for_next_year or not application_deadline_passed %}
    <div class="form-section">
      <h2>สมัครเข้าฝึกงานใหม่สำหรับปีการศึกษา {{ next_academic_year }}</h2>
      {% include "std/include/applying_index.html" %}
    </div>
  {% else %}
    {% if can_apply_to_co_op_after_deadeline %}
      <div class="form-section">
	<h2>สมัครเข้าฝึกงานสหกิจสำหรับภาคปลายปีการศึกษา {{ current_academic_year }} หรือภาคต้นปีการศึกษา {{ next_academic_year }}</h2>
	<p>
	  เนื่องจากคุณมีเอกสารการฝึกงานในปีการศึกษาที่ผ่านมาครบถ้วน คุณสามารถสมัครฝึกงานแบบ<b>สหกิจศึกษา</b>เพิ่มเติมในปีการศึกษานี้ได้<br>

	  <form action="{% url 'std_checkstatus' %}" method="POST">
	    <input id="accept_type3_button_id" class="button blue small" type="submit" name="accept_type3" value="ข้าพเจ้าตกลงตามเงื่อนไขการฝึกงานขอสมัครฝึกสหกิจศึกษา"/>
	  </form>
	</p>
      </div>
    {% endif %}
  {% endif %}
{% endif %}
<script>
 $(function(){
   $('#accept_type3_button_id').click(function(){
     return confirm("คุณแน่ใจที่จะสมัครฝึกงานสหกิจเพิ่มเติม");
   });
 });
</script>
{% endblock content %}
