﻿{% extends "std/base.html" %}

{% load wt_media %}

{% block content %}
<h1>ระบบฝึกงานอยู่ระหว่างการปรับปรุง</h1>

<div class="form-section">
  ระบบฝึกงานส่วนนี้อยู่ระหว่างการปรับปรุง คุณจะสามารถเข้าใช้ได้อีกครั้งภายในวันที่ 27 มิ.ย. 2557 ขออภัยในความไม่สะดวก
</div>
{% endblock content %}
