{% extends "std/base.html" %}

{% block content %}
<h1>ข้อมูลส่วนตัว</h1>
{% if notice %}
  <div class="notice">
    <span class="notice-text">
      {{ notice }}
    </span>
  </div>
{% endif %}
<div class="right">
  <a href="{% url 'std_edit' %}" class="medium green button">แก้ไขข้อมูลส่วนตัว</a>
</div> 
<p>
<table>
  <tr>
    <td><b>ชื่อ-สกุล:</b></td><td>{{ student.prefix }}{{ student.first_name }} {{ student.last_name }}</td>
  </tr>
  <tr>
    <td><b>รหัสนิสิต:</b></td><td>{{ student.student_id }}</td>
  </tr>       
  <tr>
    <td><b>E-mail:</b></td>
    {% if student.email %}
      <td> 
        {{ student.email }} 
        {% if student.has_confirmed_email %}
          &nbsp;&nbsp;<span class="info-tag small green">ยืนยันแล้ว</span>
        {% else %}
          &nbsp;&nbsp;<span class="info-tag small red">ยังไม่ได้ยืนยัน</span>
        {% endif %}
      </td>
    {% else %}
      <td class="errorlist"> ไม่มีข้อมูล </td>
    {% endif %}
  </tr>
  <tr>
    <td><b>เบอร์โทรศัพท์:</b></td>
    {% if student.tel_no %}
      <td> {{ student.tel_no }} </td> 
    {% else %}
      <td class="errorlist"> ไม่มีข้อมูล </td>
    {% endif %}
  </tr>
  <tr>
    <td><b>ภาควิชา:</b></td>
    {% if student.department %}
      <td>{{ student.department }}</td>
    {% else %}
      <td class="errorlist">ไม่มีข้อมูล</td>
    {% endif %}
  </tr>
  <tr>
    <td><b>หน่วยกิตสะสม:</b></td>
    {% if student.education.total_credit %}
      <td>{{ student.education.total_credit }} หน่วย</td>
    {% else %}
      <td class="errorlist">ไม่มีข้อมูล</td>
    {% endif %}
  </tr>
</table>

{% if student.email %}
  {% if not student.has_confirmed_email %}
    <div class="form-section">
      <b>หมายเหตุ:</b> การยืนยันอีเมล์จะกระทำโดยการกดลิงก์ในอีเมล์ยืนยันที่ระบบส่งให้ &nbsp; ถ้าต้องการยืนยันอีเมล์ สามารถเข้าไปแก้ข้อมูลส่วนตัวและบันทึกข้อมูลเพื่อให้ระบบส่งอีเมล์เพื่อให้ยืนยันซ้ำได้<br>
      <b>ถ้าไม่ได้รับเมล</b> เป็นไปได้ที่อีเมลสำหรับยืนยันจะอยู่ในกล่อง Spam กรุณาตรวจสอบ ถ้าใช้เมล @ku.th ให้กดที่รายการกล่องเมลด้านซ้าย (ที่มี Inbox, Starred,...) ถ้าไม่เจอ Spam ให้เลือก More จะมีกล่อง Spam ในรายการ<br>
      <div style="margin-top: 10px; margin-left:10px;">
	<img src="{% load wt_media %}{% media_url %}/image/spam-mailbox.png"/>
      </div>
    </div>
  {% endif %}
{% endif %}
</p>
{% endblock content %}
