{% extends "std/base.html" %}

{% load wt_media %}

{% block content %}
<h1>ขออภัย {{ student.full_name }}</h1>
<p class="error_message">
  <b>
    ขณะนี้ระบบอยู่ระหว่างการปรับปรุงข้อมูล และย้ายนิสิตที่เลือกหาหน่วยงานฝึกงานเอง
    ไปยังประเภท 2 ที่ให้คณะจัดหาให้
  </b>
</p>
<p>
  <b>
    ระหว่างการปรับปรุงนี้ คุณจะไม่สามารถเพิ่มรายการหน่วยงานที่ต้องการขอใบอนุเคราะห์
    หรือเพิ่มรายการหน่วยงานที่คัดเลือกเองที่คุณสมัครได้
  </b>
  <br/>
  ทีมงานพัฒนาระบบต้องของอภัยในความไม่สะดวกนี้ คาดว่าระบบจะปรับปรุงเสร็จภายในวันจันทร์ที่ 18 พ.ย. 2556
</p>
<p>
  ในการย้ายนิสิต จะดำเนินการดังนี้
  <ul>
    <li>
      ถ้าคุณยังไม่ได้ดำเนินการแจ้งข้อมูลใด ๆ ในการจัดหาหน่วยงานผ่านระบบออนไลน์
      หรือเป็นส่วนหนึ่งของการขอใบอนุเคราะห์จากทางคณะผ่านระบบออนไลน์
      คุณจะถูกย้ายไปเป็นการสมัครประเภท 2 โดยอัตโนมัติ
    </li>
    <li>
      ถ้าคุณได้ดำเนินการแล้ว แต่ยังไม่ได้หน่วยงานที่รับเข้าฝึกงาน
      เมื่อทุกหน่วยงานปฏิเสธหมดแล้วคุณจะสามารถเลือกได้ว่าต้องการย้ายไปประเภท 2
      หรือจะยืนยันที่จัดหาหน่วยงานเอง &nbsp;&nbsp; ถ้าคุณยืนยันที่จะไม่ย้ายไปประเภท 2
      คุณจะต้องรับผิดชอบจัดหาหน่วยงานฝึกงานเอง ถ้าคุณไม่สามารถหาได้ภายในกำหนด
      คุณจะต้องเข้าฝึกงานในปีการศึกษาถัดไป
    </li>
  </ul>
</p>
{% endblock content %}
