{% extends "base.html" %}

{% block menu %}
<ul id="nav">
  <li><a href="{% url 'regis_index' %}">ระบบสำหรับหน่วยกิจการนิสิตและกรรมการประจำภาควิชา</a></li>
</ul>
<div id="clear"></div>
{% endblock menu %}

{% block content %}
  {% if form.errors %}
    <p class="error_message">
      รหัสผ่านผิดพลาด กรุณาทดลองใหม่
    </p>
  {% endif %}

<form method="post" action="{% url 'admin_login' %}">
  {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
  </table>

  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
