{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <div style="float:right">
    <a href="{% url 'committee_index' %}" class="button small red">กลับไปหน้าหลัก</a>
  </div>
  <h1>จัดการเจ้าหน้าที่ภาควิชา{{ department }}</h1>

  <div class="info_message">
    <small>
      ด้านล่างเป็นรายการบัญชีของเจ้าหน้าที่ประจำภาควิชา{{ department }} กรรมการสามารถเพิ่มบัญชีให้เจ้าหน้าที่ได้ โดยระบุชื่อบัญชีด้วยบัญชีนนทรี ถ้าบัญชีดังกล่าวถูกใช้แล้ว เช่น ในกรณีที่เจ้าหน้าที่หนึ่งท่านดูแลนิสิตหลายสาขาวิชา สามารถแจ้งผู้ดูแลระบบให้เพิ่มข้อมูลให้ได้
    </small>
  </div>

  {% if notice %}
    <div class="notice">
      <span class="notice-text">{{ notice }}</span>
    </div>
  {% endif %}

  <form style="margin-top:10px" class="form-section" action="{% url 'committee_dept_admin_list' department.code %}" method="post">
    ชื่อบัญชีนนทรี: {{ form.username }} {{ form.errors.username }}
    ชื่อ: {{ form.first_name }} {{ form.errors.first_name }}
    นามสกุล: {{ form.last_name }} {{ form.errors.last_name }}
    <input type="submit" value="จัดเก็บ"/>
  </form>

  <table class="info_list">
    <tr class="header">
      <th></th>
      <th>ชื่อบัญชีนนทรี</th>
      <th>ชื่อเต็ม</th>
      <th></th>
    </tr>
    {% for admin in admins %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ forloop.counter }}</td>
        <td>{{ admin.username }}</td>
        <td>{{ admin.get_full_name }}</td>
        <td><a href="{% url 'committee_dept_admin_delete' department.code admin.id %}" class="button small red">ยกเลิก</a></td>
      </tr>
    {% empty %}
      <tr class="odd">
        <td></td>
        <td colspan="2">ยังไม่มีบัญชีเจ้าหน้าที่ภาควิชา</td>
        <td></td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
