{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <h1>การเลือกสถานประกอบการสำหรับสาขา{{ department.name }} (ฝึกงานในปี {{ year }})</h1>

  {% if notice %}
    <div class="notice">
      <span class="notice-text">{{ notice }}</span>
    </div>
  {% endif %}

  {% include "committee/include/new_company_notice.html" %}

  <p>
    ขณะนี้อาจารย์ได้เลือกสถานประกอบการสำหรับปี {{ year }} แล้วจำนวน {{ recent_selection_count }} แห่ง
    <a href="{% url 'committee_company_selection_show' %}" class="green
    button small">ดูรายการที่เลือกไว้ หรือยกเลิกการเลือกบางสถานประกอบการ</a>
  </p>

  <h3>1. เลือกสถานประกอบการเพิ่มเติม</h3>
  <p>
    ในการเลือกสถานประกอบการเพิ่มเติม
    กรรมการประจำภาควิชาสามารถเลือกสถานประกอบการได้หลายวิธี ดังนี้
  </p>
  <ul>
    <li>
      <b>
	      <a href="{% url 'committee_company_list_from_stats' 1 0 %}">เลือกโดยพิจารณารายการสถานประกอบการที่เคยตอบรับหรือเคยมีนิสิตจากสาขาวิชาไปฝึกงาน</a>
      </b>&nbsp;
      <a href="{% url 'committee_company_list_from_stats' 1 0 %}"
      class="button small">เลือกด้วยวิธีนี้</a> <br/>
      สำหรับวิธีนี้ระบบจะแสดงรายการสถานประกอบการที่เคยตอบรับหรือเคยมีนิสิตจากสาขาวิชาที่ไปฝึกงาน
      โดยกรรมการสามารถเลือกค้นหาสถานประกอบการโดยดูจากสถิติเก่าหลายปีได้
      เมื่อเห็นรายการสถานประกอบการแล้ว
      กรรมการสามารถเลือกได้โดยกดช่องเลือกด้านหน้าชื่อสถานประกอบการที่ต้องการ
      <br/><br/>
    </li>
    <li>
      <b>
	<a href="{% url 'committee_company_list_selection' 1 %}">เลือกโดยพิจารณารายการสถานประกอบการทั้งหมด จากนั้นเลือกทีละสถานประกอบการ</a>
      </b>&nbsp;
      <a href="{% url 'committee_company_list_selection' 1 %}" class="button small">เลือกด้วยวิธีนี้</a>
      <br/>
      สำหรับวิธีนี้ระบบจะแสดงรายการสถานประกอบการให้กับกรรมการ
      กรรมการสามารถเลือกได้โดยกดช่องเลือกด้านหน้าชื่อสถานประกอบการที่ต้องการ<br/>
      เนื่องจากรายการมีจำนวนหน้าที่มาก
      กรรมการสามารถสั่งให้ระบบทำ<b>คั่นหน้า</b>ที่บางหน้าเพื่อกลับมาพิจารณาต่อภายหลังได้
      โดยกดเลือกลิงก์ <span style="display: inline-block">
      <a href="#" class="button small">จดจำหน้าปัจจุบัน
	<img src="{% media_url %}/image/arrow-white-12.png" border="0"/>
      </a>
      </span>
      ระบบจะจดจำหน้าปัจจุบัน และแสดงสัญลักษณ์
      <img src="{% media_url %}/image/arrow-blue-12.png" border="0"/> ที่หน้านั้นในรายการ
      <br/><br/>
    </li>
    <li>
      <b><a href="{% url 'committee_company_selection_search' %}">ค้นสถานประกอบการตามชื่อ จากนั้นเลือกจากรายการที่ค้นได้</a></b>&nbsp;
      <a href="{% url 'committee_company_selection_search' %}"
      class="button small">เลือกด้วยวิธีนี้</a> <br/> สำหรับวิธีนี้
      ระบบจะให้กรรมการค้นหาสถานประกอบการจากชื่อ หรือบางส่วนของชื่อ
      กรรมการสามารถเลือกสถานประกอบการได้จากรายการผลลัพธ์ที่ค้นหาได้
    </li>
    <li>
      <b>เลือกแบบอัตโนมัติ</b><br/>
      วิธีนี้เหมาะสำหรับการเลือกรายการในขั้นต้น  สามารถทำได้สามวิธี ดังนี้
      <ol>
	<li>
	  <a href="{% url 'committee_company_selection_last_year' %}">เลือกสถานประกอบการที่มีนิสิตจากสาขาวิชาเข้าฝึกงานในปีการศึกษาที่ผ่านมา</a>&nbsp;&nbsp;<a href="{% url 'committee_company_selection_last_year' %}" class="button small">เลือกด้วยวิธีนี้</a>
	</li>
	<li>
	  <a href="{% url 'committee_company_selection_copy_other_department' %}">เลือกโดยใช้สถานประกอบการที่สาขาอื่นได้เลือกไว้</a> เช่น
	  สาขาวิศวกรรมซอฟต์แวร์อาจจะเริ่มต้นเลือกโดยใช้รายการจากสาขาวิศวกรรมคอมพิวเตอร์เป็นต้น
	 &nbsp;&nbsp;<a href="{% url 'committee_company_selection_copy_other_department' %}" class="button small">เลือกด้วยวิธีนี้</a>
	</li>
	<li>
	  <a href="{% url 'committee_company_selection_all' %}">เลือกสถานประกอบการที่มีทั้งหมด</a>&nbsp;&nbsp;<a href="{% url 'committee_company_selection_all' %}" class="button small">เลือกด้วยวิธีนี้</a>
	</li>
      </ol>
    </li>
  </ul>

  <h3>2. ยกเลิกการเลือกบางสถานประกอบการ</h3>
  <p>
    ในการยกเลิกการเลือกสถานประกอบการที่ได้เลือกไว้แล้ว
    สามารถทำได้หลายวิธีดังนี้
  </p>
  <ul>
    <li>
      พิจารณารายการที่เลือกไว้ทั้งหมด แล้วยกเลิกบางสถานประกอบการจากรายการนั้น
      <a href="{% url 'committee_company_selection_show' %}"
      class="blue button small">พิจารณารายการที่เลือกไว้ทั้งหมด</a>
    </li>
    <li>
      <a href="{% url 'committee_company_selection_search' %}">ค้นสถานประกอบการตามชื่อ จากนั้นเลือกยกเลิกจากรายการที่ค้นได้</a></b>&nbsp;
      <a href="{% url 'committee_company_selection_search' %}"
      class="button small">ค้นสถานประกอบการ</a> 
    </li>
  </ul>

  <div class="form-section">
    <center>
      ขณะนี้คุณได้เลือกสถานประกอบการแล้วจำนวน {{ recent_selection_count }} แห่ง &nbsp;
      <a href="{% url 'committee_company_selection_show' %}" class="button small">ดูรายการสถานประกอบการที่เลือกไว้</a>
    </center>
  </div>


{% endblock content %}
