{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
<script>
$(function(){
	$("a.hide-workdetail").hide();
	$('.workdetail').hide()
	$("a.show-workdetail").click(function(){
		var $tbl = $(this).parentsUntil('.selection_table');
		var $str = $(this).attr('href');
		var $td = $(this).parent().parent();
		$(this).hide();
		$td.children('span.hide-workdetail-botton').children('a.hide-workdetail').show();
		$tbl.children('tr#'+$str).show();
		return false;
	});
	$("a.hide-workdetail").click(function(){
		var $tbl = $(this).parentsUntil('.selection_table');
		var $str = $(this).attr('href');
		var $td = $(this).parent().parent();
		$(this).hide();
		$td.children('span.show-workdetail-botton').children('a.show-workdetail').show();
		$tbl.children('tr#'+$str).hide();
		return false;
	});
});
</script>

  <h1>เลือกสถานประกอบการสำหรับสาขา{{ department.name }} (เลือกแล้วรวมทั้งหมด <span id="sel_count">{{ recent_selection_count }}</span> แห่ง)</h1>
  
  <div style="float:right">
    <a href="{% url 'committee_company_selection' %}" class="red button small">กลับไปหน้าเลือกสถานประกอบการ</a>
  </div>
  <b>ด้านล่างแสดงรายการสถานประกอบการ {{ companys|length }} แห่ง ที่{{ search_title }}</b>
  <br/>
  <form action="" method="post">
  <b>แสดงแบบอื่น:</b> แสดงหน่วยงานที่ 
  <select name="qtype">
    <option {% if qtype_choice == 'assign' %}selected{% endif %} value="assign">รับนิสิตจากสาขา</option>
    <option {% if qtype_choice == 'reply' %}selected{% endif %} value="reply">ตอบจดหมายขอความอนุเคราะห์</option>
  </select>
  ในรอบ
  <select name="year">
    <option {% if year_choice == 1 %}selected{% endif %} value="1">1 ปี</option>
    <option {% if year_choice == 2 %}selected{% endif %} value="2">2 ปี</option>
    <option {% if year_choice == 3 %}selected{% endif %} value="3">3 ปี</option>
    <option {% if year_choice == 4 %}selected{% endif %} value="4">4 ปี</option>
    <option {% if year_choice == 5 %}selected{% endif %} value="5">5 ปี</option>
  </select>
  <input type="submit" value="ค้น"/>
  </form>
  <hr/>

  <div class="hint">
    ตารางด้านล่างแสดงรายชื่อหน่วยงาน พร้อมทั้งระบุจำนวนนิสิตจากสาขาที่เคยไปฝึกงานในช่วงที่มีการค้นหา
    กรรมการสามารถกดเลือกที่กล่องเลือก หน่วยงานที่เลือกแล้วจะแสดงเป็นแถบสีเขียว สามารถกดดู "แสดงรายละเอียดเพื่อดูรายละเอียดพื้นฐาน และกดปุ่มลูกศรสีส้มเพื่อดูรายละเอียดแบบละเอียด (ซึ่งจะสามารถดูได้ว่านิสิตคนใดไปฝึกงานที่หน่วยงานดังกล่าวบ้าง)  ถ้าต้องการเลือกทุกสถานประกอบการจากรายการด้านล่างนี้กรุณากด <a href="#" class="blue button small" id="select_all_id">เลือกทุกหน่วยงานในรายการ</a>
  </div>

<table class="selection_table" width="90%">
  <tr>
    <th width="5%">เลือก</th>
    <th>ชื่อบริษัท</th>
    <th>นิสิต(คน)</th>
  </tr>
  {% for company in companys %}
    <tr {% if company.is_selected %}class="selected" style="background: #66FF66"{% else %}class="unselected"{% endif %}>
      <td><input class="selection_checkbox" type="checkbox" value={{company.short_name}} id="company-{{company.id}}" {% if company.is_selected %}checked="yes"{% endif %}/></td>
      <td>
      	<label for="company-{{company.id}}">{{ company.name }}</label>
        {% if company.id in verified_companies %}  
  	  <span class="info-tag red">คัดเลือกเอง</span>
        {% endif %}
	{% if company.is_new %}
    	  <span style="font-size:60%; padding: 1px; background: orange; color: white">new</span> 
	{% endif %}
      </td>
      <td style="text-align: center">
        {{ company.assigned_count }}
      </td>
      <td id="showbutton" width="200px">
        <span class="show-workdetail-botton">
          <a href="{{company.id}}" class="green button small show-workdetail">แสดงรายละเอียด</a>
        </span>
        <span class="hide-workdetail-botton">
          <a href="{{company.id}}" class="blue button small hide-workdetail">ซ่อนรายละเอียด</a>
        </span>
        <a href="{% url 'regis_company_detail' company.id %}" target="_blank" class="button orange small">➚</a>
      </td>
    </tr>
    <tr class="workdetail" id="{{company.id}}">
    	<td></td>
      <td colspan="2">
	      <small>
	        {% if company.short_description %}
	        {{ company.short_description }}<br/>
	        {% endif %}
            ที่อยู่: {{ company.address }}
	          {% if company.tel_no %}
	          <br/>
	          หมายเลขติดต่อ: {{ company.tel_no }} 
  	        {% if company.contact_name %}&nbsp;&nbsp;ชื่อผู้ติดต่อ: {{ company.contact_name }}{% endif %}
	          {% endif %}
	        </small>
        </td>
        <td></td>
    </tr>
  {% endfor %}
</table>

<script>
var company_queue = [];
function selectCompany()
{
  if(company_queue.length!=0) {
    c = company_queue.shift();
    c.click();
    setTimeout(selectCompany,50);
  }
}

$(function(){
  $(".selection_checkbox").click(
    function (){
      var $tr = $(this).parent().parent();
      var $selcount = parseInt($('#sel_count').text());
      var company_id = $(this).attr('id').split('-')[1];
      if($(this).attr("checked")==true) {
      	$.post("{% url 'committee_company_selected' %}",
                 { "company_id": company_id,
          	     "status": "add" }, function(data) {
        	$tr.removeClass("unselected");
        	$tr.addClass("selected");
        	$tr.css('background','#66FF66');
          $selcount = $selcount+1;
	        $('#sel_count').text($selcount);
        });
      } else {
       	$.post("{% url 'committee_company_selected' %}",
                  { "company_id": company_id,
           	     "status": "delete" }, function(data) {
         	$tr.removeClass("selected");
         	$tr.addClass("unselected");
       	  $tr.css('background','none');
          $selcount = $selcount-1;
	        $('#sel_count').text($selcount);
        });
      }
    }
  );
  $("#select_all_id").click(function(){
    if(confirm('คุณแน่ใจที่จะเลือกทุกหน่วยงานในรายการด้านล่าง?')) {
      company_queue = []
      $(".selection_checkbox").each(function(index,elt) {
        if($(elt).attr("checked")==false) {
          company_queue.push(elt);
        }
      });
      setTimeout(selectCompany, 100);
    }
    return false;
  });
});
</script>
{% endblock content %}
