{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
<script>
$(function(){
	$("a.hide-workdetail").hide();
	$('.workdetail').hide()
	$("a.show-workdetail").click(function(){
		var $tbl = $(this).parentsUntil('.selection_table');
		var $str = $(this).attr('href');
		var $td = $(this).parent().parent();
		$(this).hide();
		$td.children('span.hide-workdetail-botton').children('a.hide-workdetail').show();
		$tbl.children('tr#'+$str).show();
		return false;
	});
	$("a.hide-workdetail").click(function(){
		var $tbl = $(this).parentsUntil('.selection_table');
		var $str = $(this).attr('href');
		var $td = $(this).parent().parent();
		$(this).hide();
		$td.children('span.show-workdetail-botton').children('a.show-workdetail').show();
		$tbl.children('tr#'+$str).hide();
		return false;
	});
});
</script>

  <h1>รายชื่อสถานประกอบการสำหรับสาขา{{ department.name }}(จำนวน <span id="sel_count">{{ recent_selection_count }}</span> แห่ง)</h1>
  <ol id="pagination">
    <li class="pagination-plain">
      หน้าที่:
    </li>
    {% for page in pages %}
      {% if page_current != page %}
        <li>
	  <a href="{% url 'committee_company_list_selection' page %}">{{page}}{% if page == bookmarked_page %} <img src="{% media_url %}/image/arrow-blue-12.png" border="0"/>{% endif %}</a>
	</li>
      {% else %}
        <li class="selected">{{page}}{% if page == bookmarked_page %} <img src="{% media_url %}/image/arrow-white-12.png" border="0"/>{% endif %}</li>
      {% endif %}
    {% endfor %}

    <li class="pagination-plain">
      <a href="{% url 'committee_company_list_selection_bookmark' page_current %}" class="button small">จดจำหน้าปัจจุบัน <img src="{% media_url %}/image/arrow-white-12.png" border="0"/></a>
    </li>
  </ol>

  <div id="clear"></div>

<table class="selection_table" width="90%">
  <tr>
    <th width="5%">เลือก</th>
    <th width="10%" style="text-align: center">ชื่อย่อ</th>
    <th>ชื่อบริษัท</th>
  </tr>
  {% for company in companys %}
    <tr {% if company.is_selected %}class="selected" style="background: #66FF66"{% else %}class="unselected"{% endif %}>
      <td><input class="selection_checkbox" type="checkbox" value={{company.short_name}} id="company-{{company.id}}" {% if company.is_selected %}checked="yes"{% endif %}/></td>
      <td style="text-align: center">
      	<label for="company-{{company.id}}">{{ company.short_name }}</label>
      </td>
      <td>
      	<label for="company-{{company.id}}">{{ company.name }}</label>
	{% if company.id in verified_companies %}
  	  <span class="info-tag red">คัดเลือกเอง</span>
	{% endif %}
	{% if company.is_new %}
  	  <span style="font-size:60%; padding: 1px; background: orange; color: white">new</span>
	{% endif %}
      </td>
      <td id="showbutton" width="200px">
          <span class="show-workdetail-botton">
               <a href="{{company.id}}" class="green button small show-workdetail">แสดงรายละเอียดสถานประกอบการ</a>
          </span>
         <span class="hide-workdetail-botton">
               <a href="{{company.id}}" class="blue button small hide-workdetail">ซ่อนรายละเอียดสถานประกอบการ</a>
         </span>
      </td>
    </tr>
    <tr class="workdetail" id="{{company.id}}">
    	<td></td>
    	<td></td>
        <td>
	  <small>
	    {% if company.short_description %}
	      {{ company.short_description }}<br/>
	    {% endif %}
            ที่อยู่: {{ company.address }}
	    {% if company.tel_no %}
	      <br/>
	      หมายเลขติดต่อ: {{ company.tel_no }} 
  	      {% if company.contact_name %}&nbsp;&nbsp;ชื่อผู้ติดต่อ: {{ company.contact_name }}{% endif %}
	    {% endif %}
	  </small>
        </td>
        <td></td>
    </tr>
  {% endfor %}
</table>

<script>
$(function(){
    $(".selection_checkbox").click(
      function (){
        var $tr = $(this).parent().parent();
		var $selcount = parseInt($('#sel_count').text());
        var company_id = $(this).attr('id').split('-')[1];
        if($(this).attr("checked")==true)
        {
        	$.post("{% url 'committee_company_selected' %}",
                   { "company_id": company_id,
            	     "status": "add" });
        	$tr.removeClass("unselected");
        	$tr.addClass("selected");
        	$tr.css('background','#66FF66');
		$selcount = $selcount+1;
		$('#sel_count').text($selcount);
        }
        else
        {
        	$.post("{% url 'committee_company_selected' %}",
                    { "company_id": company_id,
             	     "status": "delete" });
        	$tr.removeClass("selected");
        	$tr.addClass("unselected");
        	$tr.css('background','none');
		$selcount = $selcount-1;
		$('#sel_count').text($selcount);
        }
      }
    );
});
</script>
{% endblock content %}
