{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <h1>การเลือกสถานประกอบการสำหรับสาขา{{ department.name }}: เลือกทุกสถานประกอบการ</h1>


  <form 
     class="form-section" 
     action="{% url 'committee_company_selection_all' %}"
     method="post">
    <center>
      มีสถานประกอบการอยู่ในฐานข้อมูลทั้งสิ้น {{ company_count }} สถานประกอบการ<br/>
      สถานประกอบการที่คุณเลือกไว้แล้วจำนวน {{ selected_company_count }} รายการ จะถูกทับด้วยรายการสถานประกอบการทั้งหมด<br/>
      <b>คุณต้องการเลือกสถานประกอบการทั้งหมดที่มีในฐานข้อมูล สำหรับการฝึกงานในปีการศึกษา {{ year }} หรือไม่?</b><br/>
      
      <input type="submit" id="ok_button" name="ok" value="ตกลง"/>
      <input type="submit" name="cancel" value="ยกเลิก"/><br/>

      เมื่อคุณเลือกรายการทั้งหมดแล้ว คุณสามารถยกเลิกการเลือกบางสถานประกอบการได้
    </center>
  </form>

<script type="text/javascript">
$(function() {
  $("#ok_button").click(function() {
    return confirm("คุณแน่ใจที่จะเลือกสถานประกอบการทั้งหมด?\n" +
                   "ถ้าแน่ใจให้กด OK");
  });
});
</script>
{% endblock content %}
