{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <h1>เลือกภาควิชาสำหรับสาขา{{ department.name }} ในภาคฤดูร้อนปีการศึกษา {{ year }} โดยใช้รายการจากสาขาวิชาอื่น</h1>
  <form action="{% url 'committee_company_selection_copy_other_department_list' %}" method="POST" >
    <p class="info_message">
    <small>
    กรุณาเลือกสาขาวิชาที่ต้องการคัดลอกรายการสถานประกอบการ
    เมื่อเลือกสาขาแล้ว
    ระบบจะแสดงรายชื่อสถานประกอบการที่ภาควิชาดังกล่าวเลือก
    เพื่อให้กรรมการยืนยันอีกครั้งในหน้าถัดไป
    </small>
   	</p>
    <select name="department_selected_id">

      {% for d in departments %}
        {% if d != department %}
          <option value="{{d.id}}">{{d.name}}</option>
        {% endif %}
      {% endfor %}
    </select>
    <input type="submit" value="เลือกสาขานี้" /><br/>
  </form>
{% endblock content %}
