{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <h1>การเลือกสถานประกอบการสำหรับสาขา{{ department.name }}</h1>
    <h4> โดยการเลือกจากสาขา{{department_selected.name}} ซึ่งมีการเลือกสถานประกอบการทั้งหมด {{companyselections|length}} สถานประกอบการ</h4>
  <form 
     class="form-section" 
     action="{% url 'committee_company_selection_copy_other_department_submit' %}"
     method="post">
    <center>
      <b>คุณต้องการเลือกสถานประกอบการทั้งหมดสำหรับการฝึกงานในปีการศึกษา {{ year }} หรือไม่?</b><br/>
      
      <input id="selection_replace" name="selection_replace" type="checkbox">ต้องการยกเลิกรายการสถานประกอบการเดิมที่เลือกไว้ก่อนด้วย<br/>
      <input type="hidden" name="department_selected_id" value="{{department_selected.id}}" />
      <input type="submit" id="ok_button" name="ok" value="ตกลง"/>
      <input type="submit" name="cancel" value="ยกเลิก"/>
    </center>
  </form>
  <br/>
  <b>รายการสถานประกอบการแสดงดังด้านล่างนี้</b> </br>
  	{% if companyselections|length != 0 %}
	  <ul>
	    {% for companyselection in companyselections %}
	      <li>{{ companyselection.company.name }}</li>
	    {% endfor %}
	  </ul>
	{% else %}
		<ul>
	      <li class="errorlist">ยังไม่พบรายการสถานประกอบการที่ถูกเลือกโดยภาควิชานี้</li>
	  </ul>
	{% endif %}
<script type="text/javascript">
$(function() {
  $("#ok_button").click(function() {
    if($("#selection_replace").attr("checked") && ({{ old_selection_count }} != 0)) {
      return confirm("คุณแน่ใจที่จะยกเลิกรายการสถานที่ฝึกงานที่เคยเลือกไว้ก่อนหน้านี้ทั้งหมด?\n" +
                     "รายการเก่าที่คุณได้เลือกไว้มีจำนวนสถานประกอบการทั้งสิ้น {{ old_selection_count }} สถานประกอบการ\n" + 
                     "ถ้าแน่ใจให้กด OK");
    }
    return true;
  });
});
</script>
{% endblock content %}
