{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <h1>รายชื่อสถานประกอบการที่เลือกสำหรับสาขา{{ department.name }}</h1>
  <p>จำนวนสถานประกอบการที่เลือกไว้ {{ companies|length }} สถานประกอบการ คุณสามารถยกเลิกการเลือกสถานที่ฝึกงานได้โดยกดปุ่มของรายการนั้น</p>
  <table class="selection_table show-line-color" width="90%">
    <tr>
      <th>ลำดับที่</th>
      <th>ชื่อย่อ</th>
      <th>ชื่อบริษัท</th>
      <th></th>
      <th></th>
    </tr>
    {% for company in companies %}
      <tr class="{% cycle 'odd' 'even' %}">
	<td>{{ forloop.counter }}</td>
	<td>{{ company.short_name }}</td>
	<td>
          {{ company.name }}
	  {% if company.id in verified_companies %}
  	    <span class="info-tag red">คัดเลือกเอง</span>
	  {% endif %}
        </td>
	<td>
	  {% if company.accepted %}<span class="info-tag small green">ตอบรับแล้ว</span>{% endif %}
	  {% if company.rejected %}<span class="info-tag small red">ไม่รับ</span>{% endif %}
	</td>
	<td><a class="red button small" href="{% url 'committee_company_selection_show_delete' company.id %}" onclick="return confirm('กรุณายืนยันว่าต้องการนำ {{ company.name }} ออกจากรายการที่เลือกไว้');">ยกเลิกการเลือก</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
