<table class="info_list lrp1" id="companyListTableId" {% if current_co_op_company_id == 0 %}style="display: none;"{% endif %}>
  <tr class="header">
    <th></th>
    <th>ชื่อหน่วยงาน [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
    <th>รหัสนิสิต [<a style="color:white" class="table-sort-links" href="#">▼</a>] </th>
    <th>เพิ่มข้อมูลโดย [<a style="color:white" class="table-sort-links" href="#">▼</a>] </th>
    <th></th>
    <th></th>
  </tr>
  {% for company in co_op_companies %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ company.name }}</td>
      <td>{{ company.created_by.student_id }}</td>
      <td>{{ company.created_by }}</td>
      <td>{% if company.is_public %}แสดงให้ทุกคนเห็น{% endif %}</td>
      <td>
	<a class="button small co-op-company-toggle-links" data-company-id="{{ company.id }}" href="#">แสดงรายละเอียด</a>
	<a class="button orange small co-op-company-form-toggle-links" data-company-id="{{ company.id }}" href="#">แก้ไข</a>
      </td>
    </tr>

    <tr class="co-op-company-details" {% if current_co_op_company_id != company.id %}style="display: none;"{% endif %} id="coOpCompanyDetail{{ company.id }}">
      <td></td>
      <td colspan="100">
	<table class="frame_table">
	  <tr>
	    <td colspan="2">
	      <b>รายละเอียด</b>
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <label for="id_company_name">ชื่อหน่วยงาน</label>
	    </td>
	    <td>
	      {{ company.name }}
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <label for="id_working_address">ที่อยู่หน่วยงาน</label>
	    </td>
	    <td style="padding-right: 10px;">
	      {{ company.address|linebreaksbr }}
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <label for="id_working_number">เบอร์โทรศัพท์</label>
	    </td>
	    <td>
	      {{ company.tel_number }} 
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <label for="id_working_fax_number">เบอร์โทรสาร</label>
	    </td>
	    <td>
	      {{ company.fax_number }}
	    </td>
	  </tr>
	  <tr>
	    <td></td>
	    <td>
	      {% if company.is_public %}แสดงให้นิสิตคนอื่นในภาควิชาเห็น{% else %}ไม่แสดงให้นิสิตคนอื่นเห็น{% endif %}
	    </td>
	  </tr>
	</table>
      </td>
    </tr>
    
    <tr class="co-op-company-forms" style="display: none;" id="coOpCompanyForm{{ company.id }}">
      <td></td>
      <td colspan="100">
	{% with company.form as form %}
	  <form id="companyFormId{{ company.id }}" action="{% url 'committee_coop_edit_company' department.code company.id %}" method="post">
	    <table class="frame_table">
	      <tr>
		<td>
		  <label for="id_company_name">ชื่อหน่วยงาน</label>
		</td>
		<td>
		  {{ form.name }} 
		  <span class="errorlist">{{ form.name.errors.as_text }}</span>
		</td>
	      </tr>
	      <tr>
		<td>
		  <label for="id_working_address">ที่อยู่หน่วยงาน</label>
		</td>
		<td style="padding-right: 10px;">
		  <span class="errorlist">{{ form.address.errors.as_text }}</span>
		  {{ form.address }}
		</td>
	      </tr>
	      <tr>
		<td>
		  <label for="id_working_number">เบอร์โทรศัพท์</label>
		</td>
		<td>
		  {{ form.tel_number }} 
		  <span class="errorlist">{{ form.tel_number.errors.as_text }}</span>&nbsp;
		</td>
	      </tr>
	      <tr>
		<td>
		  <label for="id_working_fax_number">เบอร์โทรสาร</label>
		</td>
		<td>
		  {{ form.fax_number }}
		  <span class="errorlist">{{ form.fax_number.errors.as_text }}</span>
		</td>
	      </tr>
	      <tr style="display:none;">
		<td></td>
		<td>
		  {{ form.is_public }}
		  ต้องการให้แสดงหน่วยงานนี้กับนิสิตคนอื่นในภาควิชา (สามารถเปิด-ปิดได้ในภายหลัง)
		</td>
	      </tr>
	      <tr>
		<td colspan="2">
		  <a class="button small blue update-company-links" data-company-id="{{ company.id }}" href="#">แก้ไขข้อมูล</a>
		</td>
	      </tr>
	    </table>
	  </form>
	{% endwith %}
      </td>
    </tr>
  {% endfor %}
</table>
<script>
 $(function(){
   $(".co-op-company-toggle-links").click(function(){
     var companyId = $(this).data('companyId');
     $('#coOpCompanyDetail' + companyId).toggle();
     $('#coOpCompanyForm' + companyId).hide();
     return false;
   });
   $(".co-op-company-form-toggle-links").click(function(){
     var companyId = $(this).data('companyId');
     $('#coOpCompanyForm' + companyId).toggle();
     $('#coOpCompanyDetail' + companyId).hide();
     return false;
   });
   $(".update-company-links").click(function(){
     var companyId = $(this).data('companyId');
     var form = $("#companyFormId" + companyId);
     form.submit();
     return false;
   });
 });
</script>
