{% load wt_format %}
<div style="margin-bottom: 5px; padding-left: 20px; {% if print_only %}display: none;{% endif %}">
  <b>แสดง:</b>
  <input type="checkbox" class="request-filters" name="all"> ทั้งหมด
  <input type="checkbox" class="request-filters" name="committee-wait" {% if not print_only %}checked{% endif %}> รออนุมัติ
  <input type="checkbox" class="request-filters" name="committee-accepted" {% if not print_only %}checked{% endif %}> รอบันทึกผล
  <input type="checkbox" class="request-filters" name="company-accepted" {% if print_only %}checked{% endif %}> หน่วยงานรับ
  <input type="checkbox" class="request-filters" name="company-rejected"> หน่วยงานปฏิเสธ
  <input type="checkbox" class="request-filters" name="committee-rejected"> กรรมการปฏิเสธ
  <input type="checkbox" class="request-filters" name="committee-accepted-all"> อนุมัติแล้วทั้งหมด
  <br>
  <b>ดาวนโหลดข้อมูล (csv):</b>
  <a class="button small" href="{% url 'committee_coop_report_requests' department.code year|add:-1 2 %}">ภาคปลาย {{ year|add:-1 }}</a>
  <a class="button small" href="{% url 'committee_coop_report_requests' department.code year 1 %}">ภาคต้น {{ year }}</a>
</div>
<table class="info_list lrp1" id="requestTableId">
  <tr class="header">
    <th></th>
    <th>ภาคการศึกษา<br>ที่ฝึกงาน [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
    <th>ปีการศึกษา [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
    <th>รหัสประจำตัว [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
    <th>ชื่อนิสิต [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
    <th>ชื่อหน่วยงาน [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
    <th>ฝึกระหว่างวันที่</th>
    <th>ยื่นเมื่อ</th>
    <th>สถานะ [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
    <th>ดาวน์โหลด<br>หนังสือ</th>
    <th {% if print_only %}style="display:none;"{% endif %}></th>
    <th {% if print_only %}style="display:none;"{% endif %}></th>
  </tr>
  {% for r in co_op_requests %}
    <tr class="{% cycle 'odd' 'even' %} co-op-requests-{{ r.get_status_code }}" {% if print_only %}{% if not r.is_shown_in_print_only %}style="display:none;"{% endif %}{% else %}{% if r.get_status_code != 'committee-accepted' and r.get_status_code != 'committee-wait' %}style="display: none;"{% endif %}{% endif %}>
      <td class="co-op-request-counters">{{ forloop.counter }}</td>
      <td>{{ r.internship_semester_display }}</td>
      <td>{{ r.internship_year }}</td>
      <td>{{ r.student.student_id }}</td>
      <td>{{ r.student }}</td>
      <td>{{ r.co_op_company.name }}</td>
      <td>
	{% thai_short_date r.beginning_date %} - {% thai_short_date r.end_date %}
      </td>
      <td>{% thai_short_date r.created_at %}</td>
      <td>
	{% if r.is_approved_by_committee %}
	  {% if r.is_accepted != None %}
	    อนุมัติ เมื่อ {% thai_short_date r.approved_at %}<br>
	    {% if r.is_accepted %}
	      <span class="info-tag green">หน่วยงานรับ</span> ({% thai_short_date r.accepted_at %})
	    {% else %}
	      <span class="info-tag red">หน่วยงานปฏิเสธ</span> ({% thai_short_date r.accepted_at %})
	    {% endif %}
	  {% else %}
	    อนุมัติ เมื่อ {% thai_short_date r.approved_at %}
	  {% endif %}
	{% else %}
	  {% if r.is_approved_by_committee != None %}
	    ไม่อนุมัติ เมื่อ {% thai_short_date r.approved_at %}<br>
	    เพราะ {{ r.reject_comments }}
	  {% else %}
	    รออนุมัติ
	  {% endif %}
	{% endif %}
      </td>
      <td>
	{% if r.is_approved_by_committee %}
	  {% if r.is_accepted == None %}
	    <a target="_blank" class="button small blue" href="{% url 'committee_coop_print_request_pdf' department.code r.id 'th' %}">ขอความอนุเคราะห์</a>

	    <a target="_blank" class="button small blue" href="{% url 'committee_coop_print_request_pdf' department.code r.id 'en' %}">EN</a>
	  {% else %}
	    {% if r.is_accepted %}
	      {% if r.is_sending_letter_printable %}
		<a target="_blank" class="button small green" href="{% url 'committee_coop_print_sending_letter_pdf' department.code r.id 'th' %}">ส่งตัว</a>
		<a target="_blank" class="button small green" href="{% url 'committee_coop_print_sending_letter_pdf' department.code r.id 'en' %}">EN</a>
	      {% else %}
		ยังไม่สามารถพิมพ์หนังสือส่งตัวได้
		เพราะยังไม่มีเลขที่หนังสือและวันที่
	      {% endif %}
	    {% endif %}
	  {% endif %}
	{% endif %}
      </td>
      <td {% if print_only %}style="display:none;"{% endif %}>
	{% if is_committee %}
	  {% if r.is_approved_by_committee == None %}
	    <a class="button small" href="{% url 'committee_coop_update_request' department.code r.id %}">พิจารณา</a>
	  {% endif %}
	  {% if r.is_approved_by_committee %}
	    {% if r.is_accepted == None %}
	      <a class="button small green request-update-result-toggle-buttons" data-rid="{{ r.id }}">บันทึกผล</a>
	    {% else %}
	    {% endif %}
	  {% endif %}
	{% endif %}
      </td>
      <td {% if print_only %}style="display:none;"{% endif %}>
	<a class="button orange small" href="{% url 'committee_coop_edit_request' department.code r.id %}">แก้ไข</a>
      </td>
    </tr>
    {% if r.is_approved_by_committee and r.is_accepted == None %}
      <tr class="request-update-rows" id="requestUpdateRowId-{{ r.id }}" style="display: none;">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td colspan="100">
	  <div class="form-section">
	    <b>บันทึกผลการคัดเลือกของหน่วยงาน</b><br>
	    {{ r.student }} ({{ r.student.student_id }}) ที่ {{ r.co_op_company.name }}<br>
	    <form method="post" action="{% url 'committee_coop_update_request_result' department.code r.id %}">
	      <input type="submit" name="accepted" class="button small green" value="หน่วยงานรับ">
              <input type="submit" name="rejected" class="button small red" value="หน่วยงานปฏิเสธ">
	    </form>
	  </div>
	</td>
      </tr>
    {% endif %}
  {% empty %}
    <tr class="odd">
      <td colspan="7">ยังไม่มีรายการขอความอนุเคราะห์</td>
    </tr>
  {% endfor %}
</table>
<script>
 function renumber_table() {
   var c = 0;
   $('#requestTableId tr[class!=header]').each(function(){
     var elt = $(this);
     if(elt.is(':visible')) {
       c++;
       elt.find('.co-op-request-counters').text(c);
       if((c % 2) == 1) {
	 elt.addClass('odd');
	 elt.removeClass('even');
       } else {
	 elt.addClass('even');
	 elt.removeClass('odd');
       }
     }
   });
 }

 function filter_table(elt) {
   var allStatuses = ['company-accepted', 'company-rejected', 'committee-accepted', 'committee-rejected', 'committee-wait'];

   if(elt) {
     var thisName = elt.attr('name');
     var thisChecked = elt.attr('checked') == 'checked';
   } else {
     var thisName = 'empty'; var thisChecked = true;
   }

   if((thisName == 'all') && (thisChecked)) {
     $('.request-filters').attr('checked','checked');
   } else if((thisName == 'committee-accepted-all') && (thisChecked)) {
     ['company-accepted', 'company-rejected', 'committee-accepted'].forEach(function(s) {
       $('.request-filters[name=' + s +']').attr('checked','checked');
     });
   } else if(!thisChecked) {
     $('.request-filters[name=all]').attr('checked',false);
     if((thisName == 'committee-accepted') || (thisName == 'company-accepted') || (thisName == 'company-rejected')) {
       $('.request-filters[name=committee-accepted-all]').attr('checked',false);
     }
   }
   
   var flags = {};
   allStatuses.forEach(function(s) {
     var checked = $('.request-filters[name=' + s +']').attr('checked');
     flags[s] = checked == 'checked';
   });
   for(var s in flags) {
     if(flags[s]) {
       $('.co-op-requests-' + s).show();
     } else {
       $('.co-op-requests-' + s).hide();
     }
   };
   renumber_table();
 }
 $(function(){
   $('.request-update-result-toggle-buttons').click(function(){
     var rid = $(this).data('rid');
     $('#requestUpdateRowId-'+rid).toggle();
     return false;
   });
   $('.request-filters').click(function(){
     filter_table($(this));
   });
   filter_table(null);
 });
</script>
