<h3>สถานประกอบการที่ขอคัดเลือกนิสิตเอง</h3>
<p>
  {% if direct_position_count != 0 %}
    ขณะนี้มีข้อมูลของสถานประกอบการที่ขอคัดเลือกนิสิตเองแล้ว จำนวน {{ direct_position_count }} ที่&nbsp;&nbsp
    <a href="{% url 'direct_appl_std_list' %}" 
     class="button blue">
      เข้าพิจารณารายการสถานประกอบการที่ขอคัดเลือกนิสิตเอง
    </a>
  {% else %}
    <b>เร็ว ๆ นี้จะมีข้อมูลของสถานประกอบการที่ขอคัดเลือกนิสิตเอง นิสิตสามารถตรวจสอบได้จากเว็บนี้</b>
  {% endif %}
</p>
{% if direct_appls_count != 0 %}
  <p>
    คุณได้สมัครสถานประกอบการที่ขอคัดเลือกนิสิตเองไว้ {{ direct_appls_count }} ที่&nbsp;&nbsp;
    <a href="{% url 'direct_appl_std_show_applications' %}" class="button green small">ดูรายการและผลการคัดเลือก</a>
  </p>
{% endif %}

