{% extends "std/base.html" %}

{% load wt_media %}

{% block content %}
<h1>ระบบฝึกงานยินดีต้อนรับ! {{ student.student_id }} {{ student.full_name }} </h1>

{% if notice %}
  <div class="notice"><span class="notice-text">{{ notice }}</span></div>
{% endif %}

<b>สถานะการสมัครฝึกงานภาคฤดูร้อน ปี {{ next_academic_year }}:</b> สมัครเข้าฝึกสหกิจ<br/>

<div class="form-section" style="padding:10px;">
  <h3>รายละเอียดส่วนตัว</h3>
  {% if not student_detail.address %}
    {% if has_active_co_op_reqests %}
      <div style="padding: 5px; margin-bottom: 3px; border: 1px solid red; background: #ffe0e0;">
	กรุณากรอกที่อยู่ในส่วนของรายละเอียดส่วนตัวก่อนที่จะดำเนินการสมัครเข้าฝึกงานได้
      </div>
    {% endif %}
  {% endif %}
  {% include "std/coop/include/personal.html" %}
</div>

<div class="form-section company-list-section" style="padding:10px;">
  <h3>ข้อมูลหน่วยงาน</h3>
  {% include "std/coop/include/company_section.html" %}
</div>

<div class="form-section" style="padding:10px;">
  <h3>ข้อมูลการขอสมัครเข้าฝึกงานสหกิจศึกษา</h3>

  {% if student_detail.address or has_active_co_op_reqests %}
    {% include "std/coop/include/request_list.html" %}
  {% else %}
    คุณยังไม่ได้ป้อนที่อยู่ในส่วนของรายละเอียดส่วนตัวด้านบน กรุณาป้อนก่อนที่จะเริ่มขั้นตอนการขอสมัครเข้าฝึกงานสหกิจศึกษา
  {% endif %}
</div>

{% endblock %}
