{% extends "std/base.html" %}

{% block content %}
  <h1>ขอหนังสือขอความอนุเคราะห์ฝึกงานสหกิจศึกษา สำหรับ {{ student.student_id }} {{ student }}</h1>

  <form class="form-section" id="request_form_id" action="{% url 'std_coop_create_request' company.id %}" method="post">

    {% include 'std/coop/include/coop_form_table.html' %}
    
    <hr/>
    <input class="button green" type="submit" name="ok" value="ขออนุมัติ"/>
    <input class="button red" type="submit" name="cancel" value="ยกเลิกการเพิ่มข้อมูล"/>
  </form>
{% endblock %}
