{% extends "base.html" %}

{% block menu %}
<div id="nav">
	<ul>
	  <li><a href="{% url 'std_index' %}">ระบบสำหรับนิสิต</a></li>
	</ul>
</div>
<div id="clear"></div>
{% endblock menu %}


{% block content %}
<p>กรุณา login เพื่อเข้าใช้ระบบ</p>

{% if not logins_with_kusso %}
  {% if error_message %}
    <p class="error_message">{{ error_message }} หรือกรอกรหัสประจำตัวนิสิตผิดรูปแบบ (ไม่ต้องขึ้นต้นด้วยอักษร b)</p>
  {% endif %}
  
  <form method="post" action="{% url 'std_login' %}">
    {% csrf_token %}
    <table>
      <tr>
	<td>รหัสประจำตัวนิสิต</td>
	<td>{{ form.student_id }}</td>
	<td>{{ form.student_id.errors }}</td>
      </tr>
      <tr>
	<td>รหัสผ่านเครือข่ายนนทรี</td>
	<td>{{ form.password }}</td>
	<td>{{ form.password.errors }}</td>
      </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% else %}
  <a class="button green" href="{{ kusso_login_url }}">เข้าใช้ระบบด้วย KU All Login</a>
{% endif %}

{% endblock content %}
