<div id="loading_id" style="float: right; display: none">Loading...</div>
<h3>รายชื่อสถานประกอบการ</h3>
{% if companies|length == 0 %}
  ไม่มีสถานประกอบการที่คุณค้นหา
{% else %}
  {% if companies|length >= 50 %}
    <small>จำนวนผลลัพธ์มากกว่าหรือเท่ากับ 50 รายการ แต่แสดงไม่เกิน 50 อันดับแรก</small>
  {% endif %}
  <ul>
    {% for c in companies %}
      <li>{{ c }}</li>
    {% endfor %}
  </ul>
{% endif %}
