<!--[if IE]>
	<div id="note">
		<div class="left"><p>เพื่อการแสดงผลที่ดีกว่า กรุณาอัพเดพเว็บบราวเซอร์ให้เป็นเวอร์ชันใหม่ หรือใช้</div>
		<div class="left">
  		<a href="http://www.mozilla.com/en-US/firefox/firefox.html">
  			<img src="{% load wt_media %}{% media_url %}/image/Firefox.png" alt="download firefox" title="download firefox" />
  		</a>
  		<a href="http://www.opera.com/download/">
  			<img src="{% media_url %}/image/Opera.png" alt="download opera" title="download opera" />
  		</a>
  		<a href="http://www.apple.com/safari/download/">
  			<img src="{% media_url %}/image/Safari.png" alt="download safari" title="download safari" />
  		</a>
  		<a href="http://www.google.com/chrome/?hl=th">
  			<img src="{% media_url %}/image/Chrome.png" alt="download google chrome" title="download google chrome" />
  		</a>
		</div>
		<div id="clear"></div>
  	</div>
<![endif]-->