{% load wt_media %}

<script type="text/javascript" src="{% media_url %}js/jquery.min.js"></script>
<script type="text/javascript" src="{% media_url %}js/jquery-ui-1.8.1.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% media_url %}css/ui-lightness/jquery-ui-1.8.1.custom.css"/>