<link rel="stylesheet" type="text/css" href="{% load wt_media %}{% media_url %}css/base.css" />

<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="{% load wt_media %}{% media_url %}css/ie-base.css" />
<![endif]-->
<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="{% load wt_media %}{% media_url %}css/ie7-base.css" />
<![endif]-->
<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" href="{% load wt_media %}{% media_url %}css/ie6-base.css" />
<![endif]-->

<!--[if IE]>
<style type="text/css">
	@font-face{
		font-family:'DSNLP';
		src:url({% load wt_media %}{% media_url %}/font/DSNLP.eot);
	}
</style>
<![endif]-->
<style type="text/css">
	@font-face{
		font-family:'DSNLP';
		src:url({% load wt_media %}{% media_url %}font/DSNLP.TTF) format("truetype");
	}
	.announcement-download a[href$="pdf"]{
		padding-left:20px;
		background:url({% media_url %}image/page_white_acrobat.png) no-repeat top left;
	}
	.announcement-download a[href$="docx"],.announcement-download a[href$="doc"]{
		padding-left:20px;
		background:url({% media_url %}image/page_white_word.png) no-repeat top left;
	}
	.error_message{
		color:red;
		padding-left:20px;
		background:url({% media_url %}image/error.png) no-repeat top left;
	}
	.info_message{
		color:#527495;
		padding:5px;
		padding-left:25px;
		background:url({% media_url %}image/information.png) no-repeat 5px #FFFFCC;
		border:1px solid #FFA858;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
	.good_info_message{
		color:#405050;
		padding:5px;
		padding-left:25px;
		background:url({% media_url %}image/information.png) no-repeat 5px #CCFFCC;
		border:1px solid #40CC40;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
	.warning_message{
		color:#00008B;
		padding:5px;
		padding-left:25px;
		background:url({% media_url %}image/exclamation.png) no-repeat 5px #FFFFCC;
		border:1px solid red;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}
	.no-icon{
		background:url({% media_url %}image/no_icon.png) no-repeat center;
		height:18px;
		text-indent:-20em;
		overflow:hidden;
	}
	.yes-icon-with-text{
		background:url({% media_url %}image/yes_icon.png) no-repeat center left;
		height:18px;
		padding-left:22px;
	}
	.yes-icon{
		background:url({% media_url %}image/yes_icon.png) no-repeat center;
		height:18px;
		text-indent:-20em;
		overflow:hidden;
	}
</style>

