{% comment %}
<h4>รายชื่อสถานประกอบการที่ตอบรับ (ฉบับร่าง)</h4>
{% endcomment %}
<p>
รายชื่อนี้เป็นรายชื่อสถานประกอบการที่ยังรับนิสิตได้ <strong>และคาดว่าจะปรากฏให้เลือกในการเลือกรอบถัดไป</strong>
อย่างไรก็ตามรายชื่อดังกล่าวนี้อาจเปลี่ยนแปลงได้เนื่องจากอาจมีการเปลี่ยนแปลงก่อนที่จะถึงรอบที่มีการเลือกนั้น
<table class="info_list receipt_detail_list">
  <tr class="header">
    <th></th>
    <th width="80%">ชื่อสถานประกอบการ</th>
    <th width="10%"></th>
    <th>จำนวนตำแหน่ง</th>
  </tr>
  {% for r in available_receipts %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ forloop.counter }}</td>
      <td>
	{{ r.company }} 
	<div id="id_receipt_{{ r.id }}" class="receipt_detail_box" style="display:none;">
          {% with r as receipt %}
            {% include "std/include/receipt_info.html" %}
          {% endwith %}
	</div>
      </td>
      <td>
	<a id="id_receipt_button_{{ r.id }}" class="receipt-button button tiny blue" href="#">ดูรายละเอียด</a>
      </td>
      <td>{{ r.num_available_positions }}</td>
    </tr>
  {% endfor %}
</table>
</p>
<script type="text/javascript">
  $(function() {
    {% for r in available_receipts %}
      $("#id_receipt_button_{{ r.id }}").data("rid",{{r.id}});
    {% endfor %}
    $(".receipt-button").click(function() {
      var rid = $(this).data("rid");

      //$(".receipt_detail_box").hide();
      $("#id_receipt_" + rid).slideToggle();
      return false;
    });
  });
</script>
