<h3>สถานประกอบการที่ให้คณะให้คัดเลือก</h3>
<p>
  {% if selection_round_status.is_open %}
    ขณะนี้อยู่ระหว่างการเลือกในรอบ {{ selection_round_status.current_round_number }} จะสามารถเลือกได้จนถึงวันที่ {{ current_round.end_time|date:"j N" }} เวลา {{ current_round.end_time|date:"G:i" }}&nbsp;&nbsp;
    {% if can_select_companies %}
      <a href="{% url 'std_selection_list' %}" class="button blue">เข้าพิจารณาและเลือกสถานประกอบการในรอบนี้</a><br/><br/>
      เมื่อเลือกแล้วจะมีอีเมลยืนยันการเลือก และคุณจะสามารถเปลี่ยนการเลือกของคุณได้เรื่อย ๆ จนกว่าจะหมดเวลาในรอบนั้น<br/>
      {% if department %}
        <p class="info_message"><b>หมายเหตุ</b> กรุณาตรวจสอบสาขาวิชาที่นิสิตสังกัด <br/>
		ข้อมูลในระบบคือ <b>{{ department }}</b> ถ้าไม่ตรงกับความเป็นจริง ให้นิสิตแก้ไขให้ถูกต้องที่หน้า <a class="button small green" href="{% url 'std_profile' %}">ข้อมูลส่วนตัว</a> ก่อนจะดำเนินการต่อไป</p>
      {% endif %}
    {% endif %}
  {% else %}
    {% if next_round != None %}
      ขณะนี้การเลือกในรอบ {{ selection_round_status.next_round_number }} ยังไม่เริ่ม
      <b>การเลือกในรอบดังกล่าวจะเริ่มในวันที่ {{ next_round.beginning_time|date:"j N เวลา G:i" }} ถึงวันที่ {{ next_round.end_time|date:"j N เวลา G:i" }}</b><br />
      <!-- <b>การเลือกรอบนี้จะเปิดให้สาขาวิชาวิศวกรรมโยธา วิศวกรรมสำรวจ และวิศวกรรมอุตสาหการเท่านั้น</b> -->
      
    {% else %}
      ขณะนี้ระบบยังไม่มีข้อมูลของการเลือกในรอบถัดไป กรุณาติดตามเวลาเปิดของแต่ละรอบได้ที่เว็บนี้
    {% endif %}
  {% endif %}

  {% if not can_select_companies %}
    <br/>
    อย่างไรก็ตามนิสิตไม่สามารถเลือกสถานประกอบการในรอบดังกล่าวได้ เนื่องจาก
    {{ student.reasons_failed_to_apply_in_selection_round }}
    {% if not department %}
      <br/>
      ให้เข้าเลือกสาขาวิชาที่หน้า <a class="button small green" href="{% url 'std_profile' %}">ข้อมูลส่วนตัว</a> ก่อนจะดำเนินการต่อไป
    {% endif %}
  {% endif %}
</p>

<a class="button green" href="{% url 'std_company_list' %}">ดูรายการสถานประกอบการที่ตอบจดหมายขออนุเคราะห์จากคณะ</a>
