{% extends "regis/base.html" %}

{% block content %}
<div style="float: right">
  <a class="button small" href="{% url 'regis_stats_assignments_companies' year|add:"-1" %}">ข้อมูลปี {{ year|add:"-1" }}</a>
</div>
<h1>รายการหน่วยงานรับนิสิต (ภาคฤดูร้อน ปีการศึกษา {{ year }})</h1>
<h2>หน่วยงานนิสิตจัดหาเอง (กลุ่ม 1)</h2>
<table class="info_list">
  <tr class="header">
    <th></th>
    <th></th>
    {% for d in departments %}
      <th>{{ d.short_name }}</th>
    {% endfor %}
  </tr>
  {% for s in student_company_stat %}
    <tr class="{% cycle 'even' 'odd' %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ s.company.company_name }}</td>
      {% for val in s.stat %}
        {% if val != 0 %}
          <td class="center">{{ val }}</td>
        {% else %}
          <td class="center" style="color: #777">-</td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>

<h2>หน่วยงานคณะจัดหาให้ (กลุ่ม 2)</h2>
<table class="info_list">
  <tr class="header">
    <th></th>
    <th></th>
    {% for d in departments %}
      <th>{{ d.short_name }}</th>
    {% endfor %}
  </tr>
  {% for s in company_stat %}
    <tr class="{% cycle 'even' 'odd' %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ s.company.name }}</td>
      {% for val in s.stat %}
        {% if val != 0 %}
          <td class="center">{{ val }}</td>
        {% else %}
          <td class="center" style="color: #777">-</td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>
{% endblock content %}
