{% extends "regis/base.html" %}

{% block content %}
  <div style="float: right">
    <a class="button small" href="{% url 'regis_stats_coop' %}?year={{ year|add:"-1" }}">ปีฝึกงานก่อนหน้า ({{ year|add:"-1" }})</a>
    {% if year != current_year %}
      <a class="button small" href="{% url 'regis_stats_coop' %}">ปีปัจจุบัน</a>
    {% endif %}
    <a class="button small orange" href="{% url 'regis_index' %}">กลับหน้าหลัก</a>
</div>
<h1>รายการข้อมูลสหกิจศึกษา (ภาคปลาย ปีการศึกษา {{ year|add:"-1" }} และภาคต้น ปีการศึกษา {{ year }})</h1>

<div class="form-section">
  <b>รายชื่อที่ผ่านการรับเข้าฝึกทั้งหมด:</b>
  <a target="_blank" class="button small green" href="{% url 'regis_stats_coop_report' year|add:"-1" 2 %}">ภาคปลาย {{ year|add:"-1" }}</a>
  <a target="_blank" class="button small green" href="{% url 'regis_stats_coop_report' year 1 %}">ภาคต้น {{ year }}</a><br>

  <b>ดาวนโหลดข้อมูล (csv):</b>
  <a class="button small" href="{% url 'committee_coop_report_requests' 0 year|add:-1 2 %}">ภาคปลาย {{ year|add:-1 }}</a>
  <a class="button small" href="{% url 'committee_coop_report_requests' 0 year 1 %}">ภาคต้น {{ year }}</a>
</div>

<table class="info_list lrp2">
  <tr class="header">
    <th></th>
    <th>ภาควิชา</th>
    <th>จำนวนหน่วยงาน<br>ที่นิสิตแจ้ง</th>
    <th>จำนวน<br>การขอความอนุเคราะห์<br>รวม</th>
    <th>การขอที่<br>อ.อนุมัติ</th>
    <th>การขอที่<br>อ.ไม่อนุมัติ</th>
    <th></th>
  </tr>
  {% for s in stats %}
    <tr class="{% cycle 'even' 'odd' %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ s.department }}</td>
      <td style="text-align: right;">{{ s.company_count }}</td>
      <td style="text-align: right;">{{ s.request_count }}</td>
      <td style="text-align: right;">{{ s.approved_request_count }}</td>
      <td style="text-align: right;">{{ s.rejected_request_count }}</td>
      <td>
	{% if year == current_year %}
	  <a href="{% url 'committee_coop_index' s.department.code %}" class="button small" target="_blank">รายละเอียด</a>
	{% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock content %}
