{% extends "regis/base.html" %}
{% load wt_format %}
{% block content %}
<div style="float: right">
  <a class="button small orange" href="{% url 'regis_stats_coop' %}">กลับหน้าสถิติ</a>
</div>
<h1>
  รายการข้อมูลสหกิจศึกษา ({% if internship_semester == 1 %}ภาคต้น{% else %}ภาคปลาย{% endif %} ปีการศึกษา {{ internship_year }})
</h1>

<table class="info_list lrp2">
  <tr class="header">
    <th>ลำดับที่</th>
    <th>เลขประจำตัว</th>
    <th>ชื่อ-นามสกุล</th>
    <th>ที่อยู่นิสิต</th>
    <th>หมายเลขโทรศัพท์</th>
    <th>e-maill address</th>
    <th>ชื่อสถานประกอบการ</th>
    <th>ที่อยู่สถานประกอบการ</th>
    <th>ชื่อผู้ที่จะให้ส่งหนังสือถึง/เบอร์โทรศัพท์/โทรสาร</th>
    <th>ชื่อผู้ประสานงาน/Email</th>
    <th>เริ่ม-สิ้นสุด</th>
    <th>หมายเหตุ</th>
  </tr>
  {% for r in co_op_requests %}
    {% with r.student as s %}
      {% with r.co_op_company as c %}
	<tr class="{% cycle 'even' 'odd' %}">
	  <td>{{ forloop.counter }}</td>
	  <td>{{ s.student_id }}</td>
	  <td>{{ s.short_prefix }}{{ s.full_name }}</td>
	  <td>
	    {% if s.detail %}
	      {{ s.detail.address }}
	    {% endif %}
	  </td>
	  <td>
	    {{ s.tel_no }}
	  </td>
	  <td>
	    {{ s.email }}
	  </td>
	  <td>{{ c.name }}</td>
	  <td>{{ c.address }}</td>
	  <td>{{ r.signer_name }}</td>
	  <td>{{ r.contact_person }} / {{ r.contact_email }}</td>
	  <td>
	    {% thai_short_date r.beginning_date %} - {% thai_short_date r.end_date %}
	  </td>
	  <td>{{ s.department }}</td>
	</tr>
      {% endwith %}
    {% endwith %}
  {% empty %}
    <tr>
      <td colspan="30">
	ยังไม่มีข้อมูล
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock content %}
