{% extends "regis/base.html" %}

{% block content %}
{% if prev_year %}
<div style="float: right">
  <a class="button small" href="{% url 'regis_stat' %}">ข้อมูลปีล่าสุด</a>
  <a class="button small" href="{% url 'regis_stat' prev_year %}">ข้อมูลปี {{ prev_year }}</a>
</div>
{% endif %}
<h1>สถิติแยกตามสาขาวิชาแบบย่อ (ภาคฤดูร้อน ปีการศึกษา {{ year }})</h1>
<table class="info_list" id="stat_department">
  <tr class="header">
    <th>สาขาวิชา</th>
    <th>นิสิตทั้งหมด<br/>(A=B+C)</th>
    <th>
      จำนวน<br/>จัดหาเอง<br/>(B)
    </th>
    <th>
      จำนวน<br/>ให้คณะจัดหา<br/>(C)
    </th>
    <th>
      ได้สถานประกอบการ<br/>(Z)
    </th>
    
    <th>
     ไม่ได้สถานประกอบการ<br/>(A-Z)
    </th>
    <th>ตำแหน่งที่ยังว่าง</th>
  </tr>
  {% for s in dept_sel_stat %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ s.department.name }}</td>
      {% with s.stat as sel_stat %}
        {% include "regis/include/sel_stat_line_brief.html" %}
      {% endwith %}
    </tr>
  {% endfor %}
</table>
{% endblock content %}
