{% extends "regis/base.html" %}

{% block content %}
<h1>สถิติแยกตามสาขาวิชาแบบละเอียด</h1>
<table class="info_list" id="stat_department_detail">
  <tr class="header">
    <th>สาขาวิชา</th>
    <th>
      นิสิตทั้งหมด<br/>
      (A=B+C)
    </th>
    <th>
      ได้สถาน<br/>
      ประกอบการ<br/>
      (Z=X+Y)
    </th>
    <th>
      คัดเอง<br/>
      (X)
    </th>
    <th>
      ผ่านคณะ<br/>
      (Y)
    </th>
    <th>จำนวน<br/>จัดหาเอง<br/>(B)</th>
    <th>รอผล<br/>คัดเอง</th>
    <th>จำนวน<br/>ให้คณะ<br/>จัดหา<br/>(C)</th>
    <th>ยังไม่<br/>เลือก</th>
    <th>
      ตำแหน่งทั้งหมด<br/>
      (ไม่รวมคัดเอง)<br/>
      (N)
    </th>
    <th>
      ตำแหน่งว่าง<br/>
      ทั้งหมด<br/>
      (N-C)
    </th>
    <th>
      ตำแหน่งว่าง<br/>
      ที่แสดง
    </th>
    <th>
      ตำแหน่งว่าง<br/>
      ที่ถูกซ่อน
    </th>
  </tr>
  {% for s in dept_sel_stat %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ s.department.name }}</td>
      {% with s.stat as sel_stat %}
        {% include "regis/include/sel_stat_line.html" %}
      {% endwith %}
    </tr>
  {% endfor %}
</table>
{% endblock content %}
