{% extends "regis/base.html" %}

{% load wt_media %}

{% block extra-head %}
  {{ block.super }}
  <script type="text/javascript" src="{% media_url %}js/table-sorter.js"></script>
{% endblock %}
  
{% block content %}  
  <h1>{{ head }} (ภาคฤดูร้อน ปีการศึกษา {{ year }})</h1>
<table class="info_list" id="{% if with_assigned_company %}showlist_with_company{% else %}{% if stdinfo %}showlist{% else %}showlist_with_company{% endif %}{% endif %}" >
  {% if stdinfo %}
    <tr class="header">
      <th>ลำดับที่</th>
      <th>รหัสนิสิต [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
      <th>ชื่อ</th>
      <th>นามสกุล</th>
      {% if with_registration_type %}
        <th width="8%">ประเภท<br/>สมัคร [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
      {% endif %}
      {% if with_assigned_company %}
        <th>สถานประกอบการ [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
        <th>จังหวัด [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
      {% endif %}
    </tr>
    {% for s in showlist %}
      <tr class="{% cycle 'odd' 'even' %}">
	<td class="center">{{ forloop.counter }}</td>	  	
	<td class="center"><a href={% url 'student_detail' s.student_id %}>{{ s.student_id }}</td>
	<td>{{ s.first_name }}</td>
	<td>{{ s.last_name }}</td>
        {% if with_registration_type %}
          <td class="center">{{ s.registration_type }}</td>
        {% endif %}
	{% if with_assigned_company %}
          <td>
            {% if s.assigned_company.id %}
	      <a href={% url 'regis_company_detail' s.assigned_company.id %}>
	        {{ s.assigned_company }}
  	      </a>
            {% else %}
              {{ s.assigned_company }}
            {% endif %}
	  </td>
          <td>
            {{ s.assigned_company.province }}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  {% else %}
    <tr class="header">
      <th class="center">ลำดับที่</th>
      <th>ชื่อสถานประกอบการ</th>
      <th>จำนวนตำแหน่งที่ว่าง</th>
    </tr>
    {% for s in showlist %}
      <tr class="{% cycle 'odd' 'even' %}">
	<td class="center">{{ forloop.counter }}</td>	  	
	<td>
	  <a href={% url 'regis_company_detail' s.company.id %}>{{ s.company.name }}</a> 
	  <!--{{ s.company.id }}-->
	</td>
	<td class="center">{{ s.num_available_positions }}</td>
      </tr>
    {% endfor %}
  {% endif %}
  

</table>
<script type="text/javascript">
$(function(){
  $(".table-sort-links").click(function() {
    tableSorter.sortTable.call(this);
    return false;
  });
});
</script>
{% endblock content %}

