{% extends "regis/base.html" %}

{% block content %}
{% if not proposed_company %}
<h1>เพิ่มสถานประกอบการใหม่</h1>
{% else %}
<h1>อนุมัติสถานประกอบการที่เสนอจากสาขาวิชา</h1>
{% endif %}
{% if short_name_duplicate_error %}
  <center>
    <span class="notice"><b>เกิดข้อผิดพลาด:</b> ชื่อย่อซ้ำกับสถานประกอบการที่มีอยู่แล้ว</span>
  </center>
{% endif %}
<form class="form-section" action="" method="POST">
  {% if proposed_company %}
    <p>
      สถานประกอบการ {{ proposed_company.name }} เสนอโดยสาขาวิชา{{ proposed_company.department }}<br/> 
      กรุณาตรวจสอบรายละเอียดให้เรียบร้อย
      พร้อมทั้งกำหนดชื่อย่อสถานประกอบการ
      ชื่อย่อนี้ห้ามซ้ำกับชื่อย่อของสถานประกอบการที่มีอยู่แล้ว เมื่อตรวจสอบเรียบร้อยแล้ว
      ให้กด "เพิ่มสถานประกอบการ" เพื่อนำสถานประกอบการดังกล่าวใส่ในรายการ
    </p>
  {% endif %}
  <table class="top-align">
    {{ form.as_table }}
    <tr>
      <td></td>
      <td>
	<input type="submit" value="เพิ่มสถานประกอบการ" class="button"/>
      </td>
    </tr>
  </table>
</form>
<script type="text/javascript">
  var old_value = null;

  function check_short_name(short_name) {
    var error_message = "";
    if(short_name.length < 2)
      error_message += "ชื่อย่อต้องยาวอย่างน้อย 2 ตัวอักษร";
    else {
      $.getJSON('{% url 'regis_company_check_short_name' '' %}' + short_name, 
                function(data) {
                  if(data.found) {
                    if(data.org_short_name != short_name)
                      error_message = ('ไม่สามารถใช้ได้ มีชื่อย่อ ' + 
                                       data.org_short_name + 
                                       ' ที่ถูกใช้แล้วโดย ' + 
                                       data.name);
                    else
                      error_message = 'ไม่สามารถใช้ได้ ชื่อย่อถูกใช้แล้วโดย ' + data.name;
                    $("#short_name_status").html('<span class="errorlist">' + 
                                                 error_message + '</span>');
                  } else {
                    $('#short_name_status').html('<span style="color: green">สามารถใช้ได้</span>');
                  }
                });
    }
    if(error_message!='')
      $("#short_name_status").html('<span class="errorlist">' + 
                                   error_message + '</span>');
  }

  function check_handler() {
      var short_name = $("#id_short_name").val();
      if(short_name != old_value) {
        old_value = short_name;
        check_short_name(short_name);
      }
      setTimeout(check_handler, 500);
  }

  $(function(){
    $("#id_short_name").after('&nbsp;<span id="short_name_status"></span>');

    setTimeout(check_handler, 500);
  });
</script>
{% endblock content %}
