{% extends "regis/base.html" %}
{% block content %}
<p class="error_message">
ผิดพลาด นิสิตอาจได้รับเข้าฝึกงานที่สถานประกอบการอื่นแล้ว
</p>
<a href="{% url 'regis_company_detail' company_id %}">ย้อนกลับไปที่หน้าสถานประกอบการ</a>
{% endblock content %}