﻿{% extends "regis/base.html" %}
{% block content %}
<h2>เพิ่มรายชื่อนิสิต ในบริษัท {{ company.name }}</h2>
<form action="{% url 'regis_company_search_addStd' year company.id %}" method="POST">
   {{ form.student_id.label }}: {{ form.student_id }}
   {{ form.student_name.label }}: {{ form.student_name }}
   {% if not is_committee %}
     {{ form.department.label }}: {{ form.student_department }}
   {% endif %}
   <input type="submit" value="ค้นหา"/>
</form>
{% if notice %}
    <p class="error_message">{{ notice }}</p>
{% endif %}

{% if not is_show_info %}
  <p class="error_message">ผลลัพธ์ที่ได้มีมากเกินไป ระบบจะไม่ตรวจการเพิ่มนิสิตซ้ำซ้อน และไม่ยอมให้เพิ่มนิสิตเข้าสู่บริษัท กรุณาค้นหาให้ละเอียดขึ้น</p>
{% endif %}

{% if students %}
<table>
  <tr>
    <th>เลขประจำตัว</th>
    <th>ชื่อ</th>
    <th>นามสกุล</th>
    <th>ภาควิชา</th>
    <th>สถานประกอบการ</th>
    <th></th>
  </tr>
{% for student in students %}
  <tr>
    <td><a href="{% url 'student_detail' student_id=student.student_id %}">{{ student.student_id }}</a></td>
    <td>{{ student.first_name }}</td>
    <td>{{ student.last_name  }}</td>
    <td>{{ student.department }}</td>
    {% if is_show_info %}
      {% with student.intern_company_for_next_year as int_company %}
        <td style="text-align:center">{% if int_company %}{{ int_company }}{% else %}-{% endif %}</td>
        <td>{% if not int_company %}<a class="assign-button button blue small" href="{% url 'regis_company_addStd' company.id student.student_id year %}">เพิ่ม</a>{% endif %}</td>
      {% endwith %}
    {% else %}
      <td></td>
      <td></td>
    {% endif %}
  </tr>
{% endfor %}
</table>
{% endif %}

<script type="text/javascript">
$(function() {
  $(".assign-button").click(function() {
    return confirm("คุณแน่ใจที่จะเพิ่มนิสิตหรือไม่?");
  });
});
</script>
{% endblock content %}
