﻿{% extends "regis/base.html" %}

{% block content %}
<h1 style="display:inline;">เพิ่มรายละเอียดสถานประกอบการของ {{company_name}} ปีการศึกษา {{year}}</h1>
<a href="{% url 'regis_company_detail' company_id %}">กลับหน้าแสดงสถานประกอบการ</a>
<p class="info_message">กำหนดวันเริ่มฝึกงานและวันสิ้นสุดฝึกงานทั่วไป ใส่ในรูปแบบ (ปีคศ-เดือน-วัน) เช่น (2010-03-22) </p>
<form action="{% url 'regis_company_add_workdetail' company_id year %}" method="POST">
<table>
  {{ form.as_table }}
  <tr>
    <td></td>
    <td>
      <input type="submit" value="บันทึก"/>
    </td>
  </tr>
</table>
</form>
{% endblock content %}
