{% extends "regis/base.html" %}

{% block content %}
<h1>รายการสถานประกอบการที่เสนอโดยภาควิชาของคณะ</h1>
<p class="info_message">ขณะนี้หน่วยกิจการนิสิตสามารถอนุมัติได้ แต่ยังไม่สามารถ "ปฏิเสธการอนุมัติ" ได้ ระบบจะเพิ่มทางเลือกในการไม่อนุมัติเร็ว ๆ นี้</p>
<table class="top-align">
  {% if companies %}
  <tr>
    <th>อันดับ</th>
    <th>สถานประกอบการ</th>
    <th>เสนอโดย</th>
  </tr>
  {% else %}
  <p class="error_message">ยังไม่มีรายการสถานประกอบการที่รอการอนุมัติ</p>
  {% endif %}
  {% for company in companies %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
	{{ company.name }}&nbsp;
	<small>[<a class="detail-link" href="#">รายละเอียด</a>]</small><br/>
	<span class="company-description" style="display:none">
	  <small>
	    {{ company.short_description }}<br/>
	    ที่อยู่: {{ company.address }}
	  </small>
	</span>
      </td>
      <td>{{ company.department }}</td>
      <td>
	<a href="{% url 'regis_company_approve_new' company.id %}" class="button green small">อนุมัติ</a>
      </td>
    </tr>
  {% endfor %}
</table>

<script type="text/javascript">
$(function() {
  $(".detail-link").click(function(){
    $(this).parentsUntil("tr").find(".company-description").toggle();
    return false;
  });
});
</script>
{% endblock content %}
