{% extends "regis/base.html" %}
{% block content %}
<h1 style="display:inline;">ตั้งค่าก่อนการพิมพ์ใบส่งตัว{{ company }}</h1>
<div style="float: right">
  <a href="{% url 'regis_company_detail' company_id %}" class="green small button">แสดงข้อมูลสถานประกอบการ</a>
  <a href="{% url 'regis_company_selection_stat' %}" class="blue small button">กลับหน้าข้อมูลการเลือก</a>
</div>
<form action="{% url 'regis_company_print_letter_pdf' company_id year_no %}" method="POST">
<table class="top-align" id="letter_configuration_table">
  <tr>
  	<th><label for="id_letter_number">เลขที่จดหมาย:</label></th>
  	<td>{{ form.letter_number }}{{ form.letter_number.errors }}</td>
  </tr>
  <tr>
  	<th><label for="id_letter_date">วันที่ออกจดหมาย:</label></th>
  	<td>{{ form.letter_date }}{{ form.letter_date.errors }}</td>
  </tr>
  <tr>
  	<th><label for="id_signer_name">ชื่อผู้รับ:</label></th>
  	<td>{{ form.signer_name }}{{ form.signer_name.errors }}</td>
  </tr>
  <tr>
  	<th><label for="id_letter_beginning_date">วันที่เริ่มฝึกงาน:</label></th>
	<td>{{ form.letter_beginning_date }}{{ form.letter_beginning_date.errors }}</td>
  </tr>
  <tr>
  	<th><label for="id_letter_end_date">วันที่สิ้นสุดฝึกงาน:</label></th>
	<td>{{ form.letter_end_date }}{{ form.letter_end_date.errors }}</td>
  </tr>
  <tr>
  	<th><label for="id_eval_end_date">วันสิ้นสุดรับใบประเมิน:</label></th>
    <td>{{ form.eval_end_date }}{{ form.eval_end_date.errors }}</td>
  </tr>
  <tr>
    <td></td>
    <td>
      <input type="submit" value="พิมพ์ใบส่งตัว" class="button"/>
    </td>
  </tr>
</table>
</form>

<h1 style="display:inline;">พิมพ์ที่อยู่</h1>
<form action="{% url 'regis_company_print_one_label_aid_letter_pdf' company_id %}" method="post">
  จำนวนช่องว่างก่อนหน้า <input type="text" name="empty_slot_count" value="0"/>
  <input type="submit" value="พิมพ์ที่อยู่สำหรับแปะซอง" class="button small green"/>
</form>

<script type="text/javascript">
  $(function() {
    $('#id_letter_date').
      add("#id_letter_beginning_date").
      add("#id_letter_end_date").
      add('#id_eval_end_date').
      datepicker({dateFormat: "yy-mm-dd"});
  });	
</script>
{% endblock content %}
