﻿{% extends "regis/base.html" %}
{% load wt_media %}
{% block content %}
<script>
$(function(){
	$("a#hide-workdetail").hide();
	$("a#show-workdetail").click(function(){
		$('#workdetail').slideDown('fast');
		$(this).hide();
		$("a#hide-workdetail").show();
		return false;
	});
	$("a#hide-workdetail").click(function(){
		$('#workdetail').slideUp('fast');
		$(this).hide();
		$("a#show-workdetail").show();
		return false;
	});
});
</script>

{% if permission.can_edit_company %}
  <div style="float: right">
  	{% if aid_button_enable %}
  	<a class="blue small button" href="{% url 'regis_company_print_aid_letter_pdf' next_year company.id  %}">พิมพ์ใบขอความอนุเคราะห์ {{next_year}}</a>
    {% endif %}
    <a href="{% url 'regis_company_return_receipt' company.id %}" class="small green button">บันทึกใบตอบรับ {{next_year}}</a>
    <a class="green small button" href="{% url 'regis_company_edit' company.id %}">แก้ไขข้อมูลสถานประกอบการ</a>
  </div>
{% endif %}
<h2>ข้อมูลเกี่ยวกับสถานประกอบการ</h2>

<table>
    <tr>
    	<th>ชื่อ: </th>
    	<td>{{company.name}} ({{company.short_name}})</td>
    	<th>ผู้ประสานงาน:</th>
    	{% if company.contact_name %}
    	  <td>
	    {{company.contact_name}}
	  </td>
    	{% else %}
    	  <td class="errorlist">ไม่พบข้อมูล</td>
	{% endif %}
	{% if company.contact_email %}
          <th>E-mail:</th><td>{{ company.contact_email }}</td>
        {% endif %}
    </tr>
    <tr>
    	<th>โทรศัพท์:</th>
    	{% if company.tel_no %}
    	  <td>{{company.tel_no}}</td>
    	{% else %}
    	  <td class="errorlist">ไม่พบข้อมูล</td>
	{% endif %}
    	<th>โทรสาร:</th>
    	{% if company.fax_no %}
    	  <td>{{company.fax_no}}</td>
    	{% else %}
    	  <td class="errorlist">ไม่พบข้อมูล</td>
	{% endif %}
    </tr>
    <tr>
    	<th>ที่อยู่:</th>
    	<td colspan="5">{{company.address}}</td>
    </tr>
</table>
</div>
<div id="content">
  <form action="{% url 'regis_company_detail' company.id %}" method="POST">
    <span id="header_text">แสดงรายชื่อนิสิตฝึกงานในปีการศึกษา {{ form.year }}</span>
    <input type="submit" value="แสดง"/>
    <span id="show-workdetail-botton">
      <a href="#" id="show-workdetail" class="button small">แสดงรายละเอียดการฝึกงาน</a>
    </span>
    <span id="hide-workdetail-botton">
      <a href="#" id="hide-workdetail" class="button small">ซ่อนรายละเอียดการฝึกงาน</a>
    </span>
    {% if permission.can_add_students %}
      <a href="{% url 'regis_company_search_addStd' year company.id  %}" class="button small">เพิ่มรายชื่อนิสิต</a>
    {% endif %}
    {% if permission.can_cancel_assignments %}
      <a href="#" id="assignment-cancel-button" class="button green small">แจ้งปฏิเสธ</a>
    {% endif %}
  </form>

  <div id="workdetail">
    <table>
      <tr>
	<th>วันที่เริ่มฝึกงาน</th>
	{% if workdetail.beginning_date %}
	<td>: {{ workdetail.beginning_date }}</td>
	{% else %}
	<td class="errorlist">ไม่พบข้อมูล</td>
	{% endif %}
	<th>วันสิ้นสุดการฝึกงาน</th>
	{% if workdetail.end_date %}
	<td>: {{ workdetail.end_date }}</td>
	{% else %}
	<td class="errorlist">ไม่พบข้อมูล</td>
	{% endif %}
      </tr>
      <tr>
	<th>การแต่งกายในการฝึกงาน</th>
	{% if workdetail.dressing_description %}
	<td>: {{ workdetail.dressing_description }}</td>
	{% else %}
	<td class="errorlist">ไม่พบข้อมูล</td>
	{% endif %}
	<th></th>
	<td></td>
      </tr>
      <tr>
	<th colspan="4">รายละเอียดอื่น ๆ</th>
      </tr>
      <tr>
	{% if workdetail.other_description %}
	<td colspan="4">{{ workdetail.other_description }}</td>
	{% else %}
	<td colspan="4" class="errorlist">ไม่พบข้อมูล</td>
	{% endif %}
      </tr>
      {% if permission.can_edit_workdetail %}
        <tr>
	  <td colspan="4"><a href="{% url 'regis_company_edit_workdetail' company.id year %}" class="green small button">แก้ไขรายละเอียดสถานประกอบการ</a></td>
	</tr>
      {% endif %}  
    </table>
  </div>
  <p>
    นิสิตฝึกงานทั้งสิ้น {{ assignments|length }} คน | 
    ข้อมูลเพิ่มเติม:
    <input id="tel_show_id" type="checkbox"/> แสดงหมายเลขโทรศัพท์
    <input id="email_show_id" type="checkbox"/> แสดงอีเมล์

    {% if assignments|length > 0 %}
      {% include "regis/include/student_list_from_assignments.html" %}

      {% if permission.can_print_intro_letter %}
        <a class="blue button" href="{% url 'regis_company_print_letter_pdf' company.id year  %}">พิมพ์ใบส่งตัว</a>
      {% endif %}    
    {% endif %}
  </p>
</div>
<script type="text/javascript">
  $("#assignment-cancel-button").click(function(){
    $(".cancel-links").show();
    return false;
  });
  $(".cancel-links").click(function(){
    $(this).parents("td").first().find(".cancel-forms").show();
    $(this).hide();
    return false;
  });
  $(".cancel-assignment-submit").click(function() {
    return confirm("คุณแน่ใจที่จะยกเลิกการฝึกงานนี้");
  });
  $("#tel_show_id").click(function() {
    if($(this).attr('checked'))
      $(".std_telnum").show();
    else
      $(".std_telnum").hide();
  });
  $("#email_show_id").click(function() {
    if($(this).attr('checked'))
      $(".std_email").show();
    else
      $(".std_email").hide();
  });
// type="checkbox"/> แสดงหมายเลขโทรศัพท์
//    <input id="email_show_id" type="checkbox"/> แสดงอีเมล์
</script>
{% endblock content %}
