{% extends "regis/base.html" %}
{% block content %}
<h1 style="display:inline;">แก้ไขข้อมูลสถานประกอบการ</h1>
<a href="{% url 'regis_company_detail' company_id %}" class="right medium green button">กลับหน้าแสดงสถานประกอบการ</a>
<form action="{% url 'regis_company_edit' company_id %}" method="POST">
<table class="top-align">
  {{ form.as_table }}
  <tr>
    <td></td>
    <td>
      <input type="submit" value="แก้ไข" class="button"/>
    </td>
  </tr>
</table>
</form>
{% endblock content %}
