{% extends "regis/base.html" %}
{% load wt_media %}
{% block content %}

<a class="button" href="{% url 'regis_company_print_all_aid_letter_pdf' next_year %}">พิมพ์ใบขอความอนุเคราะห์ {{next_year}}</a>
<a class="button" href="{% url 'regis_company_print_all_label_aid_letter_pdf' next_year %}">พิมพ์ใบจ่าหน้าซองจดหมายขอความอนุเคราะห์ {{next_year}}</a>

{% endblock content %}