﻿{% extends "regis/base.html" %}
{% block content %}
<h1 style="display:inline;">รายชื่อสถานประกอบการที่ภาควิชาเลือก</h1>
<form action="{% url 'regis_company_selection' %}" method="POST">
      {{ dept_form.as_table }}
	  <input type="submit" value="แสดง"/>
</form>

	{% if companies %}
		<p class="info_message">มีทั้งสิ้น {{companies|length}} สถานประกอบการ</p>
		<table class="show-line-color" width="90%">
			<tr>
			  <th>ลำดับที่</th>
			  <th>ชื่อย่อ</th>
			  <th>ชื่อบริษัท</th>
			  <th></th>
			</tr>
			{% for company in companies %}
			  <tr class="{% cycle 'odd' 'even' %}">
			<td>{{ forloop.counter }}</td>
			<td>{{ company.short_name }}</td>
			<td>{{ company.name }}</td>
			<td><a href="{% url 'regis_company_detail' company.id %}" class="green button small">ดูข้อมูลเพิ่มเติม</a></td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		{% if department %}<p class="info_message">ไม่มีสถานประกอบการที่ภาควิชา {{department.name}} เลือก</P>{% endif %}
	{% endif %}

{% endblock content %}

