﻿{% extends "regis/base.html" %}
{% load wt_media %}
{% block content %}
<div style="float:right">
  <a href="{% url 'regis_company_selection_stat' %}" class="button blue small">กลับไปหน้าแสดงสถานะการเลือก</a>
</div>
<h2>พิมพ์ที่อยุ่สถานประกอบการ</h2>

<form action="{% url 'regis_company_print_saved_labels_pdf' %}" method="post">
  <b>พิมพ์รายการ:</b> จำนวนช่องว่างก่อนหน้า <input type="text" name="empty_slot_count" value="0"/>
  <input type="submit" value="พิมพ์ที่อยู่ตามรายการด้านล่าง" class="button small green"/>
</form>
<b>ลบรายการที่จำไว้:</b> <a href="{% url 'regis_company_remove_all_labels' %}" class="button red small">ลบรายการที่จำไว้ทั้งหมด</a>
<br/>
<br/>

<h2>สถานประกอบการที่เลือกไว้เพื่อพิมพ์ที่อยุ่</h2>
<table class="info_list">
  <tr class="header">
    <th>ลำดับที่</th>
    <th>สถานประกอบการ</th>
    <th></th>
  </tr>
  {% for company in companies %}
    <tr class="{% cycle "odd" "even" %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ company.name }}</td>
      <td>
	<a href="{% url 'regis_company_remove_label' company.id %}" class="button red small">ลบออกจากรายการ</a>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock content %}
