﻿<html>
<head>
<title>ใบส่งตัว | ระบบฝึกงาน คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์</title>
<style type="text/css">
#container{
	width:100%;
	margin:0 auto;
}
#leftcolumn{
	width:45%;
	float:left;
}
#rightcolumn{
	width:235px;
	float:right;
}
#centercolumn{
	text-align:center;
}
#logo{
	text-align:center;
	float:left;
	margin-top:-25px;
}
#clear{
	clear:both;
}
body{
	font-family:CordiaUPC ,Cordia New;
	font-size:19px;
}
table{
	font-size:19px;
	line-height:22px;
}
p{ word-wrap:break-word; }
#indent{
	text-indent:45px;
}

</style>
</head>
<body>
<script language="javascript">
	function myprint()
	{
	window.print();
	}
</script>
<input name="btnPrint" type="button" id="btnPrint" value="สั่งพิมพ์" onClick="JavaScript:this.style.display='none';myprint();">
<div id="container">
	<br />
	<div id="leftcolumn">
		ที่ ศธ /ว.
	</div>
	<div id="logo">
		<img src="/site_media/image/tra_krut.gif"/>
	</div>
	<div id="rightcolumn">
	คณะวิศวกรรมศาสตร์<br />
	มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตบางเขน<br />
	ตู้ ป.ณ.1032 ปทฝ. เกษตรศาสตร์<br />
	กรุงเทพมหานคร 10903
    </div>
	<div id="clear"></div>
	<div id="centercolumn">{% load wt_format %}{% thai_full_date date %}</div>
	<div id="content">
		<p>
			เรื่อง ขอส่งรายชื่อนิสิตเข้าฝึกงานภาคฤดูร้อน<br />
			เรียน
			<br />
			สิ่งที่ส่งมาด้วย  1. แบบตอบรับยืนยันการรับนิสิตฝึกงาน
		</p>
		<p id="indent">
			คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ ขอขอบคุณที่ท่านให้ความร่วมมือในการรับนิสิตเข้าฝึกงาน ในระหว่างวันที่ ... ถึง ... โดยมีชั่วโมงการฝึกงาน ใน 2 เดือนไม่ต่ำกว่า 240 ชั่วโมง และไม่น้อยกว่า 30 วัน
			จำนวน {{ students|length }} คน มีรายชื่อดังนี้
		</p>
		<ul>
			<table width="600px" align="center">
				<tr align="left">
			    	<th>เลขประจำตัวนิสิต</th><th>ชื่อ-นามสกุล</th><th>ชั้นปีที่</th><th>สาขาวิชาวิศวกรรม</th>
			    </tr>
				{% for student in students %}
			    <tr>
					<td>{{ student.student_id }}</td><td>{{ student.first_name }} {{ student.last_name }}</td><td></td><td>{{ student.department }}</td>
			    </tr>
			    {% endfor %}
			</table>
		</ul>
		<p>
			ทั้งนี้ขอความอนุเคราะห์ท่านโปรดยืนยันการตอบรับนิสิตเข้าฝึกงานตามแบบฟอร์มที่แนบมาพร้อมนี้
			ทางโทรสารมายังคณะวิศวกรรมศาสตร์ สำหรับแบบประเมินผลและใบลงเวลาการปฏิบัติงาน
			นิสิตจะนำมาส่งที่บริษัท/หน่วยงานในวันแรกที่รายงานตัวเข้าฝึกงาน
		</p>
		<p id="indent">
			อนึ่ง เมื่อนิสิตฝึกงานเสร็จเรียบร้อยแล้ว ขอให้บริษัท/หน่วยงานส่งแบบประเมินผลและใบลงเวลาของนิสิตมายังหน่วยกิจการนิสิต
			คณะวิศวกรรมศาสตร์ ตู้ ป.ณ.1032 ปทฝ.เกษตรศาสตร์ กรุงเทพฯ 10903 ภายในวันที่ ........ ด้วย
			จักขอบพระคุณยิ่ง หากพ้นกำหนดนี้นิสิตจะไม่ผ่านการฝึกงาน
		</p>
	</div>
	<div id="centercolumn">
		ขอแสดงความนับถือ<br />
		(.......................................................................)<br />
		รองคณบดีฝ่ายกิจการนิสิต
	</div>
	<div id="leftcolumn">
	คณะวิศวกรรมศาสตร์<br />
	โทร. 0-2942-8555 ต่อ 1121 , 0-2579-2222<br />
	โทรสาร 0-2942-8555 ต่อ 1168 , 0-2579-2775
	</div>
</div>
</body>
</html>