{% extends "regis/base.html" %}

{% block content %}

<div class="right">
<a class="small green button" href="{% url 'regis_company_detail' company.id %}" id="receipt_form_save">กลับไปหน้ารายละเอียดสถานประกอบการ</a>
</div>
<script type="text/javascript">
$(function() {
  $("#receipt_form_save").click(function() {
    return confirm("คุณยังไม่ได้บันทึกแบบตอบรับจากสถานประกอบการ กรุณาตรวจสอบ\nถ้าแน่ใจและไม่ต้องการบันทึก ให้กดปุ่มยืนยัน (หรือ OK)");
  });
});
</script>
<h1>แบบบันทึกแบบตอบรับจากสถานประกอบการ {{ company.name }} สำหรับปี {{ nextyear }}</h1>
<p></p>
<form method="post" action="">
  <div class="form-section">
    <h3>รายละเอียดการฝึกงานทั่วไป ปี {{ nextyear }}</h3>
    <table>
      <tr>	
        <th>{{ form.beginning_date.label_tag }}: </th>
        <td>
          {{ form.beginning_date }}
          <small>
	    [<a id="id_set_default_beginning_date" href="#">ใช้ตามกำหนดคณะ</a>]
	  </small>
          <br/>{{ form.beginning_date.errors }}
        </td>
        
        <th>{{ form.end_date.label_tag }}: </th>
        <td>
          {{ form.end_date }} 
          <small>
	    [<a id="id_set_default_end_date" href="#">ใช้ตามกำหนดคณะ</a>]
	  </small>
          <br/>{{ form.end_date.errors }}
        </td>
      </tr>
      <tr>
        <th>{{ form.dressing_description.label_tag }}: </th>
        <td colspan="3">
          {{ form.dressing_description }}
        </td>
      </tr>
      <tr>
        <th>{{ form.other_description.label_tag }}: </th>
        <td colspan="3">
          {{ form.other_description }}
        </td>
      </tr>
      
    </table>
  </div>
  <p></p>
  <div class="form-section">
    <h3>รายละเอียดการฝึกงานแยกตามภาควิชา</h3>
    {{ receipt_formset.management_form }}
    {{ receipt_formset.non_form_errors }}
    <table id="receipt-detail">
      {% for form in receipt_formset.forms %}
        {{ form.id }}
        <tr class="{% cycle 'even' 'odd' %}">
	  <th rowspan="3" style="width:30px;">{{ forloop.counter }}</th>
	  <td>{{ form.department.label_tag }} : </td>
	  <td>{{ form.department }}{{ form.department.errors }}</td>
	  <td>{{ form.total_student.label_tag }} : </td>
	  <td>{{ form.total_student }}{{ form.total_student.errors }}</td>
	</tr>
        <tr class="{% cycle 'even' 'odd' %}">
	  <td>{{ form.work_address.label_tag }} : </td>
	  <td colspan="3">
	    {{ form.work_address }}
            {% if company.address %}
  	      <small>
	        [<a class="class_set_default_workaddress" href="#">ใช้ตามที่อยู่หลักของสถานประกอบการ</a>]
	      </small>
	    {% endif %}
	    {{ form.work_address.errors }}
	  </td>
	  
	</tr>
        <tr class="{% cycle 'even' 'odd' %}">
	  <td>{{ form.work_description.label_tag }} : </td>
	  <td colspan="3">{{ form.work_description }}{{ form.work_description.errors }}</td>
	</tr>
      {% endfor %}
    </table>
  </div>
    
  <input id="id_receipt_form_save_and_continue" name="okay_continue" type="submit" value="บันทึกและเพิ่ม"/>
  <input id="id_receipt_form_save" name="okay" type="submit" value="บันทึกและกลับไปค้นหาสถานประกอบการอื่น"/>
</form>
<script type="text/javascript">
	function assign_set_default_date(link_sel, input_sel, date_str) {
	    $(link_sel).click(function() {
	      $(input_sel).val(date_str);
	      return false;
	    });
	}
	 
	$(function() {
		$("#id_received_at").
	    	add("#id_beginning_date").
	    	add("#id_end_date").
	    	datepicker({dateFormat: "yy-mm-dd"});

		assign_set_default_date("#id_set_default_beginning_date",
                "#id_beginning_date",
                "{{ default_beginning_date }}");

		assign_set_default_date("#id_set_default_end_date",
                "#id_end_date",
                "{{ default_end_date }}");
	        $('a.class_set_default_workaddress').click(function(){
			$(this).parentsUntil("tr").find(".workaddress").val("ที่อยู่บริษัท : {{ company.one_line_address|escapejs }}");
	                return false;
		});
	});
</script>
{% endblock content %}
