﻿{% extends "regis/base.html" %}
{% load wt_media %}
{% block content %}
<h2>ค้นหาสถานประกอบการที่มีนิสิตฝึกงานตามจังหวัด</h2>

<form action="" method="POST">
  <table>
    {{ form.as_table }}
    <tr>
      <td></td>
      <td>
        <input type="submit" value="ค้นหา"/>
      </td>
    </tr>
  </table>
</form>

{% if has_search_result %}
  <h3>สถานประกอบการสำหรับกลุ่ม 2</h3>
  {% if companies %}
    <table class="info_list">
      <tr class="header">
        <th width="20px"></th>
        <th>ชื่อสถานประกอบการ</th>
        <th>ที่อยู่</th>
      </tr>
      {% for company in companies %}
        <tr class="even">
          <td class="center">{{ forloop.counter }}</td>
          <td>{{ company }}</td><td>{{ company.address }}</td>
        </tr>
        {% for assignment in company.current_assignments %}
          <tr class="odd">
            <td></td>
            <td colspan="2">
              {% with assignment.student as student %}
                {{ forloop.counter }}. <a href="{% url 'student_detail' student.student_id %}" target="_blank">{{ student.student_id }}</a>
                {{ student }}
                ({{ student.department }})
                &nbsp;&nbsp; {{ student.email }} 
                &nbsp;&nbsp; {{ student.tel_no }}
              {% endwith %}
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
  {% else %}
    ไม่มี  
  {% endif %}
  <h3>สถานประกอบการสำหรับกลุ่ม 1 (ทางเลือก 1)</h3>
  {% if company_requests %}
    <table class="info_list">
      <tr class="header">
        <th width="20px"></th>
        <th>ชื่อสถานประกอบการ</th>
        <th>ที่อยู่</th>
      </tr>
      {% for cr in company_requests %}
        <tr class="even">
          <td class="center">{{ forloop.counter }}</td>
          <td>{{ cr.company_name }}</td><td>{{ cr.working_address }}</td>
        </tr>
        {% for assignment in cr.current_assignments %}
          <tr class="odd">
            <td></td>
            <td colspan="2">
              {% with assignment.student as student %}
                {{ forloop.counter }}. <a href="{% url 'student_detail' student.student_id %}" target="_blank">{{ student.student_id }}</a>
                {{ student }}
                ({{ student.department }})
                &nbsp;&nbsp; {{ student.email }}
                &nbsp;&nbsp; {{ student.tel_no }}
              {% endwith %}
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
  {% else %}
    ไม่มี  
  {% endif %}
{% endif %}

{% endblock content %}
