﻿{% extends "regis/base.html" %}
{% load wt_media %}
{% block content %}
<div style="float:right">
  เก็บที่อยู่ไว้ <span id="saved_company_count_id">{{ saved_company_count }}</span> สถานประกอบการ 
  <a href="{% url 'regis_company_list_saved_labels' %}" class="button blue small">ดูและพิมพ์</a>
  <a href="{% url 'regis_company_selection_stat_with_year' year|add:"-1" %}" class="button orange small">ข้อมูลปี {{ year|add:"-1" }}</a>
</div>
<h2>ข้อมูลการเลือกสถานประกอบการที่ให้คณะคัดเลือกเอง ({{ year }})</h2>

<table id="regis_company_selection_stat_table" class="info_list">
  <tr class="header">
    <th>สถานประกอบการ</th>
    <th>ภาควิชาที่สมัครได้<br/>(ดูคำอธิบายสีด้านล่าง)</th>
    <th width="32px"></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {% for company in companies %}
    {% include "regis/company/include/company_stat_row.html" %}
  {% endfor %}
</table>

<p class="info_message">
  <b>คำอธิบายสี</b> สีเขียว: สาขาวิชานั้นเลือกและอนุมัติครบแล้ว, สีเหลือง: สาขานั้นมีการเลือกบางส่วน, สีแดง: สาขานั้นยังไม่ได้เลือกเลย<br/>
  <b>เครื่องหมายถูก: </b>สถานประกอบการนั้นได้พิมพ์ใบส่งตัวแล้ว
</p>
<script type="text/javascript">
var extract_id = function(ids) {
  items = ids.split("_");
  return items[2];
};

var handle_mod_click = function() {
  var company_id = extract_id(this.id);
  var $url = $(this).attr("href");
  $.post($url, function(data) {
    $("#info_row_" + company_id + "_id").replaceWith(data);
    $("#info_row_" + company_id + "_id .mod_buttons").click(handle_mod_click);
  });
  return false;
};

var handler_toggle_click = function() {
  var $this = $(this);
  var marker_num = $this.hasClass('marker0') ? 0 : 1;
  var $url = $this.attr("href");
  $.post($url, function(data) {
    if(data=='true') {
      if(marker_num == 0)
        var img_src = "{% media_url %}/image/marker-marked.png";
      else
        var img_src = "{% media_url %}/image/marker-marked-green.png";
    } else
      var img_src = "{% media_url %}/image/marker-empty.png";
    $this.find("img").attr("src",img_src);
  });
  return false;
};

$(function() {
  $(".save_label_link").click(function() {
    $url = $(this).attr("href");
    $.get($url, function(data) {
      $("#saved_company_count_id").text(data);
    });
    return false;
  });
  $(".mod_buttons").click(handle_mod_click);
  $(".status_toggle_link").click(handler_toggle_click);
});
</script>
{% endblock content %}
