<b>ข้อมูลการเลือกหน่วยงานประเภท 1.2</b><br>
<table class="info_list" style="font-size: 80%"">
  <tr class="header">
    <th></th>
    <th>ชื่อหน่วยงาน</th>
    <th>วันที่แจ้ง</th>
    <th>สถานะ</th>
    <th></th>
    <th></th>
  </tr>
  {% for a in self_appl_info.direct_applications %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ forloop.counter }}</td>
      <td>
        {{ a.company_name }}
      </td>
      <td>{{ a.created_at|date:'j M' }}</td>
      <td>
        {% if a.is_waiting %}
          รอผล
        {% else %}
          {% if a.is_accepted %}
            {% if a.is_chosen %}
              รับแล้ว, เลือกหน่วยงานนี้,
              {% if a.is_confirmed_by_committee %}
                กรรมการยืนยันแล้ว
              {% else %}
                {% if a.is_confirmed_by_committee == None %}
                  รอการยืนยันจากกรรมการ
                {% else %}
                  กรรมการปฏิเสธการยืนยัน กรุณาติดต่อกรรมการ
                {% endif %}
              {% endif %}
            {% else %}
              รับแล้ว, ปฏิเสธเข้าฝึกงาน
            {% endif %}
          {% else %}
            ไม่รับ
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if a.is_accepted and a.is_chosen %}
          <a class="button small blue da_edit_buttons" href="#" data-da-id="{{ a.id }}">แก้ไขข้อมูลหน่วยงาน</a>
        {% else %}
          แก้ไขได้เฉพาะกรณีที่นิสิตเลือกและยืนยัน
        {% endif %}
      </td>
      <td>
        {% if a.is_accepted and a.is_chosen %}
          <a href="{% url 'committee_letters_print_for_application_pdf' student.department.code a.id %}" class="button small orange" target="_blank">ดาวน์โหลดใบส่งตัว</a>
        {% endif %}
      </td>
    </tr>
    <tr id="edit_row_{{ a.id }}_id" style="display: none;" class="edit_rows">
      <td></td>    
      <td colspan="5">
        <form id="app_form_{{ a.id}}_id" style="background: #ffffff; border: 1px solid #666666; padding: 5px; border-radius: 3px;" method="post" action="{% url 'regis_update_direct_company_application' student.student_id a.id %}">
          <h2>แก้ไขข้อมูล {{ a.company_name }}</h2>
          {{ a.form.as_p }}
          <input class="button small" type="submit" name="ok" value="จัดเก็บการแก้ไข">
          <input class="button small red" type="submit" name="cancel" value="ยกเลิกการแก้ไข">
        </form>
      </td>
    </tr>
  {% endfor %}
</table>
<script>
 $(function(){
   $(".da_edit_buttons").click(function(){
     $(".edit_rows").hide();
     var id = $(this).data('daId');
     if(!id) {
       id = $(this).data('da-id');
     }
     var rowId = 'edit_row_' + id + '_id';
     $('#' + rowId).slideDown();
     return false;
   });

  $("input[name='beginning_date']").addClass('date_inputs');
  $("input[name='end_date']").addClass('date_inputs');

  $(".date_inputs").datepicker({dateFormat: "yy-mm-dd", beforeShowDay: $.datepicker.noWeekends});

  {% for a in self_appl_info.direct_applications %}
   {% if a.detail.is_default_schedule %}
     $("#app_form_{{ a.id }}_id select[name='period_choice']").val('standard');
   {% else %}
     $("#app_form_{{ a.id }}_id select[name='period_choice']").val('custom');
   {% endif %}
  {% endfor %}
 });
</script>
