<b>ข้อมูลการเลือกหน่วยงานประเภท 1.1</b><br>
<table class="info_list" style="font-size: 80%"">
  <tr class="header">
    <th></th>
    <th>ชื่อหน่วยงาน</th>
    <th>นิสิต</th>
    <th>นิสิตยืนยันครบ</th>
    <th>กรรมการอนุมัติ</th>
    <th>หน่วยงานแจ้งผล</th>
    <th></th>
    <th></th>
  </tr>
  {% for cr_item in self_appl_info.company_request_items %}
    {% with cr_item.company_request as company_request %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ forloop.counter }}</td>
        <td>{{ company_request.company_name }}</td>
        <td>
          <ul>
            {% for s in company_request.students.all %}
              <li>
                {% if s.is_approved %}
                  {{ s.student.student_id }} {{ s.student }} 
                  {% if company_request.accepted_at != None %}
                    {% if s.is_accepted %}
                      <span class="info-tag green">หน่วยงานรับ</span>
                    {% else %}
                      <span class="info-tag red">หน่วยงานปฏิเสธ</span>
                    {% endif %}
                  {% else %}
                    <span class="info-tag green">ยืนยัน</span>
                  {% endif %}
                {% else %}
                  {% if s.is_approved == None %}
                    {{ s.student.student_id }} {{ s.student }}
                    <span class="info-tag orange">รอการยืนยัน</span>
                  {% else %}
                    <span style="color: #909090">{{ s.student.student_id }} {{ s.student }}</span>
                    <span class="info-tag red">ถอน</span>
                  {% endif %}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </td>
        <td>{% if company_request.has_all_confirmed %}ครบ{% else %}ยังไม่ครบ{% endif %}</td>
        <td>{% if company_request.is_approved_by_committee %}{{ company_request.approved_at|date:"j M" }}{% else %}{% if company_request.is_approved_by_committee == None %}รออนุมัติ{% else %}ไม่อนุมัติ{% endif %}{% endif %}</td>
        <td>
          {% if company_request.accepted_at == None %}
            รอผล
          {% else %}
            {{ company_request.accepted_at|date:"j M" }}
          {% endif %}
        </td>
        <td>
          <a id="cr_id_button_{{ company_request.id }}_id" class="button small blue cr_edit_buttons" href="#" data-cr-id="{{ company_request.id }}">แก้รายละเอียด</a>
        </td>
        <td>
          {% if company_request.is_accepted %}
            <a target="_blank" href="{% url 'committee_letters_print_for_request_pdf' student.department.code company_request.id %}"
              class="letter-print-links button blue small">พิมพ์ใบส่งตัว</a>
          {% endif %}
        </td>
      </tr>
      <tr id="edit_row_{{ company_request.id }}_id" class="edit_rows" style="display: none">
        <td></td>
        <td colspan="7">
          <form style="background: #ffffff; border: 1px solid #666666; padding: 5px; border-radius: 3px;" method="post" action="{% url 'regis_update_company_request' student.student_id company_request.id %}">
            <h2>แก้ข้อมูล{{ company_request.company_name }}</h2>
            {{ cr_item.form.as_p }}
            <input class="button small" type="submit" name="ok" value="จัดเก็บการแก้ไข">
            <input class="button small red" type="submit" name="cancel" value="ยกเลิกการแก้ไข">
          </form>
        </td>
      </tr>
    {% endwith %}
  {% endfor %}
</table>
<script>
 $(function() {
   $(".cr_edit_buttons").click(function(){
     $(".edit_rows").hide();
     var id = $(this).data('crId');
     if(!id) {
       id = $(this).data('cr-id');
     }
     
     var rowId = 'edit_row_' + id + '_id';
     $('#' + rowId).slideDown();
     return false;
   });

  $("input[name='beginning_date']").addClass('date_inputs');
  $("input[name='end_date']").addClass('date_inputs');

  $(".date_inputs").datepicker({dateFormat: "yy-mm-dd", beforeShowDay: $.datepicker.noWeekends});
 });
</script>
