<p>
  <table>
    <tr>
      <td>ภาควิชา</td>{% if student.department %}<td>: {{ student.department }} {% else %}<td class="errorlist">: ไม่มีข้อมูล{% endif %}</td>
    </tr>
    <tr>
      <td>E-mail</td>{% if student.email %}<td>: {{ student.email }} {% else %}<td class="errorlist">: ไม่มีข้อมูล {% endif %}</td>
    </tr>
    <tr>
      <td>เบอร์โทรศัพท์</td>{% if student.tel_no %}<td>: {{ student.tel_no }} {% else %}<td class="errorlist">: ไม่มีข้อมูล {% endif %}</td>
    </tr>
  </table>
</p>

