<h3>ข้อมูลการฝึกงาน</h3>
{% for year, info in wt_info %}
  <h4>ประจำปีการศึกษา {{ year }}</h4>
  {% if info.assignment %} 
  <table>
    {% with info.assignment as a %}
      <tr>
        <td style="vertical-align: top">สถานที่ฝึกงาน:</td>
        <td>
          {{ a.get_company_name }}&nbsp;&nbsp;
          {% if a.is_self_application %}
          {% else %}
            <a href="{% url 'regis_company_detail' company_id=a.company.id %}" class="button small">ดูข้อมูลบริษัท</a>
          {% endif %}
            
	  {% if permission.can_change_company %}
            <a href="{% url 'search_change_student_company' student_id=student.student_id year=a.year %}" class="button small">ย้ายสถานที่ฝึกงาน</a>
	  {% endif %}

	  {% if permission.can_edit_evaluation %}
  	    <a href="{% url 'evaluations_edit_by_assignment' a.id %}" class="button small">ป้อนและแก้ไขแบบประเมิน</a>
            <a href="{% url 'evaluations_generate' a.id %}" target="_blank" class="button orange small">ลิงก์กรอกแบบประเมิน (สำหรับหน่วยงาน)</a>
	  {% endif %}  
	</td>
      </tr>
    {% endwith %}
    {% if info.evaluation %}
      <tr>
        <td style="vertical-align: top">ผลการฝึกงาน:</td>
        <td>
          {% if info.evaluation.is_passed %}
            <b>ผ่านการฝึกงาน</b>
          {% else %}
            {% if not info.evaluation.is_passed %}
              <b>ไม่ผ่านการฝึกงาน</b>
            {% else %}
              ยังไม่ทราบผล
            {% endif %}
          {% endif %}
          (ได้รับเมื่อแบบประเมินเมื่อ {{ info.evaluation.received_at|date:"j N Y" }})
        </td>
      </tr>
    {% endif %}
  </table>
  {% endif %}
  
  {% if info.direct_apps %} 
  <table>
    <tr>
      <th colspan="10">ข้อมูลการสมัครฝึกงานสถานประกอบการที่ขอคัดเลือกนิสิตเอง</th>
    </tr>
    <tr>
      <th>อันดับ</th>
      <th>สถานประกอบการ</th>
      <th>วันที่สมัคร</th>
      <th>ผลการสมัคร</th>
    </tr>
    {% for app in info.direct_apps %}
    <tr>
      <td>{{ forloop.counter }}.</td>
      <td>{{ app.position.company.name }}</td>
      <td>{{ app.apply_at|date:"j N" }}</td>
      <td>
	{{ app.get_is_accepted_display }}
      </td>
      <td>
        <a href="{% url 'regis_company_detail' company_id=app.position.company.id %}" class="button small">ดูข้อมูลบริษัท</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
{% empty %}
  <ul><li>ยังไม่มีข้อมูลการเข้าฝึกงาน</li></ul>
{% endfor %}
