{% extends "std/base.html" %}

{% block content %}
<h1> รายชื่อสถานประกอบการสำหรับเลือกในรอบ {{ current_round.number }} (จำนวน {{ receipts|length }} สถานที่)</h1>

<div class="selected_company_banner">
  สำหรับรอบที่ {{ current_round.number }}
  {% if selected_company and selected_receipt %}
    สถานประกอบการที่คุณเลือกไว้คือ: {{ selected_company }} 
    <small>(สามารถเปลี่ยนได้ด้านล่าง)</small>
    {% if current_selection and current_selection.result %}
      <br/>
      นอกจากนี้เนื่องจากการปรับเปลี่ยนระยะเวลาของรอบในการเลือกกรรมการได้อนุมัติให้คุณไปฝึกยังสถานประกอบการดังกล่าวแล้ว
      <br/>
      ดังนั้นคุณจะแก้ไขไม่ได้อีก
    {% endif %}
  {% else %}
    {% if selected_company %}
      สถานประกอบการที่คุณเลือกไว้คือ: {{ selected_company }} 
      <small>(สามารถเปลี่ยนได้ด้านล่าง)</small><br/>
      ซึ่งสถานประกอบการนี้ ได้มาจากการเลือกในรอบก่อนที่กรรมการยังไม่ได้ตัดสินอนุมัติ
    {% else %}
      คุณยังไม่ได้เลือกสถานประกอบการ คุณสามารถเลือกได้ด้านล่าง
    {% endif %}
  {% endif %}
</div>

{% if selected_company and not selected_receipt %}
  <p class="info_message">
    <b>สถานประกอบการที่คุณเลือกอยู่นี้ ระบบได้ทำการเลือกให้คุณโดยอัตโนมัติ</b>
    เนื่องจากกรรมการยังไม่ได้ตัดสินอนุมัติผลให้กับคุณในการเลือกในรอบก่อน
    อย่างไรก็ตาม คุณจะไม่เห็นสถานประกอบการดังกล่าวในรายการด้านล่าง
    เนื่องจากในรอบนี้สถานประกอบการดังกล่าวถูกซ่อนไว้
    <b>ถ้าคุณเลือกสถานประกอบการอื่นในรอบนี้
    ข้อมูลการเลือกเดิมคุณจะถูกยกเลิกและเปลี่ยนเป็นสถานประกอบการใหม่แทน</b>
  </p>
{% endif %}

<div>
  <p class="info_message"><small>
    <b>วิธีการเลือก:</b> คลิ๊กสถานประกอบการจากรายการด้านซ้ายเพื่อดูรายละเอียด จากนั้นสามารถกดปุ่มเลือกสีเขียวได้ในหน้าแสดงรายละเอียดด้านขวา เลือกได้ถึงวันที่ {{ current_round.end_date|date:"j N" }}  เมื่อเลือกแล้วจะมีอีเมล์ยืนยัน จะสามารถเปลี่ยนได้จนกว่าจะหมดเวลาในรอบนั้น
  </small></p>
</div>
<div id="title_tab" style="width:430px; float:left">
  <table style="width: 410px" class="selection_company_list" cellspacing="1">
    <tr class="header">
      <td class="center" width="25px"></td>
      <td width="319px">ชื่อสถานประกอบการ</td>
      <td class="center" width="50px"><small>รับ/สม.</small></td>
    </tr>
  </table>
  <div style="height:300px; overflow-y:scroll; width:430px; padding:0px">
    <table style="width: 410px" class="selection_company_list" cellspacing="1">
      {% for receipt in receipts %}
        <tr id="company_title_{{ receipt.id }}" class="company_row {% cycle 'odd' 'even' %}">
	  <td class="center" width="25px">{{ forloop.counter }}</td>
	  <td width="319px">
	    {{ receipt.company }}
	  </td>
	  <td class="center" width="50px">{{ receipt.num_available_positions }}/{{ receipt.selections|length }}</td>
	</tr>
      {% empty %}
        <tr class="company_row {% cycle 'odd' 'even' %}">
  	  <td class="center" width="25px"></td>
	  <td width="319px">
	    ไม่มีสถานประกอบการให้เลือกในรอบนี้
	  </td>
	  <td class="center" width="50px"></td>
	</tr>
      {% endfor %}       
    </table>
  </div>
</div>
<div id="info_tab" class="form-section" style="width: 340px; height: 300px; padding: 10px; float:left; margin-left: 10px; overflow: auto; background: white;">
  <b>รายละเอียด</b>&nbsp;<small>(กดรายชื่อด้านซ้ายเพื่อดูรายละเอียด)</small>
  <div id="info-none" class="selection_company_info">
    ยังไม่ได้เลือกสถานประกอบการเพื่อดูรายละเอียด กรุณากดเลือกจากรายการสถานประกอบการจำนวน {{ receipts|length }} แห่งด้านซ้าย
  </div>
  {% for receipt in receipts %}
    <div id="info_{{ receipt.id }}" class="selection_company_info" style="display:none">
      <h2>{{ receipt.company }}</h2>
      {% if receipt != selected_receipt %}
        <a href="{% url 'std_selection_select' receipt.id %}" class="button green small selection_button">เลือกสถานประกอบการนี้</a><br/>
      {% else %}
        <a href="{% url 'std_selection_deselect' receipt.id %}" class="button red small deselection_button">ยกเลิกการเลือกสถานประกอบการนี้</a><br/>
      {% endif %}

      {% include "std/selection/include/receipt.html" %}

    </div>
  {% endfor %}       
</div>
<br style="clear:both"/>
<script type="text/javascript">
function display_info(id) {
  $(".company_row").removeClass("selected");
  $("#"+id).addClass("selected");
  r_id = id.split("_")[2];
  $(".selection_company_info").hide();
  $("#info_" + r_id).show();
}
function adjust_size() {
  cwidth = $("#content").width();
  new_width = cwidth - 468;
  $("#info_tab").width(new_width);
  $("#info_tab").height($("#title_tab").height()-22);
}
$(function() {
  $(window).resize(function(){
    adjust_size();
  });

  $(".company_row").click(function(){
    display_info(this.id);
  });

  $(".selection_button").click(function(){
    return confirm("คุณแน่ใจว่าจะเลือกสถานประกอบการนี้?");
  });

  $(".deselection_button").click(function(){
    return confirm("คุณแน่ใจว่าจะยกเลิกการเลือกสถานประกอบการนี้?");
  });

  adjust_size();
  {% if selected_receipt %}
    display_info("company_title_{{ selected_receipt.id }}");
  {% endif %}
});
</script>
{% endblock content %}
