{% load wt_media %}
<tr class="{% if forloop %}{% if forloop.counter|divisibleby:"2" %}even{% else %}odd{% endif %}{% endif %}{% if not company.available %} company-not-available{% else %}{% if company.hidden %} company-hidden{% endif %}{% endif %}" id="info_row_{{ company.id }}_id">

  <td>
    {{ company.name }}
    {% if not company.available %}
      <span class="info-tag red tiny">ปิดแล้ว</span>
    {% else %}
      {% if company.hidden %}<span class="info-tag tiny orange">ถูกซ่อน</span>{% endif %}
    {% endif %}
  </td>

  <td>
    {% for r in company.returned_receipts %}
      <span class="info-tag {% if r.is_empty %}red{% else %}{% if r.is_full %}green{% else %}orange{% endif %}{% endif %}" style="width:30px;">{{ r.department_short_name }}</span>  
    {% endfor %}
    {% comment %}
      {% if not company.can_send_letter %}<img src="{% media_url %}image/yes_icon.png"/>{% endif %}
    {% endcomment %}  
  </td>
  <td>
    <a href="{% url 'regis_company_selection_stat_toggle' company.id 0 %}" class="status_toggle_link marker0">{% if company.is_marked0 %}<img id="marker0_{{ company.id }}" src="{% media_url %}/image/marker-marked.png"></img>{% else %}<img id="marker0_{{ company.id }}" src="{% media_url %}/image/marker-empty.png"></img>{% endif %}</a>
    <a href="{% url 'regis_company_selection_stat_toggle' company.id 1 %}" class="status_toggle_link marker1">{% if company.is_marked1 %}<img id="marker1_{{ company.id }}" src="{% media_url %}/image/marker-marked-green.png"></img>{% else %}<img id="marker1_{{ company.id }}" src="{% media_url %}/image/marker-empty.png"></img>{% endif %}</a>
  </td>
  <td>
    <a href="{% url 'regis_company_save_label' company.id %}" class="button blue tiny save_label_link" style="width: 40px">จำที่อยู่</a>
  </td>
  <td>
    {% if company.can_send_letter %}
      <a href="{% url 'regis_company_print_letter_pdf' company.id year %}" class="button tiny" style="width:30px;">พิมพ์</a>
    {% endif %}
  </td>

{% if allows_changes %}
  {% if company.available %}
    <td>
      <a id="disable_button_{{ company.id }}_id" href="{% url 'regis_company_selection_stat_close' company.id %}" class="red button tiny mod_buttons" style="width:20px;">
      	ปิด
      </a>
    </td>
    <td>
      {% if not company.hidden %}
        <a id="hide_button_{{ company.id }}_id" href="{% url 'regis_company_selection_stat_hide' company.id %}" class="orange button tiny mod_buttons" style="width:25px;">
      	  ซ่อน
	</a>
      {% else %}
	<a id="show_button_{{ company.id }}_id" href="{% url 'regis_company_selection_stat_show' company.id %}" class="green button tiny mod_buttons" style="width:25px;">
      	  แสดง
	</a>
      {% endif %}
    </td>
  {% else %}
    <td>      	  
      <span class="small-info important">ปิด</span>
    </td>
    <td>
      <a id="enable_button_{{ company.id }}_id" href="{% url 'regis_company_selection_stat_open' company.id %}" class="green button tiny mod_buttons" style="width:25px;">
	เปิด
      </a>
    </td>
  {% endif %}
{% else %}
  <td></td>
  <td></td>
{% endif %}

</tr>
