{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
<h1>ผลการฝึกงานของนิสิต ภาควิชา{{ department.name }} ปีการศึกษา {{ year }}</h1>
<table id="eval_status" cellspacing=0 align="center" border="1">
  <tr>
    <th>ลำดับที่</th>
    <th>รหัส</th>
    <th width="250px">ชื่อ-นามสกุล</th>
    <th>สถานะ</th>
  </tr>
{% for student in students %}
  {% with student.evaluation as evaluation %}
  <tr {% if not evaluation or not evaluation.is_passed %}
      class="not-passed-status"
      {% endif %}>
    <td>{{ forloop.counter }}</td>
    <td><a href="{% url 'student_detail' student.student_id %}">{{ student.student_id }}</a></td>
    <td class="align-left">
      {{ student.prefix }}{{ student.first_name }} {{ student.last_name }}
    </td>
    <td>
      {% if not evaluation %}
        ไม่ได้รับแบบประเมิน
      {% else %}
        {% if evaluation.is_passed %}ผ่าน{% else %}ไม่ผ่าน{% endif %}
      {% endif %}
    </td>
  </tr>		
  {% endwith %}
{% endfor %}
</table>
{% endblock content %}
