{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
<h1>ยืนยันสถานะการฝึกงานของนิสิต ภาควิชา{{ department.name }}     <a href="{% url 'committee_student_approve_all_pass' %}" class="button small">ตัดสินด้วยระบบอัตโนมัติสำหรับนิสิตที่ผ่านเกณฑ์</a></h1>
<br><small><font color="red">*หมายเหตุ การตัดสินด้วยระบบอัตโนมัติจะให้นิสิตผ่านในกรณีที่วันทำงาน และวันลา/ขาดเป็นไปตามกำหนด ปัญหาอื่นๆสามารถกดดูได้ที่ comment ท้ายชื่อของนิสิตในรายที่มีปัญหา</font></small> 
<table id="eval_status" cellspacing=0 align="center" border="1">
  <tr>
    <th>ลำดับที่</th>
    <th>รหัส</th>
    <th width="250px">ชื่อ-นามสกุล</th>
    <th>ทำงาน</th>
    <th>สาย</th>
    <th>ขาด</th>
    <th>ลากิจ</th>
    <th>ลาป่วย</th>
    <th>คะแนน</th>    
    <th>สถานะ</th>
    <th></th>
  </tr>
  {% for evaluation in evaluations %}
    {% with evaluation.student as student %}
      <tr {% if evaluation.is_passed %}
	class="passed-status"
	  {% else %}
	{% if evaluation.is_passed == 0 or not evaluation.is_basic_criteria_passed %}
	class="not-passed-status"
	  {% endif %}
	{% endif %}>
	<td>{{ forloop.counter }}</td>
	<td><a href="{% url 'student_detail' student.student_id %}">{{ student.student_id }}</a></td>
	<td class="align-left">
	  {{ student.prefix }}{{ student.first_name }} {{ student.last_name }}
	  {% if evaluation.public_comments or evaluation.auto_comments or evaluation.internal_comments %}
	    <small>
	      <span class="show-comment-botton">
		<a href="{{evaluation.id}}" class="show-comment">comment</a>
	      </span>
	      <span class="hide-comment-botton">
		<a href="{{evaluation.id}}" class="hide-comment">comment</a>
	      </span>
	    </small>
	  {% endif %}
	</td>
	{% if evaluation.num_working_days %}
	  <td {% if evaluation.num_working_days < 30 %}class="errorlist"{% endif %}>
	    {{ evaluation.num_working_days }}
	  </td>
	  <td {% if evaluation.num_late_days > 5 %}class="errorlist"{% endif %}>
	    {{ evaluation.num_late_days }}
	  </td>
	  <td {% if evaluation.num_absent_leave_days > 0 %}class="errorlist"{% endif %}>
	    {{ evaluation.num_absent_leave_days }}
	  </td>
	  <td {% if evaluation.num_personal_leave_days > 5 %}class="errorlist"{% endif %}>
	    {{ evaluation.num_personal_leave_days }}
	  </td>
	  <td {% if evaluation.num_heath_leave_days > 5 %}class="errorlist"{% endif %}>
	    {{ evaluation.num_heath_leave_days }}
	  </td>
          <td>
            {{ evaluation.total_score|floatformat:2 }}
          </td>
	{% else %}
	  <td class="errorlist">ไม่มีข้อมูล</td>
	  <td class="errorlist">ไม่มีข้อมูล</td>
	  <td class="errorlist">ไม่มีข้อมูล</td>
	  <td class="errorlist">ไม่มีข้อมูล</td>
	  <td class="errorlist">ไม่มีข้อมูล</td>
	  <td class="errorlist">ไม่มีข้อมูล</td>
	{% endif %}
	<td class="status">
	  {% if evaluation.is_passed %}
  	    ผ่าน
	  {% else %}
	    {% if evaluation.is_passed == 0 or not evaluation.is_basic_criteria_passed %}
	      ไม่ผ่าน
	    {% endif %}
	  {% endif %}
	</td>
	<td>
	  {% if evaluation.is_basic_criteria_passed %}
	    <a href="{{evaluation.id}}" class="green button small pass_button">ผ่าน</a>
	    <a href="{{evaluation.id}}" class="red button small notpass_button">ไม่ผ่าน</a>
	  {% else %}
	    <div class="errorlist">ไม่ผ่านเกณฑ์</div>
	  {% endif %}
	</td>
      </tr>
      <tr class="comment" id="{{evaluation.id}}">
	<td></td>
	<td></td>
	<td class="align-left">
	  <font color="red" align="left">
	    <ul>
	      {% if evaluation.public_comments %}
	        <li>{{ evaluation.public_comments }}</li>
	      {% endif %}
	      {% if evaluation.internal_comments %}
	        <li>{{ evaluation.internal_comments }}</li>
	      {% endif %}
	      {% if evaluation.auto_comments %}
	        <li>{{ evaluation.auto_comments }}</li>
	      {% endif %}
	    </ul>
	  </font>
	</td>
      </tr>		
    {% endwith %}
  {% endfor %}
</table>

<script>
$(function(){
    $("a.pass_button").click(
      function (){
        var $tr = $(this).parent().parent();
        var evaluation_id = $(this).attr('href');
        $tr.children('td.status').text('ผ่าน');
        $.post("{% url 'committee_student_approve_select' %}",
                   { "evaluation_id": evaluation_id,"status": "pass" });
        $tr.css('background','#66FF66');
        return false;
      }
    );
    $("a.notpass_button").click(
      function (){
        var $tr = $(this).parent().parent();
        var evaluation_id = $(this).attr('href');
        $tr.children('td.status').text('ไม่ผ่าน');
        $.post("{% url 'committee_student_approve_select' %}",
                   { "evaluation_id": evaluation_id,"status": "notpass" });
        $tr.css('background','#FFA7A7');
        return false;
      }
    );
	$("a.hide-comment").hide();
	$('.comment').hide()
	$("a.show-comment").click(function(){
		var $tbl = $(this).parentsUntil('.eval_status');
		var $str = $(this).attr('href');
		var $td = $(this).parent().parent();
		$(this).hide();
		$td.children('span.hide-comment-botton').children('a.hide-comment').show();
		$tbl.children('tr#'+$str).show();
		return false;
	});
	$("a.hide-comment").click(function(){
		var $tbl = $(this).parentsUntil('.eval_status');
		var $str = $(this).attr('href');
		var $td = $(this).parent().parent();
		$(this).hide();
		$td.children('span.show-comment-botton').children('a.show-comment').show();
		$tbl.children('tr#'+$str).hide();
		return false;
	});
});
</script>
{% endblock content %}
