{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <div style="float:right;">
    <a class="button orange small" href="{% url 'committee_student_approve_export_eval_scores' %}">ดาวน์โหลดคะแนนประเมินละเอียด</a>
    <a class="button small" href="{% url 'committee_student_approve_export_grades' %}">ดาวน์โหลดไฟล์สำหรับกรอกเกรด</a>
  </div>
<h1>ผลคะแนนการฝึกงานของนิสิต ภาควิชา{{ department.name }}</h1>
<table id="eval_status" cellspacing=0 align="center" border="1">
  <tr>
    <th>ลำดับที่</th>
    <th>รหัส</th>
    <th width="250px">ชื่อ-นามสกุล</th>
    <th>ทำงาน</th>
    <th>สาย</th>
    <th>ขาด</th>
    <th>ลากิจ</th>
    <th>ลาป่วย</th>
    <!-- 
	 <th>คะแนน<br>หน่วยงาน<br>(45)</th>
	 <th>คะแนน<br>วันทำการ<br>(5)</th>
    -->
    <th>คะแนน<br>หน่วยงาน<br>(75)</th>
    <th>คะแนน<br>วันทำการ<br>(10)</th>
    <th>คะแนนรวม<br>หน่วยงาน<br>(50)</th>

    <th>คะแนน<br>รายงาน<br>(50)</th>
    <th>คะแนน<br>รวม<br>(100)</th>
    <th>เกรด</th>
    <th></th>
  </tr>
  {% for evaluation in evaluations %}
    {% with evaluation.student as student %}
      <tr
        id="evaluation_row_{{ evaluation.id }}_id"
        {% if evaluation.is_passed %}
	{% else %}
	  {% if evaluation.is_passed == 0 or not evaluation.is_basic_criteria_passed %}
	    class="not-passed-status"
	  {% endif %}
	{% endif %}>
	<td>{{ forloop.counter }}</td>
	<td><a href="{% url 'student_detail' student.student_id %}">{{ student.student_id }}</a></td>
	<td class="align-left">
	  {{ student.prefix }}{{ student.first_name }} {{ student.last_name }}
	  {% if evaluation.public_comments or evaluation.auto_comments or evaluation.internal_comments %}
	    <small>
	      <span class="show-comment-botton">
		<a href="{{evaluation.id}}" class="show-comment">comment</a>
	      </span>
	      <span class="hide-comment-botton">
		<a href="{{evaluation.id}}" class="hide-comment">comment</a>
	      </span>
	    </small>
	  {% endif %}
	</td>
	{% if evaluation.num_working_days %}
	  <td {% if evaluation.num_working_days < 30 %}class="errorlist"{% endif %}>
	    {{ evaluation.num_working_days }}
	  </td>
	  <td {% if evaluation.num_late_days > 5 %}class="errorlist"{% endif %}>
	    {{ evaluation.num_late_days }}
	  </td>
	  <td {% if evaluation.num_absent_leave_days > 0 %}class="errorlist"{% endif %}>
	    {{ evaluation.num_absent_leave_days }}
	  </td>
	  <td {% if evaluation.num_personal_leave_days > 5 %}class="errorlist"{% endif %}>
	    {{ evaluation.num_personal_leave_days }}
	  </td>
	  <td {% if evaluation.num_heath_leave_days > 5 %}class="errorlist"{% endif %}>
	    {{ evaluation.num_heath_leave_days }}
	  </td>
          <td>
	    <!-- 
		 {{ evaluation.company_evaluation_grading_score|floatformat:2 }}
	    -->
	    {{ evaluation.raw_total_score|floatformat:2 }}
	  </td>
          {% if evaluation.is_score_required %}
            <td>
              {{ evaluation.working_day_score_updated|floatformat:2 }}
            </td>
            <td>
              {{ evaluation.company_score_updated|floatformat:2 }}
            </td>
            <td>
              <input tabindex="{{ forloop.counter }}" class="report-score-inputs" id="report_score_{{ student.student_id }}_id" data-stdid="{{ student.student_id }}" data-evid="{{ evaluation.id }}" size="3" value="{% if evaluation.report_score != None %}{{ evaluation.report_score }}{% endif %}">
            </td>
            <td class="grading-scores">
              {{ evaluation.grading_score_display }}
            </td>
          {% else %}
            <td>-</td>  
            <td>-</td>  
            <td>-</td>  
          {% endif %}
	{% else %}
	  <td class="errorlist">ไม่มีข้อมูล</td>
	  <td class="errorlist">?</td>
	  <td class="errorlist">?</td>
	  <td class="errorlist">?</td>
	  <td class="errorlist">?</td>
	  <td class="errorlist">?</td>
	  <td class="errorlist">?</td>
          <td class="errorlist"></td>
          <td class="errorlist"></td>
	{% endif %}
	<td class="grades">
	  {% if not evaluation.is_basic_criteria_passed %}
            ไม่ผ่านเกณฑ์
          {% else %}
            {% if evaluation.is_score_required %}
              {{ evaluation.grade }}
            {% else %}
              ผ่านเกณฑ์
            {% endif %}
	  {% endif %}
	</td>
	<td>
	  {% if evaluation.is_basic_criteria_passed %}
            {% if evaluation.is_score_required %}
              <a href="{{evaluation.id}}" class="button small update-buttons" data-stdid="{{ student.student_id }}" data-evid="{{ evaluation.id }}">บันทึก</a>
            {% endif %}
	  {% else %}
	    <div class="errorlist">ไม่ผ่านเกณฑ์</div>
	  {% endif %}
	</td>
      </tr>
      <tr class="comment" id="{{evaluation.id}}">
	<td></td>
	<td></td>
	<td class="align-left">
	  <font color="red" align="left">
	    <ul>
	      {% if evaluation.public_comments %}
	        <li>{{ evaluation.public_comments }}</li>
	      {% endif %}
	      {% if evaluation.internal_comments %}
	        <li>{{ evaluation.internal_comments }}</li>
	      {% endif %}
	      {% if evaluation.auto_comments %}
	        <li>{{ evaluation.auto_comments }}</li>
	      {% endif %}
	    </ul>
	  </font>
	</td>
      </tr>		
    {% endwith %}
  {% endfor %}
</table>

<script>
 var validateScore = function(score) {
   if(isNaN(score)) {
     return false;
   }
   var s = parseFloat(score);
   return (s >= 0) && (s <= 50);
 };
 
 $(function(){
   $(".report-score-inputs").change(function(){
     var $tr = $(this).parents('tr')[0];
     $($tr).find('.update-buttons').click();
   });
   
   $(".update-buttons").click(
     function (){
       var $tr = $(this).parents('tr')[0];
       var evaluation_id = $(this).data('evid');
       var student_id = $(this).data('stdid');
       var score = jQuery.trim($($tr).find('.report-score-inputs').val());
       $($tr).find('.report-score-inputs').val(score);
       
       if((score != '') && (!validateScore(score))) {
         alert('รูปแบบคะแนนผิดพลาด คะแนนต้องเป็นจำนวนจริงและมีค่าระหว่าง 0 ถึง 50');
         return false;
       }
       
       $.post("{% url 'committee_student_approve_update_report_score' %}",
              { "evaluation_id": evaluation_id, "score": score },
              function(data) {
                data = JSON.parse(data);
                var grade = data['grade'];
                var gradingScore = data['grading_score'];
                $('#evaluation_row_' + evaluation_id + '_id .grades').text(grade);
                $('#evaluation_row_' + evaluation_id + '_id .grading-scores').text(gradingScore);
                $('#evaluation_row_' + evaluation_id + '_id .grades').css('background','#c0ffc0').css('font-weight','bold');
                setTimeout(function() {
                  $('#evaluation_row_' + evaluation_id + '_id .grades').css('background','').css('font-weight','');
                }, 5000);
              });
       return false;
     }
   );
   $("a.hide-comment").hide();
   $('.comment').hide()
     $("a.show-comment").click(function(){
       var $tbl = $(this).parentsUntil('.eval_status');
       var $str = $(this).attr('href');
       var $td = $(this).parent().parent();
       $(this).hide();
       $td.children('span.hide-comment-botton').children('a.hide-comment').show();
       $tbl.children('tr#'+$str).show();
       return false;
     });
   $("a.hide-comment").click(function(){
     var $tbl = $(this).parentsUntil('.eval_status');
     var $str = $(this).attr('href');
     var $td = $(this).parent().parent();
     $(this).hide();
     $td.children('span.show-comment-botton').children('a.show-comment').show();
     $tbl.children('tr#'+$str).hide();
     return false;
   });
 });
</script>
{% endblock content %}
