@charset "utf-8";
/* CSS Document */

/* ================== Announcement ====================== */
.announcement a:link {
	text-decoration:none;
	border-bottom:1px dotted blue; 
}
table.edit-announcement{ width:90%; }
table.edit-announcement td{ width:90%; }
table.edit-announcement tr th{ text-align:left; width:10%; }
table.edit-announcement tr td input#id_title{ width:100%; }
ul.announcement li{	margin-top:10px; }

/* ================== Base layout ======================= */
body{
	font-family:Sans,Trebuchet MS ,Arial ,Tahoma;
	font-size:14px;
	margin:0;
	padding:0;
}
#clear,.clear{ clear:both; } /* TODO change all #clear to .clear */
#container{ margin-top:10px;}
#content{
	background:#EEFAFF;
	border:1px solid #86b5f2;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0px 1px 2px #ccc;
	-moz-box-shadow:0px 1px 2px #ccc;
	box-shadow:0px 1px 2px #ccc;
	margin-top:10px;
	padding:20px;
}
#header{ margin-top:10px; }
#footer{
	color:#3A3A3A;
	font-size:12px;
	margin-bottom:10px;
	margin-top:10px;
	padding:10px;
}
#main_column{
	width:75%;
	float:left;
}
#sidebar{
	width:25%;
	float:right;
}
#wrap{
	width:80%;
	min-width:850px;
	position:absolute;
	top:12px;
	left:10%;
}
/* ================== Button ============================ */
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 22px DSNLP;
	margin: 0 2px;
	padding: 5px 10px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fff;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);

}
.button:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
.button:active {
	position: relative;
	top: 1px;
	color: #d9eef7;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
}
.medium.button{
	padding:3px 8px;
	font-size:20px;
}
.small.button{
    padding:2px 8px;
	font-size:18px;
}
.tiny.button{
    padding:1px 4px;
	font-size:16px;
}

.button.green {
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
}
.button.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
}
.button.green:active {
	color: #e8f0de;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
}
.button.red {
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
}
.button.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
}
.button.red:active {
	color: #faddde;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
}
.button.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
}
.button.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
}
.button.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
}
/* ===================== Heading text ============================ */
h1,h2,h3,h4{
	margin:0;
	font-family:DSNLP;
	font-weight:normal;
	color:#3179A0;
	-webkit-text-shadow:0 0 1px #89BDD8;
	text-shadow:0 0 1px #89BDD8;
}
h1{ font-size:28px; }
h2{ font-size:26px; }
h3{ font-size:24px; }
h4{ font-size:22px; }
/* ========================= Menu ================================= */
.menu{
	padding:0 5px 0 5px;
	background:#4BBD2A;
	background: -moz-linear-gradient(top, #78D55E, #48B029);
	background: -webkit-gradient(linear, center top, center bottom, from(#78D55E),to(#48B029));
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:1px 1px 3px #ccc;
	-moz-box-shadow:1px 1px 3px #ccc;
	box-shadow:1px 1px 3px #ccc;
}
.menu #nav li{
	list-style:none;
	font-family:DSNLP;
	-webkit-text-shadow:0 .5px 1px #3E9C22;
	text-shadow:0 .5px 1px #3E9C22;
	float:left;
}
.menu #nav li a{
	color:white;
	font-size:26px;
	display:block;
	height:auto;
	padding:2px 10px 2px 10px;
	border-right:1px solid #34831D;
	text-decoration:none;
}
.menu #nav li:last-child a{
	border-right:none;
}
.menu #nav li:hover a{
	background:#41a629;
}
.menu #nav li.current ul[id$='subnav'],.menu #nav li.current a{
	background:#379322;
}
.menu #nav li ul[id$='subnav']{
	display:none;
	background:#41a629;
	width:240px;
	padding:0;
	position:absolute;
	border-top:1px solid #34831D;
	-webkit-box-shadow:1px 1px 3px #ccc;
	-moz-box-shadow:1px 1px 3px #ccc;
	box-shadow:1px 1px 3px #ccc;
	z-index:2;
}
.menu #nav li ul[id$='subnav'] a{
	display:block;
	width:220px;
}
.menu #nav li ul[id$='subnav'] a:hover{
	background:#57bf37;
}
.menu #nav li ul[id$="subnav"] li{
	clear:both;
}
.menu #nav li ul[id$="subnav"] li a{
	border-right:none;
	border-bottom:1px solid #34831D;
}
/* ======================= Pagination ============================== */
#pagination{
	list-style:none;
	padding:0;
}
#pagination li{
	float:left;
	margin-right:5px;
	margin-top: 2px;
	padding:2px 5px;
	border:1px solid #bce3f8;
	background:#b8e3f9;
}
#pagination li a{
	display:block;
	text-decoration:none;
}
#pagination li.selected{
	background:#3292c4;
	color:white;
}
#pagination li.pagination-plain{
	background:none;
	border:none;
}
/* ================================================================ */

a img{ border:none;}
a.right{
	display:block;
	margin-top:10px;
}
/* TODO: change all #center to .center */
#center,.center{ text-align:center;}
#conditions{
	width:85%;
	margin:0 auto;
	background:#F5FAFC;
	padding:5px;
	border:1px solid #D9F0FD;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
#conditions p{
	display:block;
	height:250px;
}

.darkblue{ color:darkblue;}
.errorlist{ color:red; }
.form-section {
	background:#FAF5FF;
    border:1px solid #BDE4F8;
    -webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:inset 0 0 3px #ccc;
	-moz-box-shadow:inset 0 0 3px #ccc;
	box-shadow:inset 0 0 3px #ccc;
	margin-bottom: 5px;
	padding:5px;
}

#header_text{
	font-size:26px;
	font-family:DSNLP;
}

.info-tag {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	text-align: center;
	text-decoration: none;
	font: 15px DSNLP;
	cursor: default;
	padding:1px 4px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fff;
	border: solid 1px #0076a3;
	background: #0095cd;
}
.info-tag.black {
	border: solid 1px black;
	background: black;
}
.info-tag.gray {
	border: solid 1px #707070;
	background: gray;
}
.info-tag.green {
	border: solid 1px #538312;
	background: #64991e;
}
.info-tag.red {
	border: solid 1px #980c10;
	background: #d81b21;
}
.info-tag.orange {
	border: solid 1px #da7c0c;
	background: #f78d1d;
}
.tiny.info-tag {
	padding:1px 1px;
	font-size:10px;
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.indent{ text-indent:30px; }

input{ padding:2px; }
input[type="text"],input[type="password"],textarea{
	border:1px solid #7e7a74;
	background:white;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{
	background:#FFDFAF;
	border:2px solid #f1ad42;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
input[id="id_company_id"]{ width:100px; }
input[id="id_company_name"]{ width:250px; }
label:hover{ cursor:pointer; }
.left{float:left;}

.notice {
    margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}
.notice span.notice-text {
    background: green;
	color: white;
	padding: 2px 10px 2px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#regis-department{ margin-bottom:20px;}
#regis-department ul{padding:0;}

.right{float:right;}

table{
	margin-left:20px;
	padding:5px;
	text-align:left;
}
table.top-align td { vertical-align: top;}
table.top-align th { vertical-align: top;}
table th{ text-align:center;}
td{ padding:2px;}
table#std_status tr th,table#std_status tr td{
	padding:10px;
	text-align:center;
}
table#eval_status tr th{
	padding:5px;
	text-align:center;
}
table#std_status tr th,table#regis_status tr th,table#eval_status tr th{
	border-bottom:1px solid #bbdff1;
	border-right:1px solid #eaf5fb;
	background:#a3d8f4;
}
table#eval_status{width:100%;margin:0;}
table#eval_status tr.passed-status{background: #66FF66;}
table#eval_status tr.not-passed-status{background:#FFA7A7; color:black;}
table#std_status{margin:0 auto;}

table.selection_table{border-spacing:0;}
table#eval_status td,
	table.selection_table td:first-child,
	table.selection_table tr:first-child{
		text-align:center;
}
table#eval_status .align-left{
	text-align:left;
}
table.selection_table td:last-child{ text-align:right; }
table.selection_table tr.selected{ background:#66FF66; }
table.selection_table tr.unselected{ background:none; }
table.show-line-color tr:nth-child(even),
	table#receipt-detail tr.odd{ background:#DBEFFA; }
table#receipt-detail{ border-collapse: collapse; }
table#receipt-detail th{ padding-left:20px; }
table#receipt-detail td{ padding-right:30px; }
textarea{ width:100%; }

.selection_company_list {
       padding:0px; 
       margin:0px;
       cursor: pointer;
}
.selection_company_list tr.header {
       background: darkblue;
       color: white;
       font-weight: bold;
}
.selection_company_list tr.odd { background: #acd3e8;}
.selection_company_list tr.even { background: #bce3f8;}
.selection_company_list tr.selected { background: white;}
.selected_company_banner {
       padding:5px 10px;
       font-family:DSNLP;
       font-size: 25px;
       text-align:center;
       background: darkblue;
       color: #fff;
       text-decoration: none;
	   -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
	   border-radius: 5px;
       text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
       margin-bottom: 5px;
}

table#stat_department,table#showlist_with_company{
	width:90%;
	margin:0 auto;
}
table#stat_department_detail{
	width:100%;
	margin:0 auto;
}
table#showlist{
	width:50%;
}

table.info_list tr.header {
    background: darkblue;
    color: white;
}
table.info_list tr.header th {
    padding-left: 5px;
    padding-right: 5px;
}
table.info_list tr.odd {
    background: #e0eaf1;
}
table.info_list tr.even { background: #bce3f8;}
table.info_list tr.underline td { border-bottom: 1px solid #b0b0b0;}
table.info_list tr.company-not-available td { color: #707070;}
table.info_list tr.company-not-available.odd td { background: #f0eaf1;}
table.info_list tr.company-not-available.even td { background: #cce0f0;}
table.info_list tr.company-hidden td { color: #505050;}
table.info_list tr.company-hidden.odd td { background: #f0faf1;}
table.info_list tr.company-hidden.even td { background: #ccf3f8;}
table.info_list td .small-info { font-size: 90%;}

table.info_list td .small-info.important { color: red }

table#regis_company_selection_stat_table .empty_dept_label {
    font-size: 90%;
	margin-left: 2px;
	margin-right: 2px;
	padding: 2px;
	color: white;
	background: red;
}
table#regis_company_selection_stat_table .full_dept_label {
       font-size: 90%;
       margin-left: 2px;
       margin-right: 2px;
       padding: 2px;
       color: white;
       background: green;
}
table#regis_company_selection_stat_table .normal_dept_label {
       font-size: 90%;
       margin-left: 2px;
       margin-right: 2px;
       padding: 2px;
       color: white;
       background: yellow;
}
table#letter_configuration_table th{ text-align:right; }

#workdetail{ display:none; }

.receipt_detail_box {
    background: white; 
    margin: 4px;
    font-size: 80%;
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.receipt_detail_list td {
    vertical-align: top;
}

.hint {
    font-size: 80%;
    color: #707070;
}

table.frame_table {
    border-collapse: collapse;
}
table.frame_table td {
    border: 1px solid #202020;
}
table.frame_table th {
    border: 1px solid #202020;
    background: #c0c0ff;
}

table.lrp1 td {
    padding-left: 5px;
    padding-right: 5px;
}

table.lrp2 td {
    padding-left: 10px;
    padding-right: 10px;
}
