@charset "utf-8";
/* CSS Document */

.button{
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.button:hover {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.button:active {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

.button.green {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.button.green:hover {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.button.green:active {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}
.button.red {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.button.red:hover {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.button.red:active {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}
.button.orange {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.button.orange:hover {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.button.orange:active {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}


#column_2{
	width:45%;
	float:left;
	margin-top:20px;
	background:#EAF5FB;
	padding:20px 20px 20px 20px;
	border:1px solid #86b5f2;
}
.menu{
	padding:0;
	background:#4BBD2A;
	height:auto;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#78D55E', endColorstr='#48B029');
}
.menu #nav ul{
	height:auto;
}
.menu #nav li{
	list-style:none;
	float:left;
}
.menu #nav li a{
	margin:0;
	padding:0;
	padding:0 5px;
	color:white;
	text-decoration:none;
	border-right:1px solid #34831D;
}
.menu #nav li:hover a{
	background:#41a629;
}
.menu #nav li.current ul#company_subnav,
.menu #nav li.current ul#web_system_subnav,
.menu #nav li.current ul#std_subnav,
.menu #nav li.current ul#committee_company_subnav,
.menu #nav li.current a{
	background:#379322;
}
.menu #nav li ul#company_subnav,
.menu #nav li ul#web_system_subnav,
.menu #nav li ul#std_subnav,
.menu #nav li ul#committee_company_subnav{
	display:none;
	background:#41a629;
	width:240px;
	padding-left:0;
	position:absolute;
	border-top:1px solid #34831D;
	-moz-box-shadow:1px 1px 3px #ccc;
	-webkit-box-shadow:1px 1px 3px #ccc;
	z-index:2;
}
.menu #nav li ul#company_subnav a,
.menu #nav li ul#web_system_subnav a,
.menu #nav li ul#std_subnav a,
.menu #nav li ul#committee_company_subnav a{
	display:block;
	width:230px;
}
.menu #nav li ul#company_subnav li,
.menu #nav li ul#web_system_subnav li,
.menu #nav li ul#std_subnav li,
.menu #nav li ul#committee_company_subnav li{
	clear:both;
}
.menu #nav li ul#company_subnav a:hover,
.menu #nav li ul#web_system_subnav a:hover,
.menu #nav li ul#std_subnav a:hover,
.menu #nav li ul#committee_company_subnav a:hover{
	background:#57bf37;
}
.menu #nav li ul#company_subnav li a,
.menu #nav li ul#web_system_subnav li a,
.menu #nav li ul#std_subnav li a,
.menu #nav li ul#committee_company_subnav li a{
	border-right:none;
	border-bottom:1px solid #34831D;
}
/*  recommend web browser  */
#note{
	position:relative;
	padding-top:3px;
	padding-left:10%;
	height:34px;
	overflow:hidden;
	z-index:1;
	background:#FDDDA5;
	border-bottom:1px solid #FDA000;
}
#note a{text-decoration:none;}
#note a img{
	border:none;
}
#note p{
	margin-top:8px;
	margin-right:4px;
}
#wrap{
	top:25px;
}
