@charset "utf-8";
/* CSS Document */
.menu{
	height:25px;
}
.menu #nav li a{
	line-height:25px;
}
.menu,#content{
	margin:10px 0 0 0;
}
.menu #nav li ul#company_subnav,
.menu #nav li ul#web_system_subnav,
.menu #nav li ul#std_subnav,
.menu #nav li ul#committee_company_subnav{
	display:none;
	background:#41a629;
	width:240px;
	position:absolute;
	margin-left:0;
	height:25px;
}
.menu #nav li ul#company_subnav li a,
.menu #nav li ul#web_system_subnav li a,
.menu #nav li ul#std_subnav li a,
.menu #nav li ul#committee_company_subnav li a{
	border-right:none;
	border-bottom:1px solid #34831D;
}
#wrap{
	width:960px;
}