@charset "utf-8";
/* CSS Document */
.menu{
	height:24px;
}
.menu,#content{
	margin:10px 0 0 0;
}
.menu #nav li a{
	line-height:24px;
}
.menu #nav li ul#company_subnav,
.menu #nav li ul#web_system_subnav,
.menu #nav li ul#std_subnav,
.menu #nav li ul#committee_company_subnav{
	width:240px;
	margin-left:0px;
}
.menu #nav li ul#company_subnav a,
.menu #nav li ul#web_system_subnav a,
.menu #nav li ul#std_subnav a,
.menu #nav li ul#committee_company_subnav a{
	display:block;
	width:230px;
}