{% load wt_format %}
<h1>เอกสารดาวน์โหลด</h1>
<table class="info_list">
  {% for announcement in download_announcements %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>
        <b>{{ announcement.title }}</b> <small>({% thai_short_date announcement.created_at %})</small><br>
        <small>{{ announcement.description|safe }}</small>
      </td>
      <td>
        {% if announcement.file %}
          <p class="announcement-download">
            <a target="_blank" href={% load wt_media %}{% media_url %}{{ announcement.file }}>{{ announcement.title }}</a>
          </p>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
