<p>
  <table class="info_list">
    <tr class="header">
      <th colspan="2">ระเบียบเกี่ยวกับการฝึกงาน</th>
    </tr>
    <tr class="odd">
      <td class="center" width="3%">1</td>
      <td>
        นิสิตที่มีความประสงค์จะเข้าฝึกงานต้องเข้ารับฟังคำชี้แจงรายละเอียดต่าง ๆ ตามวัน เวลาที่คณะฯ กำหนด และต้องลงทะเบียนฝึกงานในเว็บไซต์
      </td>
    </tr>
    <tr class="even">
      <td class="center" width="3%">2</td>
      <td>
        นิสิตต้องมีหน่วยกิตสะสมไม่น้อยกว่า 60 หน่วยกิต นับถึงภาคฤดูร้อนของชั้นปีที่ 2
        โดยไม่นับ W,F และ I และอยู่ในข่ายที่ภาควิชาต้นสังกัดกำหนด
        และสมัครเข้าฝึกงานในระบบเว็บไซต์การฝึกงานนิสิต ภายในระยะเวลาที่คณะฯ
        กำหนดในแต่ละปีการศึกษา
      </td>
    </tr>
    <tr class="odd">
      <td class="center" width="3%">3</td>
      <td>
	ให้นิสิตตามข้อ 1 ต้องฝึกงานตามระเบียบเกี่ยวกับการฝึกงานของคณะวิศวกรรมศาสตร์
	มหาวิทยาลัยเกษตรศาสตร์ ได้แก่ 1) ฝึกครบตามช่วงเวลาที่กำหนด 2)
	รวมเวลาฝึกงานไม่น้อยกว่า 240 ชั่วโมง 3) จำนวนไม่น้อยกว่า 30 วัน <b>หากนิสิตมีวัน-เวลาฝึกงานไม่ครบทั้ง 3 ข้อ จะไม่ผ่านการฝึกงาน</b>
      </td>
    </tr>
    <tr class="even">
      <td class="center" width="3%">4</td>
      <td>
        ให้นิสิตตามข้อ 1 เข้ารับการปฐมนิเทศฝึกงานทุกคน ไม่มีการยกเว้น
      </td>
    </tr>
    <tr class="odd">
      <td class="center" width="3%">5</td>
      <td>
        มิให้นิสิตที่เข้ารับการฝึกงานลงทะเบียนเรียนภาคฤดูร้อนในระหว่างการเข้ารับการฝึกงาน
        ยกเว้นนิสิตที่สามารถจบการศึกษาภายในภาคฤดูร้อนนั้น
        โดยมีเวลาเรียนและฝึกงานไม่ตรงกัน
      </td>
    </tr>
    <tr class="even">
      <td class="center" width="3%">6</td>
      <td>
        นิสิตสามารถเข้ารับการฝึกงานภาคฤดูร้อนที่หน่วยงานต้นสังกัดของนิสิตได้
        และต้องเป็นงานที่เกี่ยวข้องด้านวิศวกรรม หรือเกี่ยวข้องกับหลักสูตร
      </td>
    </tr>
    <tr class="odd">
      <td class="center" width="3%">7</td>
      <td>
        นิสิตต้องปฏิบัติตามรายละเอียดขั้นตอนการเลือกสถานประกอบการต่าง ๆ
        ตามที่ประกาศแจ้งนิสิตในระบบเว็บไซต์การฝึกงาน
        และการประชุมชี้แจงขั้นตอนการฝึกงานของคณะวิศวกรรมศาสตร์
      </td>
    </tr>
    <tr class="even">
      <td class="center" width="3%">8</td>
      <td>
        ให้นิสิตติดตามแบบประเมินผลการฝึกงานจากบริษัท/หน่วยงาน และนำมาส่งยังคณะฯ ภายในระยะเวลาที่คณะฯ กำหนดในแต่ละปีการศึกษาที่นิสิตไปฝึกงาน
      </td>
    </tr>
    <tr class="odd">
      <td class="center" width="3%">9</td>
      <td>
        นิสิตต้องส่งรายงานการฝึกงานตามรูปแบบ และภายในวันที่ภาควิชาต้นสังกัดของนิสิตกำหนด
      </td>
    </tr>
    <tr class="even">
      <td class="center" width="3%">10</td>
      <td>
        นิสิตที่เข้ารับการฝึกงาน สายได้ไม่เกินจำนวนที่หน่วยงานกำหนด และไม่เกิน 5 วันทำการ
      </td>
    </tr>
    <tr class="odd">
      <td class="center" width="3%">11</td>
      <td>
        การลากิจระหว่างการฝึกงาน ให้ขออนุญาตจากเจ้าหน้าที่ผู้ดูแลนิสิต
        และ/หรือบริษัท/หน่วยงานทราบล่วงหน้าตามเกณฑ์ที่หน่วยงานกำหนด และไม่น้อยกว่า
        2 วันทำการ และได้รับการอนุญาตจากเจ้าหน้าที่ผู้ดูแล และ/หรือบริษัท/หน่วยงาน
        แล้วเท่านั้น
      </td>
    </tr>
    <tr class="even">
      <td class="center" width="3%">12</td>
      <td>
        นิสิตสามารถลากิจและลาป่วยได้ไม่เกิน 5 วันทำการ ทั้งนี้หากนิสิตมีความจำเป็นต้องลาฝึกงานเกินกว่าที่กำหนด ให้นิสิตเขียนใบคำร้องแจ้งมายังคณะฯ เพื่อพิจารณาเป็นครั้ง ๆ ไป
      </td>
    </tr>
    <tr class="odd">
      <td class="center" width="3%">13</td>
      <td>
        มิให้นิสิตขาดการฝึกงาน อนุญาตให้เฉพาะการลาป่ายและลากิจเท่านั้น
      </td>
    </tr>
    <tr class="even">
      <td class="center" width="3%">14</td>
      <td>
        เมื่อคณะฯ ได้ส่งชื่อนิสิตเข้ารับการฝึกงานกับบริษัท/หน่วยงานแล้ว
        หากนิสิตไม่เข้ารับการฝึกงาน หรือละทิ้งการฝึกงานโดยไม่แจ้งให้คณะฯ ทราบ
        หรือขอยกเลิกการฝึกงานโดยพลการหรือไปฝึกงานแล้วมีเหตุให้เสียชื่อเสียงไม่ว่ากรณีใด
        ๆ หรือคณะฯ
        ได้รับแจ้งจากหน่วยงานว่านิสิตไม่ให้ความสนใจในการฝึกงานและขอส่งนิสิตกลับ
        ทางคณะฯจะดำเนินการตั้งคณะกรรมการเพื่อสอบสวนข้อเท็จจริงและลงโทษต่อไป
      </td>
    </tr>
    <tr class="odd">
      <td class="center" width="3%">15</td>
      <td>
        การจัดหาบริษัท/หน่วยงานสำหรับนิสิตฝึกงานภาคฤดูร้อนให้อยู่ภายใต้การดำเนินการของคณะวิศวกรรมศาสตร์เท่านั้น
      </td>
    </tr>
  </table>
</p>
<p>
  <table class="info_list">
    <tr class="header">
      <th colspan="2">ขั้นตอนการดำเนินงานฝึกงานสำหรับนิสิต</th>
    </tr>
    <tr>
      <td colspan="2">
        สำหรับในปีการศึกษาที่จะถึงนี้ นิสิตจะต้องจัดหาหน่วยงานเองเท่านั้น นิสิตจะต้องเลือกว่าจะฝึกงานหรือจะฝึกสหกิจศึกษา
      </td>
    </tr>
    <tr class="header">
      <th colspan="2" style="background: #b0b0ff; color: black">
        สมัครฝึกงาน - นิสิตจัดหาหน่วยงานเอง
      </th>
    </tr>
    <tr>
      <td colspan="2">
        นิสิตจะต้องแจ้งข้อมูลหน่วยงานกับกรรมการฝึกงานประจำภาควิชาเพื่อออกหนังสือขอความอนุเคราะห์และนำไปยื่นกับหน่วยงานด้วยตนเอง
      </td>
    </tr>
    <tr class="header">
      <th colspan="2" style="display: none; background: #d0e0ff; color: black">แบบที่ 1 นิสิตจัดหาสถานประกอบการเอง (ต้องใช้หนังสือขอความอนุเคราะห์)</th>
    </tr>
    <tr class="odd">
      <td class="center" width="3%">1</td>
      <td>
        ลงทะเบียนฝึกงานในเว็บไซต์ฝึกงาน <b>ภายในกำหนดที่ประกาศโดยคณะวิศวกรรมศาสตร์</b>
      </td>
    </tr>
    <tr class="even">
      <td class="center" width="3%">2</td>
      <td>
        ติดต่อสถานประกอบการที่ต้องการจะเข้าฝึกงานด้วยตนเอง
      </td>
    </tr>
    <tr class="odd">
      <td class="center" width="3%">3</td>
      <td>
        กรอกข้อมูลรายละเอียดออนไลน์ในเว็บไซต์การฝึกงาน และรอการอนุมัติจากกรรมการฝึกงาน
      </td>
    </tr>
    <tr class="even">
      <td class="center" width="3%">4</td>
      <td>
        เมื่อได้รับการอนุมัติจากกรรมการฝึกงานแล้ว ดาวน์โหลดหนังสือขอความอนุเคราะห์
        และนำไปยื่นยังสถานประกอบการ
        โดยนิสิตจะต้องแจ้งระยะเวลาการฝึกงานให้กับหน่วยงานทราบด้วย
        <!--(ตามกำหนดของคณะฯ คือระหว่าง <b>1 มิถุนายน - 31 กรกฎาคม 2561</b>)
        ซึ่งต้องไม่น้อยกว่า 2 เดือน ไม่น้อยกว่า 30 วันทำการ และไม่น้อยกว่า 240
        ชั่วโมง)-->
      </td>
    </tr>
    <tr class="odd">
      <td class="center" width="3%">5</td>
      <td>
        นำหลักฐานแบบตอบรับจากสถานประกอบการส่งที่กรรมการฝึกงานภาควิชาต้นสังกัด
        เพื่อดำเนินการออกหนังสือส่งตัวเข้าฝึกงาน
      </td>
    </tr>
    <tr class="even">
      <td class="center" width="3%">6</td>
      <td>
        สมัครได้ครั้งละ 1 สถานประกอบการ จนกว่าจะถูกปฏิเสธจึงจะสมัครสถานประกอบการอื่นได้
      </td>
    </tr>
    <tr class="odd">
      <td class="center" width="3%">7</td>
      <td>
        หากสถานประกอบการตอบปฏิเสธ นิสิตสามารถป้อนข้อมูลขอหนังสือใหม่ได้ <!-- เลือกรูปแบบการฝึกงานได้ใหม่ (แบบที่
        1 หรือ 2) -->
	<b>ภายในกำหนดที่ประกาศโดยคณะวิศวกรรมศาสตร์</b>
      </td>
    </tr>
    <tr style="display: none;"><td></td><td></td></tr>
    <tr style="display: none;" class="header">
      <th colspan="2" style="background: #d0e0ff; color: black">
        แบบที่ 2 นิสิตที่สมัครฝึกงานกับสถานประกอบการที่มีการคัดเลือกนิสิตเอง<br/>
        หรือสมัครผ่านเว็บไซต์ เช่น กฟภ., กฟผ., บมจ.ปตท., AIS, DTAC<br/>
      </th>
    </tr>
    <tr style="display: none;" class="odd">
      <td class="center" width="3%">1</td>
      <td>
        ลงทะเบียนฝึกงานในเว็บไซต์ฝึกงาน <b>ภายในกำหนดที่ประกาศโดยคณะวิศวกรรมศาสตร์</b>
      </td>
    </tr>
    <tr style="display: none;" class="even">
      <td class="center" width="3%">2</td>
      <td>
        แจ้งข้อมูลกับคณะเมื่อสมัครฝึกงาน
        ในกรณีที่ต้องใช้หนังสือขอความอนุเคราะห์ นิสิตจะสามารถดาวน์โหลดหนังสือขอความอนุเคราะห์ได้สำหรับสถานประกอบการที่มีรายการอยู่ในระบบแล้ว ถ้าสถานประกอบการที่ไม่มีข้อมูล สามารถขอให้อาจารย์ผู้ดูแลการฝึกงานโหลดหนังสือขอความอนุเคราะห์ได้
      </td>
    </tr>
    <tr style="display: none;" class="odd">
      <td class="center" width="3%">3</td>
      <td>
        นิสิตสามารถสมัครได้ครั้งละ 1 สถานประกอบการ ถ้าได้รับการปฏิเสธแล้วจึงจะสามารถสมัครเพิ่มได้
      </td>
    </tr>
    <tr style="display: none;" class="even">
      <td class="center" width="3%">5</td>
      <td>
        นำหลักฐานการตอบรับจากสถานประกอบการส่งที่ภาควิชาต้นสังกัด เพื่อดำเนินการออกหนังสือส่งตัวเข้าฝึกงาน
      </td>
    </tr>
    <tr style="display: none;" class="header">
      <th colspan="2" style="background: #b0b0ff; color: black">
        แบบที่ 2 ให้คณะจัดหาหน่วยงานให้
      </th>
    </tr>
    <tr style="display: none;" >
      <td colspan="2">
        สำหรับรูปแบบนี้
        นิสิตต้องการเลือกหน่วยงานที่คณะจัดหาให้
        การเลือกจะดำเนินเป็นรอบ ๆ โดยแต่ละรอบจะมีรายชื่อหน่วยงานที่ตอบรับ
        ถ้าในแต่ละรอบมีนิสิตเลือกหน่วยงานใด ๆ
        มากกว่าจำนวนที่หน่วยงานรับได้
        กรรมการฝึกงานประจำภาควิชาจะเป็นผู้ดำเนินการคัดเลือกนิสิตที่จะได้ไปฝึกงาน  รูปแบบนี้มีขั้นตอนดำเนินการดังนี้
      </td>
    </tr>
    <tr style="display: none;" class="odd">
      <td class="center" width="3%">1</td>
      <td>
        ลงทะเบียนฝึกงานในเว็บไซต์ฝึกงาน <b>ภายในกำหนดที่ประกาศโดยคณะวิศวกรรมศาสตร์</b>
      </td>
    </tr>
    <tr style="display: none;"  class="even">
      <td class="center" width="3%">2</td>
      <td>
        ติดตามช่วงระยะเวลาการดำเนินการฝึกงานจากหน่วยกิจการนิสิตและผู้ประสานงานของภาควิชา
      </td>
    </tr>
    <tr style="display: none;"  class="odd">
      <td class="center" width="3%">3</td>
      <td>
        คณะจะประกาศรายชื่อหน่วยงานให้นิสิตเลือกสถานประกอบการในเว็บไซต์การฝึกงานเป็นรอบ
        ๆ โดยในแต่ละรอบจะเปิดระบบให้นิสิตเลือก 5 วัน และปิดระบบ 5 วัน
      </td>
    </tr>
    <tr style="display: none;" class="even">
      <td class="center" width="3%">4</td>
      <td>
        ในแต่ละรอบนิสิตสามารถเลือกสถานประกอบการได้เพียงสถานประกอบการเดียว และรอการอนุมัติ
      </td>
    </tr>
    <tr style="display: none;" class="odd">
      <td class="center" width="3%">5</td>
      <td>
        เมื่อกรรมการอนุมัติแล้ว ไม่สามารถเปลี่ยนแปลงหน่วยงานได้
      </td>
    </tr>
    <tr style="display: none;" class="even">
      <td class="center" width="3%">4</td>
      <td>
        หากไม่ได้รับการอนุมัติ สามารถเลือกสถานประกอบการใหม่ในรอบต่อไป
      </td>
    </tr>
    <tr style="display: none;" >
      <td colspan="2">
        <b>หมายเหตุ</b>
      </td>
    </tr>
    <tr style="display: none;"  class="">
      <td class="center" width="3%"></td>
      <td>
        <small>
          1. นิสิตเลือกฝึกงานแบบที่ 2 ให้คณะจัดหาหน่วยงานให้ ต้องติดตามข่าวสารประชาสัมพันธ์ต่าง ๆ ผ่านทางเว็บไซต์การฝึกงานในหน้าหลักและอีเมล์ของนิสิตอย่างสม่ำเสมอ เพื่อประโยชน์กับตัวนิสิตเอง
        </small>
      </td>
    </tr>
    <tr style="display: none;"  class="">
      <td class="center" width="3%"></td>
      <td>
        <small>
          2. นิสิตเลือกฝึกงานแบบที่ 2 จะไม่สามารถเปลียนไปเป็นแบบที่ 1.1 หรือ 1.2 ได้
        </small>
      </td>
    </tr>
    <tr class="header">
      <th colspan="2" style="background: #b0b0ff; color: black">
        สมัครฝึกสหกิจศึกษา 
      </th>
    </tr>
    <tr>
      <td colspan="2">
        สำหรับรูปแบบนี้สำหรับนิสิตที่จะเข้าโครงการสหกิจศึกษา นิสิตจะต้องจัดหาสถานประกอบการเอง
	ผ่านทางกระบวนการของแต่ละสาขาวิชา (โปรดติดต่ออาจารย์ผู้รับผิดชอบด้านการฝึกงานและสหกิจศึกษา)
	นิสิตจะต้องกรอกข้อมูลเกี่ยวกับหน่วยงานเพื่อขอเอกสารต่าง ๆ ในระบบ
      </td>
    </tr>
  </table>
</p>
