{% if student.has_registered_for_next_year %}
<b>สถานะการสมัครฝึกงานภาคฤดูร้อน ปี {{ next_academic_year }}:</b> สมัครเรียบร้อยแล้ว<br/>

  {% comment %}
  <!--- ============= TODO: CLEAN UP THIS MESS ============== -->
  <p>
    อย่างไรก็ตามเพื่อให้กระบวนการทั้งหมดสมบูรณ์ คุณจะต้องดาวน์โหลดและพิมพ์ใบคำร้องขอฝึกงานของคุณ จากนั้นนำไปส่งที่กรรมการกิจการนิสิตภายในวันที่ 31 ก.ค. {{ current_academic_year }}<br/>
    <br/>
    <a href="{% url 'std_print_request_form' %}" class="button">คลิ๊กที่นี่เพื่อดาวน์โหลดและพิมพ์ใบคำร้องขอฝึกงานของคุณ</a><br/>
  </p>
  <!--- ========================== -->
  {% endcomment %}

  {% if current_assignment %}
    <div class="form-section">
      {% include "std/include/assignment.html" %}
    </div>    
  {% else %}

    {% if not application_deadline_passed %}
      {% include "std/include/registration_type.html" %}
    {% else %}
      {% if status.is_registered_for_self_application %}
        <!-- Should not be here! -->

        {% comment %}
          <div class="form-section">
            {% include "std/include/direct_appl/status.html" %}
          </div>
        {% endcomment %}

      {% else %}
        <div class="form-section">
          <b>วิธีในการหาหน่วยงานสำหรับฝึกงานที่คุณเลือก:</b> ให้คณะจัดหาหน่วยงานฝึกงานให้<br/>
          {% if status.is_converted_from_self_appl %}
          <small>
            » คุณย้ายวิธีการจัดหาหน่วยงานจากจัดหาเอง เป็นให้คณะจัดหาให้ ในวันที่ {{ status.converted_at|date:"j M" }}<br/>
          </small>
          {% endif %}
          <small>
            สำหรับรูปแบบนี้
            นิสิตต้องการเลือกหน่วยงานที่คณะจัดหาให้
            การเลือกจะดำเนินเป็นรอบ ๆ โดยแต่ละรอบจะมีรายชื่อหน่วยงานที่ตอบรับ
            ถ้าในแต่ละรอบมีนิสิตเลือกหน่วยงานใด ๆ
            มากกว่าจำนวนที่หน่วยงานรับได้
            กรรมการฝึกงานประจำภาควิชาจะเป็นผู้ดำเนินการคัดเลือกนิสิตที่จะได้ไปฝึกงาน 
          </small>
        </div>
        <div class="form-section">
          {% include "std/include/std_selection/status.html" %}
        </div>
      {% endif %}
    {% endif %}
  {% endif %}
{% else %}

{% if not application_deadline_passed %}
  {% if student.has_to_apply %}
    <p>
      คุณยังไม่ได้เข้ารับการฝึกงาน หรือไม่ผ่านการฝึกงานในปีการศึกษาปัจจุบัน ({{ current_academic_year }})<br/>
    </p>
  {% else %}
    <p>
      คุณได้เข้าฝึกงานในภาคการศึกษาก่อนแล้ว แต่ถ้าคุณมีความจำเป็นต้องฝึกงานใหม่ คุณสามารถสมัครของเข้าฝึกงานในภาคฤดูร้อน ปีการศึกษา {{ next_academic_year }} ได้<br/>
    </p>
  {% endif %}

  <div class="form-section">
    ก่อนจะสมัครฝึกงานได้คุณจะต้อง:
    <ul>
      <li>
        กรอกข้อมูลส่วนตัวให้สมบูรณ์
        {% if student.is_personal_information_complete %}
          <span class="info-tag small green">เรียบร้อย</span>
        {% else %} 
          <span class="info-tag small red">ยังไม่เรียบร้อย</span>
        {% endif %}
      </li>
      <li>
        ยืนยันอีเมล์
        {% if student.has_confirmed_email %}
          <span class="info-tag small green">เรียบร้อย</span>
        {% else %}
          <span class="info-tag small red">ยังไม่เรียบร้อย</span>
        {% endif %}
      </li>
    </ul>
  </div>

  {% if student.is_personal_information_complete and student.has_confirmed_email %}
    <p>
      เนื่องจากคุณได้กรอกข้อมูลเรียบร้อยแล้ว คุณจึงสามารถสมัครเข้าฝึกงานได้<br/>
      <b>หลังจากที่คุณกดเข้าสมัครฝึกงานด้านล่าง ระบบจะแสดงระเบียบและขั้นตอนการฝึกงานให้คุณรับทราบ ถ้าคุณต้องการฝึกงานคุณจะต้องกดยืนยันการรับทราบข้อมูลก่อนที่ระบบจะถือว่าคุณได้สมัครเข้าฝึกงานอย่างสมบูรณ์</b><br/>
      <br/>
      <a href="{% url 'std_checkstatus' %}" class="button">กดที่นี่เพื่อสมัครขอเข้าฝึกงานในภาคฤดูร้อน ปีพ.ศ. {{ next_academic_year }}</a>
    </p>
  {% else %}
    {% if not student.is_personal_information_complete %}
      <p>
        <b>ขณะนี้คุณยังไม่สามารถสมัครได้ เพราะยังไม่ได้กรอกข้อมูลส่วนตัว</b>
        <a href="{% url 'std_profile' %}" class="green button">กรอกข้อมูลส่วนตัวก่อนโดยคลิ๊กที่นี่</a>
      </p>
    {% else %}
      <p>
        <b>คุณยังไม่สามารถสมัครได้เนื่องจากยังไม่ได้ยืนยันอีเมล์</b> เมื่อคุณบันทึกข้อมูลส่วนตัวแล้ว ระบบจะส่งอีเมล์ไปยังอีเมล์ที่คุณระบุ กรุณาตรวจสอบอีเมล์ &nbsp; ถ้าคุณไม่ได้รับอีเมล์ อาจเป็นไปได้ว่าคุณกรอกอีเมล์ผิด หรืออีเมล์สูญหาย คุณสามารถเข้าไปกรอกข้อมูลส่วนตัวใหม่ได้ เมื่อคุณได้บันทึกข้อมูลใหม่แล้ว ระบบจะส่งอีเมล์ให้คุณยืนยันอีเมล์อีกครั้ง  ถ้าคุณมีปัญหาในการยืนยันอีเมล์ กรุณาเมล์แจ้งได้ที่ wt.eng.ku@gmail.com พร้อมทั้งระบุชื่อและเลขประจำตัวนิสิต
      </p>
    {% endif %}
  {% endif %}
{% else %}
  <div class="form-section">
    <p class="error_message">หมดเขตสมัครเข้าฝึกงานแล้วหรือระบบยังไม่เปิดให้สมัคร</p>
    <b>ขณะนี้หมดเขตการสมัครเข้าฝึกงานหรือระบบยังไม่เปิดให้สมัครได้</b>   
    อย่างไรก็ตาม
    ถ้าคุณคิดว่าคุณได้สมัครในเวลาหรือมีเหตุผลจำเป็นหรือมีปัญหาเกี่ยวกับด้านเทคนิค
    คุณสามารถติดต่อหน่วยกิจการนิสิตเพื่อสอบถามได้
  </div>
{% endif %}
{% endif %}
