<h2>ผลการคัดเลือกสถานประกอบการ</h2>

<p>
  ขณะนี้คุณได้รับอนุมัติให้เข้าฝึกงานที่ <b>{{ current_assignment.get_company_name }}</b> แล้ว
  คุณจะไม่สามารถเลือกสถานประกอบการอื่น ๆ ได้อีก<br/>
</p>

<h2>สำเนาหนังสือส่งตัว</h2>
  {% if letter_downloadable %}
    <p>
      สำหรับสำเนาหนังสือส่งตัวด้านล่างนี้ ให้นิสิตดาวน์โหลดและพิมพ์เพื่อนำไปยื่นให้กับหน่วยงานเมื่อเริ่มต้นฝึกงาน
    </p>
    <p>
      {% if can_print_std_letter %}
	<a class="button" href="{% url 'std_print_letter' current_assignment.year %}">ดาวน์โหลดสำเนาหนังสือส่งตัวสำหรับนิสิต</a>
      {% else %}
	{% with next_data.status as status %}
	  {% include "std/include/quiz_links_and_status.html" %}
	{% endwith %}
      {% endif %}
    </p>
  {% else %}
    <p>
      ยังไม่สามารถดาวน์โหลดสำเนาหนังสือส่งตัวได้ในตอนนี้
    </p>
  {% endif %}
  
<h3>ข้อมูลเกี่ยวกับการฝึกงาน</h3>
{% if current_receipt %}
  {% with current_receipt as receipt %}
    {% with 'true' as show_contact %}
      {% include "std/include/receipt_info.html" %}
    {% endwith %}
  {% endwith %}
{% else %}
  {% with current_assignment.company as company %}
    {% include "std/include/company_info_direct_appl.html" %}
  {% endwith %}
{% endif %}
