<b>สถานที่ฝึกงาน</b><br/>
{{ company.address }} หรือตามที่ระบุเมื่อสมัคร
<br/>
<b>ชื่อผู้ติดต่อ:</b> {{ company.contact_name|default:"-" }} 
&nbsp;&nbsp;&nbsp;
<b>หมายเลขโทรศัพท์:</b> {{ company.tel_no|default:"-" }}
<br/>
{% if not work_detail %}
  <b>ลักษณะงาน:</b> ตามที่ระบุเมื่อสมัคร
  <br/>
  <b>การแต่งกาย:</b> ชุดนิสิตหรือตามที่สถานประกอบการระบุ
{% else %}
  <b>ระยะเวลา:</b>
  {{ work_detail.beginning_date|date:"j N" }} -
  {{ work_detail.end_date|date:"j N" }}
  <br/>
  {% if work_detail.dressing_description %}
    <b>การแต่งกาย:</b> {{ work_detail.dressing_description }} หรือตามที่สถานประกอบการระบุ<br/>
  {% else %}
    <b>การแต่งกาย:</b> ชุดนิสิตหรือตามที่สถานประกอบการระบุ
  {% endif %}
  {% if work_detail.other_description %}
    <b>รายละเอียดอื่น ๆ :</b> {{ work_detail.other_description }}<br/>
  {% endif %}
{% endif %}
