{% load wt_links %}
{% load wt_format %}
<div class="info_message">
  <b>คุณไม่สามารถพิมพ์จดหมายได้ในเวลานี้</b> เนื่องจากในปีการศึกษานี้คุณจะต้องทำแบบทดสอบให้ได้คะแนนเต็มก่อน<br>
  {% if status %}
    {% if status.last_quiz_submitted_at %}
      ในการทำแบบทดสอบดังกล่าว คุณได้คะแนนสูงสุด {{ status.best_quiz_score }} คะแนน (ทำครั้งสุดท้ายเมื่อ {{ status.last_quiz_submitted_at }})<br>
    {% endif %}
  {% endif %}
  <span style="display: none;">สามารถอ่านรายละเอียดดูคลิปวิดีโอปฐมนิเทศฝึกงานได้ที่ <a href="https://www.youtube.com/watch?v=rYdmS7cJpDY" target="_blank">YouTube ปฐมนิเทศฝึกงาน</a> เพื่อนำรายละเอียดสำหรับทำแบบทดสอบ<br></span>
  สามารถทำแบบทดสอบได้ที่ <a href="{% quiz_url %}" target="_blank">google form นี้</a><br>
  ระบบจะอัพเดทคะแนนล่าสุดทุก ๆ 10 นาที
</div>
