<b>สถานที่ฝึกงาน</b><br/>
{{ receipt.work_address }}
<br/>
{% if show_contact %}
  <b>ชื่อผู้ติดต่อ:</b> {{ receipt.company.contact_name|default:"-" }} 
&nbsp;&nbsp;&nbsp;
  <b>หมายเลขโทรศัพท์:</b> {{ receipt.company.tel_no|default:"-" }}
  <br/>
{% endif %}
<b>ลักษณะงาน:</b> {{ receipt.work_description|default:"-" }}
<br/><br/>
<b>ระยะเวลา:</b>
{{ receipt.work_detail.beginning_date|date:"j N" }} -
{{ receipt.work_detail.end_date|date:"j N" }}
<br/>
{% if receipt.work_detail.dressing_description %}
<b>การแต่งกาย:</b> {{ receipt.work_detail.dressing_description }}<br/>
{% endif %}
{% if receipt.work_detail.other_description %}
<b>รายละเอียดอื่น ๆ :</b> {{ receipt.work_detail.other_description }}<br/>
{% endif %}
