{% load wt_media %}
<div class="form-section">
  <p>
    <b>สำหรับในปีการศึกษาที่จะถึงนี้
      <!-- นิสิตจะต้องระบุความประสงค์ว่าจะใช้วิธีใดในการจัดหาหน่วยงานสำหรับการฝึกงาน
      โดยมีสองทางเลือก นิสิตจะสามารถเลือกและเปลี่ยนทางเลือกนี้ได้จนถึงวันสิ้นสุดการสมัครเข้าฝึกงาน
	   ถ้านิสิตไม่เลือกทางเลือกใดจะพิจารณาว่าการสมัครไม่สมบูรณ์ -->
      นิสิตจะต้องหาหน่วยงานสำหรับฝึกงานเอง นิสิตสามารถเลือกได้ว่าจะสมัครฝึกงาน หรือสมัครเข้าโครงการสหกิจศึกษา
      <span style="display: none">&nbsp;&nbsp; ถ้านิสิตไม่เลือกภายในกำหนด
        คณะจะพิจารณาว่านิสิตต้องการเลือกจากหน่วยงานที่คณะจัดหาให้ (แบบที่ 2)</span>
    </b>
    <span style="display: none;">
    &nbsp;&nbsp;
    <small>ในการเลือกให้นิสิตกดเลือกที่ปุ่มหน้ารายการของแต่ละแบบ
      แบบที่เลือกไว้จะเปลี่ยนเป็นปุ่มสีเขียว</small>
    </span>
  </p>

  <table>
    <tr>
      <td>
        <a href="{% url 'std_choose_reg_type' 1 %}" class="button reg_type_links {% if student.registration_type_for_next_year == 1 %}green{% endif %}" style="width:100px" id="reg_type_1_link_id"><span class="title_checked_spans" style="{% if student.registration_type_for_next_year != 1 %}display:none{% endif %}"><b>✓</b> </span>สมัครฝึกงาน<span style="display:none;">แบบที่ 1</span></a> 
      </td>
      <td style="padding-left: 15px;">
        <b>สมัครฝึกงานโดยนิสิตจัดหาหน่วยงานเอง</b> <small>สำหรับรูปแบบนี้
          นิสิตจะต้องแจ้งข้อมูลหน่วยงานกับกรรมการฝึกงานประจำภาควิชาเพื่อออกหนังสือขอความอนุเคราะห์และนำไปยื่นกับหน่วยงานด้วยตนเอง  <span style="display: none;">หรือในกรณีที่หน่วยงานมีการคัดเลือกนิสิตเองคุณจะต้องแจ้งข้อมูลและดำเนินการสมัครเอง</span>

          ถ้าคุณมั่นใจว่าจะจัดหาหน่วยงานเอง และต้องการเริ่มต้นกรอกข้อมูลเพื่อขอเอกสารทันที
          <span class="type1-confirmation-info" style="{% if student.registration_type_for_next_year != 1 %}display: none;{% endif %}">
            คุณสามารถยืนยันการเข้าฝึกงาน และเริ่มกระบวนการจัดหาหน่วยงานได้
            เมื่อเลือกยืนยันแล้วจะเปลี่ยนแปลงไม่ได้อีก
            <a id="self_appl_confirm1_id" href="#" class="button small">ยืนยันการจัดหาหน่วยงานเอง</a>
          </span>
          <form action="{% url 'std_confirm_reg_type' 1 %}" method="post" style="display: none; padding: 5px; border: 1px solid gray; border-radius: 5px; background: #e0e0e0;" class="type1-confirmation-info-form" id="self_appl_confirm_real_id">
            คุณกำลังจะเลือกยืนยันว่าจะจัดหาหน่วยงานเอง เมื่อเลือกแล้วคุณจะแก้ไขไม่ได้อีก ถ้าคุณแน่ใจกรุณากดปุ่ม
            <a id="self_appl_confirm2_id" href="#" class="button small orange">ยืนยันการเลือกฝึกงานโดยจัดหาหน่วยงานเอง</a> อีกครั้ง
          </form>
        </small>
      </td>
    </tr>
    <tr style="display:none;">
      <td style="padding-top: 30px; padding-bottom: 20px">
        <a href="{% url 'std_choose_reg_type' 2 %}" class="button reg_type_links {% if student.registration_type_for_next_year == 2 %}green{% endif %}" style="width:100px"><span class="title_checked_spans" style="{% if student.registration_type_for_next_year != 2 %}display:none{% endif %}"><b>✓</b> </span>แบบที่ 2</a> 
      </td>
      <td style="padding-top: 30px;padding-left: 15px; padding-bottom: 20px">
        <b>นิสิตต้องการเลือกหน่วยงานที่คณะจัดหาให้</b> <small>สำหรับรูปแบบนี้
        นิสิตต้องการเลือกหน่วยงานที่คณะจัดหาให้
        การเลือกจะดำเนินเป็นรอบ ๆ โดยแต่ละรอบจะมีรายชื่อหน่วยงานที่ตอบรับ
        ถ้าในแต่ละรอบมีนิสิตเลือกหน่วยงานใด ๆ
        มากกว่าจำนวนที่หน่วยงานรับได้
        กรรมการฝึกงานประจำภาควิชาจะเป็นผู้ดำเนินการคัดเลือกนิสิตที่จะได้ไปฝึกงาน และกำหนดการที่นิสิตจะเริ่มเลือกหน่วยงานกรรมการฝึกงานจะประกาศให้ทราบต่อไป</small>
      </td>
    </tr>
    <tr style="xdisplay: none;">
      <td style="padding-top: 30px; solid black">
        <a href="{% url 'std_choose_reg_type' 3 %}" class="button reg_type_links {% if student.registration_type_for_next_year == 3 %}green{% endif %}" style="width:100px"><span class="title_checked_spans" style="{% if student.registration_type_for_next_year != 3 %}display:none{% endif %}"><b>✓</b> </span>สหกิจศึกษา</a> 
      </td>
      <td style="padding-top: 30px;padding-left: 15px;">
        <b>นิสิตต้องการเข้าฝึกงานสหกิจศึกษา</b>
        <small>
          ในกรณีที่นิสิตต้องการเข้าฝึกงานสหกิจศึกษาให้เลือกตัวเลือกนี้
          การฝึกงานสหกิจศึกษาเป็นการฝึกงานในสถานประกอบการจริง เป็นเวลา 4-6 เดือน
          ในกรณีที่หลักสูตรของนิสิตไม่ได้มีการกำหนดให้ต้องฝึกงานสหกิจศึกษา
          นิสิตสามารถสอบถามกรรมการฝึกงานประจำภาควิชาของนิสิตเกี่ยวกับการฝึกงานสหกิจศึกษาได้
          ทั้งนี้ ขั้นตอนในการจัดหาหน่วยงานสำหรับฝึกงานจะขึ้นกับแต่ละภาควิชา
	  <b>นิสิตสามารถเริ่มกรอกข้อมูลหน่วยงานในระบบได้เมื่อผ่านกำหนดเวลาขอสมัครเข้าฝึกงานหรือสหกิจศึกษาแล้ว</b>

	  อย่างไรก็ตาม ถ้าคุณมั่นใจว่าจะจัดหาหน่วยงานเอง และต้องการเริ่มต้นกรอกข้อมูลเพื่อขอเอกสารทันที
          <span class="type3-confirmation-info" style="{% if student.registration_type_for_next_year != 3 %}display: none;{% endif %}">
            คุณสามารถยืนยันการขอฝึกสหกิจ และเริ่มกระบวนการกรอกข้อมูลได้
            เมื่อเลือกยืนยันแล้วจะเปลี่ยนแปลงไม่ได้อีก
            <a id="self_appl_coop_confirm1_id" href="#" class="button small">ยืนยันการสมัครสหกิจศึกษา</a>
          </span>
          <form action="{% url 'std_confirm_reg_type' 3 %}" method="post" style="display: none; padding: 5px; border: 1px solid gray; border-radius: 5px; background: #e0e0e0;" class="type3-confirmation-info-form" id="self_appl_coop_confirm_real_id">
            คุณกำลังจะเลือกยืนยันว่าจะสมัครสหกิจศึกษา เมื่อเลือกแล้วคุณจะแก้ไขไม่ได้อีก ถ้าคุณแน่ใจกรุณากดปุ่ม
            <a id="self_appl_coop_confirm2_id" href="#" class="button small orange">ยืนยันการเลือกฝึกงานสหกิจศึษา</a> อีกครั้ง
          </form>
        </small>

	
        </small>
      </td>
    </tr>
  </table>
</div>
<script type="text/javascript">
 $(function(){
   $(".reg_type_links").click(function(){
     var url = $(this).attr('href');
     var show_confirmation_link = (this.id == 'reg_type_1_link_id');
     var link = this;
     jQuery.post(url,function(data){
       $(".reg_type_links").removeClass('green');
       $(".title_checked_spans").hide();
       var tr = $(link).parents("tr")[0];
       $(tr).find(".reg_type_links").addClass('green');
       $(tr).find(".title_checked_spans").show();

       if(show_confirmation_link) {
         if($(".type1-confirmation-info-form").is(':hidden')) {
           $(".type1-confirmation-info").show();
           $("#self_appl_confirm1_id").show();
           $(".type3-confirmation-info-form").hide();
           $(".type3-confirmation-info").hide();
         } 
       } else {
         $(".type1-confirmation-info-form").hide();
         $(".type1-confirmation-info").hide();
         $(".type3-confirmation-info").show();
         $("#self_appl_coop_confirm1_id").show();
       }
     });
     return false;
   });
   $("#self_appl_confirm1_id").click(function(){
     $(this).hide();
     $("#self_appl_confirm_real_id").slideDown();     
   })
   $("#self_appl_confirm2_id").click(function(){
     $(this).parents('form').first().submit();
     return false;
   })
   $("#self_appl_coop_confirm1_id").click(function(){
     $(this).hide();
     $("#self_appl_coop_confirm_real_id").slideDown();     
   })
   $("#self_appl_coop_confirm2_id").click(function(){
     $(this).parents('form').first().submit();
     return false;
   })
 });
</script>
