{% load wt_media %}
<table id="std_status" cellspacing="0">
  <tr>
    <th>สมัครฝึกงาน</th>
    {% comment %}<th>ใบคำร้อง</th>{% endcomment %}
    <th>สถานประกอบการ</th>
    {% comment %}<th>สถานประกอบการตอบรับ</th>{% comment %}
    {% comment %}<th>การปฐมนิเทศ</th>{% endcomment %}
    <th>ใบประเมิน</th>
    <th>ใบบันทึกเวลา</th>
    <th>หมายเหตุ</th>
  </tr>
  <tr>
    <td>{% if status_data.registered %}
      	<div class="yes-icon">Yes</div>
      {% else %}
        <div class="no-icon">No</div>
      {% endif %}
   	</td>
    {% comment %}
    <td>
      {% if status_data.sent_req_form %}
      	<div class="yes-icon">Yes</div>
      {% else %}
        <div class="no-icon">No</div>
      {% endif %}
    </td>
    {% endcomment %}
    <td>
      {% if not status_data.assignment %}
        <div class="no-icon">No</div>
      {% else %}
        <div class="yes-icon">Yes</div>
      {% endif %}
    </td>
    {% comment %}
      <td></td>
    {% endcomment %}
    {% comment %}
    <td>
    	{% if attended_orientation %}
    		<div class="yes-icon">Yes</div>
		{% else %}
			<div class="no-icon">No</div>
  		{% endif %}
    </td>
    {% endcomment %}
    <td>
      {% if not status_data.has_evaluation_form %}
        <div class="no-icon">No</div>
      {% else %}
        {% if status_data.evaluation.is_info_completed %}
          <div class="yes-icon">Yes</div>
          ได้รับเมื่อ<br/>
          {{ status_data.evaluation.received_at|date:"j N y" }}
        {% else %}
          ได้รับเมื่อ<br/>
          {{ status_data.evaluation.received_at|date:"j N y" }}<br>
          ยังไม่ได้กรอกผล
        {% endif %}
      {% endif %}
    </td>
    <td>
      {% if not status_data.has_timesheet %}
        <div class="no-icon">No</div>
      {% else %}
        {% if status_data.evaluation.is_info_completed %}
          <div class="yes-icon">Yes</div>
          ได้รับเมื่อ<br/>
          {{ status_data.evaluation.received_at|date:"j N y" }}
        {% else %}
          ได้รับเมื่อ<br/>
          {{ status_data.evaluation.received_at|date:"j N y" }}<br>
          ยังไม่ได้กรอกผล
        {% endif %}
      {% endif %}
    </td>
    <td>
      {% if status_data.evaluation.public_comments %}
        {{ status_data.evaluation.public_comments }}
      {% else %}
        -
      {% endif %}
    </td>
  </tr>
</table>
