{% extends "committee/stat/base.html" %}

{% block extra_table_header %}
  <th>สถานประกอบการ [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
{% endblock %}

{% block extra_student_info %}
  <td>
    {% if student.assigned_company.id %}
      <a href={% url 'regis_company_detail' student.assigned_company.id %}>{{ student.assigned_company }}</a>
    {% else %}
      {{ student.assignment.get_company_name }}
    {% endif %}
  </td>
{% endblock %}
