{% extends "committee/base.html" %}

{% load wt_media %}

{% block extra-head %}
  {{ block.super }}
  <script type="text/javascript" src="{% media_url %}js/table-sorter.js"></script>
{% endblock %}
  
{% block content %}
<div style="float:right">
  <a href="{% url 'committee_index' %}" class="button green small">กลับไปหน้าหลักของกรรมการ</a>
</div>

<h1>รายชื่อนิสิต{{ stat_type_title }}</h1>

{% block extra_pretable_text %}
{% endblock %}

<table class="info_list">
  <tr class="header">
    <th>ลำดับ</th>
    <th>เลขประจำตัว [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
    <th>ชื่อ [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
    <th>อีเมล์</th>
    {% block extra_table_header %}
    {% endblock %}
  </tr>
  {% for student in students %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ forloop.counter }}</td>
      <td><a href={% url 'student_detail' student.student_id %}>{{ student.student_id }}</a></td>
      <td>{{ student.full_name }}</td>
      <td>{{ student.email }}</td>
      {% block extra_student_info %}
      {% endblock %}
    </tr>
  {% endfor %}
</table>

<script type="text/javascript">
$(function(){
  $(".table-sort-links").click(function() {
    tableSorter.sortTable.call(this);
    return false;
  });
});
</script>
{% endblock content %}
