{% extends "committee/stat/base.html" %}

{% block extra_pretable_text %}
<div class="form-section">
<b>จำนวนแยกตามประเภท:</b> 
{% for r in additional_stat.regtype_counts %}
  {{ r.label }} {{ r.count }} คน, 
{% endfor %}
รวม {{ additional_stat.total }} คน
</div>
{% endblock %}

{% block extra_table_header %}
  <th>ประเภทการสมัคร [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
  <th width="25%">หน่วยงาน [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
{% endblock %}

{% block extra_student_info %}
  <td>{{ student.current_status.registration_type_display_short }}</td>
  <td>
    {% if student.assigned_company %}
      {{ student.assigned_company }}
    {% else %}
      -
    {% endif %}
  </td>
{% endblock %}
