{% extends "committee/stat/base.html" %}

{% block extra_table_header %}
  <th width="35%">สถานประกอบการที่เลือก</th>
{% endblock %}

{% block extra_student_info %}
  <td>
    {% if student.applications %}
      {% for a in student.applications %}
        {{ a.get_status_message_for_committee }}<br/>
      {% endfor %}
    {% else %}
      ไม่มีข้อมูล
    {% endif %}
  </td>
{% endblock %}
