{% extends "regis/base.html" %}

{% block content %}
  {% if proposed_company_count != 0 %}
    <p class="info_message">มีสถานประกอบการที่ถูกเสนอเพิ่มต้องพิจารณาจำนวน {{ proposed_company_count }} ที่&nbsp;&nbsp;<a href="{% url 'regis_company_approve_list' %}" class="green small button">พิจารณาอนุมัติสถานประกอบการ</a></p>
  {% endif %}

  <h1>
    บันทึกผลการฝึกงาน
    <a href="{% url 'evaluations_search' %}" class="blue medium button">บันทึกการส่งแบบประเมิน</a>
    <a href="{% url 'evaluations_list' %}" class="blue medium button">บันทึกรายละเอียดผล</a>
  </h1>

  {% include "regis/include/assignment_reports.html" %}
  
  <h1>สถิติแยกตามสาขาวิชา</h1>
  <p>
    <a href="{% url 'regis_stat' %}" class="blue medium button">สถิติแยกตามสาขาวิชาแบบย่อ</a>
    <a href="{% url 'regis_stat_detail' %}" class="blue medium button">สถิติแยกตามสาขาวิชาแบบละเอียด</a>
    <a href="{% url 'regis_stats_coop' %}" class="orange medium button">สถิติสหกิจศึกษา</a>
    <a href="{% url 'regis_stats_assignments_companies' %}" class="blue medium button">รายการหน่วยงานรับนิสิตฝึกงานในปีการศึกษาก่อน</a>
  </p>		
  {% include "regis/include/overall_stat.html" %}

{% endblock content %}
