<span class="score_form_toggle_messages"><b>ระดับคะแนนการประเมิน</b> <a id="score_form_toggle_id" class="button small">ซ่อน/แสดงฟอร์ม</a></span>
<div id="score_form_id" style="display:none;">
<table class="info_list">
  {% for section in evaluation_sections %}
    <tr class="header"><th colspan="2">
      <span class="thai-labels">{{ section.title }}</span>
      <span class="eng-labels">{{ section.eng_title }}</span>
    </th></tr>
    {% for item in section.items %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ item.0 }}.
          <span class="thai-labels">{{ item.1 }}</span>
          <span class="eng-labels">{{ item.2 }}</span>
        </td>
        <td>
          <input name="eval_score_{{ item.0 }}" id="eval_score_id_{{ item.0 }}" class="eval-score-inputs" size="1" data-topic-num="{{ item.0 }}" value="{{ item.3 }}">
          <span class="eval-score-input-errors" style="display:none; color: red;"><span class="thai-labels">**ข้อมูลผิดพลาด (ต้องมีค่าระหว่าง 1 - 5)</span><span class="eng-labels">** incorrect value (should be 1 to 5)</span></span>
        </td>
      </tr>
    {% endfor %}
  {% endfor %}
</table>
{% if evaluation_comments %}
<hr>
<b>ความเห็นจากบริษัท</b>
<table class="info_list">
  <tr class="header">
    <th width="40%">ประเด็น</th>
    <th>คำตอบ</th>
  <tr class="even">
    <td>
      ความรู้ ความสามารถของนิสิตเมื่อเปรียบเทียบกับนิสิตจากสถาบันอื่นเป็นอย่างไร?
    </td>
    <td>
      {{ evaluation_comments.comment_knowledge }}
    </td>
  </tr>
  <tr class="odd">
    <td>
      จากผลงานการฝึกงาน นิสิตสมควรที่จะฝึกงานในด้านนี้หรือด้านอื่นเพิ่มเติมหรือไม่ อย่างไร
    </td>
    <td>
      {{ evaluation_comments.comment_additional_training }} 
    </td>
  </tr>
  <tr class="even">
    <td>
      ถ้านิสิตเป็นพนักงานทดลองของหน่วยงานของท่าน คุณสมบัติและประสิทธิภาพในการทำงานเพียงพอที่จะเป็นพนักงานประจำหรือไม่ ถ้าไม่ สมควรที่จะปรับปรุงอย่างไร?
    </td>
    <td>
      {{ evaluation_comments.comment_probation }}
    </td>
  </tr>
  <tr class="odd">
    <td>
      ท่านเห็นว่านิสิตที่จะเข้ารับการฝึกงานควรจะมีความพร้อมในด้านไหนบ้าง (โปรดให้รายละเอียด)
    </td>
    <td>
      {{ evaluation_comments.comment_requirements }}
    </td>
  </tr>
  <tr class="even">
    <td>
      อื่น ๆ (ถ้ามีโปรดระบุ)
    </td>
    <td>
      {{ evaluation_comments.comment_extra }}
    </td>
  </tr>
  <tr class="odd">
    <td>
      <b>หมายเหตุ:</b> ยินดีรับนิสิตเข้าฝึกงานในครั้งต่อไปหรือไม่
    </td>
    <td>
      {% if evaluation_comments.comment_next_year_decision == '1' %}
        <b>รับ</b>: รับจำนวน {{ evaluation_comments.comment_next_year_acceptance_count }} คน
      {% else %}
        {% if evaluation_comments.comment_next_year_decision == '2' %}
          <b>ไม่รับ</b>: เนื่องจาก: {{ evaluation_comments.comment_next_year_reject_extra }}
        {% else %}
          <b>ความเห็นอื่น ๆ</b>: {{ evaluation_comments.comment_next_year_other_extra }} 
        {% endif %}
      {% endif %}
    </td>
  </tr>
</table>
{% endif %}
</div>
<script>
 $(function(){
   {% for section in evaluation_sections %}
     {% for item in section.items %}
       $("#eval_score_id_{{ item.0 }}").data('num',{{ item.0 }});
     {% endfor %}
   {% endfor %}
   $(".eval-score-inputs").keyup(function(event){
     if(((event.which >= 49) && (event.which <= 53)) || ((event.which >= 96) && (event.which <= 105))) {
       var num = $(this).data('num');
       var next = num + 1;
       $("#eval_score_id_" + next.toString()).focus().select();
     }
   });
   $("#score_form_toggle_id").click(function(){
     $("#score_form_id").slideToggle();
     return false;
   });
 });
</script>
