<table>
  <tr>
    <td>
      Comments and suggestions:<br>
      {{ form.comment_eng_suggestions }} {{ form.comment_eng_suggestions.errors }}
    </td>
  </tr>
  <tr style="display: none;">
    <td>
      <b>Information on finantial support:</b>
    </td>
  </tr>
  <tr style="display: none;">
    <td>
      Do you have finantial support for students?
      {{ form.comment_eng_support_available }} {{ form.comment_eng_support_available.errors }}
    </td>
  </tr>
  <tr style="display: none;">
    <td>
      If yes,
      <ul>
        <li> which types of finantial support did you give to the student?<br>
          <ul>
            <li>
              Air tickets: 
              {{ form.comment_eng_support_air_tickets }} {{ form.comment_eng_support_air_tickets.errors }}
            </li>
            <li>
              Living expenses:
              {{ form.comment_eng_support_living_expenses }} {{ form.comment_eng_support_living_expenses.errors }}
            </li>
          </ul>
        </li>
        <li>
          How much is the finantial support:
          {{ form.comment_eng_support_amount }} {{ form.comment_eng_support_amount.errors }}
        </li>
      </ul>
    </td>
  </tr>
  <tr style="display: none;">
    <td>
      Did the student received the finantial support from you?
      {{ form.comment_eng_support_received }} {{ form.comment_eng_support_received.errors }}
    </td>
  </tr>
</table>
