{% load wt_format  %}
{% load wt_media  %}

<table class="info_list">
  <tr class="header">
    <td>ลำดับ</td>
    <td>รหัสประจำตัว</td>
    <td>ชื่อ</td>
    <td>วันที่รับ</td>
    <td>หน่วยงาน</td>
    <td>บันทึกผลละเอียดแล้ว?</td>
    <td></td>
  </tr>
  {% for ev in evaluations %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td class="center">{{ ev.number }}</td>
      <td>{{ ev.student.student_id }}</td>
      <td>{{ ev.student }}</td>
      <td>{% thai_short_date ev.received_at %}</td>
      <td>{{ ev.assignment.get_company_name }}</td>
      <td class="center">
        {% if ev.is_info_completed %}
          <img src="{% media_url %}image/yes_icon.png"/>
        {% endif %}
      </td>
      <td>
        <a target="_blank" href="{% url 'evaluations_edit_by_assignment' ev.assignment.id %}" class="button small">บันทึกผลละเอียด</a>
      </td>
    </tr>
  {% endfor %}
</table>
