<table>
  <tr style="display: none;">
    <td>
      การฝึกงานของนิสิตเป็นอุปสรรคต่องานในหน่วยงานของท่านหรือไม่?
      {{ form.comment_obstacle }}
    </td>
  </tr>
  <tr style="display: none;">
    <td>
      การฝึกงานของนิสิตเป็นประโยชน์ต่อหน่วยงานของท่านหรือไม่?
      {{ form.comment_usefulness }}
    </td>
  </tr>
  <tr style="display: none;">
    <td>
      ระยะเวลาฝึกงานเมื่อเทียบกับลักษณะงานที่ฝึกเพียงพอหรือไม่?
      {{ form.comment_time }}
    </td>
  </tr>
  <tr>
    <td>
      ความรู้ ความสามารถของนิสิตเมื่อเปรียบเทียบกับนิสิตจากสถาบันอื่นเป็นอย่างไร?<br>
      {{ form.comment_knowledge }}
      {{ form.comment_knowledge.errors }}
    </td>
  </tr>
  <tr>
    <td>
      จากผลงานการฝึกงาน นิสิตสมควรที่จะฝึกงานในด้านนี้หรือด้านอื่นเพิ่มเติมหรือไม่ อย่างไร<br>
      {{ form.comment_additional_training }} 
      {{ form.comment_additional_training.errors }} 
    </td>
  </tr>
  <tr>
    <td>
      ถ้านิสิตเป็นพนักงานทดลองของหน่วยงานของท่าน คุณสมบัติและประสิทธิภาพในการทำงานเพียงพอที่จะเป็นพนักงานประจำหรือไม่ ถ้าไม่ สมควรที่จะปรับปรุงอย่างไร?<br>
      {{ form.comment_probation }} {{ form.comment_probation.errors }}
    </td>
  </tr>
  <tr>
    <td>
      ท่านเห็นว่านิสิตที่จะเข้ารับการฝึกงานควรจะมีความพร้อมในด้านไหนบ้าง (โปรดให้รายละเอียด)<br>
      {{ form.comment_requirements }} {{ form.comment_requirements.errors }}
    </td>
  </tr>
  <tr>
    <td>
      อื่น ๆ (ถ้ามีโปรดระบุ)<br>
      {{ form.comment_extra }} {{ form.comment_extra.errors }}
    </td>
  </tr>
  <tr>
    <td>
      <b>หมายเหตุ:</b> ยินดีรับนิสิตเข้าฝึกงานในครั้งต่อไปหรือไม่
      {{ form.comment_next_year_decision }} {{ form.comment_next_year_decision.errors }}<br>
      <div class="next-year-comments-items" id="next_year_comments_item-1">
	รับจำนวน {{ form.comment_next_year_acceptance_count }} คน
	{{ form.comment_next_year_acceptance_count.errors }}
      </div>
      <div class="next-year-comments-items" id="next_year_comments_item-2">
	ไม่รับ เนื่องจาก<br>
	{{ form.comment_next_year_reject_extra }}
	{{ form.comment_next_year_reject_extra.errors }}
      </div>
      <div class="next-year-comments-items" id="next_year_comments_item-3">
	โปรดระบุความเห็น
	{{ form.comment_next_year_other_extra }} 
	{{ form.comment_next_year_other_extra.errors }}
      </div>
    </td>
  </tr>
</table>
<script>
  function updateNextYearForm() {
      $('.next-year-comments-items').hide();
      var d = $('#id_comment_next_year_decision').val();
      if(d=='1') {
	  $('#next_year_comments_item-1').show();
      } else if(d=='2') {
	  $('#next_year_comments_item-2').show();
      } else {
	  $('#next_year_comments_item-3').show();
      }
  }
  $(function(){
      updateNextYearForm();
      $('#id_comment_next_year_decision').change(updateNextYearForm);
  });
</script>
