{% extends "std/base.html" %}

{% block content %}
<h1>แจ้งหน่วยงานที่คุณดำเนินการสมัครที่คัดเลือกนิสิตเอง: {{ student.student_id }} {{ student }}</h1>

<span class="hint">
  ในการสมัครบางหน่วยงานจะต้องใช้หนังสือขอความอนุเคราะห์จากคณะฯ ถ้าหน่วยงานอยู่ในรายชื่อหน่วยงานที่มีการคัดเลือกนิสิตเข้าฝึกงานเองของคณะ (<a target="_blank" href="{% url 'std_self_appl_list_verified_companies' %}">ดูรายชื่อหน่วยงาน</a>) นิสิตจะสามารถพิมพ์หนังสือขอความอนุเคราะห์ได้ทันที ถ้าหน่วยงานไม่อยู่ในรายการดังกล่าว นิสิตสามารถติดต่อขอหนังสือขอความอนุเคราะห์ได้ที่หน่วยกิจการนิสิตหลังจากแจ้งข้อมูลแล้ว
</span>

{% include "std/self_appl/include/direct_app_form.html" %}

{% endblock %}
