{% extends "std/base.html" %}

{% block content %}
<h1>แจ้งผลการสมัครหน่วยงาน: {{ student.student_id }} {{ student }}</h1>

<small>
  บันทึกผลการคัดเลือกด้านล่าง
  <b>ถ้าหน่วยงานรับคุณเข้าฝึกงาน คุณจะต้องเข้าฝึกงานที่หน่วยงานนั้น
  คุณจะต้องนำหลักฐานไปให้กรรมการฝึกงานประจำภาควิชาเพื่อยืนยันการรับ
  เพื่อขอจดหมายส่งตัวจากคณะเพื่อใช้เป็นหลักฐานในการเข้าฝึกงานต่อไปได้</b>
</small>

<form class="form-section" id="request_form_id" action="{% url 'std_self_appl_update_application' application.id %}" method="post" style="-display: none">
  <p>
    <b>หน่วยงาน:</b> {{ application.company_name }}<br />
    <b>ผลการคัดเลือก:</b>
    <select id="result_select_id" name="appresult">
      <option value="none">--กรุณาเลือก--</option>
      <option value="accepted" {% if is_accepted %}selected{% endif %}>หน่วยงานรับเข้าฝึกงาน</option>
      <option value="rejected">หน่วยงานปฏิเสธ</option>
    </select>
    <span id="company_select_span_id" style="display: none">
      {% if not has_chosen_company %}
        <input type="checkbox" name="company_select" id="company_select_checkbox_id" 
               value="selected" 
               {% if is_chosen %}checked{% endif %}
               />
        เลือกขอฝึกงานหน่วยงานนี้
      {% else %}
       (<b>ไม่สามารถเลือกขอฝึกงานหน่วยงานนี้ได้</b> เนื่องจากได้เลือกหน่วยงานอีกแล้ว)
      {% endif %}
    </span>
  </p>
  <div id="detail_form_id" style="padding: 0 10px 0 10px; border: 1px solid #a0a0a0; border-radius: 5px; display: none">
    <span class="hint">
      กรุณาระบุข้อมูลเพิ่มเติมสำหรับการออกหนังสือส่งตัว
    </span>
    <br />
    <table style="margin:0; padding:0">
      <tr>
        <td width="25%" style="padding:0; vertical-align:top; text-align: right">
          ที่อยู่สำหรับส่งหนังสือ:   
        </td>
        <td>
          {{ form.letter_address }}
          <span class="errorlist">{{ form.letter_address.errors.as_text }}</span>
        </td>
      </tr>
      <tr>
        <td style="padding:0; vertical-align:top; text-align: right">
          <label for="id_signer_name">ชื่อหรือตำแหน่งที่จะทำหนังสือถึง:</label> 
        </td>
        <td>
          {{ form.signer_name }}
          <span class="errorlist">{{ form.signer_name.errors.as_text }}</span><br/>
          <span class="hint">โปรดระบุชื่อหรือตำแหน่งที่จะทำหนังสือถึง เช่น ผู้จัดการ, ผู้จัดการส่วนฝึกอบรม, หรือ ผู้จัดการแผนกทรัพยากรมนุษย์ เป็นต้น ไม่ต้องระบุชื่อบริษัท</span>
        </td>
      </tr>
      <tr>
        <td style="padding:0; vertical-align:top; text-align: right">
          <label for="id_contact_person">ผู้ประสานงานการฝึกงาน:</label> 
        </td>
        <td>
          {{ form.contact_person }}
          <span class="errorlist">{{ form.contact_person.errors.as_text }}</span>
          <span class="hint">โปรดระบุชื่อผู้ประสานงานการฝึกงานของหน่วยงาน</span>
        </td>
      </tr>
      <tr>
        <td style="padding:0; vertical-align:top; text-align: right">
          <label for="id_contact_number">เบอร์โทรศัพท์ผู้ประสานงาน:</label> 
        </td>
        <td>
          {{ form.contact_tel_no }}
          <span class="errorlist">{{ form.contact_tel_no.errors.as_text }}</span>
          <span class="hint">โปรดระบุหมายเลขติดต่อหรืออีเมล</span>
        </td>
      </tr>
      <tr>
        <td style="padding:0; vertical-align:top; text-align: right">
          <label for="id_contact_email">อีเมล์ของผู้ประสานงาน:</label> 
        </td>
        <td>
          {{ form.contact_email }}
          <span class="errorlist">{{ form.contact_email.errors.as_text }}</span>
        </td>
      </tr>
      <tr>
        <td style="padding:0; vertical-align:top; text-align: right">
          ช่วงระยะเวลาการฝึกงาน:
        </td>
        <td>
          {{ form.period_choice }}
          <span class="errorlist">{{ form.period_choice.errors.as_text }}</span><br/>
          <div id="period_inputs_id">
            โปรดระบุระยะเวลา <span class="hint">ช่วงเวลาที่ระบุต้องอยู่ในช่วง 1 มิถุนายน ถึงเดือนกรกฎาคม และต้องครบ 2 เดือนเต็มเท่านั้น ให้ระบุในรูปแบบ ปี-เดือน-วัน หรือเลือกจากรายการ เมื่อเลือกวันเริ่มต้นแล้ว วันสิ้นสุดจะคำนวณให้โดยอัตโนมัติ</span><br/>
            <label for="id_start_date">วันที่เริ่มฝึกงาน:</label> {{ form.beginning_date }}
            <span class="errorlist">{{ form.beginning_date.errors.as_text }}</span>&nbsp;
            <label for="id_end_date">วันที่สิ้นสุดการฝึกงาน:</label> <span id="calculated_end_date_id"></span>{{ form.end_date }}
            <span class="errorlist">{{ form.end_date.errors.as_text }}</span>&nbsp;
          </div>
        </td>
      </tr>
    </table>
  </div>
  <hr/>
  <div id="submit_buttons_id" style="display: none">
    <input id="submit_ok_id" class="submit-buttons button green" type="submit" name="ok" value="ส่งการแจ้งผล"/>
    <input class="submit-buttons button red" type="submit" name="cancel" value="ยกเลิกการแจ้งผล"/>
  </div>
</form>

<script type="text/javascript">
var has_chosen_company = {% if has_chosen_company %}true{% else %}false{% endif %};
function updateDetailFormVisibility() {
  var val = $("#result_select_id").val();
  if(val!="accepted") {
    $("#detail_form_id").slideUp();
  } else {
    if($("#company_select_checkbox_id").is(':checked')) {
      $("#detail_form_id").slideDown();
      $("#id_letter_address").focus();
    } else
      $("#detail_form_id").slideUp();
  }
}

function update_period_inputs() {
  if($("#id_period_choice").val()=='custom')
    $("#period_inputs_id").show();
  else
    $("#period_inputs_id").hide();
}

function updateEndDate() {
  var start_date = $.datepicker.parseDate("yy-mm-dd", $("#id_beginning_date").val());
  var y = start_date.getFullYear(); var m = start_date.getMonth(); var d = start_date.getDate();
  m += 2;
  d -= 1;
  var end_date = new Date(y,m,d);
  while(end_date.getDay()==0 || end_date.getDay()==6) {
    d--;
    end_date = new Date(y,m,d);
  }
  var date_str = $.datepicker.formatDate("yy-mm-dd", end_date);
  $("#id_end_date").val(date_str);
  $("#calculated_end_date_id").text(date_str);
}

$(function(){
  $("#result_select_id").change(function(){
    var val = $("#result_select_id").val();
    if(val!="none")
      $("#submit_buttons_id").slideDown();
    else
      $("#submit_buttons_id").slideUp();
    if(val=="accepted") {
      $("#company_select_span_id").show();
      $("#company_select_checkbox_id").attr('checked', true);
    } else {
      $("#company_select_span_id").hide();
      $("#company_select_checkbox_id").attr('checked', false);
    }
    updateDetailFormVisibility();
  });
  $("#company_select_checkbox_id").click(function(){
    var val = $("#result_select_id").val();
    if(val=="accepted") {
      $("#company_select_checkbox_id").attr('checked', true);
    } else {
      $("#company_select_checkbox_id").attr('checked', false);
    }
    updateDetailFormVisibility();
  });
  $("#submit_ok_id").click(function(){
    var val = $("#result_select_id").val();
    if(val=="none")
      return false;

    if(val=="accepted") {
      if($("#company_select_checkbox_id").is(":checked"))
        return confirm("กรุณาตรวจสอบข้อมูลที่จะบันทึก:\n- คุณผ่านการคัดเลือก และยืนยันที่จะเข้าฝึกงานที่หน่วยงานนี้\n" + 
                       "- เมื่อคุณกรอกข้อมูลแล้วจะต้องนำหลักฐานการผ่านการคัดเลือกไปแจ้งกับกรรมการเพื่อยืนยันผล\n" +
                       "คุณจึงจะสามารถออกหนังสือส่งตัวเข้าฝึกงานได้\n" +
                       "กรุณากด ตกลง(Ok) เพื่อรับทราบ");
      else
        return confirm("กรุณาตรวจสอบข้อมูลที่จะบันทึก:\n- คุณผ่านการคัดเลือก แต่ไม่ประสงค์จะเข้าฝึกงานที่หน่วยงานนี้\n" + 
                       "- คุณมีหน้าที่รับผิดชอบปฏิเสธการเข้าฝึกงานกับทางหน่วยงานให้เรียบร้อย\n" +
                       "กรุณากด ตกลง(Ok) เพื่อรับทราบ หรือกด ยกเลิก(Cancel) เพื่อกลับไปแก้ไข");
    } else {
      return confirm("กรุณาตรวจสอบข้อมูลที่จะบันทึก:\n- คุณไม่ผ่านการคัดเลือกจากหน่วยงานดังกล่าว\nเมื่อส่งการแจ้งผลแล้วจะไม่สามารถแก้ไขได้\nถ้าตรวจสอบแล้ว กรุณากดยืนยันที่จะส่งการแจ้งผล");
    }
  });

  $("#result_select_id").change();

  update_period_inputs();
  $("#id_period_choice").change(update_period_inputs);
  $("#id_beginning_date").addClass('date_inputs');

  $(".date_inputs").datepicker({dateFormat: "yy-mm-dd", minDate: new Date(2014,2,17), maxDate: new Date(2014,3,1),beforeShowDay: $.datepicker.noWeekends});

  $("#id_beginning_date").change(updateEndDate);
  updateEndDate();

});
</script>
{% endblock %}
