{% extends "std/base.html" %}

{% load wt_media %}

{% block content %}
<h1>กรุณาเลือกตัวเลือกด้านล่าง {{ student.student_id }} {{ student.full_name }}</h1>

<div class="form-section">
  <h1>ขณะนี้ได้ผ่านกำหนดการจัดหาหน่วยงานเองแล้ว</h1>

  <p>
    คุณได้สมัครเข้าฝึกงานโดยเลือกว่าจะจัดหาหน่วยงานสำหรับฝึกงานเอง อย่างไรก็ตาม
    ตอนนี้ได้<b>เลย</b>กำหนดเวลาในการจัดหาหน่วยงานเองแล้ว
    นอกจากนี้หน่วยงานที่คุณได้แจ้งประสงค์เข้าฝึกงานมาทั้งหมดและได้รับการอนุมัติจากกรรมการนั้น
    ได้ปฏิเสธคุณมาทั้งหมดแล้ว
  </p>

  <p>
    ตามที่ได้ชี้แจงไว้ว่าถ้านิสิตไม่สามารถหาหน่วยงานที่รับเข้าฝึกงานได้ภายในกำหนด
    <b>คณะจะย้ายประเภทการหาหน่วยงานสำหรับฝึกงานของนิสิตให้เป็นแบบที่ให้คณะจัดหาให้</b>
    อย่างไรก็ตาม เนื่องจากคุณได้เริ่มดำเนินการแล้ว คณะฯ จึงเปิดโอกาสให้คุณเลือกที่จะ
    (1) เปลี่ยนประเภทการจัดหาหน่วยงานเป็นแบบให้คณะจัดหาให้ หรือจะ (2)
    เลือก<b>ยืนยัน</b>ว่าจะจัดหาหน่วยงานเพื่อเข้าฝึกงานเองต่อไป ภายใต้เงื่อนไขดังนี้:

    <div style="margin: 5px 20px 5px 20px; padding: 5px; border: 1px solid #a0a0a0; border-radius: 5px">
      <b>
        คุณยืนยันที่จะจัดหาหน่วยงานเพื่อเข้าฝึกงานด้วยตนเองภายหลังกำหนดที่คณะฯ
        กำหนดให้
        ดังนั้นคุณจะต้องรับผิดชอบหาหน่วยงานเพื่อเข้าฝึกงานเองให้ได้เองภายในวันที่ 28
        ก.พ.57 โดยทางคณะฯ จะไม่ดำเนินการจัดหาหน่วยงานให้
        <span style="color: red">หากครบกำหนดแล้ว
        คุณไม่สามารถจัดหาหน่วยงานได้ คุณจะต้องไปฝึกงานในปีการศึกษาถัดไป</span>
      </b>
    </div>
  </p>

  <p>
    โปรดพิจารณาให้รอบคอบแล้วกรุณาเลือกตัวเลือกด้านล่าง เมื่อเลือกแล้วจะไม่สามารถเปลี่ยนได้ ถ้าคุณไม่เลือกภายใน 7 วันหลังจากมีอีเมลแจ้งไป
    คณะจะถือว่าคุณยินดีที่จะเปลี่ยนประเภทการจัดหาหน่วยงานเป็นแบบให้คณะจัดหาให้
  </p>

  <form action="{% url 'std_self_appl_confirm' %}" method="post">
    » คุณเลือกที่จะ:
    <select id="choice_select_id" name="convertchoice">
      <option value="none">-- กรุณาเลือก --</option>
      <option value="convert">เปลี่ยนประเภทการจัดหาหน่วยงานเป็นแบบให้คณะจัดหาให้</option>
      <option value="confirm">ยืนยันว่าจะรับผิดชอบจัดหาหน่วยงานสำหรับฝึกงานเอง และรับทราบเงื่อนไขข้างต้นแล้ว</option>
    </select>
    <input id="choice_submit_id" value="จัดเก็บการเลือก" type="submit"/>
  </form>
</div>

<script type="text/javascript">
$(function(){
  $("#choice_submit_id").click(function(){
    var ch = $("#choice_select_id").val();
    if(ch=="none") {
      alert("กรุณาเลือกทางเลือกใดทางเลือกหนึ่งก่อน");
      return false;
    } else if(ch=="convert")
      return confirm("คุณแน่ใจที่จะเปลี่ยนประเภทการจัดหาหน่วยงานเป็นให้คณะจัดหาให้หรือไม่\nเมื่อเลือกแล้วจะไม่สามารถเปลี่ยนได้อีก");
    else
      return confirm("คุณแน่ใจที่จะยืนยันว่าจะจัดหาหน่วยงานเองหรือไม่\nเมื่อยืนยันแล้ว ถ้าคุณไม่สามารถหาหน่วยงานได้ภายในกำหนด คุณจะต้องไปฝึกงานปีการศึกษาหน้า\nเมื่อเลือกแล้วจะไม่สามารถเปลี่ยนได้อีก");
  });
});
</script>
{% endblock %}
