{% extends "std/base.html" %}

{% load wt_media %}

{% block content %}
<h1>รายการการขอหนังสือขออนุมัติเก่าของ {{ student.student_id }} {{ student.full_name }}</h1>

<b>สถานะการสมัครฝึกงานภาคฤดูร้อน ปี {{ next_academic_year }}:</b> สมัครเรียบร้อยแล้ว<br/>
<b>วิธีในการหาหน่วยงานสำหรับฝึกงานที่คุณเลือก: คุณจะจัดหาหน่วยงานสำหรับฝึกงานเอง</b><br/>

{% if inactive_company_request_items %}
  {% with 1 as hide_list_link %}
  {% include "std/self_appl/include/inactive_company_requests.html" %}
  {% endwith %}
{% endif %}

<hr/>

{% for item in inactive_company_request_items %}
  {% with item.company_request as company_request %}
    <div style="margin: 5px; border: 1px solid #707070; background: white; padding: 10px;" class="">
      <span style="font-size: 120%">
        {% if not item.is_approved %}
          <span class="info-tag orange small">คุณปฏิเสธคำขอนี้</span>
        {% else %}
          {% if not item.is_approved_by_committee %}
            <span class="info-tag red small">กรรมการได้ปฏิเสธคำขอ</span>
          {% else %}
            <span class="info-tag red small">หน่วยงานปฏิเสธ</span>
          {% endif %}
        {% endif %}
        <b>หน่วยงาน:</b> {{ company_request.company_name }} 
      </span>
      (เสนอโดย {{ company_request.student }} เมื่อ {{ company_request.requested_at|date:"j M Y" }})<br/>
      {% if item.is_approved and not item.is_approved_by_committee %}
        กรรมการปฏิเสธคำขอหนังสือขอความอนุมัติ เนื่องจาก {{ company_request.reject_comments }}
        เมื่อวันที่ {{ company_request.approved_at|date:"j M Y" }}
      {% endif %}
    </div>
  {% endwith %}
{% endfor %}

{% endblock %}
