{% extends "std/base.html" %}

{% load wt_media %}

{% block content %}
<h1>ระบบฝึกงานยินดีต้อนรับ! {{ student.student_id }} {{ student.full_name }} </h1>

{% if notice %}
<div class="notice"><span class="notice-text">{{ notice }}</span></div>
{% endif %}

<b>สถานะการสมัครฝึกงานภาคฤดูร้อน ปี {{ next_academic_year }}:</b> สมัครเรียบร้อยแล้ว<br/>
<b>
  วิธีในการหาหน่วยงานสำหรับฝึกงานที่คุณเลือก: คุณจะจัดหาหน่วยงานสำหรับฝึกงานเอง
  {% if status.is_self_appl_confirmed %}(ยืนยันว่าไม่เปลี่ยน){% endif %}
</b><br/>

{% if inactive_company_request_items %}
  {% include "std/self_appl/include/inactive_company_requests.html" %}
{% endif %}

{% if inactive_company_applications %}
  {% include "std/self_appl/include/inactive_company_applications.html" %}
{% endif %}

<hr/>

{% if has_active_company_requests %}

  {% include "std/self_appl/include/active_company_requests.html" %}

{% else %}
  {% if has_active_company_applications %}

    {% include "std/self_appl/include/active_company_applications.html" %}

  {% else %}

    {% include "std/self_appl/include/menu.html" %}

  {% endif %}
{% endif %}

{% endblock %}
