{% extends "std/base.html" %}

{% block content %}
<h1>รายการหน่วยงานที่คัดเลือกนิสิตเอง สำหรับการฝึกงานภาคฤดูร้อน {{ year }}</h1>

<table class="info_list">
  <tr class="header">
    <th>ลำดับ</th>
    <th>ชื่อ</th>
  </tr>
  {% for c in companies %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ c.name }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
