{% extends "std/base.html" %}

{% block content %}
<h1>เพิ่มหน่วยงานเพื่อขอหนังสือขอความอนุเคราะห์ สำหรับ {{ student.student_id }} {{ student }}</h1>

<form class="form-section" id="request_form_id" action="{% url 'std_self_appl_new_company_request' %}" method="post" style="-display: none">
  {% include "std/self_appl/include/request_form.html" %}
  <hr/>
  <input class="button green" type="submit" name="ok" value="ขออนุมัติ"/>
  <input class="button red" type="submit" name="cancel" value="ยกเลิกการเพิ่มข้อมูล"/>
</form>

<script type="text/javascript">
</script>
{% endblock %}
