{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <div style="float:right">
    เก็บที่อยู่ไว้ <span id="saved_address_count_id">{{ saved_address_count }}</span> หน่วยงาน
    <a href="{% url 'committee_letters_print_labels' department.code %}" class="button blue small">พิมพ์ที่อยู่</a>
    <a href="{% url 'committee_index' %}" class="button red small">กลับไปหน้าหลัก</a>
  </div>
  <h1>พิมพ์หนังสือส่งตัว {{ department.name }} ประจำปีการศึกษา {{ year }}</h1>

  <div class="info_message">
    <small>
      หน้านี้สำหรับพิมพ์หนังสือส่งตัวสำหรับนิสิตที่ขอฝึกงานประเภทที่ 1 (จัดหาหน่วยงานเอง) และหนังสือส่งตัวสำหรับนิสิตสหกิจ เมื่อกดปุ่ม <b>พิมพ์</b> ที่ท้ายรายชื่อหน่วยงานใด ป้ายที่เขียนว่า "ยังไม่พิมพ์" จะเปลี่ยนเป็น "พิมพ์แล้ว" ให้โดยอัตโนมัติเพื่อใช้ในการช่วยจำ &nbsp;&nbsp; สำหรับการพิมพ์รายการที่อยู่สำหรับแปะบนซองจดหมายนั้น ให้กดปุ่ม <b>เก็บที่อยู่</b> ที่ท้ายชื่อหน่วยงาน ในการพิมพ์ให้กดปุ่ม <b>พิมพ์ที่อยู่</b> จะไปสู่หน้าสำหรับพิมพ์ที่อยู่สำหรับแปะซองจดหมาย  ที่อยู่ที่เก็บไว้นี้จะเก็บแค่ในระยะเวลาที่ log-in อยู่เท่านั้น  
    </small>
  </div>

  {% if notice %}
    <div class="notice">
      <span class="notice-text">{{ notice }}</span>
    </div>
  {% endif %}

  {% include "committee/letters/include/company_requests.html" %}
  {% include "committee/letters/include/direct_applications.html" %}

  {% include "committee/letters/include/co_op_requests.html" %}
  
<script type="text/javascript">
function printingStatusText( s ) {
  if ( s ) { 
    return '<span class="info-tag green">พิมพ์แล้ว</span>';
  } else {
    return '<span class="info-tag gray">ยังไม่พิมพ์</span>';
  }
}

$(function() {
  $(".letter-print-links").click(function() {
    var row = $(this).parents('tr').first();
    $(row).find('.printing-statuses').html(printingStatusText(true));
  });
  $(".save-label-links").click(function() {
    var url = $(this).attr('href');
    $.get(url, function(data) {
            $("#saved_address_count_id").html(data);
          });
    return false;
  });
});

</script>
{% endblock content %}
