{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <div style="float:right">
    <a href="{% url 'committee_letters_index' department.code %}" class="button red small">กลับไปหน้ารายการหนังสือส่งตัว</a>
  </div>
  <h1>รายการที่อยู่ของหน่วยงานที่เก็บไว้</h1>

  <form action="{% url 'committee_letters_print_labels' department.code %}" method="post">
    <b>พิมพ์รายการ:</b> จำนวนช่องว่างก่อนหน้า <input type="text" name="empty_slot_count" value="0"/>
    <input type="submit" value="พิมพ์ที่อยู่ตามรายการด้านล่าง" class="button small green"/><br/>
    <b>ปรับระยะ:</b> 
    ขอบบน <input type="text" size="4" name="yoffset"/>
    ขอบซ้าย <input type="text" size="4" name="xoffset"/>
    ความสูงของแถว <input type="text" size="4" name="rowwidth"/><br/>
    <small>ป้อนเป็นหน่วย cm, ขอบบนถ้าเป็นบวกเลื่อนลง เป็นลบเลื่อนขึ้น, ขอบซ้ายถ้าเป็นบวกขยายขึ้นเป็นลบเล็กลง, เว้นไว้ถ้าไม่ต้องการแก้ไข</small>
  </form>
  <b>ลบรายการที่จำไว้:</b> <a href="{% url 'committee_letters_remove_label' department.code 'all' 0 %}" class="button red small">ลบรายการที่จำไว้ทั้งหมด</a>
  <br/>
  <br/>

  {% if notice %}
    <div class="notice">
      <span class="notice-text">{{ notice }}</span>
    </div>
  {% endif %}

  <table class="info_list">
    <tr class="header">
      <th>ลำดับที่</th>
      <th>หน่วยงาน</th>
      <th></th>
    </tr>
    {% for req in company_requests %}
      <tr class="odd">
        <td>{{ forloop.counter }}</td>
        <td>{{ req.company_name }}</td>
        <td>
          <a href="{% url 'committee_letters_remove_label' department.code 'request' req.id %}" class="tiny button red">ลบจากรายการ</a>
        </td>
      </tr>
    {% endfor %}
    {% for app in company_direct_applications %}
      <tr class="odd">
        <td>{{ forloop.counter|add:company_request_count }}</td>
        <td>{{ app.company_name }}</td>
        <td>
          <a href="{% url 'committee_letters_remove_label' department.code 'app' app.id %}" class="tiny button red">ลบจากรายการ</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
