{% extends "regis/base.html" %}
{% block content %}
<h1>เพิ่มรายชื่อสถานประกอบการที่ขอคัดเลือกนิสิตเข้าฝึกงานเอง ประจำปีการศึกษา {{ year }}</h1>

<form method="post" enctype="multipart/form-data">
  <table class="top-align">
    {{ form.as_table }}
    <tr>
      <td></td>
      <td>
	<input type="submit" name="submit" value="เพิ่มข้อมูล">
	<input type="submit" name="cancel" value="ยกเลิก">
      </td>
    </tr>
  </table>
</form>

<script type="text/javascript">
  $(function() {
    $("#id_application_deadline").datepicker({dateFormat: "yy-mm-dd"});
    $("#id_company_name").autocomplete({source: "{% url 'company_search_by_name_ajax' %}"});
  });
</script>
{% endblock %}
