{% extends "regis/base.html" %}

{% load wt_media %}

{% block content %}
<div style="float: right">
  <a href="{% url 'direct_appl_regis_company_show' direct_position.id %}"
     class="button red small">
    กลับไปหน้าข้อมูล
  </a>
</div>
<h1>บันทึกผลการสมัคร {{ company.name }}</h1>

{% if error_msg %}
<div class="info_message">
เกิดข้อผิดพลาด ไม่สามารถจัดเก็บได้เนื่องจาก:<br/>
{{ error_msg|linebreaksbr }}
</div>
{% endif %}

<form method="post" class="form-section">
  <h3>รายชื่อนิสิตที่สมัคร</h3>
  <table>
    <tr>
      <th>คนที่</th>
      <th>เลขประจำตัว</th>
      <th>ชื่อ-นามสกุล</th>
      <th>สาขาวิชา</th>
      <th colspan="2">ผลการสมัคร</th>
      <th></th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td width="50px">รับ</td>
      <td width="50px">ไม่รับ</td>
      <td></td>
    </tr>
    {% for application in applications %}
      <tr>
	<td>{{ forloop.counter }}</td>
	<td>{{ application.student.student_id }}</td>
	<td>{{ application.student.full_name }}</td>
	<td>{{ application.student.department }}</td>
	{% if not application.student.assigned_company %}
  	  <td style="background: #f0fff0">
	    <input class="approve_box app_box_{{ application.id }}" 
	  	   id="id_yes_app_{{ application.id }}" 
		   name="yes_app_{{ application.id }}" 
		   type="checkbox"
		   {% if application.is_accepted %}checked{% endif %}
		   />
	  </td>
	  <td style="background: #fff0f0">
	    <input class="approve_box app_box_{{ application.id }}" 
		   id="id_no_app_{{ application.id }}" 
		   name="no_app_{{ application.id }}" 
		   type="checkbox"
		   {% if not application.is_accepted and application.is_accepted != None %}checked{% endif %}
		   />
	  </td>
	  {% if application.outstanding_apps %}
	    <td>
	      <small>[<a href="" class="other_app_link" id="id_other_app_{{ application.id }}_link">ใบสมัครอื่น</a>]</small>
	      <div class="other_app_info" style="display:none">
		{% for o in application.outstanding_apps %}
  		  <b>{{ o.position.company }}</b><br/>
		  {{ o.position.company.contact_name|default_if_none:"" }} 
		  {{ o.position.company.tel_no|default_if_none:"" }} 
		{% endfor %}  
	      </div>
	    </td>
	  {% endif %}
	{% else %}
          <td colspan="3">
	    <small>
	      [ได้รับคัดเลือกแล้ว: {{ application.student.assigned_company }}]
	    </small>
	  </td>
        {% endif %}
      </tr>
    {% empty %}
      <tr> 
	<td colspan="5">ยังไม่มีนิสิตสมัคร</td>
      </tr>
    {% endfor %}
  </table>
  <input id="id_ok_button" name="ok" type="submit" value="จัดเก็บ">
  <input id="id_cancel_button" name="cancel" type="submit" value="ยกเลิก">
</form>  

<script type="text/javascript">
  function get_app_id_from_id(id) {
    i = id.split("_");
    return i[3];
  }

  function clear_opposite_box(id) {
    myid = get_app_id_from_id(id);
    if(id.indexOf("id_yes_app")!=-1)
      $("#id_no_app_" + myid).attr("checked",false);
    else
      $("#id_yes_app_" + myid).attr("checked",false);
  }

  $(function() {
    $("#id_ok_button").click(function() {
      return confirm("ต้องการบันทึกข้อมูลนี้หรือไม่\nถ้าบันทึกแล้วจะมีอีเมล์แจ้งไปที่นิสิตเกี่ยวกับผลนี้\nถ้าแน่ใจกรุณายืนยัน");
    });
    $("#id_cancel_button").click(function() {
      return confirm("ต้องการยกเลิกการบันทึกข้อมูลนี้หรือไม่\nถ้าแน่ใจกรุณายืนยัน");
    });
    $(".approve_box").click(function() {
      clear_opposite_box($(this).attr("id"));
    });
    $(".other_app_link").click(function() {
      $(this).parentsUntil("td").parent().find(".other_app_info").toggle();
      return false;
    });
  });
</script>
{% endblock %}
