{% extends "regis/base.html" %}

{% load wt_media %}

{% block content %}
<h1>สมัครนิสิตนิสิตเข้าคัดเลือก {{ company.name }} สำหรับการฝึกงานปีการศึกษา {{ year }}</h1>

<form 
   action=""
   method="post"
   class="form-section">
  รหัสนิสิต: {{ form.student_id }}&nbsp;&nbsp;
  ชื่อ: {{ form.student_name }}&nbsp;&nbsp;
  <input type="submit" value="ค้นหานิสิต"/>
</form>

{% if too_many_results %}
  <p>ผลลัพธ์ที่ค้นได้มีมากเกินไป กรุณาใส่ข้อมูลของนิสิตเพิ่มขึ้น</p>
{% else %}
  {% if students != None %}
    <h3>รายชื่อนิสิตที่ตรงกับเงื่อนไข</h3>
    <table>
      <tr>
	<th>เลขประจำตัว</th>
	<th>ชื่อ</th>
	<th>สาขาวิชา</th>
	<th></th>
      </tr>
      {% for student in students %}
        <tr>
	  <td>{{ student.student_id }}</td>
	  <td>{{ student.full_name }}</td>
	  <td>{{ student.department }}</td>
	  <td>
	    {% if student.is_eligible_to_apply_more_direct_application %}
	      <a href="{% url 'direct_appl_regis_company_apply' direct_position.id student.student_id %}"
		 class="button small green">
		สมัครเข้ารับการคัดเลือก
	      </a>
	    {% else %}
	      ไม่สามารถสมัครได้: {{ student.reasons_failed_to_apply_more_direct_application }}
	    {% endif %}
	  </td>
	</tr>
      {% empty %}
        <tr>
	  <td></td>
	  <td>ไม่พบข้อมูลนิสิตที่ค้นหา</td>
	</tr>
      {% endfor %}
    </table>
  {% endif %}
{% endif %}

{% endblock %}
