{% extends "regis/base.html" %}

{% load wt_media %}

{% block content %}
<h1>รายชื่อสถานประกอบการที่ขอคัดเลือกนิสิตเข้าฝึกงานเอง ประจำปีการศึกษา {{ year }}</h1>

{% if notice %}
<div class="notice">
  <span class="notice-text">{{ notice }}</span>
</div>
{% endif %}

<div style="text-align: right">
  <a href="{% url 'direct_appl_regis_company_add' %}" class="green small button">เพิ่มรายชื่อสถานประกอบการ</a>
</div>

<table class="info_list">
  <tr class="header">
    <th>ลำดับ</th>
    <th>ชื่อ</th>
    <th>กำหนด</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {% for company_position in company_positions %}
  <tr id="company_row_{{ company_position.id }}" class="{% cycle 'odd' 'even' %} {% if company_position.is_hidden %}company-hidden{% endif %}">
    <td>{{ forloop.counter }}</td>
    <td>{{ company_position.company.name }}</td>
    <td>
      {% if company_position.application_deadline %}
        {{ company_position.application_deadline|date:"j N" }}
      {% else %}
        ไม่มีกำหนด
      {% endif %}
    </td>
    <td>
      <small>
	<a class="button green small"
	   href="{% url 'direct_appl_regis_company_show' company_position.id %}">ดูรายละเอียดและสมัครนิสิต</a>
      </small>
    </td>
    <td>
      <small>
	<a class="button green small"
	   href="{% url 'direct_appl_regis_company_edit' company_position.id %}">แก้ไขข้อมูล</a>
      </small>
    </td>
    <td>
      <small>
	{% if company_position.application_form_file %}
	<a class="button blue small"
  	   href="{% media_url %}/{{ company_position.application_form_file }}">ดาวน์โหลดใบสมัคร</a>
	{% else %}
	ไม่มีข้อมูลใบสมัคร
	{% endif %}
      </small>
    </td>
    <td>
      {% if not company_position.is_hidden %}
        <a id="toggle_{{ company_position.id }}" class="company_toggle button orange small" href="#">ซ่อน</a>
      {% else %}
        <a id="toggle_{{ company_position.id }}" class="company_toggle button blue small" href="#">ยกเลิกการซ่อน</a>
      {% endif %}
      <span id="hidden_status_{{ company_position.id }}" {% if not company_position.is_hidden %}style="display:none"{% endif %}>ถูกซ่อนอยู่</span>
    </td>
  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
$(function() {
  {% for company_position in company_positions %}
    $("#toggle_{{ company_position.id }}").data("cid",{{ company_position.id }});
  {% endfor %}
  $(".company_toggle").click(function() {
    var base_url = "{% url 'direct_appl_regis_company_toggle' 1000 %}";
    var cid = $(this).data("cid");
    var parts = base_url.split("1000");
    var url = parts[0] + cid + parts[1];
    jQuery.get(url,function(data) {
      if(data == 'true') {
        $("#company_row_" + cid).addClass("company-hidden");
        $("#toggle_" + cid).text("ยกเลิกการซ่อน").addClass("blue").removeClass("orange");
        $("#hidden_status_" + cid).show();
      } else {
        $("#company_row_" + cid).removeClass("company-hidden");
        $("#toggle_" + cid).text("ซ่อน").addClass("orange").removeClass("blue");
        $("#hidden_status_" + cid).hide();
      }
    });
    return false;
  });
});
</script>

{% endblock %}
