{% extends "regis/base.html" %}
{% block content %}
<h1>แก้ไขข้อมูลสถานประกอบการที่ขอคัดเลือกนิสิตเข้าฝึกงานเอง ประจำปีการศึกษา {{ year }}</h1>

<form method="post" enctype="multipart/form-data">
  <table class="top-align">
    {{ form.as_table }}
    <tr>
      <td></td>
      <td>
	<input type="submit" name="submit" value="แก้ไข">
	<input type="submit" id="delete_submit_button" name="delete" value="ลบรายการ">
	<input type="submit" name="cancel" value="ยกเลิก">
      </td>
    </tr>
  </table>
</form>

<script type="text/javascript">
  $(function() {
    $("#delete_submit_button").click(function() {
      return confirm("คุณแน่ใจที่จะลบสถานประกอบการนี้ออกจากรายการสถานประกอบการที่ขอคัดเลือกนิสิตเองใช้หรือไม่");
    });
    $("#id_application_deadline").datepicker({dateFormat: "yy-mm-dd"});
    $("#id_company_name").autocomplete({source: "{% url 'company_search_by_name_ajax' %}"});
  });
</script>
{% endblock %}
