{% extends "regis/base.html" %}

{% load wt_media %}

{% block content %}
<div style="float: right">
  <a href="{% url 'direct_appl_regis_company_edit' direct_position.id %}"
     class="button blue small">
    แก้ไขข้อมูลการคัดเลือก
  </a>
  <a href="{% url 'direct_appl_regis_company_list' %}"
     class="button red small">
    กลับไปหน้ารายการ
  </a>
</div>
{% include "direct_appl/include/position.html" %}

<div class="form-section">
  <div style="float:right">
    <a href="{% url 'direct_appl_regis_company_student_search' direct_position.id %}"
       class="button blue small">
      สมัครนิสิตเข้าฝึกงานสถานประกอบการนี้
    </a>
    <a href="{% url 'direct_appl_regis_company_approve' direct_position.id %}"
       class="button green small">
      บันทึกผลการสมัคร
    </a>
    <a class="blue button small" href="{% url 'regis_company_print_letter_pdf' direct_position.company.id year  %}">พิมพ์ใบส่งตัว
    </a>
    <a href="{% url 'regis_company_save_label' direct_position.company.id %}" class="button orange small save_label_link">จำที่อยู่</a>
  </div>
  <h3>รายชื่อนิสิตที่สมัคร</h3>

  {% if notice %}
    <div class="notice">
      <span class="notice-text">{{ notice }}</span>
    </div>
  {% endif %}

  <div id="email_list_id" style="display:none; border: 1px solid red; padding: 5px; background: #fff0f0;">
    อีเมล์ของนิสิตทั้งหมด:<br/>
    {% for a in applications %}{{ a.student.email }}, {% endfor %}
  </div>

  <table>
    <tr>
      <th>คนที่</th>
      <th>เลขประจำตัว</th>
      <th>ชื่อ-นามสกุล</th>
      <th>สาขาวิชา</th>
      <th>E-mail (<a href="" id="email_copy_id">คัดลอก</a>)</th>
      <th>ผลการสมัคร</th>
      <th></th>
    </tr>
    {% for application in applications %}
      <tr>
	<td>{{ forloop.counter }}</td>
	<td>{{ application.student.student_id }}</td>
	<td>{{ application.student.full_name }}</td>
	<td>{{ application.student.department }}</td>
	<td><small>{{ application.student.email }}</small></td>
	{% if not application.student.assigned_company %}
	  <td>
	    {{ application.get_is_accepted_display }}
	  </td>
	  <td>
	    <a href="{% url 'direct_appl_regis_company_cancel' direct_position.id application.id %}" class="button red small cancel-button">ยกเลิกการสมัคร</a>
	  </td>
	{% else %}
	  <td colspan="2">
	    <small>
	      [ได้รับคัดเลือกแล้ว: {{ application.student.assigned_company }}]
	    </small>
	  </td>
	{% endif %}
      </tr>
    {% empty %}
      <tr> 
	<td colspan="5">ยังไม่มีนิสิตสมัคร</td>
      </tr>
    {% endfor %}
  </table>
</div>  

<script type="text/javascript">
  $(function() {
    $("#id_application_requirements").hide();
    $(".cancel-button").click(function() {
      return confirm("คุณแน่ใจที่จะยกเลิกการสมัครหรือไม่\nถ้าแน่ใจกรุณายืนยัน");
    });

    $("#email_copy_id").click(function() {
      $("#email_list_id").toggle();
      return false;
    });

    $(".save_label_link").click(function() {
      $url = $(this).attr("href");
      $.get($url, function(data) {
        alert('จำที่อยู่แล้วรวม ' + data + ' สถานประกอบการ');
      });
      return false;
    });
  });
</script>
{% endblock %}
