{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
<h1>ระบบฝึกงานยินดีต้อนรับ! กรรมการกิจการนิสิต {{ department.name }}</h1>
{% comment %}
---------------------------------------------------------------
<p class="info_message">
  สามารถตรวจสอบ<a href="{% url 'regis_department_no_evaluation' department.code 1 %}">รายชื่อนิสิตที่ทางหน่วยกิจการนิสิตยังไม่ได้ใบประเมิน หรือข้อมูลยังไม่เรียบร้อยได้ที่นี่</a>
</p>

{% include "committee/include/new_company_notice.html" %}

<p class="info_message">
  สามารถตรวจสอบ<a href="{% url 'regis_department_no_evaluation' department.code 1 %}">รายชื่อนิสิตที่ทางหน่วยกิจการนิสิตยังไม่ได้ใบประเมิน หรือข้อมูลยังไม่เรียบร้อยได้ที่นี่</a>
</p>
---------------------------------------------------------------
{% endcomment %}

<div class="form-section">
  {% include "committee/include/sel_stat.html" %}
</div>

<h3>ข้อมูลการจัดหาหน่วยงาน</h3>
<table class="frame_table">
  <tr>
    <th rowspan="2" width="25%">นิสิตที่ต้องการ<br/>จัดหาหน่วยงานเอง</th>
    <td>
      <a class="button small blue" href="{% url 'committee_student_appl_list_company_requests' department.code %}">รายการขออนุมัติหนังสือขอความอนุเคราะห์</a>
      <a class="button small green" href="{% url 'committee_student_appl_list_company_direct_applications' department.code %}">รายการการแจ้งสมัครฝึกงานสำหรับหน่วยงานคัดเลือกนิสิตเอง</a>
    </td>
  <tr>
    <td>
      <a class="button small orange" href="{% url 'committee_letters_index' department.code %}">พิมพ์หนังสือส่งตัว</a>
      <a class="button small" href="{% url 'committee_dept_admin_list' department.code %}">จัดการบัญชีเข้าใช้เจ้าหน้าที่ภาควิชา</a>
    </td>
  </tr>
  <tr>
    <th>นิสิตสมัครสหกิจศึกษา</th>
    <td>
      <a class="button small" href="{% url 'committee_coop_index' department.code %}">พิจารณาการขออนุมัติหน่วยงานและผลการสมัคร</a>
    </td>
  </tr>
  <tr>
    <th><del>นิสิตที่ให้คณะ<br/>จัดหาหน่วยงานให้</del></th>
    <td style="background: gray;">
      <b>ข้อมูลการเลือกสถานประกอบการ:</b>
  {% if sel_status.is_open %}
    ขณะนี้อยู่ระหว่างการเลือกในรอบที่ {{ sel_status.current_round_number }} 
    จะหมดเขตวันที่ {{ sel_status.get_current_round.end_time|date:"j N G:i" }}
    <a href="{% url 'committee_student_selection_index' department.code %}" class="button blue small">พิจารณาข้อมูลการเลือกและการอนุมัติ</a>
  {% else %}
    {% if last_sel_round %}
      ขณะนี้การเลือกในรอบที่ {{ last_sel_round.number }} เสร็จสิ้นแล้ว <br/>
      <a href="{% url 'committee_student_selection_list' department.code last_sel_round.number %}" class="button green small">พิจารณาข้อมูลการเลือกและคัดเลือกนิสิต</a>
      <a href="{% url 'committee_student_selection_index' department.code %}" class="button blue small">ดูข้อมูลการเลือกและการอนุมัติที่ผ่านมา</a>
      <a href="{% url 'committee_student_list_no_approve' department.code last_sel_round.number %}" class="button red small">ดูรายชื่อนิสิตที่ยังไม่ได้พิจารณาอนุมัติ</a>
    {% else %}
      ขณะนี้ยังไม่มีการเลือก
      {% if next_sel_round %}
        การเลือกรอบที่ {{ next_sel_round.number }} 
        เริ่ม {{ next_sel_round.beginning_time|date:"j N เวลา G:i" }}
        &nbsp;ถึง {{ next_sel_round.end_time|date:"j N เวลา G:i" }}
        <a href="{% url 'committee_student_selection_list' department.code next_sel_round.number %}" class="button blue small">ข้อมูลสถานประกอบการ</a>
      {% else %}
        <a href="{% url 'committee_student_selection_list' department.code 0 %}" class="button green small">ข้อมูลรายการสถานประกอบการสำหรับสาขา</a>
      {% endif %}
    {% endif %}
  {% endif %}
  <a href="{% url 'committee_student_selection_list_all_receipts' department.code %}" class="button small">รายการสถานประกอบการที่ตอบจดหมายแล้ว</a>
    </td>
  </tr>
</table>

<h3>ระบบเกี่ยวกับสถานประกอบการ</h3>
<ul>
  <li><a href="{% url 'committee_company_selection' %}">เลือกสถานประกอบการสำหรับการฝึกงานในปีการศึกษาหน้า</a></li>
  <li><a href="{% url 'committee_company_proposal' %}">เสนอสถานประกอบการสำหรับการฝึกงานในปีการศึกษาหน้าเพิ่มเติม</a></li>
  <li><a href="{% url 'committee_company_proposal_list' %}">ดูรายชื่อและผลการพิจารณาสถานประกอบการที่เสนอสำหรับการฝึกงานในปีการศึกษาหน้า</a></li>
  <li><a href="{% url 'committee_student_selection_list_all_receipts' department.code %}">รายการสถานประกอบการที่ตอบจดหมายแล้ว</a></li>
</ul>

<h3>ระบบเกี่ยวกับนิสิต</h3>
<ul>
  <li><a href="{% url 'committee_student_approve' %}">ประเมินผลการฝึกงาน</a>
  <ul>
    <li><a href="{% url 'regis_department_no_evaluation' department.code current_year 1 %}">รายชื่อนิสิตที่ทางหน่วยกิจการนิสิตยังไม่ได้ใบประเมิน หรือข้อมูลยังไม่เรียบร้อย</a></li>
    <li><a href="{% url 'committee_student_results' %}">รายงานผลการฝึกงาน</a>
  </ul>
  </li>
  <li><a href="{% url 'committee_department_detail' department.code %}">รายงานข้อมูลนิสิตของภาควิชา</a></li>
  <li><a href="{% url 'regis_student_index' %}">สมัครฝึกงานสำหรับภาคการศึกษาหน้าให้กับนิสิตในสาขา</a><br/>
    <small>
      ให้เข้าใช้ส่วนค้นข้อมูลนิสิต เมื่อค้นเจอนิสิตที่ต้องการแล้ว
      กรรมการจะสามารถสมัครขอเข้าฝึกงานให้กับนิสิตดังกล่าวได้
      สำหรับในกรณีที่ไม่มีข้อมูลของนิสิตดังกล่าว
      สามารถ<a href="{% url 'regis_add_student' %}">เพิ่มข้อมูลของนิสิตเข้าในระบบได้</a>
    </small>
  </li>
  <li><a href="{% url 'regis_add_student' %}">เพิ่มรายชื่อนิสิตเข้าในระบบ</a></li>
</ul>

{% endblock content %}
