{% extends "regis/base.html" %}
{% load wt_media %}
{% block content %}
<h1>ส่งจดหมายอิเล็กทรอนิกส์ถึงกลุ่มนิสิต</h1>

{% if notice %}
  <div class="notice">
    <span class="notice-text">{{ notice }}</span>
  </div>
{% endif %}

<p>
  ระบบจะส่งจดหมายถึงนิสิตที่ได้ลงทะเบียนขอเข้าฝึกงานภาคฤดูร้อนของปีการศึกษาที่ระบุ
</p>
<form method="post">
  <table>
    {{ form.as_table }}
    <tr>
      <td></td>
      <td>
	<input id="id_submit_button" type="submit" name="ok" value="ส่งเมล์"/>
	<input type="submit" name="cancel" value="ยกเลิก"/>
      </td>
    </tr>
  </table>
</form>
<style>
 .department-row ul li {
     display: inline-block;
     width: 300px;
 }
</style>
<script type="text/javascript">
  $(function() {
    $("#id_submit_button").click(function() {
      if($("#id_department").val()=="0")
        return confirm("คุณแน่ใจที่จะส่งจดหมายดังกล่าวถึงนิสิตทุกคนหรือไม่?\nโปรดตรวจสอบจดหมายให้เรียบร้อย\nถ้าแน่ใจกรุณากดยืนยัน");
      else
        return true;
    });

    var row = $(".department_choices").first().parents("tr").first();
    $(row).attr("class","department-row");
  });
</script>
{% endblock content %}
