{% with forms.co_op_company_form as form %}
  {% if not co_op_companies %}
    ขณะนี้ยังไม่มีข้อมูลหน่วยงาน คุณจะต้องป้อนข้อมูลหน่วยงานก่อนจึงจะสามารถสมัครได้ ถ้าสมัครหน่วยงานเดียวกันกับนิสิตคนอื่น สามารถใช้ข้อมูลหน่วยงานร่วมกันได้ (กรอกแค่คนเดียวแต่เปิดข้อมูลเป็นสาธารณะให้นิสิตคนอื่นสมัครได้และสามารถปิดได้ในภายหลัง)
  {% endif %}
  <table class="info_list lrp1">
    <tr class="header">
      <td></td>
      <td>ชื่อหน่วยงาน</td>
      <td>เพิ่มข้อมูลโดย</td>
      <td></td>
      <td></td>
    </tr>
    {% for company in co_op_companies %}
      <tr class="{% cycle 'odd' 'even' %}">
	<td>{{ forloop.counter }}</td>
	<td>{{ company.name }}</td>
	<td>{{ company.created_by }}</td>
	<td>{% if company.is_public %}แสดงให้ทุกคนเห็น{% endif %}</td>
	<td>{% if company.is_editable %}<a class="coop-company-edit small button blue" data-cid="{{ company.id }}" href="{% url 'std_coop_update_company' company.id %}">แก้ไข</a>{% endif %}</td>
      </tr>
    {% endfor %}
  </table>
  {% if co_op_companies %}
    <a class="button small company-form-show-links" id="companyFormShowLinkId" href="#">⌄ แสดงฟอร์มเพิ่มหน่วยงานใหม่</a><br>
  {% endif %}
  {% include "std/coop/include/coop_company_form.html" %}
{% endwith %}
<script>
 $(function(){
   function populateForm(cid, url) {
     $.get(url,
	   function(data) {
	     data = JSON.parse(data);
	     ['name', 'address', 'tel_number', 'fax_number'].forEach(function(name, id) {
	       $('#companyFormId #id_'+ name).val(data[name]);
	     });
	     $('#companyFormId #id_is_public').attr('checked', data['is_public']);
     });
     $('#companyFormId #createCompanyLinkId').hide();
     $('#companyFormId #updateCompanyLinkId')
       .attr('href', url)
       .show();
     $('.errorlist').text('');
   }

   $('.company-list-section').on('click','.company-form-show-links', function(){
     $('#companyFormShowLinkId').hide();
     $('#companyFormId .company-form-header-edit').hide();
     $('#companyFormId .company-form-header-create').show();
     $('#companyFormId').slideDown();
     $('#companyFormId #createCompanyLinkId').show();
     $('#companyFormId #updateCompanyLinkId').hide();
     ['name', 'address', 'tel_number', 'fax_number'].forEach(function(name, id) {
       $('#companyFormId #id_'+ name).val('');
     });
     $('#companyFormId #id_is_public').attr('checked', false);
     return false;
   });

   $('.company-list-section').on('click','.company-form-hide-links', function(){
     $('#companyFormShowLinkId').show();
     $('#companyFormId').slideUp();
     return false;
   });
   
   $('.coop-company-edit').click(function(){
     var url = $(this).attr('href');
     $.get(url,
	   function(data) {
	     $('#companyFormId').replaceWith(data.html);
	   });
     $('#companyFormShowLinkId').show();
     return false;
   });
 });
</script>
