<div id="companyFormId" style="margin-top:5px;{% if co_op_companies %} display: none;{% endif %}">
  <div class="company-form-header-create" style="{% if co_op_company_id %}display: none;{% endif %}">
  <h3>กรอกข้อมูลหน่วยงานใหม่ {% if co_op_companies %}<a href="#" class="button small company-form-hide-links">⌃</a>{% endif %}</h3>
  สำหรับขัอมูลที่กรอกนี้ คุณสามารถเปิดให้นิสิตคนอื่นในภาควิชาใช้งานร่วมได้โดยเลือก "ต้องการแสดงให้นิสิตคนอื่นในภ่าควิชา" ด้านล่าง เมื่อนิสิตที่จะไปฝึกด้วยกันเลือกครบแล้ว สามารถปิดข้อมูลนี้จากนิสิตที่เหลือได้
  </div>
  <div class="company-form-header-edit" style="{% if not co_op_company_id %}display: none;{% endif %}">
    <h3>แก้ไขข้อมูลหน่วยงาน</h3>
    {% if not is_info_editable %}
      เนื่องจากมีการยื่นขออนุมัติไปแล้ว จะไม่สามารถแก้ไขชื่อหน่วยงานได้
    {% endif %}
  </div>
  <table class="frame_table">
    <tr>
      <td>
	<label for="id_company_name">ชื่อหน่วยงาน</label>
      </td>
      <td>
	{{ form.name }} 
	<span class="errorlist">{{ form.name.errors.as_text }}</span>
      </td>
    </tr>
    <tr>
      <td>
	<label for="id_working_address">ที่อยู่หน่วยงาน</label>
      </td>
      <td style="padding-right: 10px;">
	<span class="errorlist">{{ form.address.errors.as_text }}</span>
	{{ form.address }}
      </td>
    </tr>
    <tr>
      <td>
	<label for="id_working_number">เบอร์โทรศัพท์</label>
      </td>
      <td>
	{{ form.tel_number }} 
	<span class="errorlist">{{ form.tel_number.errors.as_text }}</span>&nbsp;
      </td>
    </tr>
    <tr>
      <td>
	<label for="id_working_fax_number">เบอร์โทรสาร</label>
      </td>
      <td>
	{{ form.fax_number }}
	<span class="errorlist">{{ form.fax_number.errors.as_text }}</span>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
	{{ form.is_public }}
	ต้องการให้แสดงหน่วยงานนี้กับนิสิตคนอื่นในภาควิชา (สามารถเปิด-ปิดได้ในภายหลัง)
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<a class="button small blue create-update-company-links" {% if co_op_company_id %}style="display:none;"{% endif %} id="createCompanyLinkId" href="{% url 'std_coop_create_company' %}">เพิ่มหน่วยงานใหม่</a>
	<a class="button small blue create-update-company-links" {% if not co_op_company_id %}style="display:none;"{% endif %} id="updateCompanyLinkId" href="{% if co_op_company_id %}{% url 'std_coop_update_company' co_op_company_id %}{% endif %}">แก้ไขข้อมูล</a>
      </td>
    </tr>
  </table>
</div>
<script>
 $(function(){
   $('.create-update-company-links').click(function(){
     var url = $(this).attr('href');
     var post_data = $('#companyFormId input').serializeArray();
     post_data = post_data.concat($('#companyFormId textarea').serializeArray());
     $.post(url,
	    post_data,
	    function(data) {
	      if(data.result == 'ok') {
		location.reload();
		$('#companyFormId input').val('');
		$('#companyFormId input').removeAttr('checked');
		$('#companyFormId textarea').val('');
	      } else {
		$('#companyFormId').replaceWith(data.html);
	      }
	    });
     return false;
   });
 });
</script>
