<table class="frame_table">
  {% if student %}
    <tr>
      <td>นิสิต:</td>
      <td>{{ student.student_id }} {{ student }}</td>
    </tr>
  {% endif %}
  <tr>
    <td><label for="id_company_name">ชื่อหน่วยงาน:</label></td>
    <td>{{ company.name }}</td>
  </tr>
  <tr>
    <td>
      <label for="id_working_address">ที่อยู่หน่วยงาน</label>
    </td>
    <td>
      {{ company.address|linebreaks }}
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_working_number">เบอร์โทรศัพท์</label>
    </td>
    <td>
      {{ company.tel_number }} 
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_working_fax_number">เบอร์โทรสาร</label>
    </td>
    <td>
      {{ company.fax_number }}
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_internship_semester">ภาคการศึกษาที่ฝึก:</label>
    </td>
    <td>
      {{ form.internship_semester }}
      <span class="errorlist">{{ form.internship_semester.errors.as_text }}</span><br>
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_description">ลักษณะงาน:</label>
    </td>
    <td>
      {{ form.description }}
      <span class="errorlist">{{ form.description.errors.as_text }}</span><br>
      <span class="hint">โปรดระบุลักษณะงานที่ทำคร่าว ๆ</span>
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_signer_name">ชื่อหรือตำแหน่งที่จะทำหนังสือถึง:</label>
    </td>
    <td>
      {{ form.signer_name }}
      <span class="errorlist">{{ form.signer_name.errors.as_text }}</span><br>
      <span class="hint">โปรดระบุชื่อหรือตำแหน่งที่จะทำหนังสือถึง เช่น ผู้จัดการ, ผู้จัดการส่วนฝึกอบรม, หรือ ผู้จัดการแผนกทรัพยากรมนุษย์ เป็นต้น ไม่ต้องระบุชื่อบริษัท</span>
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_contact_person">ผู้ประสานงานการฝึกงาน:</label>
    </td>
    <td>
      {{ form.contact_person }}
      <span class="errorlist">{{ form.contact_person.errors.as_text }}</span><br>
      <span class="hint">โปรดระบุชื่อผู้ประสานงานการฝึกงานของหน่วยงาน</span>
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_contact_number">เบอร์โทรศัพท์ผู้ประสานงาน:</label> 
    </td>
    <td>
      {{ form.contact_tel_number }}
      <span class="errorlist">{{ form.contact_tel_number.errors.as_text }}</span>&nbsp;&nbsp;
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_contact_email">อีเมล์ของผู้ประสานงาน:</label>
    </td>
    <td>
      {{ form.contact_email }}
      <span class="errorlist">{{ form.contact_email.errors.as_text }}</span>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      ช่วงระยะเวลาการฝึกงานสหกิจศึกษา
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_start_date">วันที่เริ่มฝึกงาน:</label>
    </td>
    <td>
      {{ form.beginning_date }}
      <span class="errorlist">{{ form.beginning_date.errors.as_text }}</span>
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_end_date">วันที่สิ้นสุดการฝึกงาน:</label>
    </td>
    <td>
      {{ form.end_date }}
      <span class="errorlist">{{ form.end_date.errors.as_text }}</span>&nbsp;
    </td>
  </tr>
</table>

<script type="text/javascript">
 $(function(){
   $("#id_beginning_date").datepicker({dateFormat: "yy-mm-dd", beforeShowDay: $.datepicker.noWeekends});
   $("#id_end_date").datepicker({dateFormat: "yy-mm-dd", beforeShowDay: $.datepicker.noWeekends});
   $('#id_internship_semester option[value="1"]').text('ภาคต้น ปีการศึกษา {{ next_year }}');
   $('#id_internship_semester option[value="2"]').text('ภาคปลาย ปีการศึกษา {{ next_year|add:-1 }}');
 });
</script>
