<small>ข้อมูลด้านล่างจะส่งให้กับศูนย์สหกิจศึกษาของทางมหาวิทยาลัย กรุณาตรวจสอบอีเมลและเบอร์ติดต่อ สามารถแก้ไขได้ที่หน้า <a class="small green button" href="{% url 'std_profile' %}">ข้อมูลส่วนตัว</a></small>
<ul>
  <li>อีเมล: {{ student.email }}</li>
  <li>เบอร์ติดต่อ: {{ student.tel_no }}</li>
  <li>
    ที่อยู่:
    {% if student_detail %}
      <div class="student-address-text">
	{{ student_detail.address|linebreaksbr }}
      </div>
      <a class="medium orange button address-form-toggle-buttons" href="#">แก้ไข</a>
    {% else %}
      <a class="medium blue button address-form-toggle-buttons" href="#">เพิ่มข้อมูล</a>
    {% endif %}
    <div id="addressFormId" class="" style="display:none;">
      <form action="{% url 'std_coop_address' %}" method="post">
	<textarea name="address" rows="3" style="margin-right: 10px;">{% if student_detail %}{{ student_detail.address }}{% endif %}</textarea>
	<input type="submit" class="medium green button" value="จัดเก็บ">
      </form>
    </div>
  </li>
</ul>
<script>
 $(function(){
   $(".address-form-toggle-buttons").click(function(){
     $(this).hide();
     $('.student-address-text').hide();
     $("#addressFormId").show();
     return false;
   });
 });
</script>
