{% load wt_format %}
{% if co_op_companies %}
  {% if not has_active_co_op_reqests %}
    เพิ่มการขอสมัครฝึกงานสหกิจ
  {% else %}
    คุณได้มีการสมัครฝึกงานสหกิจที่ยังรอการพิจารณา ถ้าต้องการยื่นข้อมูลเพิ่มกรุณากด <a href="#" class="button small" id="coopRequestFormToggleId">⌄ แจ้งข้อมูลเพื่อขอหนังสือขอความอนุเคราะห์เพิ่ม</a>
  {% endif %}
  <form id="createCoOpRequestLinkId" style="{% if has_active_co_op_reqests %}display: none;{% endif %}">
    หน่วยงาน
    <select id="coopRequestCidSelectId">
      {% for c in co_op_companies %}
	<option value="{{ c.id  }}">{{ c.name }} (แจ้งโดย{{ c.created_by }})</option>
      {% endfor %}
    </select>
    <a class="button small" id="coopRequestCreateLinkId" href="{% url 'std_coop_create_request' 0 %}">เริ่มกรอกข้อมูล</a>
  </form>    

  {% if co_op_requests %}
    <table class="info_list lrp1">
      <tr class="header">
	<td></td>
	<td>ชื่อหน่วยงาน</td>
	<td>ภาคการศึกษา</td>
	<td>ฝึกระหว่างวันที่</td>
	<td>ยื่นเมื่อ</td>
	<td colspan="5">สถานะ</td>
      </tr>
      {% for r in co_op_requests %}
	<tr class="{% cycle 'odd' 'even' %}">
	  <td>{{ forloop.counter }}</td>
	  <td>{{ r.co_op_company.name }}</td>
	  <td>{{ r.internship_semester_year_display }}</td>
	  <td>
	    {% thai_short_date r.beginning_date %} - {% thai_short_date r.end_date %}
	  </td>
	  <td>{{ r.created_at }}</td>
	  <td>
	    {% if r.is_approved_by_committee %}
	      อนุมัติ เมื่อ {{ r.approved_at }}
	      {% if r.is_accepted != None %}
		<br>
		{% if r.is_accepted %}
		  <span class="info-tag green">หน่วยงานรับ</span> บันทึกเมื่อ {{ r.accepted_at }}
		{% else %}
		  <span class="info-tag red">หน่วยงานปฏิเสธ</span> บันทึกเมื่อ {{ r.accepted_at }}
		{% endif %}
	      {% endif %}
	    {% else %}
	      {% if r.is_approved_by_committee != None %}
		ไม่อนุมัติ เมื่อ {{ r.approved_at }}<br>
		เพราะ {{ r.reject_comments }}
	      {% else %}
		รอพิจารณา
	      {% endif %}
	    {% endif %}
	  </td>
	  <td>
	    {% if r.is_approved_by_committee %}
	      {% if r.is_accepted == None %}
		{% if r.is_request_letter_printable %}
		  ดาวน์โหลดหนังสือขอความอนุเคราะห์:
		  <a class="button small blue" target="_blank" href="{% url 'std_coop_request_print' r.id 'th' %}">ไทย</a>
		  <a class="button small blue" target="_blank" href="{% url 'std_coop_request_print' r.id 'en' %}">ENG</a>
		  <br>
		  <small>เมื่อทางหน่วยงานได้กรอกข้อมูลแล้วให้นำหนังสือตอบรับและแบบฟอร์มรายละเอียดในการฝึกงานมายื่นให้กับกรรมการฝึกงานเพื่อยืนยันการฝึกงานต่อไป</small>
		{% else %}
		  จะสามารถดาวน์โหลดหนังสือขอความอนุเคราะห์ได้
		  ภายหลังจากหน่วยได้กรอกข้อมูลอาจารย์ผู้ประสานงานแล้ว
		{% endif %}
	      {% else %}
		{% if r.is_accepted %}
		  กรรมการบันทึกผลการตอบรับแล้ว<br>
		  ภาควิชาจะได้ทำหนังสือส่งตัวเพื่อส่งให้หน่วยกิจการนิสิตต่อไป
		{% endif %}
	      {% endif %}
	    {% endif %}
	  </td>
	</tr>
      {% endfor %}
    </table>
  {% endif %}
{% else %}
  ขณะนี้ยังไม่มีข้อมูลหน่วยงาน คุณจะต้องป้อนข้อมูลหน่วยงานก่อนจึงจะสามารถสมัครได้ ถ้าสมัครหน่วยงานเดียวกันกับนิสิตคนอื่น สามารถใช้ข้อมูลหน่วยงานร่วมกันได้ (กรอกแค่คนเดียว)
{% endif %}
<script>
 $(function(){
   $('#coopRequestCreateLinkId').click(function(){
     var cid = $('#coopRequestCidSelectId').find(':selected').val();
     var url = $(this).attr('href').replace('0',cid);
     $(this).attr('href',url);
   });
   $('#coopRequestFormToggleId').click(function(){
     $('#createCoOpRequestLinkId').slideDown();
     return false;
   });
 });
</script>
