{% extends "committee/base.html" %}

{% load wt_media %}

{% block extra-head %}
  {{ block.super }}
  <script type="text/javascript" src="{% media_url %}js/table-sorter.js"></script>
{% endblock %}
  
{% block content %}
  <div style="float:right">
    <a href="{% url 'committee_index' %}" class="button red small">กลับไปหน้าหลัก</a>
  </div>
  <h1>ขอหนังสือขอความอนุเคราะห์ {{ department.name }} ประจำปีการศึกษา {{ year }}</h1>

  {% if notice %}
    <div class="notice">
      <span class="notice-text">{{ notice }}</span>
    </div>
  {% endif %}

  {% if is_active %}
    ด้านล่างเป็นรายการที่รอการอนุมัติ
    {% if inactive_count != 0 %}
    | คุณได้อนุมัติหรือปฏิเสธไปแล้ว {{ inactive_count }} คำร้อง
    <a class="button small blue" href="{% url 'committee_student_appl_list_company_requests_inactive' department.code %}">ดูรายการคำร้องที่ตอบการอนุมัติไปแล้ว</a>
    {% endif %}
  {% else %}
    ด้านล่างเป็นรายการที่คุณตอบการอนุมัติแล้ว | คุณมี {{ active_count }} คำร้องที่ยังไม่ได้ตอบ
    <a class="button small blue" href="{% url 'committee_student_appl_list_company_requests' department.code %}">ดูรายการคำร้องที่รอการอนุมัติ</a>
    <a class="button small orange" id="toggle_rows_with_results_id" href="#">รายการที่บันทึกผลแล้ว</a>
    <a class="button small orange" id="toggle_rows_with_no_results_id" href="#">รายการที่ยังไม่ได้บันทึกผล</a>
  {% endif %}

  <table id="company_requests_table_id" class="info_list">
    <tr class="header">
      <th>ลำดับ</th>
      <th>ชื่อสถานประกอบการ [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
      <th width="7%">ยื่น</th>
      <th width="40%">นิสิตที่ยื่น</th>
      {% if not is_active %}
        <th>อนุมัติ<br/>[<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
        <th width="7%">เมื่อ</th>
      {% endif %}
      <th></th>
    </tr>
    {% for r in company_requests %}
      <tr class="{% cycle 'odd' 'even' %} {% if r.is_approved_by_committee and r.accepted_at == None %}has-no-results{% else %}has-results{% endif %}">
        <td class="center">{{ forloop.counter }}</td>
        <td>{{ r.company_name }}</td>
        <td>{{ r.requested_at|date:'j M' }}</td>
        <td>
          <ol>
            {% for s in r.students.all %}
              {% if s.is_approved %}
                {% if s.accepted_at == None %}
            <li><a href="{% url 'student_detail' s.student.student_id %}" target="_blank">{{ s.student.student_id }}</a> {{ s.student }}</li>
                {% else %}
                  <li> 
                    {% if s.is_accepted %}
                      <span style="color:green">✓</span>
                      <a href="{% url 'student_detail' s.student.student_id %}" target="_blank">{{ s.student.student_id }}</a> {{ s.student }}
                    {% else %}
                      <span style="color:red">✗</span>
                      <span style="color:#773333"><a href="{% url 'student_detail' s.student.student_id %}" target="_blank">{{ s.student.student_id }}</a> {{ s.student }}</span>
                    {% endif %}
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ol>
        </td>
        {% if is_active %}
          <td>
            <a class="button small blue" href="{% url 'committee_student_appl_show_company_request' department.code r.id %}">พิจารณา</a>
          </td>
        {% else %}
          <td>
            {% if r.is_approved_by_committee %}
              <span class="info-tag green">อนุมัติ</span>
            {% else %}
              <span class="info-tag red">ปฏิเสธ</span>
            {% endif %}
          </td>
          <td>
            {{ r.approved_at|date:"j M" }}
          </td>
          <td style="width: 200px;">
            <a class="button small blue" target="_blank" href="{% url 'committee_student_appl_show_company_request' department.code r.id %}">รายละเอียด</a>
            {% if r.is_approved_by_committee %}
              {% if not is_active %}
                {% if r.accepted_at == None %}
                  <a class="button small green" href="{% url 'committee_student_appl_company_request_result' department.code r.id %}">บันทึกผล</a>
                {% else %}
                  <form method="post" action="{% url 'committee_student_appl_company_request_reset_result' department.code r.id %}" style="display: inline;">
                    <a class="button small orange reset-results-buttons" href="#" data-company-name="{{ r.company_name|escape }}">ยกเลิกบันทึกผล</a>
                  </form>
                  {% if r.is_accepted %}
                    <form method="post" action="{% url 'committee_student_appl_company_request_reject_result' department.code r.id %}">
                      <a class="button small red reject-results-buttons" href="#" data-company-name="{{ r.company_name|escape }}">ปฏิเสธทั้งหมด</a>
                    </form>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% empty %}
      <tr class="odd">
        {% if is_active %}
          <td colspan="5">ไม่มีรายการที่ยังไม่ได้ตอบการอนุมัติ</td>
        {% else %}
          <td colspan="5">ไม่มีรายการที่เคยตอบการอนุมัติ</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>

  <script type="text/javascript">
    $(function(){
      $(".table-sort-links").click(function() {
        tableSorter.sortTable.call(this);
        return false;
      });
      
      $("#toggle_rows_with_no_results_id").click(function() {
        $("#company_requests_table_id tr").show();
        $("tr.has-results").hide();
      });
      $("#toggle_rows_with_results_id").click(function() {
        $("#company_requests_table_id tr").show();
        $("tr.has-no-results").hide();
      });

      $(".reset-results-buttons").click(function() {
        var companyName = $(this).data('company-name');
        if(confirm('คุณแน่ใจที่จะยกเลิกผลการตอบรับจากหน่วยงาน' + companyName + 'ของนิสิตในรายการที่เลือกหรือไม่\nถ้าแน่ใจกรุณากด OK')) {
          var form = $(this).parents("form")[0];
          form.submit();
        }
        return false;
      });

      $(".reject-results-buttons").click(function() {
        var companyName = $(this).data('company-name');
        if(confirm('คุณแน่ใจที่จะแก้ผลการตอบรับจากหน่วยงาน' + companyName + 'ของนิสิตในรายการที่เลือกเป็นไม่รับทั้งหมดหรือไม่\nถ้าแน่ใจกรุณากด OK')) {
          var form = $(this).parents("form")[0];
          form.submit();
        }
        return false;
      });
    });
  </script>
{% endblock content %}
