{% extends "committee/base.html" %}

{% load wt_media %}

{% block extra-head %}
  {{ block.super }}
  <script type="text/javascript" src="{% media_url %}js/table-sorter.js"></script>
{% endblock %}

{% block content %}
  <div style="float:right">
    <a href="{% url 'committee_index' %}" class="button red small">กลับไปหน้าหลัก</a>
  </div>
  <h1>รายการการสมัครฝึกงานของหน่วยงานที่ไม่มีการขอหนังสือขอความอนุเคราะห์ {{ department.name }} ประจำปีการศึกษา {{ year }}</h1>

  {% if notice %}
    <div class="notice">
      <span class="notice-text">{{ notice }}</span>
    </div>
  {% endif %}

  ด้านล่างเป็นรายการที่นิสิตแจ้ง อย่างไรก็ตามนิสิตอาจจะเลือกประเภทการแจ้งผิด
  กล่าวคือแทนที่จะขอหนังสือขอความอนุเคราะห์กลับแจ้งข้อมูลในส่วนนี้เท่านั้น
  กรรมการจะสามารถยกเลิกการแจ้งนี้ได้ เพื่อให้นิสิตสามารถเข้าไปกรอกใหม่ได้
  สำหรับการแสดงผลในหน้านี้ทีมงานจะมีการปรับให้จัดการง่ายขึ้นต่อไป

  <table id="app_table_id" class="info_list">
    <tr class="header">
      <th>ลำดับ</th>
      <th>ชื่อสถานประกอบการ [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
      <th width="7%">วันที่ยื่น</th>
      <th width="25%">นิสิตที่ยื่น [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
      <th>ผลการสมัคร [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
      <th>ยืนยันผล [<a style="color:white" class="table-sort-links" href="#">▼</a>]</th>
      <th>ดาวน์โหลด<br/>หนังสือขอ<br/>อนุเคราะห์</th>
      <th>วันที่โหลด</th>
      <th></th>
    </tr>
    {% for a in direct_applications %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ forloop.counter }}</td>
        <td>{{ a.company_name }}</td>
        <td class="center">{{ a.created_at|date:'j M' }}</td>
        <td><a href="{% url 'student_detail' a.student.student_id %}" target="_blank">{{ a.student.student_id }}</a> {{ a.student }}</td>
        <td class="center">
          {% if a.accepted_at %}
            {% if a.is_accepted %}
              {% if a.is_chosen %}
                <b>✓</b> รับ, นิสิตเลือก
              {% else %}
                รับ, นิสิตปฏิเสธ
              {% endif %}
            {% else %}
              ไม่รับ
            {% endif %}
          {% else %}
          {% endif %}
        </td>
        <td class="center">
          {% if a.is_accepted and a.is_chosen %}
            {% if a.is_confirmed_by_committee %}
              ยืนยันเมื่อ {{ a.confirmed_at|date:'j M' }}
              <a class="button small green" href="{% url 'committee_student_appl_update_company_direct_application' department.code a.id %}">➟</a>
            {% else %}
              {% if a.is_confirmed_by_committee != None %}
                ไม่ยืนยัน
                <a class="button small green" href="{% url 'committee_student_appl_update_company_direct_application' department.code a.id %}">➟</a>
              {% else %}
                <a class="button small green" href="{% url 'committee_student_appl_update_company_direct_application' department.code a.id %}">ยืนยันผล</a>
              {% endif %}
            {% endif %}
          {% else %}
            {% if a.is_confirmed_by_committee %}
              ยืนยันแล้ว
            {% else %}
              {% if a.is_accepted != None %}
                <a class="button small {% if a.is_accepted %}blue{% else %}red{% endif %} appl_confirm_result_buttons" href="{% url 'committee_student_appl_confirm_company_direct_application_result' department.code a.id %}" data-name="{{ a.student }}">ยืนยันผล</a>
              {% endif %}
            {% endif %}
          {% endif %}
        </td>
        <td class="center">
          <a class="button small blue" href="{% url 'committee_student_appl_print_company_direct_application_letter' department.code a.id %}">ดาวน์โหลด</a>
        </td>
        <td class="center">
          {% if a.is_letter_downloaded %}
            {{ a.letter_downloaded_at|date:'j M' }}
          {% else %}
            -
          {% endif %}
        </td>
        <td>
          <a class="button small red delete_buttons" href="{% url 'committee_student_appl_delete_company_direct_application' department.code a.id %}">ยกเลิก</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">ยังไม่มีการยื่น</td>
      </tr>
    {% endfor %}
  </table>

<script type="text/javascript">
 $(function(){
   $(".delete_buttons").click(function(){
     return confirm('คุณแน่ใจที่จะยกเลิกการแจ้งนี้\nถ้านิสิตไม่ผ่านการคัดเลือก ให้กรรมการบันทึกผลว่าไม่ผ่านการคัดเลือก แทนที่จะลบการแจ้ง เพื่อให้มีข้อมูลประวัติการสมัคร\nถ้าคุณแน่ใจที่จะยกเลิกให้กด OK หรือยืนยัน');
   });
   
   $(".table-sort-links").click(function() {
     tableSorter.sortTable.call(this);
     return false;
   });
   
   $(".appl_confirm_result_buttons").click(function() {
     var name = $(this).data('name');
     if(confirm("คุณแน่ใจที่จะยืนยันผลการสมัครของ" + name + "หรือไม่")) {
       var url = $(this).attr("href");
       var button = this;
       jQuery.post(url, function(data) {
         if(data == "ok") {
           $(button).replaceWith("ยืนยันแล้ว");
         }
       });
     }
     return false;
   });
 });
</script>
{% endblock content %}
