{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <div style="float:right">
    <a href="{% url 'committee_student_appl_list_company_requests' department.code %}" class="button red small">กลับไปหน้าหลัก</a>
  </div>
  <h1>ขออนุมัติขอหนังสือขอความอนุเคราะห์ {{ company_request.company_name }} ยื่นโดย {{ company_request.student }}</h1>

{% if company_request.is_approved_by_committee == None %}
<form action="{% url 'committee_student_appl_update_company_request' department.code company_request.id %}" method="post">
{% endif %}
  <table class="frame_table" width="100%">
    <tr><th width="25%">ชื่อหน่วยงาน</th><td>{{ company_request.company_name }}</td></tr>
    <tr><th>หน่วยงานย่อย/แผนก/ฝ่าย</th><td>{{ company_request.division_name|default:'-' }}</td></tr>
    <tr><th>นิสิตที่ยื่น</th>
      <td>
        <ol>
          {% for s in company_request.students.all %}
            {% if s.is_approved %}
              <li>
                <a target="_blank" href="{% url 'student_detail' s.student.student_id %}">{{ s.student.student_id }}</a> {{ s.student }}
              </li>
            {% endif %}
          {% endfor %}
        </ol>
      </td>
    <tr><th>ลักษณะงาน</th><td>{{ company_request.description }}</td></tr>
    <tr><th>สถานที่ตั้ง (ที่นิสิตไปฝึกงาน)</th><td>{{ company_request.working_address }}</td></tr>
    <tr><th>การติดต่อที่ฝึกงาน</th>
      <td>
        โทรศัพท์: {{ company_request.work_tel_no }}
        โทรสาร: {{ company_request.work_fax_no }}
      </td>
    </tr>
    <tr><th>ผู้ประสานงาน</th>
      <td>
        ชื่อ: {{ company_request.contact_person }}<br/>
        โทรศัพท์: {{ company_request.contact_tel_no }} อีเมล์: {{ company_request.contact_email|default:'-' }}
      </td>
    </tr>
    <tr>
      <th>ที่อยู่สำหรับส่งหนังสือ</th>
      <td>{{ company_request.letter_address }}</td>
    </tr>
    <tr>
      <th>ชื่อหรือตำแหน่งที่ทำหนังสือถึง</th>
      <td>{{ company_request.signer_name }}</td>
    </tr>
    <tr>
      <th>กำหนดการ</th>
      <td>
        {% if company_request.is_default_schedule %}
          ตามกำหนดคณะ
        {% else %}
          ตั้งแต่ {{ company_request.beginning_date|date:"j M Y" }} 
          ถึง {{ company_request.end_date|date:"j M Y" }} 
        {% endif %}
      </td>
    </tr>

    {% if company_request.is_approved_by_committee == None %}
    <tr>
      <td colspan="2" style="background: #ffffff;">
        <b>สำหรับกรรมการ:</b>
        ผลการพิจารณา
        <select name="result" id="result_select_id">
          <option value="yes">อนุมัติ</option>
          <option value="no">ไม่อนุมัติ</option>
        </select><br/>
        <div id="reason_id" style="display: none">
          กรุณาบันทึกเหตุผลเพื่อแจ้งกับนิสิต:
          <input id="reason_input_id" name="reject_explanation" size="40"/>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="background: #ffffff;">
        <input type="submit" id="save_button_id" name="ok" class="button green" value="จัดเก็บ">
        <input type="submit" name="cancel" class="button red" value="กลับไปหน้ารายการโดยไม่บันทึกผล">
      </td>
    </tr>
    {% else %}
    <tr>
      <th>ผลการขออนุมัติ</th>
      <td>
        {% if company_request.is_approved_by_committee %}
          <span class="info-tag green">อนุมัติ</span>
          กรรมการอนุมัติหนังสือขอความอนุเคราะห์
        {% else %}
          <span class="info-tag red">ปฏิเสธ</span>
          กรรมการปฏิเสธหนังสือขอความอนุเคราะห์ เนื่องจาก {{ company_request.reject_comments }}
        {% endif %}
        เมื่อ {{ company_request.approved_at }}
      </td>
    </tr>
    {% endif %}
  </table>

{% if company_request.is_approved_by_committee == None %}
</form>
{% endif %}

<script type="text/javascript">
function update_reason_input() {
  if($("#result_select_id").val()=="no")
    $("#reason_id").slideDown();
  else
    $("#reason_id").hide();
}

$(function(){
  update_reason_input();
  $("#result_select_id").change(update_reason_input);
  $("#save_button_id").click(function(){
    if(($("#result_select_id").val()=="no") &&
       ($.trim($("#reason_input_id").val())=='')) {
      alert("กรุณาระบุเหตุผลที่ไม่อนุมัติเพื่อแจ้งกับนิสิต");
      return false;
    }
    return true;
  });
});
</script>
{% endblock content %}
