{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <div style="float:right">
    <a href="{% url 'committee_student_appl_list_company_direct_applications' department.code %}" class="button red small">กลับไปหน้ารายการ</a>
  </div>
  <h1>ยืนยันผลการสมัครหน่วยงานที่ {{ student.student_id }} {{ student }} สมัครด้วยตนเอง</h1>

  {% if notice %}
    <div class="notice">
      <span class="notice-text">{{ notice }}</span>
    </div>
  {% endif %}
   
<form action="{% url 'committee_student_appl_update_company_direct_application' department.code application.id %}" method="post">
  <table class="frame_table" width="100%">
    <tr><th width="25%">ชื่อหน่วยงาน</th><td>{{ application.company_name }}</td></tr>
    <tr><th>ผู้ประสานงาน</th>
      <td>
        ชื่อ: {{ detail.contact_person }}<br/>
        โทรศัพท์: {{ detail.contact_tel_no }} อีเมล์: {{ detail.contact_email|default:'-' }}
      </td>
    </tr>
    <tr>
      <th>ที่อยู่สำหรับส่งหนังสือ</th>
      <td>{{ detail.letter_address }}</td>
    </tr>
    <tr>
      <th>ชื่อหรือตำแหน่งที่ทำหนังสือถึง</th>
      <td>{{ detail.signer_name }}</td>
    </tr>
    <tr>
      <th>กำหนดการ</th>
      <td>
        {% if detail.is_default_schedule %}
          ตามกำหนดคณะ
        {% else %}
          ตั้งแต่ {{ detail.beginning_date|date:"j M Y" }} 
          ถึง {{ detail.end_date|date:"j M Y" }} 
        {% endif %}
      </td>
    </tr>

    <tr>
      <td colspan="2" style="background: #ffffff;">
        <b>สำหรับกรรมการ:</b> 
        {% if application.is_confirmed_by_committee != None %}
          {% if application.is_confirmed_by_committee %}ยืนยันผลการคัดเลือกแล้ว{% else %}ไม่ยืนยันผลการคัดเลือก{% endif %}
          เมื่อ {{ application.confirmed_at|date:"j M" }}
          <a class="button small" id="result_edit_id" href="#">แก้ไข</a>
          {% if not application.is_confirmed_by_committee %}
            <input type="submit" id="remove_button_id" name="remove" class="button red small" value="ยกเลิกความประสงค์">
            <small>กดยกเลิกความประสงค์ถ้านิสิตไม่ไปฝึกที่หน่วยงานนี้แล้ว</small>
          {% endif %}
          <br/>
        {% endif %}
        <span id="result_div_id" {% if application.is_confirmed_by_committee != None %}style="display: none"{% endif %}>
          <select name="result" id="result_select_id">
            <option value="yes">ยืนยันผลการคัดเลือก</option>
            <option value="no" {% if application.is_confirmed_by_committee == 0 %}selected{% endif %}>ไม่ยืนยัน</option>
          </select><br/>
          โปรดพิจารณาหลักฐานการตอบรับจากหน่วยงาน จากนั้นเลือกยืนยันการเข้าฝึกงานของนิสิต ผลการยืนยันจะถูกส่งให้กับนิสิตทางอีเมล  ในกรณีที่กรรมการเลือกไม่ยืนยัน ระบบจะแจ้งให้นิสิตมาพบกับกรรมการ กรรมการสามารถแก้ไขการเลือกนี้ได้ภายหลัง เมื่อนิสิตได้นำหลักฐานเพิ่มเติมมาให้แล้ว หรือถ้านิสิตตกลงว่าจะไม่ไปฝึกที่หน่วยงานนี้แล้ว กรรมการจะสามารถยกเลิกความประสงค์เข้าฝึกงานของนิสิตได้ (เพื่อให้นิสิตยื่นหน่วยงานอื่นได้ต่อไป)
        </span>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="background: #ffffff;">
        <input type="submit" id="save_button_id" name="ok" class="button green edit-buttons" value="จัดเก็บ">
        <input type="submit" name="cancel" class="button red edit-buttons" value="กลับไปหน้ารายการโดยไม่บันทึกผล">
        <input type="submit" name="back" class="button show-buttons" value="กลับไปหน้ารายการ">
      </td>
    </tr>
  </table>
</form>

<script type="text/javascript">
$(function() {
  {% if application.is_confirmed_by_committee == None %}
    $(".show-buttons").hide();
  {% else %}
    $(".edit-buttons").hide();
  {% endif %}
  $("#result_edit_id").click(function(){
    $(".edit-buttons").show();
    $(".show-buttons").hide();
    $("#result_div_id").show();
    return false;
  });
  $("#remove_button_id").click(function(){
    return confirm("คุณแน่ใจที่จะยกเลิกการแจ้งความประสงค์ขอเข้าฝึกงานที่หน่วยงานนี้ของนิสิต");
  });
});
</script>
{% endblock content %}
