{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <h1>บันทึกผลตอบรับจากหน่วยงาน {{ company_request.company_name }} ยื่นโดย {{ company_request.student }}</h1>

<form class="form-section" action="{% url 'committee_student_appl_company_request_result' department.code company_request.id %}" method="post">
  <b>ชื่อหน่วยงาน</b>: {{ company_request.company_name }}<br/>
  <b>หน่วยงานย่อย/แผนก/ฝ่าย</b>: {{ company_request.division_name|default:'-' }}<br/>
  <b>รายละเอียดอื่น ๆ ของหน่วยงาน:</b> <a id="more_info_link_id" class="button blue small" href="#">แสดง</a><br/>
  <table id="more_info_table_id" style="display:none" class="frame_table">
    <tr><th>ลักษณะงาน</th><td>{{ company_request.description }}</td></tr>
    <tr><th>สถานที่ตั้ง (ที่นิสิตไปฝึกงาน)</th><td>{{ company_request.working_address }}</td></tr>
    <tr><th>การติดต่อที่ฝึกงาน</th>
      <td>
        โทรศัพท์: {{ company_request.work_tel_no }}
        โทรสาร: {{ company_request.work_fax_no }}
      </td>
    </tr>
    <tr><th>ผู้ประสานงาน</th>
      <td>
        ชื่อ: {{ company_request.contact_person }}<br/>
        โทรศัพท์: {{ company_request.contact_tel_no }} อีเมล์: {{ company_request.contact_email|default:'-' }}
      </td>
    </tr>
    <tr>
      <th>ที่อยู่สำหรับส่งหนังสือ</th>
      <td>{{ company_request.letter_address }}</td>
    </tr>
    <tr>
      <th>ชื่อหรือตำแหน่งที่ทำหนังสือถึง</th>
      <td>{{ company_request.signer_name }}</td>
    </tr>
    <tr>
      <th>กำหนดการ</th>
      <td>
        {% if company_request.is_default_schedule %}
          ตามกำหนดคณะ
        {% else %}
          ตั้งแต่ {{ company_request.beginning_date|date:"j M Y" }} 
          ถึง {{ company_request.end_date|date:"j M Y" }} 
        {% endif %}
      </td>
    </tr>
  </table>
  <hr/>
  <b>เลือกนิสิตที่หน่วยงานรับเข้าฝึกงาน</b>:<span class="hint">กรุณาเลือกนิสิตที่หน่วยงานตอบรับโดยกดให้มีเครื่องหมายที่ช่องหน้าชื่อนิสิต ในกรณีที่หน่วยงานปฏิเสธทุกคน กรรมการไม่จำเป็นต้องเลือกนิสิตคนใดเลย ในกรณีที่ต้องการเลือกทุกคนหรือยกเลิกการเลือกทุกคนสามารถเลือกได้ที่ช่องในแถวแรก</span><br/>
  <table class="info_list">
    <tr class="header">
      <td><input id="choose_all_id" type="checkbox"/></td>
      <th>เลขประจำตัว</th>
      <th>ชื่อ</th>
    </tr>
    {% for s in company_request.students.all %}
      {% if s.is_approved %}
        <tr class="">
          <td><input class="std_checkboxes" name="st-{{ s.student.id }}" type="checkbox"/></td>
          <td>{{ s.student.student_id }}</td>
          <td>{{ s.student }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
  จำนวนนิสิตที่หน่วยงานรับเข้าฝึกงาน <span id="std_count_id">0</span> คน
  <hr/>
  <input type="submit" id="save_button_id" name="ok" class="button green" value="จัดเก็บ">
  <input type="submit" name="cancel" class="button red" value="กลับไปหน้ารายการโดยไม่บันทึกผล">
</form>

<script type="text/javascript">
var chosen_count = 0;
function update_std_count() {
  var c = 0;
  $(".std_checkboxes").each(function(i,elt) {
    if($(elt).attr("checked"))
      c++;
  });
  $("#std_count_id").text(c);
  chosen_count = c;
}
function update_row(chkbox) {
  var inp = $(chkbox);
  var tr = inp.parents("tr").first();
  if(inp.attr("checked")) {
    tr.addClass("even");
  } else {
    tr.removeClass("even");
  }
}
$(function(){
  $(".std_checkboxes").change(function(){
    update_row(this);
  });
  $(".std_checkboxes").click(update_std_count);
  $("#choose_all_id").click(function(){
    var status = $(this).attr("checked");
    $(".std_checkboxes").attr("checked",status);
    $(".std_checkboxes").each(function(i,elt){ update_row(elt); });
    update_std_count();
  });
  $("#more_info_link_id").click(function(){
    $("#more_info_table_id").slideToggle();
    return false;
  });
  $("#save_button_id").click(function(){
    update_std_count();
    if(chosen_count==0)
      return confirm("คุณไม่ได้เลือกว่าหน่วยงานรับนิสิตคนใดเลย\nในกรณีที่หน่วยงานปฏิเสธนิสิตทุกคน กรุณากดยืนยันหรือ OK\nถ้าหน่วยงานตอบรับนิสิตบางคน กรุณายกเลิกหรือ Cancel จากนั้นกรุณากดทำเครื่องหมายหน้าชื่อนิสิตด้วย");
    else
      return true;
  });
});
</script>
{% endblock content %}
