﻿{% extends "base.html" %}
{% block title %}หน่วยกิจการนิสิต{% endblock %}
{% block extra-head %}
  {% include "include/jquery_scripts.html" %}
{% endblock %}
{% block menu %}
{% include "include/navigation_scripts.html" %}
<ul id="nav">
  <li><a href="{% url 'front_page' %}">หน้าหลัก</a></li>
  {% if is_committee %}

    <!-- ************ COMMITTEE'S MENU ********* -->

    <li {% if currentpage == 'committee' %}class="current"{% endif %}>
    	<a href="{% url 'committee_index' %}">คณะกรรมการ</a>
    </li>
    <li class="subnav-list{% if currentpage == 'student' %} current{% endif %}">
      <a href="{% url 'regis_student_index' %}" class="subnav-link">ข้อมูลนิสิต</a>
      <ul id="std_subnav">
	<li><a href="{% url 'regis_student_index' %}">ค้นหานิสิต</a></li>
	<li><a href="{% url 'regis_add_student' %}">เพิ่มข้อมูลนิสิต</a></li>
	<li><a href="{% url 'committee_student_approve' %}">ประเมินผลการฝึกงาน</a></li>
	<li><a href="{% url 'committee_student_results' %}">ผลการฝึกงาน</a>
      </ul>
    </li>
    <li class="subnav-list{% if currentpage == 'department' %} current{% endif %}">
      <a href="{% url 'committee_department_detail' department.code %}" class="subnav-link">ข้อมูลภาควิชา</a>
      <ul id="dept_subnav">
	<li><a href="{% url 'committee_department_detail' department.code %}">สถิติภาพรวม</a></li>
	<li><a href="{% url 'committee_student_selection_index' department.code %}">ข้อมูลการเลือก</a></li>
      </ul>
    </li>
    <li class="subnav-list{% if currentpage == 'committee_company' %} current{% endif %}">
      <a href="#" class="subnav-link">สถานประกอบการ</a>
      <ul id="committee_company_subnav">
	<li><a href="{% url 'committee_company_search' %}">ค้นหาสถานประกอบการ</a></li>
	<li><a href="{% url 'committee_company_selection' %}">เลือกสถานประกอบการ</a></li>
	<li><a href="{% url 'committee_company_proposal' %}">เสนอสถานประกอบการ</a></li>
	<li><a href="{% url 'committee_company_selection_show' %}">รายการที่เลือกไว้</a></li>
      </ul>
    </li>


  {% else %}

    <!-- ************ SA ADMIN'S MENU ********* -->

    <li {% if currentpage == 'regis' %}class="current"{% endif %}>
      <a href="{% url 'regis_index' %}" >กิจการนิสิต</a>
    </li>
    <li class="subnav-list{% if currentpage == 'web_system' %} current{% endif %}">
      <a href="#" class="subnav-link" >ระบบเว็บ</a>
      <ul id="web_system_subnav">
	<li><a href="{% url 'announcement_index' %}">ประกาศข่าว</a></li>
	<li><a href="{% url 'regis_mail_index' %}">แจ้งข่าวทาง E-mail</a></li>
	<li><a href="{% url 'regis_config_index' %}">การตั้งค่า</a></li>
      </ul>
    </li>
    <li class="subnav-list{% if currentpage == 'student' %} current{% endif %}">
      <a href="{% url 'regis_student_index' %}" class="subnav-link">ข้อมูลนิสิต</a>
      <ul id="std_subnav">
	<li><a href="{% url 'regis_student_index' %}">ค้นหานิสิต</a></li>
	<li><a href="{% url 'regis_add_student' %}">เพิ่มข้อมูลนิสิต</a></li>
	<li><a href="{% url 'regis_import_students' %}">นำเข้าข้อมูลนิสิต</a></li>
	<li><a href="{% url 'listall_student_registered' 1 %}">รายชื่อที่สมัครฝึกงาน</a></li>
	<li><a href="{% url 'regis_student_has_all_evaluation' %}">รายชื่อที่เคยกรอกแบบประเมิน</a></li>
	<li><a href="{% url 'regis_student_list_all_student_no_eval' 1 %}">รายชื่อที่ยังไม่ได้รับแบบประเมิน</a></li>
      </ul>
    </li>
    <li class="subnav-list{% if currentpage == 'company' %} current{% endif %}" >
      <a href="{% url 'regis_company_index' %}" class="subnav-link">สถานประกอบการ</a>
      <ul id="company_subnav">
	<li><a href="{% url 'regis_company_index' %}">หน้าหลัก</a></li>
	<li><a href="{% url 'regis_company_selection' %}">รายชื่อที่ภาควิชาเลือก</a></li>
	<li><a href="{% url 'regis_company_search' %}">ค้นหาสถานประกอบการ</a></li>
	<li><a href="{% url 'regis_company_new' %}">เพิ่มสถานประกอบการใหม่</a></li>
	<li><a href="{% url 'regis_company_approve_list' %}">อนุมัติสถานประกอบการ</a></li>
	<li><a href="{% url 'direct_appl_regis_company_list' %}">สถานประกอบการที่คัดเลือกนิสิตเอง</a></li>
	<li><a href="{% url 'regis_company_selection_stat' %}">ข้อมูลการเลือก</a></li>
      </ul>
    </li>
    <li {% if currentpage == 'department' %}class="current"{% endif %}>
      <a href="{% url 'regis_department_index' %}" >ข้อมูลภาควิชา</a>
    </li>
  {% endif %}


  {% if user.id %}
    <li><a href="{% url 'admin_logout' %}">ออกจากระบบ</a></li>
  {% endif %}
</ul>
<div id="clear"></div>
{% endblock menu %}
