{% extends "commons/front.html" %}

{% block content %}
<p class="error_message">ขออภัย, คุณไม่ได้รับอนุญาตให้เข้าถึงการใช้งานส่วนนี้</p>

{% if explanation %}
  <p>
    {{ explanation }}
  </p>
{% endif %}
{% if profile %}
  <p>
    {% if profile.is_sa_admin %}
      ขณะนี้คุณกำลังเข้าใช้ในฐานะของเจ้าหน้าที่หน่วยกิจการนิสิต<br/>
    {% endif %}
    {% if profile.is_committee_member %}
      ขณะนี้คุณกำลังเข้าใช้ในฐานะของกรรมการกิจการนิสิตสาขา{{ profile.department }} <br/>
    {% endif %}
    คุณสามารถ:
    <ul>
      <li>กด back ที่บราวเซอร์เพื่อกลับไปที่หน้าเดิม</li>
      <li>
	{% if profile.is_sa_admin %}
          กลับไป<a href="{% url 'regis_index' %}">ระบบสำหรับหน่วยกิจการนิสิต</a>
	{% endif %}
	{% if profile.is_committee_member %}
	  กลับไป<a href="{% url 'committee_index' %}">ระบบสำหรับกรรมการกิจการนิสิต</a>
	{% endif %}
      </li>
      <li>
	หรือ<a href="{% url 'django.contrib.auth.views.logout' %}">ออกจากระบบเพื่อเข้าใช้ใหม่ในฐานะอื่น</a>
      </li>
    </ul>
  </p>
{% endif %}
{% endblock content %}
