﻿{% extends "base.html" %}
{% load wt_format %}
{% block extra-head %}
  {% include "include/jquery_scripts.html" %}
  	<script>
	$(function(){
		$("#old_announcements").hide();
		$("a#show_old_announcements_button").click(function(){
			$(this).fadeOut();
			$('#old_announcements').slideDown(2000);
			return false;
		});
	});
	</script>
{% endblock %}
{% block menu %}
<div id="nav">
<ul>
  <li class="current"><a href="{% url 'front_page' %}">หน้าหลัก</a></li>
  <li><a href="{% url 'std_index' %}">ระบบสำหรับนิสิต</a></li>
  <li><a href="{% url 'regis_index' %}">ระบบสำหรับหน่วยกิจการนิสิต</a></li>
  <li><a href="{% url 'committee_index' %}">ระบบสำหรับคณะกรรมการ</a></li>
  {% if user.id %}
    <li><a href="{% url 'django.contrib.auth.views.logout' %}">ออกจากระบบ</a></li>
  {% else %}
    {% if is_student_logged_in %}
      <li><a href="{% url 'std_logout' %}">ออกจากระบบ</a></li>
    {% endif %}
  {% endif %}
</ul>
</div>
<div id="clear"></div>
{% endblock menu %}

{% block content %}
<!-- content -->
<h1>NEWS ประกาศข่าว</h1>

<!-- top new announcements -->
<ul class="announcement">
  {% for announcement in top_announcements %}
    <li>
      <a href={% url 'front_announcement_detail' announcement.id %}>{{ announcement.title }}</a> <small>({% thai_short_date announcement.created_at %})</small>
    </li>
  {% endfor %}
</ul>
<!-- end top new announcements -->
<!-- old announcements -->
<ul class="announcement" id="old_announcements">
  {% for announcement in old_announcements %}
    <li>
      <a href={% url 'front_announcement_detail' announcement.id %}>{{ announcement.title }}</a> <small>({% thai_short_date announcement.created_at %})</small>
    </li>
  {% endfor %}
</ul>
<!-- end old announcements -->	
<a href="#" id="show_old_announcements_button">อ่านข่าวทั้งหมด</a><br/>

{% if download_announcements %}
  {% include "commons/include/front_download_announcements.html" %}
{% endif %}

<h1>ข้อมูลสำหรับนิสิต: รายการสถานประกอบการในระบบ</h1>

ถ้าทราบชื่อสถานประกอบการ สามารถ <a href="{% url 'std_company_search' %}" class="blue medium button">ค้นรายการสถานประกอบการ</a><br/>
หรือดูรายการสถานประกอบการที่ชื่อขึ้นต้นด้วย:
{% for c in characters %}
  <a href="{% url 'std_company_list_by_char' c %}">{{ c }}</a>
{% endfor %}
<br/>
{% endblock content %}
