<h1>ข้อมูลสถานประกอบการ {{ company.name }}</h1>
<div id="id_company_info" class="form-section">
  <p>
    {{ company.name }}เป็นสถานประกอบการที่คัดเลือกนิสิตเอง นิสิตจะต้องกรอกใบสมัครและนำส่งผ่านทางหน่วยกิจการนิสิต<br/>
    {% if direct_position.application_deadline %}
      <b>สมัครภายในวันที่: </b> {{ direct_position.application_deadline|date:"j N Y" }}<br/>
    {% endif %}
    {% if company.short_description %}
      <b>ลักษณะธุรกิจทั่วไปของ{{ company.name }}:</b> {{ company.short_description }}<br/>
    {% endif %}
    <b>ที่อยู่:</b> {{ company.address }}
  </p>
</div>
<br/>

<div id="id_application_requirements" class="form-section">
<h3>รายละเอียดการสมัคร</h3>
  {{ requirements|linebreaks }}
</div>
