{% extends "committee/base.html" %}

{% load wt_media %}

{% block extra-head %}
  {{ block.super }}
  <script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
  <script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
{% endblock %}

{% block content %}
  <h1>พิจารณาอนุมัติการเลือกสถานประกอบการ รอบที่ {{ selection_round.number }} ประจำปีการศึกษา {{ year }}</h1>
  <div style="float:right">
    <a id="receipt_toggle_id" class="blue button small">ดูรายละเอียดการฝึกงาน</a>
    <a href="{% url 'committee_student_send_email' department.code selection_round.number receipt.id %}" class="button green small">ส่ง E-mail</a>
    <a href="{% url 'committee_student_selection_list' department.code selection_round.number  %}" class="button red small">กลับไปหน้าแสดงรายชื่อสถานประกอบการ</a>
  </div>
  <h2>รายชื่อที่สมัคร {{ company.name }} จำนวนรับ {{ accepting_count }} คน</h2>

  {% if notice %}
    <div class="notice">
      <span class="notice-text">{{ notice }}</span>
    </div>
  {% endif %}

  <div id="receipt_info_id" style="display: none" class="form-section">
    {% include "std/selection/include/receipt.html" %}
  </div> 

  <p>
    ด้านล่างเป็นรายชื่อนิสิตที่สมัครสถานประกอบการในรอบที่ {{ selection_round.number }} 
    <b>
      สมัครทั้งสิ้น {{ selections|length }} คน
      สามารถอนุมัติได้ {{ accepting_count }} คน 
    </b>
  </p>

  <form class="form-section" method="post" action="">
    <table class="info_list">
      <tr class="header">
	<th>ลำดับ</th>
	<th>เลขประจำตัว</th>
	<th>ชื่อ-นามสกุล</th>
	<th>เวลา-วันที่เลือก</th>
	<th>เกรดเฉลี่ย*</th>
	<th>หน่วยกิต*</th>
	<th>E-mail (<a href="" style="color:white" id="email_copy_id">คัดลอก</a>)</th>
	<th>อนุมัติ</th>
	<th>ไม่อนุมัติ</th>
	{% comment %}<th></th>{% endcomment %}
      </tr>
      {% for s in selections %}
        <tr class="{% cycle 'odd' 'even' %}">
	  <td class="center">{{ forloop.counter }}</td>
	  <td class="center">{{ s.student.student_id }}</td>
	  <td>{{ s.student.full_name }}</td>
	  <td class="center">{{ s.selection_at|date:"H:i j N" }}</td>
	  <td class="center">{{ s.student.education.gpax|floatformat:2 }}</td>
	  <td class="center">{{ s.student.education.total_credit }}</td>
	  <td><small>{{ s.student.email }}</small></td>
	  <td>
	    <input 
	       class="accepting_checkbox"
	       name="sel_{{ s.id }}" 
	       {% if s.result %}checked{% endif %}
	       type="checkbox"/>
	  </td>
	  <td>
	  	<input	  
	       class="rejecting_checkbox"
	       name="unsel_{{ s.id }}" 
	       {% ifequal s.result 0 %}checked{% endifequal %}
	       type="checkbox"/>
	  </td>
	  <td>	
	    <a class="small button" onclick="return showAddAnotherPopup(this);" href="{% url 'committee_student_approve_view_grade' department.code selection_round.number receipt.id s.student.student_id %}">ดูเกรด</a>
	  </td>  
	</tr>
      {% empty %}
        <tr class="{% cycle 'odd' 'even' %}">
	  <td class="center" colspan="3">ยังไม่มีนิสิตเลือกสถานประกอบการนี้</td>
	</tr>
      {% endfor %}
    </table>
    <small>* หมายเหตุ: เกรดเฉลี่ยและหน่วยกิตเป็นค่าที่ระบบคำนวณเอง อาจไม่ตรงกับค่าที่หน่วยทะเบียน แต่สามารถใช้เพื่อการพิจารณาได้</small><br/>
    <p>
	เลือกอนุมัติจำนวน <span id="id_accepting_num">{{ accepted_count }}</span> คน<br/>
    </p>
    <p class="warning_message">
      <b>ระบบมีการเปลี่ยนแปลง</b> ในกรณีที่ไม่อนุมัตินิสิตคนใด กรรมการจะต้องเลือกช่อง
      "ไม่อนุมัติ" ด้วย สำหรับนิสิตที่ไม่ได้เลือกทั้งอนุมัติและไม่อนุมัติ
      จะมีสถานะเป็นยังไม่ตัดสินใจ<br/>
      <b>คำเตือน:</b> กรุณาตรวจสอบการเลือกให้เรียบร้อย
      แม้ว่ากรรมการสามารถกลับมาแก้ผลได้
      แต่ผลการอนุมัติจะส่งแจ้งนิสิตทางอีเมล์ทันที
    </p>
    <input id="id_ok_button" type="submit" name="ok" value="อนุมัติตามรายการที่เลือก">
    <input id="id_cancel_button" type="submit" name="cancal" value="ยกเลิกการอนุมัติ">
  </form>

  <script type="text/javascript">
    function update_accepted_count() {
      var count = 0;
      $(".accepting_checkbox").each(function(index, element) {
        if($(element).attr('checked'))
          count++;
      });
      $("#id_accepting_num").text(count);
      if(count <= {{ accepting_count }})
        $("#id_ok_button").attr('disabled','');
      else
      {
        alert("คุณเลือกอนุมัติเกินกว่ากำหนด คุณจะไม่สมารถยืนยันการอนุมัติได้\nโปรดตรวจสอบจำนวนการอนุมัติและพิจารณาการอนุมัติใหม่");
        $("#id_ok_button").attr('disabled','disabled');
      }
    }

    function alert_undecided() {
      var total_students = $('.accepting_checkbox').length;
      var decided_count = 0;
      $(".accepting_checkbox").each(function(index, element) {
        if($(element).attr('checked'))
          decided_count++;
      });      
      $(".rejecting_checkbox").each(function(index, element) {
        if($(element).attr('checked'))
          decided_count++;
      });
      if(decided_count != total_students) {
        return confirm(
          "คุณยังไม่ได้ตัดสินใจอนุมัติหรือไม่อนุมัติการเลือกของนิสิตจำนวน " + (total_students - decided_count) + " คน\n" +
          "อย่างไรก็ตาม ข้อความนี้มีเพื่อเตือนคุณเท่านั้น  คุณไม่จำเป็นต้องตัดสินใจเลือกทั้งหมดในตอนนี้\n" +
          "ถ้าแน่ใจที่จะจัดเก็บผลโดยที่ยังไม่ได้ตัดสินใจทั้งหมดให้กดยืนยัน (OK)  ถ้าไม่เช่นนั้นคุณสามารถกดยกเลิก (Cancal) เพื่อกลับไปเลือกผลทั้งหมดได้");
      } else
        return true;
    }

    $(function(){
      update_accepted_count();
      $(".accepting_checkbox").click(function() {
      	var temp_id =($(this).attr('name').split('_')[1]);
      	$("input[name='unsel_"+temp_id+"']").attr('checked', false);
      	
        update_accepted_count();
      });
      $(".rejecting_checkbox").click(function() {      	
      	var temp_id =($(this).attr('name').split('_')[1]);
      	$("input[name='sel_"+temp_id+"']").attr('checked', false);   
		
        update_accepted_count();
      });
      $("#receipt_toggle_id").click(function() {
        if($("#receipt_info_id").css("display")=="none")
          $(this).text("ซ่อนรายละเอียด");
        else
          $(this).text("ดูรายละเอียดการฝึกงาน");
        $("#receipt_info_id").toggle();
      });
      $("#email_copy_id").click(function() {
        alert("อีเมล์ของนิสิตทั้งหมด\n{% for s in selections %}{{ s.student.email }},\n{% endfor %}");
        return false;
      });
      $("#id_ok_button").click(function() {
        return alert_undecided();
      });
    });
  </script>
{% endblock %}
