{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <h1>ข้อมูลการเลือกสถานประกอบการของนิสิตสาขา{{ department.name }} ประจำปีการศึกษา {{ year }}</h1>

  {% if notice %}
    <div class="notice">
      <span class="notice-text">{{ notice }}</span>
    </div>
  {% endif %}

  <p>
    จำนวนนิสิตสมัครเข้าฝึกงาน {{ student_count }} คน
  </p>

  <h2>สถานประกอบการที่ขอคัดเลือกนิสิตเอง</h2>
  <ul>
    <li>
      มีจำนวนทั้งสิ้น {{ direct_position_count }} สถานประกอบการ &nbsp;&nbsp;
      <a href="{% url 'committee_student_selection_direct_appl_list' department.code %}" class="button green small">ดูรายการสถานประกอบการและข้อมูลการสมัคร</a>
    </li>
  </ul>
  <h2>สถานประกอบการที่ให้คณะคัดเลือกนิสิตให้</h2>
  {% if selection_round_status.is_open %}
    ขณะนี้อยู่ระหว่างการเลือกในรอบที่ {{ selection_round_status.current_round_number }}
  {% else %}
    {% if selection_round_status.next_round_number != 1 and last_round_number %}
      ขณะนี้เลือกไปแล้วจำนวน {{ last_round_number }} รอบ
    {% else %}
      ขณะนี้ยังไม่ได้เริ่มเลือก <a href="{% url 'committee_student_selection_list' department.code 0 %}" class="button green small">ข้อมูลรายการสถานประกอบการสำหรับสาขา</a>
    {% endif %}
  {% endif %}
  <table>
    {% for r in rounds %}
      <tr>
	<td style="padding-right: 10px">รอบที่ {{ r.number }}</td>
	<td>{{ r.beginning_time|date:"G:i วันที่ j N" }} ถึง {{ r.end_time|date:"G:i วันที่ j N" }}</td>
	<td>
	  {% if r.number < last_round_number %}
	    <a href="{% url 'committee_student_selection_list' department.code r.number %}" class="button blue small">ข้อมูลการเลือกและผลการอนุมัติ</a>
	  {% else %}
  	    <a href="{% url 'committee_student_selection_list' department.code r.number %}" class="button green small">ข้อมูลการเลือก</a>
	  {% endif %}
	</td>
      </tr>
    {% endfor %}
  </table>

  <br/>
  <a href="{% url 'committee_student_selection_list_all_receipts' department.code %}" class="button small">รายการสถานประกอบการที่ตอบจดหมายแล้ว</a>
{% endblock content %}
