{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}

<h2>รายชื่อนิสิตที่ยังไม่ได้พิจารณาอนุมัติในรอบที่ {{ round_number }}</h2> 

<a href="{% url 'committee_student_selection_list' department.code round_number %}" class="button red small">พิจารณาอนุมัตินิสิต</a>

<table class="info_list">
    <tr class="header">
    	<th>ลำดับ</th>
		<th>เลขประจำตัว</th>
		<th>ชื่อ-นามสกุล</th>
		<th>ภาควิชา</th>
		<th>บริษัท</th>
		
	</tr>
	
	{% for s in selections %}
	{% ifequal s.result null %}
	<tr class="{% cycle 'odd' 'even' %}">
	<td class="center">{{ forloop.counter }}</td>
	<td class="center">{{ s.student.student_id }}</td>
	<td>{{ s.student.full_name }}</td>
	<td>{{ s.student.department }}</td>	
	<td> {{s.company}}</td>
	
	</tr>
	{% endifequal %}
	{% endfor %}

</table>

{% endblock %}