{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  {% if selection_round %}
    <h1>การสมัครสถานประกอบการของนิสิตสาขา{{ department.name }} รอบที่ {{ selection_round.number }} ประจำปีการศึกษา {{ year }}</h1>
  {% else %}
    <h1>การสมัครสถานประกอบการของนิสิตสาขา{{ department.name }} ประจำปีการศึกษา {{ year }}</h1>
  {% endif %}

  {% if notice %}
    <div class="notice">
      <span class="notice-text">{{ notice }}</span>
    </div>
  {% endif %}

  <div style="float:right">
    <a href="{% url 'committee_student_selection_index' department.code %}" class="button red small">กลับไปหน้าแสดงข้อมูลการเลือกรวม</a>
  </div>
  <p>
    {% if selection_round %}
      รอบที่ {{ selection_round.number }} ({{ selection_round.beginning_time|date:"j N G:i" }} ถึง {{ selection_round.end_time|date:"j N G:i" }}) &nbsp;&nbsp; 
      รายการสถานประกอบการที่นิสิตสามารถเลือกได้ในรอบนี้เป็นดังนี้
    {% else %}
      ด้านล่างเป็นรายการสถานประกอบการที่มีในระบบตอนนี้ที่รับนิสิตจากสาขา{{ department.name }}
    {% endif %}
  </p>
  <table class="info_list">
    <tr class="header">
      <th>ลำดับ</th>
      <th>สถานประกอบการ</th>
      <th>จำนวนอนุมัติจากรอบก่อน</th>
      <th>จำนวนรับรอบนี้</th>
      <th>จำนวนสมัคร</th>
      {% if is_approval_period %}
        <th>จำนวนที่อนุมัติแล้วรอบนี้</th>
      {% endif %}
      <th></th>
    </tr>
    <tr>
      <td colspan="7" style="text-align: center">
	<small><b>หมายเหตุ:</b> ข้อมูลที่แสดงว่า 
	  ปิด (<span class="info-tag red tiny">ปิดแล้ว</span>)
	  ถูกซ่อน (<span class="info-tag tiny orange">ถูกซ่อน</span>)
	  หรือ 
	  เต็ม (<span class="info-tag tiny black">เต็ม</span>)
	  เป็นของการเลือกในรอบปัจจุบัน หรือรอบถัดไปถ้ารอบปัจจุบันปิดแล้ว 
	  ไม่ใช่ของรอบที่แสดงข้อมูลอยู่
	</small>
      </td>
    </tr>
    {% for r in receipts %}
      <tr class="{% cycle 'odd' 'even' %}">
	<td class="center">{{ forloop.counter }}</td>
	<td width="60%">
	  {{ r.company }}
	  {% if not r.available %}
	    <span class="info-tag red tiny">ปิดแล้ว</span>
	  {% else %}
	    {% if r.is_hidden %}
	      <span class="info-tag tiny orange">ถูกซ่อน</span>
	    {% endif %}
          {% endif %}
          {% if r.num_available_positions == 0 %}
	    <span class="info-tag tiny black">เต็ม</span>
	  {% endif %}
          <a href="#" class="button blue tiny receipt-button">ข้อมูล</a>
          <div class="receipt-info" style="display:none; background:white; font-size: 80%">
            {% with r as receipt %}
              {% with 'true' as show_contact %}
                {% include "std/include/receipt_info.html" %}
              {% endwith %}
            {% endwith %}
          </div>
	</td>
	<td class="center">{{ r.num_accepted_students }}</td>
	<td class="center">{{ r.num_available_positions }}</td>
	<td class="center">{{ r.selections|length }}</td>
        {% if is_approval_period %}
          <td class="center">{{ r.acceptance_count }}</td>
        {% endif %}
	<td>
	  {% if r.selections %}
            {% if is_approval_period and is_own_department %}
	      <a href="{% url 'committee_student_selection_approve' department.code selection_round.number r.id %}" class="button green small">ดูรายชื่อและพิจารณาอนุมัติ</a>
	    {% else %}
  	      <a href="{% url 'committee_student_selection_show' department.code selection_round.number r.id %}" class="button green small">รายชื่อ</a>
	    {% endif %}
	  {% endif %}
	</td>
      </tr>
    {% endfor %}
    <tr class="underline">
      <td></td>
      <td><b>ตำแหน่งที่เหลือ (เฉพาะที่แสดง)</b></td>
      <td></td>
      <td class="center"><b>{{ total_shown_available_positions }}</b></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="underline">
      <td></td>
      <td><b>ตำแหน่งที่เหลือ (รวมที่สถานประกอบการที่ซ่อนด้วย)</b></td>
      <td></td>
      <td class="center"><b>{{ total_available_positions }}</b></td>
      <td></td>
      <td></td>
    </tr>
  </table>

<script type="text/javascript">
  $(function(){
    $(".receipt-button").click(function() {
      // $(".receipt-info").hide();
      var tr = $(this).parents("tr").first();
      tr.find(".receipt-info").slideToggle();
      return false;
    });
  });
</script>
{% endblock %}
