{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <h1>ข้อมูลการสมัครสถานประกอบการที่ขอคัดนิสิตเองของนิสิตสาขา{{ department.name }} ประจำปีการศึกษา {{ year }}</h1>

  {% if notice %}
    <div class="notice">
      <span class="notice-text">{{ notice }}</span>
    </div>
  {% endif %}

  <div style="float:right">
    <a href="{% url 'committee_student_selection_index' department.code %}" class="button red small">กลับไปหน้าแสดงข้อมูลการเลือกรวม</a>
  </div>
  <p>
    มีจำนวนทั้งสิ้น {{ direct_positions|length }} สถานประกอบการ  
    {% if not is_show_all %}
      รายการด้านล่างแสดงเฉพาะสถานประกอบการที่มีนิสิตจากสาขาสมัคร
      <a href="{% url 'committee_student_selection_direct_appl_list_all' department.code %}" class="button blue small">แสดงทั้งหมด</a>
    {% else %}
      รายการด้านล่างแสดงทุกสถานประกอบการ
      <a href="{% url 'committee_student_selection_direct_appl_list' department.code %}" class="button blue small">แสดงเฉพาะที่มีนิสิตจากสาขาเลือก</a>
    {% endif %}
  </p>
  <table class="info_list">
    <tr class="header">
      <th>ลำดับ</th>
      <th width="520px">ชื่อสถานประกอบการ</th>
      <th colspan="2">จำนวนนิสิตในสาขาที่สมัคร</th>
    </tr>
    {% for p in direct_positions %}
      {% if p.applications or is_show_all %}
        <tr class="{% cycle 'odd' 'even' %}">
	  <td>{{ forloop.counter }}</td>
	  <td>{{ p.company }} <a href="" class="button tiny show_app_info_links">ข้อมูล</a><br/>
            <div class="app_info form-section" style="display:none">
              {% if p.application_deadline %}
                <b>สมัครภายในวันที่: </b> {{ p.application_deadline|date:"j N Y" }}<br/>
              {% endif %}
              {% if p.company.short_description %}
                <b>ลักษณะธุรกิจทั่วไป:</b> {{ p.company.short_description }}<br/>
              {% endif %}
              <b>ที่อยู่:</b> {{ p.company.address }}<br/>
              {% if p.appl_requirements %}
                <b>รายละเอียดการสมัคร:</b>
                {{ p.appl_requirements|linebreaks }}
              {% endif %}
            </div>
          </td>
          {% if p.applications %}
  	    <td>{{ p.applications|length }} คน</td>
	    <td>
	      <a href="{% url 'committee_student_selection_direct_appl_show' department.code p.id %}" class="button green small">ข้อมูลการสมัคร</a>
	    </td>
          {% else %}
            <td>-</td><td></td>
          {% endif %}
	</tr>
      {% endif %}
    {% endfor %}
  </table>

<script type="text/javascript">
$(function(){
  $(".show_app_info_links").click(function(){
    $(this).parents("td").first().find(".app_info").slideToggle();
    return false;
  });
});
</script>
{% endblock content %}
