{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <h1>รายการสถานประกอบการที่ตอบจดหมายอนุเคราะห์ ประจำปีการศึกษา {{ year }}</h1>

  <div style="float:right">
    <a href="{% url 'committee_student_selection_index' department.code %}" class="button red small">กลับไปหน้าแสดงข้อมูลการเลือกรวม</a>
  </div>

  <table class="info_list">
    <tr class="header">
      <th>ลำดับ</th>
      <th>สถานประกอบการ</th>
      <th>สาขาที่รับ</th>
    </tr>
    {% for c in companies %}
      <tr class="{% cycle 'odd' 'even' %}">
	<td class="center">{{ forloop.counter }}</td>
	<td width="60%">
	  {{ c }}
        </td>
        <td>
          {% for r in c.returned_receipts %}
            {{ r.department_short_name }}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
