{% extends "regis/base.html" %}
{% load wt_media %}
{% block content %}
<h1>ส่ง E-mail ถึงนิสิตทุกคนที่ได้รับคัดเลือกเข้าฝึกงานกับ {{ company.name }}</h1>

{% if notice %}
  <div class="notice">
    <span class="notice-text">{{ notice }}</span>
  </div>
{% endif %}
<form method="post">
  <table>
    {{ form.as_table }}
    <tr>
      <td></td>
      <td>
	<input id="id_submit_button" type="submit" name="ok" value="ส่งเมล์"/>
	<input type="submit" name="cancel" value="ยกเลิก"/>
      </td>
    </tr>
  </table>
</form>

<script type="text/javascript">
  $(function() {
    $("#id_submit_button").click(function() {
      return confirm("คุณแน่ใจที่จะส่งจดหมายดังกล่าวถึงนิสิตทุกคนหรือไม่?\nโปรดตรวจสอบจดหมายให้เรียบร้อย\nถ้าแน่ใจกรุณากดยืนยัน");
    });
  });
</script>
{% endblock content %}
