{% extends "committee/base.html" %}

{% load wt_media %}

{% block extra-head %}
  {{ block.super }}
  <script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
  <script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
{% endblock %}

{% block content %}
  <h1>การสมัครสถานประกอบการของนิสิตสาขา{{ department.name }} รอบที่ {{ selection_round.number }} ประจำปีการศึกษา {{ year }}</h1>
  <div style="float:right">
    <a id="receipt_toggle_id" class="blue button small">ดูรายละเอียดการฝึกงาน</a>
    <a href="{% url 'committee_student_selection_list' department.code selection_round.number  %}" class="button red small">กลับไปหน้าแสดงรายชื่อสถานประกอบการ</a>
  </div>
  <h2>รายชื่อที่สมัคร {{ company.name }}</h2>

  {% if notice %}
    <div class="notice">
      <span class="notice-text">{{ notice }}</span>
    </div>
  {% endif %}

  <div id="receipt_info_id" style="display: none" class="form-section">
    {% with 'True' as show_contact %}
      {% include "std/selection/include/receipt.html" %}
    {% endwith %}
  </div> 

  <p>
    ด้านล่างเป็นรายชื่อนิสิตที่สมัครสถานประกอบการในรอบที่ {{ selection_round.number }} (เริ่มวันที่ {{ selection_round.beginning_time|date:"j N G:i" }} จนถึงวันที่ {{ selection_round.end_time|date:"j N G:i" }})
  </p>
  <table class="info_list">
    <tr class="header">
      <th>ลำดับ</th>
      <th>เลขประจำตัว</th>
      <th>ชื่อ-นามสกุล</th>
      <th>เวลา-วันที่เลือก</th>
      <th>ผลการอนุมัติ</th>
    </tr>
    {% for s in selections %}
      <tr class="{% cycle 'odd' 'even' %}">
	<td class="center">{{ forloop.counter }}</td>
	<td class="center">{{ s.student.student_id }}</td>
	<td>{{ s.student.full_name }}</td>
	<td class="center">{{ s.selection_at|date:"H:i j N" }}</td>
	<td class="center">
	  {% if s.result %}
  	    อนุมัติ <img src="{% media_url %}/image/yes_icon.png">
	  {% else %}
	    {% if s.result == None %}
	      รอพิจารณา
	    {% else %}
	      ไม่อนุมัติ <img src="{% media_url %}/image/no_icon.png">
	    {% endif %}
	  {% endif %}
	</td>
	<td>	
	  <a class="small button" onclick="return showAddAnotherPopup(this);" href="{% url 'committee_student_approve_view_grade' department.code selection_round.number receipt.id s.student.student_id %}">ดูเกรด</a>
	</td>  
      </tr>
    {% empty %}
      <tr class="{% cycle 'odd' 'even' %}">
	<td class="center" colspan="3">ยังไม่มีนิสิตเลือกสถานประกอบการนี้</td>
      </tr>
    {% endfor %}
  </table>

  <script type="text/javascript">
    $(function(){
      $("#receipt_toggle_id").click(function() {
        if($("#receipt_info_id").css("display")=="none")
          $(this).text("ซ่อนรายละเอียด");
        else
          $(this).text("ดูรายละเอียดการฝึกงาน");
        $("#receipt_info_id").toggle();
      });
    });
  </script>
{% endblock %}
