
{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <h1>ข้อมูลการสมัครเพื่อเข้าคัดเลือกของนิสิตสาขา{{ department.name }}: {{ position.company }}</h1>

  <div style="float:right">
    <a href="{% url 'committee_student_selection_direct_appl_list' department.code %}" class="button red small">กลับไปหน้าแสดงรายชื่อสถานประกอบการ</a>
  </div>
  <p>
    มีนิสิตที่สมัครจำนวน {{ applications|length }} คน ดังรายการต่อไปนี้
  </p>

  <table class="info_list">
    <tr class="header">
      <th>คนที่</th>
      <th>เลขประจำตัว</th>
      <th>ชื่อ-นามสกุล</th>
      <th>สาขาวิชา</th>
      <th>ผลการสมัคร</th>
    </tr>
    {% for application in applications %}
      <tr class="{% cycle 'odd' 'even' %}">
	<td>{{ forloop.counter }}</td>
	<td>{{ application.student.student_id }}</td>
	<td>{{ application.student.full_name }}</td>
	<td>{{ application.student.department }}</td>
	<td>
	  {{ application.get_is_accepted_display }}
	</td>
      </tr>
    {% empty %}
      <tr> 
	<td colspan="5">ยังไม่มีนิสิตสมัคร</td>
      </tr>
    {% endfor %}
  </table>
</div>  

<script type="text/javascript">
  $(function() {
    $("#id_application_requirements").hide();
    $(".cancel-button").click(function() {
      return confirm("คุณแน่ใจที่จะยกเลิกการสมัครหรือไม่\nถ้าแน่ใจกรุณายืนยัน");
    });
  });
</script>
{% endblock %}
