{% include "include/style-header.html" %}

{% load wt_media %}

<div id="content">
  <h1>รายการเกรดรายวิชา ของ  {{ student.student_id }} {{ student.full_name }}</h1>
 <table class="info_list">
   <tr class="header">
      <th>รหัสวิชา</th>
      <th>ชื่อรายวิชา</th>
      <th>ประเภทการลงทะเบียน</th>
      <th>หน่วยกิต</th>
      <th>เกรด</th>
   </tr>
      {% for grade in grades %}
      <tr class="center">
	      <td>{{grade.course_number}}</td>
	      <td>
	      {% if grade.course_name %}
	      	{{grade.course_name}}
	      {% else %}
	      	ไม่มีข้อมูล
	      {% endif %}
	      </td>
	      <td>{{grade.regis_type}}</td>
	      <td>{{grade.credit}}</td>
	      <td>{{grade.grade}}</td>
      </tr>
      {% endfor %}   
</table>
</div>
