<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  <title>{% block title %}{% endblock %} | ระบบการฝึกงานภาคฤดูร้อน คณะวิศวกรรมศาสตร์ เกษตรศาสตร์</title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  {% include "include/style-header.html" %}
  {% block extra-head %}
  {% endblock %}
</head>
<body>
  {% include "include/ga.html" %}
  {% include "include/ie-notify.html" %}
  <div id="wrap">
    {% block body %}
      <div id="header">
		<a href="{% url 'front_page' %}">
		  <img src="{% load wt_media %}{% media_url %}/image/logo.png" alt="ระบบฝึกงาน คณะวิศวกรรมศาสตร์ เกษตรศาสตร์" title="ระบบฝึกงาน คณะวิศวกรรมศาสตร์ เกษตรศาสตร์" />
		</a>
      </div>
      <div id="container">
		
		<div class="menu">
		  {% block menu %}{% endblock %}
		</div>
		<div id="content">
		  {% block content %}{% endblock %}
		</div>
		<div id="footer">
		  คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์<br />
		  เลขที่ 50 ถนนพหลโยธิน ลาดยาว
		  เขตจตุจักร กรุงเทพ ฯ 10900
		  โทร.0-2797-0969 และ 0-2797-0921, Fax.0-2579-5897<br/>
		  แจ้งปัญหาและสอบถามเกี่ยวกับการใช้งานได้ทาง
		  <a href="https://www.facebook.com/SaEngKaset" target="_blank" title="SA ENG KASET">facebook page</a>
		</div>
      </div>
    {% endblock %}
  </div>
</body>
</html>
