<h1>ข้อมูลการจัดสรรสถานประกอบการ</h1>
<table>
  <tr>
    <td>
      <a href="{% url 'export_csv_total_student_assigned' %}" class="green medium button" style="width: 150px">การจัดสรร</a>
    </td>
    <td>
      รายการสถานประกอบการและจำนวนนิสิตที่ได้รับจัดสรรแล้วแยกตามสาขาวิชาเป็น csv รวมทั้งสถานประกอบการที่คัดเลือกนิสิตเองและสถานประกอบการที่ให้คณะคัดเลือกให้
    </td>
  </tr>
  <tr>
    <td>
      <a href="{% url 'export_csv_total_student_requested' %}" class="green medium button" style="width: 150px">จำนวนรับ (คณะคัดให้)</a>
    </td>
    <td>
      รายการสถานประกอบการและจำนวนนิสิตที่ขอรับแยกตามสาขาวิชาเป็น csv สำหรับสถานประกอบการที่ให้คณะคัดเลือกให้
    </td>
  </tr>
  <tr>
    <td>
      <a href="{% url 'export_csv_all' %}" class="medium button" style="width:150px;">การสมัคร</a>
    </td>
    <td>
      รายงานรายชื่อนิสิตที่สมัครขอเข้าฝึกงานแล้วทั้งหมดเป็น csv 
    </td>
  </tr>
</table>


