<p>	
  <a href="{% url 'regis_department_listall_std' department.code 1 %}" class="medium button">รายชื่อนิสิตทั้งหมด</a>
  <a href="{% url 'regis_department_assigned_std' department.code next_year 1 %}" class="medium button">นิสิตได้ที่ฝึกงานแล้ว</a>
  <a href="{% url 'regis_department_unassigned_std' department.code next_year 1 %}" class="medium button">นิสิตยังไม่มีที่ฝึกงาน</a>
  <a href="{% url 'regis_department_no_evaluation' department.code next_year|add:"-1" 1 %}" class="medium button">นิสิตไม่ได้ใบประเมิน</a>
{% comment %}
  <a href="#">คนที่ยังไม่ผ่านฝึกงาน</a>
{% endcomment %}

  <a href="{% url 'regis_department_registered_std' department.code %}" class="medium button">นิสิตสมัครเข้าฝึกงาน</a>
  <a href="{% url 'committee_student_selection_index' department.code %}" class="medium button red">ข้อมูลการเลือกปีการศึกษาหน้า</a>
</p>
