

<h1>ข้อมูลทางสถิติ</h1>
<table class="info_list" id="stat">
  <tr class="header">
    <th></th>
    <th>จำนวน (คน)</th>
    <th>ร้อยละ (%)</th>
  </tr>
  <tr class="odd">
    <td>นิสิตทั้งหมด</td>
    <td class="center">{{ faculty_stat.student_count }}</td>
    <td></td>
  </tr>
  <tr class="even">
    <td>มีสถานที่ฝึกงาน</td>
    <td class="center">{{ faculty_stat.assigned_count }}</td>
    <td class="center">{{ faculty_stat.assigned_count_percent|floatformat:2 }}%</td>
  </tr>
  <tr class="odd">
    <td>ยังไม่มีสถานที่ฝึกงาน</td>
    <td class="center">{{ faculty_stat.wait_count }}</td>
    <td class="center">{{ faculty_stat.wait_count_percent|floatformat:2 }}%</td>
  </tr>
</table><br />

<h1>ข้อมูลสถิติภาควิชา</h1>
<table class="info_list">
  <tr class="header">
    <th>รายชื่อภาควิชา</th>
    <th >ได้ที่ฝึกงาน</th>
    <th>นิสิตทั้งหมด</th>
  </tr>
  {% for stat in student_stats %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>
        <a href="{% url 'regis_department_detail' stat.department.code %}">{{ stat.department.name }}</a>
      </td>
      <td id="center">{{ stat.students_with_companies|length }}</td>
      <td id="center">{{ stat.students|length }}</td>
    </tr>
  {% endfor %}
</table>
