<td class="center">
	<a href={% url 'regis_show_std_list' s.department.code 'all_std' year %} >{{ sel_stat.num_students }}</a>
</td>
<td class="center">
  {{ sel_stat.num_own_selection }}
</td>
<td class="center">
  {{ sel_stat.num_faculty_selection }}
</td>
<td class="center">
  	<a href={% url 'regis_show_std_list' s.department.code 'assigned' year %} >{{ sel_stat.num_assigned }}</a>
</td>
<td class="center">
  	<a href={% url 'regis_show_std_list' s.department.code 'no_assigned' year %} >{{ sel_stat.num_no_assigned }}</a>
</td>
<td class="center">
  	<a href={% url 'regis_show_std_list' s.department.code 'available_positions' year %} >{{ sel_stat.num_available_positions }}
</td>
