<td class="center">
	{{ sel_stat.num_students }}
</td>
<td class="center">
  {{ sel_stat.num_assigned }}
</td>
<td class="center">
  {{ sel_stat.num_assigned_direct }}
</td>
<td class="center">
  {{ sel_stat.num_assigned_selection }}
</td>
<td class="center">
  {{ sel_stat.num_own_selection }}
</td>
<td class="center">
  {{ sel_stat.num_direct_app_waitlist }}
</td>
<td class="center">
  {{ sel_stat.num_faculty_selection }}
</td>
<td class="center">
  {{ sel_stat.num_no_activity }}
</td>
<td class="center">
  {{ sel_stat.num_positions }}
</td>
<td class="center">
  {{ sel_stat.num_available_positions }}
</td>
<td class="center">
  {{ sel_stat.num_shown_avail_positions }}
</td>
<td class="center">
  {{ sel_stat.num_hidden_avail_positions }}
</td>
