<table width="600px" align="center">
  <tr align="left">
    <th>เลขประจำตัวนิสิต</th>
    <th>ชื่อ-นามสกุล</th>
    <th>ชั้นปีที่</th>
    <th>สาขาวิชาวิศวกรรม</th>
  </tr>
  {% for student in students %}
    <tr>
      <td>{{ student.student_id }}</td>
      <td>{{ student.full_name }}</td>
      <td></td>
      <td>{{ student.department }}</td>
      {% if eval_link_added %}
        <td>[<a href="{% url 'evaluations_edit' %}">แบบประเมิน</a>]</td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
