{% load wt_media %}
<table  align="center">
  <tr align="left">
    <th>รหัสนิสิต</th>
    <th>ชื่อ-นามสกุล</th>
    <th>ชั้นปีที่</th>
    <th>สาขาวิชาวิศวกรรม</th>
    <th>
      <span class="std_telnum" style="display:none">เบอร์โทรศัพท์</span>
    </th>
    <th>
      <span class="std_email" style="display:none">อีเมล์</span>
    </th>
    <th></th>
    <th></th>
  </tr>
  {% for assignment in assignments %}
    {% with assignment.student as student %}
      <tr>
	<td>{{ student.student_id }}</td>
	<td>{{ student.full_name }}</td>
	<td class="center">{{ student.get_year }}</td>
	<td>{{ student.department }}</td>
        <td><span class="std_telnum" style="display:none">{{ student.tel_no }}</span></td>
        <td><span class="std_email" style="display:none">{{ student.email }}</span></td>
	{% if eval_link_added %}
	  {% if permission.can_view_evaluation %}
	    <td><a href="{% url 'evaluations_edit_by_assignment' assignment.id %}" class="blue small button">กรอกแบบประเมิน</a></td>
          {% endif %}
	  <td>
	    {% if student.received_evaluation %}
	      <div class="yes-icon-with-text">เคยกรอกข้อมูลแบบประเมินแล้ว</div>
	    {% endif %}
	  </td>
        {% endif %}
        {% if permission.can_cancel_assignments %}
	  <td>
            <form class="cancel-forms" 
		  style="display:none" 
		  method="post"
		  action="{% url 'regis_company_cancel_assignment' assignment.id %}">
	      <select name="position_choice">
		<option selected value="remove">ยกเลิกตำแหน่งนี้</option>
		<option value="return">คืนตำแหน่ง</option>
	      </select>
	      <input class="cancel-assignment-submit" type="submit" value="ดำเนินการ"/>
	    </form>
	    <span class="cancel-links" style="display:none"><a href="#" class="button red small">ปฏิเสธ</a></span>
	  </td>
        {% endif %}
      </tr>
    {% endwith %}
  {% endfor %}
</table>
