{% extends "regis/base.html" %}

{% block content %}
  <h1>แก้ไขประกาศ</h1>
  <p>
    <form enctype="multipart/form-data" action="{% url 'announcement_edit' announcement.id %}" method="POST">
      <table class="edit-announcement">
	<tr>
	  <th><label for="id_title">หัวเรื่อง</label></th>
	  <td>{{ form.title }}</td>
	  <td>{{ form.title.errors }}</td>
	</tr>
	<tr>
	  <th><label for="id_description">รายละเอียด</label></th>
	  <td>{{ form.description }}</td>
	  <td>{{ form.description.errors }}</td>
	</tr>
	<tr>
	  <th><label for="id_file">ไฟล์แนบ</label></th>
	  <td>ปัจจุบัน :
	    {% if announcement.file %}
	      <a href={% load wt_media %}{% media_url %}{{ announcement.file }}>{{ announcement.file }}</a></td>
	    {% else %}
	      ไม่มี</td>
	    {% endif %}
	</tr>
	<tr>
	  <th></th>
	  <td>เปลี่ยนแปลง : {{ form.file }}</td>
	</tr>
	<tr>
	  <th><label for="id_is_in_download_section">แสดงผลแยกในส่วน download</label></th>
	  <td>{{ form.is_in_download_section }}</td>
	  <td>{{ form.is_in_download_section.errors }}</td>
	</tr>
	<tr>
	  <th></th>
	  <td><input type="submit" value="แก้ไข"/></td>
	</tr>
      </table>
    </form>
  </p>
{% endblock content %}
