{% extends "regis/base.html" %}
{% block content %}
  <h1>สร้างประกาศใหม่</h1>
  <p>
    <form action="{% url 'announcement_create' %}" method="POST" enctype="multipart/form-data">
      <table class="edit-announcement">
	<tr>
	  <th><label for="id_title">หัวเรื่อง</label></th><td>{{form.title.errors}}{{form.title}}</td>
	</tr>
	<tr>
	  <th><label for="id_description">รายละเอียด</label></th><td>{{form.description.errors}}{{form.description}}</td>
	</tr>
	<tr>
	  <th><label for="id_file">ไฟล์แนบ</label></th><td>{{form.file}}</td>
	</tr>
	<tr>
	  <th><label for="id_is_in_download_section">แสดงผลแยกในส่วน download</label></th>
	  <td>{{ form.is_in_download_section }}</td>
	  <td>{{ form.is_in_download_section.errors }}</td>
	</tr>
	<tr>
	  <th></th>
	  <td><input type="submit" value="สร้าง"/></td>
	</tr>
      </table>
    </form>
  </p>
{% endblock content %}
