{% extends "base.html" %}
{% block menu %}
<div id="nav">
<ul>
  <li><a href="{% url 'front_page' %}">หน้าหลัก</a></li>
  <li><a href="{% url 'std_index' %}">ระบบสำหรับนิสิต</a></li>
  <li><a href="{% url 'regis_index' %}">ระบบสำหรับหน่วยกิจการนิสิต</a></li>
  <li><a href="{% url 'committee_index' %}">ระบบสำหรับคณะกรรมการ</a></li>
  {% if user.id %}
    <li><a href="{% url 'django.contrib.auth.views.logout' %}">ออกจากระบบ</a></li>
  {% else %}
    {% if is_student_logged_in %}
      <li><a href="{% url 'std_logout' %}">ออกจากระบบ</a></li>
    {% endif %}
  {% endif %}
</ul>
</div>
<div id="clear"></div>
{% endblock menu %}

{% block content %}
<h1>{{ announcement.title }}</h1>
<p class=indent>
  {{ announcement.description|safe }}
</p>
{% if announcement.file %}
<p class="announcement-download">
  <a href={% load wt_media %}{% media_url %}{{ announcement.file }}>{{ announcement.title }}</a>
</p>
{% endif %}
{% endblock content %}
