{% extends "regis/base.html" %}
{% block content %}
<div class="right">
	<a href={% url 'announcement_create' %} class="green button">สร้างประกาศใหม่</a>
</div>
<h1>ประกาศข่าว </h1>
<br/>
<table>
{% for a in announcements %}
<tr>
<td><a href={% url 'front_announcement_detail' a.id %} >{{a.title}}</a></td>
<td><a href={% url 'announcement_edit' a.id %} class="button small">แก้ไข</a></td>
<td><a href={% url 'announcement_delete' a.id %} class="red button small announcement_delete_class">ลบ</a></td>
</tr>
{% endfor %}
<script type="text/javascript">
$(function(){
	$(".announcement_delete_class").click(function() {
		return confirm("การลบจะลบประกาศข่าวนี้อย่างถาวร ถ้าแน่ใจและต้องการลบประกาศข่าวนี้ ให้กดปุ่มยืนยัน (หรือ OK)");
    });
});
</script>
</table>
{% endblock content %}
