{% extends "regis/base.html" %}

{% block content %}
{% include "regis/include/department_header.html" %}
{% include "regis/include/department_menu.html" %}
<h1>รายชื่อนิสิตทั้งหมดในภาควิชาที่ยังไม่ได้ที่ฝึกงาน ({{total_std}} คน)</h1>
<ol id="pagination">
<li id="pagination-title">page</li> 
{% for i in pages %}
	<li {% if page_number ==  i %}class="selected">{{i}}{% else %}>
		<a href="{% url 'regis_department_unassigned_std' department.code year i  %}">{{i}}</a>
		{% endif %}
	</li>
{% endfor %}


</ol>

<div id="clear"></div>
<br/>
<form id="year_form_id" action="{% url 'regis_department_unassigned_std' department.code year 1  %}" method="POST">
  <span id="header_text">แสดงรายชื่อนิสิตในปีการศึกษา {{ form.year }}</span>
  <input type="submit" value="แสดง"/>
</form>
<table class="info_list" cellpadding="2">
  <tr class="header">
    <th></th>
    <th>รหัสนิสิต</th>
    <th>ชื่อ-นามสกุล</th>
    <th>ประเภทการสมัคร</th>
  </tr>
  {% for student in unassigned_students %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ student.number }}</td>
      <td><a href="{% url 'student_detail' student.student_id %}">{{ student.student_id }}</a></td>
      <td>{{ student.full_name }}</td>
      <td class="center">{{ student.registration_type_for_next_year }}</td>
    </tr>
  {% endfor %}
</table>
<script type="text/javascript">
 function updateAction() {
   var st = "{% url 'regis_department_unassigned_std' department.code 99999 1 %}";
   st = st.replace("99999",$("#id_year").val());
   $("#year_form_id").attr("action",st);				           
 }
 $(function() {
   updateAction();
   $("#id_year").click(function() {
     updateAction();
   });
 });
</script>
{% endblock content %}

