{% extends "regis/base.html" %}

{% block content %}
  {% include "regis/include/department_header.html" %}
  {% include "regis/include/department_menu.html" %}
  <h1>รายชื่อนิสิตทั้งหมดในภาควิชาที่ได้ที่ฝึกงานแล้ว ({{total_std}} คน)</h1>
  
  <ol id="pagination">
    <li id="pagination-title">หน้ารายงาน:</li> 
    {% for i in pages %}
      <li {% if page_number ==  i %}class="selected">{{i}}{% else %}>
        <a href="{% url 'regis_department_assigned_std' department.code year i  %}">{{i}}</a>
      {% endif %}
      </li>
    {% endfor %}
  </ol>
  <div style="float: right;">
    <a class="small button" href="{% url 'regis_department_assigned_std_list_report' department.code year %}">ดาวน์โหลดรายการนิสิต (ใบเซ็นต์ชื่อ)</a>
  </div>

  <div style="clear: both;"></div>
  <br/>

  <form id="year_form_id" action="{% url 'regis_department_assigned_std' department.code year 1  %}" method="POST">
    <span id="header_text">แสดงรายชื่อนิสิตในปีการศึกษา {{ form.year }}</span>
    <input type="submit" value="แสดง"/>
  </form>
  <table cellpadding="2" class="info_list">
    <tr class="header">
      <th>รหัสนิสิต</th>
      <th>ชื่อ-นามสกุล</th>
      {% if shows_departments %}
        <th>ภาควิชา</th>
      {% endif %}
      <th>ประเภทการสมัคร</th>
      <th>สถานประกอบการ</th>
    </tr>
    {% for student in assigned_students %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td><a href="{% url 'student_detail' student.student_id %}">{{ student.student_id }}</a></td>
        <td>{{ student.full_name }}</td>
        {% if shows_departments %}
          <td>{{ student.department }}</td>
        {% endif %}
        <td class="center">
          {{ student.registration_type }}
        </td>
        <td>
          {% if student.assignment %}
            {% if student.assignment.is_self_application %}
              {{ student.assignment.get_company_name }}
            {% else %}
              <a href="{% url 'regis_company_detail' student.assignment.company_id %}">{{ student.assignment.company }}</a>
            {% endif %}
          {% else %}
            {{ student.assigned_company }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  <div style="clear: both;"></div>
  <script type="text/javascript">
    function updateAction() {
      var st = "{% url 'regis_department_assigned_std' department.code 99999 1 %}";
      st = st.replace("99999",$("#id_year").val());
      $("#year_form_id").attr("action",st);				           
    }
    $(function() {
      updateAction();
      $("#id_year").click(function() {
	updateAction();
      });
    });
  </script>
{% endblock content %}

