{% extends "regis/base.html" %}

{% block content %}
{% include "regis/include/department_header.html" %}
{% include "regis/include/department_menu.html" %}
<div style="float:right"><a class="button green small" href="{% url 'export_csv_dep' department.code %}">Export to csv</a></div>
<h1>รายชื่อนิสิตทั้งหมดที่สมัครขอเข้าฝึกงาน ({{total_std}} คน)</h1> 
{% if under_credit_students %}
  มีนิสิตจำนวน {{ under_credit_students|length }} คนที่หน่วยกิตไม่ถึงที่กำหนด มีสรุปรายชื่ออยู่ท้ายรายการ
{% endif %}
<div id="clear"></div><br/>	

<div class="form-section">
<b>จำนวนแยกตามประเภท:</b>
{% for r in regtype_counts %}
  {{ r.label }} {{ r.count }} คน, 
{% endfor %}
รวม {{ total_std }} คน<br/>
</div>

<table class="info_list" cellpadding="2">
  <tr class="header">
    <th></th>
    <th>รหัสนิสิต</th>
    <th>ชื่อ-นามสกุล</th>
    <th>บริษัท</th>
    <th>หน่วยกิตรวม</th>
    <th>ประเภทการสมัคร</th>
  </tr>
  {% for student in students %}
    <tr class="{% cycle "even" "odd" %}">
      <td>{{ forloop.counter }}</td>
      <td><a href="{% url 'student_detail' student.student_id %}">{{ student.student_id }}</a></td>
      <td>{{ student.full_name }}</td>
      <td>{{ student.intern_company_for_current_year|default_if_none:'-' }}</td>
      <td>
        {{ student.current_credits|default_if_none:"-" }}
        {% if not student.is_eligible_to_apply %}
          <span class="info-tag red">ไม่ผ่านเกณฑ์</span>
        {% endif %}
      </td>
      <td>
        {{ student.current_status.registration_type_display }}
      </td>
    </tr>
  {% endfor %}
</table>


{% if under_credit_students %}
  <h1>นิสิตที่หน่วยกิตไม่ถึงเกณฑ์ ({{ under_credit_students|length }} คน)</h1>
  <table class="info_list" cellpadding="2">
    <tr class="header">
      <th></th>
      <th>รหัสนิสิต</th>
      <th>ชื่อ-นามสกุล</th>
      <th>บริษัท</th>
      <th>หน่วยกิตรวม</th>
    </tr>
    {% for student in under_credit_students %}
      <tr class="{% cycle "even" "odd" %}">
        <td>{{ forloop.counter }}</td>
        <td>{{ student.student_id }}</td>
        <td>{{ student.full_name }}</td>
        <td>{{ student.intern_company_for_current_year }}</td>
        <td>
          {{ student.current_credits|default_if_none:"-" }}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
</div>
{% endblock content %}

