{% extends "regis/base.html" %}

{% block content %}
  {% include "regis/include/department_header.html" %}
  {% include "regis/include/department_menu.html" %}
  <h1>รายชื่อนิสิตทั้งหมดในภาควิชา ({{total_std}} คน)</h1>
  <ol id="pagination">
    <li id="pagination-title">page</li> 
    {% for i in pages %}
      <li {% if page_number ==  i %}class="selected">{{i}}{% else %}>
        <a href="{% url 'regis_department_listall_std' department.code i %}">{{i}}</a>
      {% endif %}
      </li>
    {% endfor %}
  </ol>
  <div style="float: right;">
    {% if not is_committee %}
      <a class="small button" target="_blank" href="{% url 'regis_department_all_std_label_report' department.code next_year %}">ดาวน์โหลดเลเบล</a>
    {% endif %}
  </div>
  
  <div style="clear: both;"></div>
  <br/>	
  <table class="info_list" cellpadding="2">
    <tr class="header">
      <th>รหัสนิสิต</th>
      <th>ชื่อ-นามสกุล</th>
      <th>บริษัท</th>
    </tr>
    {% for student in students %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td><a href="{% url 'student_detail' student.student_id %}">{{ student.student_id }}</a></td>
        <td>{{student.full_name}}</td>
        <td>{{student.intern_company_for_current_year }}</td>
      </tr>
    {% endfor %}
  </table>
  </div>
  <div style="clear: both;"></div>
{% endblock content %}

