{% extends "regis/base.html" %}

{% block content %}
{% include "regis/include/department_header.html" %}
{% include "regis/include/department_menu.html" %}
<h1>รายชื่อนิสิตทั้งหมดในภาควิชาที่ยังไม่ได้ใบประเมินตอบกลับ ({{total_std}} คน)</h1>	
<ol id="pagination">
<li id="pagination-title">page</li> 
{% for i in pages %}
	<li {% if page_number ==  i %}class="selected">{{i}}{% else %}>
		<a href="{% url 'regis_department_no_evaluation' department.code year i %}">{{i}}</a>
		{% endif %}
	</li>
{% endfor %}
</ol>
<div id="clear"></div>
<br/>
<form id="year_form_id" action="{% url 'regis_department_no_evaluation' department.code year 1 %}" method="POST">
    <span id="header_text">แสดงรายชื่อนิสิตที่ฝึกงานในปี {{ form.year }}</span>
    <input type="submit" value="แสดง"/>
<form>
<br/>	
<table cellpadding="2" class="info_list">
  <tr class="header">
    <th>ลำดับที่</th>
    <th>รหัสนิสิต</th>
    <th>ชื่อ-นามสกุล</th>
    <th>บริษัท</th>
  </tr>
  {% for student in students %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{forloop.counter}}</td>
      <td><a href="{% url 'student_detail' student.student_id %}">{{ student.student_id }}</a></td>
      <td>{{student.full_name}}</td>
      <td>
        {% if student.intern_company %}
          <a href="{% url 'regis_company_detail' student.intern_company.id %}">{{ student.intern_company }}</a>
	{% else %}
          {% if student.assignment.is_self_application %}
            {{ student.assignment.get_company_name }}
          {% else %}
	    ยังไม่ได้รับการคัดเลือกเข้าฝึกงานกับสถานประกอบการ
          {% endif %}
	{% endif %}
      </td>
    </tr>
    {% endfor %}
</table>
</div>
<div id="clear">
<script type="text/javascript">
  function updateAction() {
	  var st = "{% url 'regis_department_no_evaluation' department.code 99999 1 %}";
	  st = st.replace("99999",$("#id_year").val());
	  $("#year_form_id").attr("action",st);				           
  }
  $(function() {
	  updateAction();
	  $("#id_year").click(function() {
		  updateAction();
	  });
  });
</script>
{% endblock content %}
