﻿{% extends "regis/base.html" %}

{% block content %}
{% include "regis/include/department_header.html" %}
{% include "regis/include/department_menu.html" %}
<p>กรุณาเลือกแสดงข้อมูลนิสิตจากรายการด้านบน</p>
<div id="clear"></div>
{% endblock content %}
