﻿{% extends "regis/base.html" %}
{% block content %}
  <h1>รายชื่อภาควิชา</h1>
  <table>
    {% for department in departments %}
      <tr>
	<td><a href="{% url 'regis_department_detail' department.code %}">{{department.code }} : {{department.name}}</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
