<h3>บริษัทที่นิสิตสามารถติดต่อเองโดยตรง (กลุ่ม 1.1)</h3>
<table class="info_list">
  <tr class="header">
    <th>ลำดับ</th>
    <th>ชื่อสถานประกอบการ</th>
    <th>นิสิตที่ยื่น</th>
    <th>ยืนยันเมื่อ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {% for req in company_requests %}
    <tr id="req_row_{{ req.id }}" class="{% cycle 'odd' 'even' %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ req.company_name }}</td>
      <td>
        <small>
          {% for s in req.get_accepted_students %}
          <a href="{% url 'student_detail' s.student_id %}" target="_blank">{{ s.student_id }}</a> {{ s }}<br />
          {% endfor %}
        </small>
      </td>
      <td>{{ req.accepted_at|date:'j M'  }}</td>
      <td>
        <span class="printing-statuses">
          {% if req.is_sending_letter_printed %}
            <span class="info-tag green">พิมพ์แล้ว</span>
          {% else %}
            <span class="info-tag gray">ยังไม่พิมพ์</span>
          {% endif %}
        </span>
      </td>
      <td>
        <a target="_blank" href="{% url 'committee_letters_print_for_request_pdf' department.code req.id %}"
           class="letter-print-links button blue small">พิมพ์</a>
      </td>
      <td>
        <a href="{% url 'committee_letters_save_label' department.code 'requests' req.id %}"
           class="save-label-links button blue tiny">เก็บที่อยู่</a>
      </td>
    </tr>
  {% empty %}
    <tr class="odd">
      <td></td>
      <td>ไม่มี</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  {% endfor %}
</table>
