<h3>บริษัทที่คัดเลือกนิสิตเอง (กลุ่ม 1.2)</h3>
<table class="info_list">
  <tr class="header">
    <th>ลำดับ</th>
    <th>ชื่อสถานประกอบการ</th>
    <th>นิสิตที่ยื่น</th>
    <th>ยืนยันเมื่อ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {% for app in company_direct_applications %}
  <tr id="app_row_{{ req.id }}" class="{% cycle 'odd' 'even' %}">
    <td>{{ forloop.counter }}</td>
    <td>{{ app.company_name }}</td>
    <td>
      <a href="{% url 'student_detail' app.student.student_id %}" target="_blank">{{ app.student.student_id }}</a> {{ app.student }}
    </td>
    <td>{{ app.confirmed_at|date:'j M' }}</td>
    <td>
      <span class="printing-statuses">
        {% if app.is_sending_letter_printed %}
          <span class="info-tag green">พิมพ์แล้ว</span>
        {% else %}
          <span class="info-tag gray">ยังไม่พิมพ์</span>
        {% endif %}
      </span>
    </td>
    <td>
      <a href="{% url 'committee_letters_print_for_application_pdf' department.code app.id %}"
         target="_blank"
         class="letter-print-links button blue small">พิมพ์</a>
    </td>
    <td>
      <a href="{% url 'committee_letters_save_label' department.code 'applications' app.id %}"
         class="save-label-links button blue tiny">เก็บที่อยู่</a>
    </td>
  </tr>
  {% empty %}
  <tr class="odd">
    <td></td>
    <td>ไม่มี</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {% endfor %}
</table>
