﻿{% extends "regis/base.html" %}

{% block content %}
<h1>
  ค้นหาสถานประกอบการจากชื่อและชื่อย่อ
  {% if can_select %}
    เพื่อเลือกเข้าในรายการสถานประกอบการที่ต้องการส่งนิสิตไปฝึกงาน
  {% endif %}
</h1>

{% if notice %}
  <div class="notice">
    <span class="notice-text">{{ notice }}</span>
  </div>
{% endif %}

<form action="" method="POST">
  {{ form.as_table }}
  <input type="submit" value="ค้นหา"/>
  {% if can_search_self_appl %}
  <br/><input type="checkbox" name="includes_self_appl" {% if include_self_appl_checked %}checked{% endif %}/>
  รวมสถานประกอบการสำหรับกลุ่มนิสิตที่จัดหาสถานประกอบการเองด้วย
  {% endif %}
</form>

<p>
  ค้นรูปแบบอื่น: <a href="{% url 'regis_company_search_by_province' %}">ค้นข้อมูลสถานประกอบการที่มีนิสิตฝึกงานอยู่ด้วยจังหวัด</a>
</p>

{% if search_result_notice %}
  <p>{{ search_result_notice }}</p>
{% endif %}

{% if companies %}
รายการสถานประกอบการจำนวน
{% if company_count <= 100 %}
  {{ company_count }} สถานประกอบการ
{% else %}
  100 รายการแรก จากทั้งสิ้น {{ company_count }} รายการ
{% endif %}
<table id="regis_status" cellspacing=0>
  <tr>
    <th></th>
    <th>สถานประกอบการ</th>
    <th></th>
  </tr>
{% for company in companies %}
  <tr>
    <td>{{ company.short_name }}</td>
    <td>
      {% if can_edit or can_view %}
        <a href="{% url 'regis_company_detail' company.id %}">
	  {{ company.name  }}
	</a>
      {% else %}
	{{ company.name }}
      {% endif %}
      {% if can_select %}
        {% if company.id in verified_companies %}  
  	  <span class="info-tag red">คัดเลือกเอง</span>
        {% endif %}
      {% endif %}  
    </td>
    {% if can_select %}
      <td>
	{% if company.selected %}
	  ถูกเลือกแล้ว <a href="{% url 'committee_company_selection_from_search_remove' company.id %}" class="red small button">ยกเลิกการเลือก</a>
	{% else %}
	  <a href="{% url 'committee_company_selection_from_search' company.id %}" class="blue small button">เพิ่มในรายการ</a>
	{% endif %}
      </td>
    {% endif %}
    {% if is_admin %}
    <td><a href="{% url 'regis_company_return_receipt' company.id %}" class="small green button">บันทึกใบตอบรับ</a></td>
    {% endif %}
  </tr>
{% endfor %}
</table>
{% endif %}

<script type="text/javascript">
  $(document).ready(function() {
    $("#id_company_name").autocomplete({source: "{% url 'company_search_by_name_ajax' %}"});
  });
</script>

{% endblock content %}
