{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <h1>แก้ไขสถานประกอบการสำหรับสาขา{{ department.name }}</h1>

  <form class="form-section" method="post" action="">
    <h2>แก้ไขข้อมูลสถานประกอบการ: {{ company_name }}</h2>
    <small>
      กรุณากรอกข้อมูลให้ได้มากที่สุด ข้อมูลที่จำเป็นได้แก่ ชื่อสถานประกอบการ หมายเลขโทรศัพท์ ที่อยู่สำหรับส่งเอกสาร ชื่อผู้ประสานงาน และลักษณะของธุรกิจหรือกิจการ
    </small>
    <table class="top-align">
      {{ form.as_table }}
      <tr>
	<td></td>
	<td>
	  <input name="ok_button" type="submit" value="จัดเก็บการแก้ไข"/>
	  <input id="cancel_button" name="cancel_button" type="submit" value="ยกเลิกการแก้ไข"/>
	  <input id="delete_button" name="delete_button" type="submit" value="ยกเลิกการเสนอชื่อสถานประกอบการนี้"/>
	</td>
      </tr>
    </table>
  </form>
<script type="text/javascript">
  $(function() {
    $("#cancel_button").click(function(){
      return confirm("คุณจะยกเลิกการแก้ไขข้อมูลนี้\nคุณแน่ใจหรือไม่?");
    });
    $("#delete_button").click(function(){
      return confirm("คุณกำลังจะยกเลิกการเสนอชื่อสถานประกอบการ: {{ company_name }} เข้าในระบบฝึกงาน\nคุณแน่ใจหรือไม่?");
    });
  });
</script>
{% endblock content %}
