{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <h1>เสนอสถานประกอบการสำหรับสาขา{{ department.name }}</h1>

  {% if notice %}
    <div class="notice">
      <span class="notice-text">{{ notice }}</span>
    </div>
  {% endif %}
  <p>
    สำหรับสาขา {{ department.name }} ได้เสนอรายชื่อสถานประกอบการแล้วจำนวน {{ proposed_count }} แห่ง
    <a href="{% url 'committee_company_proposal_list' %}" class="small green button">ดูรายชื่อและผลการพิจารณา</a>
  </p>
  <form class="form-section" method="post" action="">
    <h2>เสนอชื่อสถานประกอบการเข้าในระบบ</h2>
    กรุณากรอกข้อมูลด้านล่างเพื่อเสนอเพิ่มสถานประกอบการสำหรับการฝึกงานภาคฤดูร้อน<br/>
    <small>
      กรุณากรอกข้อมูลให้ได้มากที่สุด ข้อมูลที่จำเป็นได้แก่ ชื่อสถานประกอบการ หมายเลขโทรศัพท์ ที่อยู่สำหรับส่งเอกสาร ชื่อผู้ประสานงาน และลักษณะของธุรกิจหรือกิจการ
    </small>
    <table class="top-align">
      {{ form.as_table }}
      <tr>
	<td></td>
	<td><input id="proposal_button" type="submit" value="เสนอชื่อ"/></td>
      </tr>
    </table>
  </form>
{% endblock content %}
