{% extends "committee/base.html" %}

{% load wt_media %}

{% block content %}
  <h1>รายการสถานประกอบการที่เสนอสำหรับสาขา{{ department.name }}</h1>
  
  <p>
    สาขา {{ department.name }} ได้เสนอรายชื่อสถานประกอบการจำนวน {{ proposed_companies|length }} แห่ง ดังรายการด้านล่างนี้
  </p>
  <table>
    <tr>
      <th>อันดับที่</th>
      <th width="60%">ชื่อสถานประกอบการ</th>
      <th>สถานะการอนุมัติ</th>
      <th></th>
    </tr>
    {% for company in proposed_companies %}
      <tr style="background: {% cycle '#FAFAFF' '#EAF5FB' %}">
	<td>{{ forloop.counter }}</td>
	<td>{{ company.name }}</td>
	<td>
	  {% if company.is_approved %}
	    อนุมัติแล้ว
	  {% else %}
	    {% if company.is_approved == None %}
	      รอการอนุมัติ
  	    {% else %}
	      ไม่ผ่านการอนุมัติ เพราะ {{ company.approval_notes }}
            {% endif %}
	  {% endif %}
	</td>
	<td>
	  {% if company.is_approved == None %}
	    <a href="{% url 'committee_company_proposal_edit' company.id %}" class="small blue button">แก้ไขข้อมูล</a>
	  {% endif %}
	</td>
      </tr>
    {% endfor %}
  </table>

  <p>
    สถานประกอบการที่อนุมัติแล้ว จะปรากฏที่ท้ายรายการสำหรับเลือกสถานประกอบการ 
    <a href="{% url 'committee_company_list_selection' 1 %}" class="button small">พิจารณารายการสถานประกอบการ</a><br/>
    กลับไปหน้า<a href="{% url 'committee_company_proposal' %}">เสนอสถานประกอบการ</a> หรือกลับไปหน้าหลัก<a href="{% url 'committee_index' %}">ของกรรมการ</a>
  </p>
{% endblock content %}
